<div class="captha row">
	<div class="col-sm-12">
		<label>{$langs.code}</label><br>

		{$lang.code} <span style="display:block;overflow:hidden;width:48px;float:left;margin-top:3px"><span style="font-family: monospace; margin-left:-8px;font-weight:bold;color:red;font-size:15px;display:block;">{$code}</span></span> {*ma nie pokazywać pierwszego i ostatniego*}
		<input type="text" name="captcha_code" style="float:left;margin-left:10px;width:100px" class="form-control"/>

		<div class="row_hidden">
			<input type="hidden" name="captcha_key" value="{$form}" />
		</div>
	</div>
</div>
