<!-- <div id="navibar">

<a href="" title="Faktura VAT">Faktura VAT</a>
{foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} &rArr; {/if}{/foreach}

</div> -->
