{strip}
<script type="text/javascript" src="module/faktura-zaliczkowa/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
<div class="container-fluid px-0">
{* menu *}
<div id="invoice">
	{* <div id="invoice_top">
		<span>{$lang.menu6}</span>
		<div id="navibar">
			{$lang.navi1}<a href="" title="{$lang.menu1}">{$lang.menu1}</a>
			{foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} / {/if}{/foreach}
		</div>
	</div> *}
<form id="faktura">
	<div class="row">
		<div class="col-md-7 col-md-offset-5">
			<ul class="invoiceMenu text-center">
				{if $user_sub}
					<li><a onclick="javascript: invoice_obj.save_base();"><span class="icon"><i class="saveDisc"></i></span><span class="buttonLabel">{$lang.menu_save}</span></a></li>
					<li><a onclick="javascript: invoice_obj.save_pdf();"><span class="icon"><i class="printer"></i></span><span class="buttonLabel">{$lang.menu_pdf}</span></a></li>


					<li><a href="faktura-zaliczkowa/" {*onclick="javascript: invoice_obj.clean();"*}><span class="icon"><i class="newDoc"></i></span><span class="buttonLabel">{$lang.menu_clean}</span></a></li>
					<li><a href="panel/client/list/" title="{$lang.list_client}"><span class="icon"><i class="people"></i></span><span class="buttonLabel">{$lang.list_client}</span></a></li>
					<li><a href="panel/product/list/" title="{$lang.prod_head}"><span class="icon"><i class="shoppingCart"></i></span><span class="buttonLabel">{$lang.prod_head}</span></a></li>
					<li><a href="panel/invoice/search/" title="{$lang.list_invoice}"><span class="icon"><i class="docList"></i></span><span class="buttonLabel">{$lang.list_invoice}</span></a></li>
				{else}
					<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';"><span class="icon"><i class="saveDisc"></i></span><span class="buttonLabel">{$lang.menu_save}</span></a></li>
					<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';"><span class="icon"><i class="printer"></i></span><span class="buttonLabel">{$lang.menu_pdf}</span></a></li>
					<li><a href="faktura-zaliczkowa/" {*onclick="javascript: invoice_obj.clean();"*}><span class="icon"><i class="newDoc"></i></span><span class="buttonLabel">{$lang.menu_clean}</span></a>
					<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}"><span class="icon"><i class="people"></i></span><span class="buttonLabel">{$lang.list_client}</span></a></li>
					<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}"><span class="icon"><i class="shoppingCart"></i></span><span class="buttonLabel">{$lang.prod_head}</span></a></li>
					<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}"><span class="icon"><i class="docList"></i></span><span class="buttonLabel">{$lang.list_invoice}</span></a></li>
				{/if}
			</ul>
		</div>
	</div>
	<hr>
	{* nagłówek *}
	<div class="row form-horizontal dane_osobiste">
		<div class="col-sm-6">
			<div class="form-group">
				<div class="col-xs-1 text-right">
					<a class="pomoc"><i class="help"></i><span>{$lang.pomoc1}</span></a>
				</div>
				<div class="col-xs-11">
					<input type="text" name="lang_head" value="{$lang.head}" class="invoice_head opis"  />
				</div>
			</div>
			{* numer faktury *}
			<div class="form-group">
				<div class="col-xs-2 col-xs-offset-1"><input type="text" name="lang_number" value="{$lang.number}" class="invoice_head opis"/></div>
				<div class="col-xs-9">
					<input type="text" name="number" value="{if $inv->number}{$inv->number}{else}{$counter}{/if}" class="tresc" style="line-height:36px;height:36px;font-size:21px;" />
				</div>
			</div>
		</div>

		{* miejsce wystawienia, data wystawienia i sprzedaży *}
		<div class="col-sm-6">
			<div class="form-group">
				<div class="col-sm-4">
					<input type="text" name="lang_date_create" value="{$lang.date_create}" class="opis" />
				</div>
				<div class="col-sm-8">
					<script type="text/javascript">calendar.create('date_create','{$inv->date_add}');</script>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<input type="text" name="lang_date_sell" value="{$lang.date_sell}" class="opis" />
				</div>
				<div class="col-sm-8">
					<script type="text/javascript">calendar.create('date_sell','{$inv->date_sell}',1);</script>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<input type="text" name="lang_date_deadline" value="{$lang.date_deadline}" class="opis" />
				</div>
				<div class="col-sm-8">
					<script type="text/javascript">calendar.create('date_deadline','{$inv->date_deadline}',1);</script>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<input type="text" name="lang_place" value="{$lang.place}" class="opis" />
				</div>
				<div class="col-sm-8">
					<input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
				</div>
			</div>
		</div>
	</div>
	<hr>
	{* oryginał/kopia*}
	<div class="orginal_kopia">
		<span><input type="text" name="lang_original" id="original" value="{$lang.original}" /><br />
		<a href="#" onclick="javascript: return invoice_obj.strike('original');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
		<span><input type="text" name="lang_copy" id="copy" value="{$lang.copy}"  /><br /><a href="#" onclick="javascript: return invoice_obj.strike('copy');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
		<span><input type="text" name="lang_double" id="double" value="{$lang.double}" /><br /><a href="#" onclick="javascript: return invoice_obj.strike('double');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
	</div>

<div class="row form-horizontal dane_osobiste">
	<div class="col-sm-6">
		<div class="form-group">
			<div class="col-sm-4">
			<a class="pomoc"><i class="help"></i><span>{$lang.pomoc2}</span></a><input type="text" name="lang_user_name_main" value="{$lang.user_name_main}" class="invoice_normal "  />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_name" value="{$lang.firma_name}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="user_name" id="user_name" class="col-sm-12 tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->name}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_address" value="{$lang.user_address}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="user_address" id="user_address"  class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->address}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_nip" value="{$lang.user_nip}" class="opis" />
			</div>
			<div class="col-sm-8">
				<input type="text" name="user_nip" id="user_nip" value="{$user->nip}" maxlength="24" class="tresc" {if $user->nip}onkeypress="javascript: return false"{/if} />

			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_phone" value="{$lang.user_phone}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="user_phone" id="user_phone"   class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->phone}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_mail" value="{$lang.user_mail}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="user_mail" id="user_mail"   class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->email}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_bank_name" value="{$lang.user_bank_name}" class="opis" />
			</div>
			<div class="col-sm-8">
			{if is_array($user->account) AND count($user->account)}
				<select name="user_bank_name" id="user_bank_name" class="tresc" style="height:24px;" onchange="javascript: invoice_obj.change_account(false);">{foreach item=i from=$user->account}<option value="{$i[1]}">{$i[1]}</option>{/foreach}</select>
			{else}<input type="text" name="user_bank_name" id="user_bank_name" value="{$user->bank_name}" class="tresc" />{/if}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_account" value="{$lang.user_account}" class="opis" />
			</div>
			<div class="col-sm-8">
				{if is_array($user->account) AND count($user->account)}
					<select name="user_account" id="user_account" class="tresc" style="height:24px;" onchange="javascript: invoice_obj.change_account(true);">{foreach item=i from=$user->account}<option value="{$i[0]}">{$i[0]}</option>{/foreach}</select>
				{else}
					<input type="text" name="user_account" id="user_account" value="{if !is_array($user->account)}{$user->account}{/if}" maxlength="32" class="tresc" />
				{/if}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_user_www" value="{$lang.user_www}" class="opis" />
			</div>
			<div class="col-sm-8">
				<input type="text" name="user_www" id="user_www" value="{$user->www}" maxlength="127" class="tresc" />
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<div class="col-sm-4">
				<a class="pomoc"><i class="help"></i><span>{$lang.pomoc2}</span></a><input type="text" name="lang_client_name_main" value="{$lang.client_name_main}" class="invoice_normal" />
			</div>
			<div class="col-sm-8">
				{if $user_sub}
					<a onclick="javascript: invoice_obj.panel_client();"><i class="manArrow"></i> {$lang.menu_loadc}</a>
				{else}
					<a onclick="javascript: document.getElementById('sub_error').style.display='block';"><i class="manArrow"></i> {$lang.menu_loadc}</a>
				{/if}

				{if $user_sub}
					<a onclick="javascript: return invoice_obj.save_client()" title="{$lang.add_client}" class="zapisz_kontrahenta"><i class="saveDiscSmall2"></i> {$lang.add_client}</a>
				{else}
					<a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.add_client}" class="zapisz_kontrahenta"><i class="saveDiscSmall2"></i> {$lang.add_client}</a>
				{/if}
				<div id="save_client_ok_error" class="dane_error"> </div>
				<div id="save_client_bad_error" class="dane_error"> </div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_client_name" value="{$lang.firma_name}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="client_name" id="client_name"  class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->name}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_client_address" value="{$lang.client_address}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="client_address" id="client_address"  class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->address}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_client_nip" value="{$lang.client_nip}" class="opis" />
			</div>
			<div class="col-sm-8">
				<input type="text" name="client_nip" id="client_nip" value="{$client->nip}" maxlength="24" class="tresc" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_client_phone" value="{$lang.client_phone}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="client_phone" id="client_phone"   class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->phone}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_client_mail" value="{$lang.client_mail}" class="opis" />
			</div>
			<div class="col-sm-8">
				<textarea name="client_mail" id="client_mail"   class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->email}</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_client_bank_name" value="{$lang.client_bank_name}" class="opis" />
			</div>
			<div class="col-sm-8">
				<input type="text" name="client_bank_name" id="client_bank_name" value="{$client->bank_name}" class="tresc" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-4">
				<input type="text" name="lang_client_account" value="{$lang.client_account}" class="opis" />
			</div>
			<div class="col-sm-8">
				<input type="text" name="client_account" id="client_account" value="{$client->account}" maxlength="36" class="tresc"  />
			</div>
		</div>
	</div>
</div>

<div class="row form-horizontal adres_dostawy">
    {* adres dostawy *}
	<div class="col-sm-6 col-sm-offset-6">
		<div class="form-group">
			<div class="col-sm-4">
				<a class="pomoc"><i class="help"></i><span>{$lang.pomoc3}</span></a>
				<input type="text" name="lang_branch" value="{$lang.branch}" class="invoice_normal" />
			</div>
			<div class="col-sm-8 text-right">
				<a onclick="javascript: return invoice_obj.show_branch();return key_mask(event,'')" title="{$lang.show}" id="branch_show" {if $branch->name}style="display: none;"{/if}><i class="downArrow"></i>{$lang.show}</a>
				<a onclick="javascript: return invoice_obj.hide_branch();" title="{$lang.hide}" id="branch_hide" {if !$branch->name}style="display: none;"{/if}><i class="upArrow"></i>{$lang.hide}</a>
			</div>
		</div>

		<div id="branch" {if !$branch->name}style="display: none;"{/if}>
			<div class="form-group">
				{* oddział *}
				<div class="col-sm-4">
					<input type="text" name="lang_branch_name" value="{$lang.branch_name}" class="opis" />
				</div>
				<div class="col-sm-8">
					<textarea name="branch_name" id="branch_name"  class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->name}</textarea>
				</div>
			</div>
			<div class="form-group">
				{* adres *}
				<div class="col-sm-4">
					<input type="text" name="lang_branch_address" value="{$lang.branch_address}" class="opis" />
				</div>
				<div class="col-sm-8">
					<textarea name="branch_address" id="branch_address" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->address}</textarea>
				</div>
			</div>
			<div class="form-group">
				{* telefon *}
				<div class="col-sm-4">
					<input type="text" name="lang_branch_phone" value="{$lang.branch_phone}" class="opis" />
				</div>
				<div class="col-sm-8">
					<textarea name="branch_phone" id="branch_phone"   class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->phone}</textarea>
				</div>
			</div>
			<div class="form-group">
				{* mail *}
				<div class="col-sm-4">
					<input type="text" name="lang_branch_mail" value="{$lang.branch_mail}" class="opis" />
				</div>
				<div class="col-sm-8">
					<textarea name="branch_mail" id="branch_mail"   class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->email}</textarea>
				</div>
			</div>
			<div class="form-group">
				{* krs *}
				<div class="col-sm-4">
					<input type="text" name="lang_branch_krs" value="{$lang.branch_krs}" class="opis" />
				</div>
				<div class="col-sm-8">
					<input type="text" name="branch_krs" id="branch_krs" value="{$branch->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />
				</div>
			</div>
			<div class="form-group">
				{* nazwa banku *}
				<div class="col-sm-4">
					<input type="text" name="lang_branch_bank_name" value="{$lang.branch_bank_name}" class="opis" />
				</div>
				<div class="col-sm-8">
					<input type="text" name="branch_bank_name" id="branch_bank_name" value="{$branch->bank_name}" class="tresc" />
				</div>
			</div>
			<div class="form-group">
				{* konto *}
				<div class="col-sm-4">
					<input type="text" name="lang_branch_account" value="{$lang.branch_account}" class="opis" />
				</div>
				<div class="col-sm-8">
					<input type="text" name="branch_account" id="branch_account" value="{$branch->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
	{* faktura okresowa *}
		{if $user_sub}
			<div id="faktura_okresowa_checkobox">
				<a class="pomoc"><i class="help"></i><span>{$lang.pomoc5}</span></a><input type="checkbox" value="1" id="period_check" name="period" onclick="javascript: invoice_obj.period(this);" /> <label for="period_check">{$langs.time_head}</label>
			</div>
			<div id="period">
				<div>
					{$langs.time_main}
					<input type="text" value="1" name="period_value" class="tresc" id="period_value" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" />
					<select name="period_time">
						<option value="day">{$langs.time_day}</option>
						<option value="week">{$langs.time_week}</option>
						<option value="month">{$langs.time_month}</option>
						<option value="year">{$langs.time_year}</option>
						</select>{$langs.time_start}
				</div>
				<script type="text/javascript">calendar.create('period_start','');</script>

			</div>
		{else}
			<div id="faktura_okresowa_checkobox">
				<a class="pomoc"><i class="help"></i><span>{$lang.pomoc5}</span></a><input type="checkbox" value="1" id="period_check" name="period" onclick="javascript: document.getElementById('sub_error').style.display='block';" /> <label for="period_check">{$langs.time_head}</label>
			</div>
		{/if}
		<div id="waluta"><label for="current">{$lang.currency}:</label> <select  name="current" id="current" onchange="javascript: invoice_obj.change_current(this.value);"><option value="PLN">PLN</option><option value="EUR">EUR</option><option value="USD">USD</option><option value="GBP">GBP</option><option value="AUD">AUD</option><option value="CZK">CZK</option><option value="DKK">DKK</option><option value="EEK">EEK</option><option value="HKD">HKD</option><option value="JPY">JPY</option><option value="CAD">CAD</option><option value="LTL">LTL</option><option value="LVL">LVL</option><option value="NOK">NOK</option><option value="ZAR">ZAR</option><option value="RUB">RUB</option><option value="CHF">CHF</option><option value="SEK">SEK</option><option value="UAH">UAH</option><option value="HUF">HUF</option><option value="XDR">XDR</option><option value="BGN">BGN</option><option value="RON">RON</option><option value="PHP">PHP</option><option value="THB">THB</option><option value="NZD">NZD</option><option value="SGD">SGD</option><option value="ISK">ISK</option><option value="HRK">HRK</option><option value="TRY">TRY</option><option value="MXN">MXN</option><option value="BRL">BRL</option><option value="MYR">MYR</option><option value="IDR">IDR</option><option value="KRW">KRW</option><option value="CNY">CNY</option><option value="ILS">ILS</option><option value="INR">INR</option><option value="CLP">CLP</option></select></div>
	</div>


	<div class="col-sm-6">
		{* kalkulator *}
		<div class="kalkulator">
		<table>
			<tr>
				<th class="text-left"><a class="pomoc"><i class="help"></i><span>{$lang.pomoc4}</span></a><span>{$lang.calc_nagl1}</span></th>
				<th>{$lang.calc_nagl2}</th>
				<th>{$lang.calc_nagl3}</th>
				<th>{$lang.calc_nagl4}</th>
			</tr>
			<tr>
				<td class="tekst">{$lang.calc_nagl5} <span class="bold">{$lang.calc_nagl6}</span>{$lang.calc_nagl7}</td>
				<td><input type="text" id="n2b_n" value="0" onkeyup="javascript: invoice_obj.n2b();" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:60px;" /></td>
				<td><select id="n2b_v" onchange="javascript: invoice_obj.n2b();" ><option value="0">0 %</option><option value="3">3 %</option><option value="4">4 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="20">20 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="25">25 %</option></select></td>
				<td><input type="text" id="n2b_b" value="0" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:65px;" /></td>
			</tr>
			<tr>
				<td class="tekst">{$lang.calc_nagl5} <span class="bold">{$lang.calc_nagl8}</span> {$lang.calc_nagl9}</td>
				<td><input type="text" id="b2n_n" value="0" onkeyup="javascript: invoice_obj.b2n();" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:60px;" /></td>
				<td><select id="b2n_v" onchange="javascript: invoice_obj.b2n();" ><option value="0">0 %</option><option value="3">3 %</option><option value="4">4 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="20">20 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="25">25 %</option></select></td>
				<td><input type="text" id="b2n_b" value="0" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:65px;" /></td>
			</tr>
			<tr><td colspan="4" class="tekst">{$lang.calc_nagl0}</td></tr>
		</table>
		</div>
	</div>
</div>






{* nagłówki listy produktów *}
<div id="lista">
	{if $user_sub}
		<a class="zaladuj_prod" onclick="javascript: invoice_obj.panel_prod();"><i class="cartArrow"></i> {$lang.menu_loadp}</a>
	{else}
		<a class="zaladuj_prod" onclick="javascript: document.getElementById('sub_error').style.display='block';" ><i class="cartArrow"></i> {$lang.menu_loadp}</a>
	{/if}
	<div id="save_product_ok_error" class="dane_error"> </div>
	<div id="save_product_bad_error" class="dane_error"> </div>
	<div class="table-responsive">
		<table class="table form-table lista">
			<thead>
				<tr>
					<th class="akcje"><a class="pomoc"><i class="help"></i><span>{$lang.pomoc6}</span></a></th>
					<th class="lp"><input type="text" name="lang_lp" value="{$lang.lp}" /></th>
					<th class="name"><input type="text" name="lang_name" value="{$lang.name}" /></th>
					<th class="pkwiu"><input type="text" name="lang_pkwiu" value="{$lang.pkwiu}" /></th>
					<th class="ilosc"><input type="text" name="lang_amount" value="{$lang.amount}" /></th>
					<th class="jm"><input type="text" name="lang_unit" value="{$lang.unit}" /></th>
					<th class="kwota2"><input type="text" name="lang_netto" value="{$lang.netto}" /></th>
					<th class="kwota2"><input type="text" name="lang_rabat" value="{$lang.rabat}" /></th>
					<th class="kwota2"><input type="text" name="lang_prize_netto" value="{$lang.prize_netto}" /></th>
					<th class="vat"><input type="text" name="lang_vat" value="{$lang.vat}" /></th>
					<th class="kwota"><input type="text" name="lang_sum_netto" value="{$lang.sum_netto}" /></th>
					<th class="kwota"><input type="text" name="lang_sum_vat" value="{$lang.sum_vat}" /></th>
					<th class="kwota"><input type="text" name="lang_sum_brutto" value="{$lang.sum_brutto}" /></th>
				</tr>
			</thead>
			<tbody id="product_list">

			</tbody>
		</table>
	</div>
	<table>
		<tr id="row_position">
			<td class="akcje">
				<a title="{$lang.del}" onclick="javascript: return invoice_obj.del([id]);"><i class="del"></i></a>
				{if $user_sub}
					<a title="{$lang.add_product}" onclick="javascript: return invoice_obj.save_product([id]);"><i class="saveDiscSmall"></i></a>
				{else}
					<a title="{$lang.add_product}" onclick="javascript: document.getElementById('sub_error').style.display='block';"><i class="saveDiscSmall"></i></a>
				{/if}
			</td>
			<td class="lp"><input type="text" name="p_[id]_lp" id="p_[id]_lp" value="" class="invoice_data" onkeypress="javascript: return key_mask(event,'');" /></td>
			<td><textarea name="p_[id]_name" id="p_[id]_name" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);"></textarea></td>
			<td><textarea name="p_[id]_pkwiu" id="p_[id]_pkwiu" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);" ></textarea></td>
			<td><input type="text" name="p_[id]_amount" id="p_[id]_amount" value=""  onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
			<td><select name="p_[id]_unit" id="p_[id]_unit" ><option value="">---</option>{foreach item=i key=k from=$units}<option value="{$k}">{$k}</option>{/foreach}</select></td>
			<td class="kwota2"><input type="text" name="p_[id]_netto" id="p_[id]_netto" value="" class="text-right" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
			<td class="kwota2"><input type="text" name="p_[id]_rabat" id="p_[id]_rabat" value="" class="text-right" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
			<td class="kwota2"><input type="text" name="p_[id]_pnetto" id="p_[id]_pnetto" value="" class="text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
			<td><select name="p_[id]_vat" id="p_[id]_vat"  onchange="javascript: invoice_obj.count_all();"><option value="0">0 %</option><option value="3">3 %</option><option value="4">4 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="20">20 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="25">25 %</option><option value="NP">NP</option><option value="ZW">ZW</option><option value="bez VAT">bez VAT</option><option value="OO">OO</option><option value="-">-</option></select></td>
			<td class="kwota"><input type="text" name="p_[id]_snetto"  id="p_[id]_snetto" value="" class="text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
			<td class="kwota"><input type="text" name="p_[id]_svat" id="p_[id]_svat" value="" class="text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
			<td class="kwota"><input type="text" name="p_[id]_sbrutto" id="p_[id]_sbrutto" value="" class="text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
		</tr>
	</table>
	<a title="{$lang.add}" onclick="javascript: return invoice_obj.add();" class="added2"><i class="plus"></i> {$lang.korekta1}</a>
</div>


<div class="row">
	<div class="col-sm-6">
		{* słownie *}
		<div class="kwoty">
			<input type="text" name="lang_cash_sum" value="{$lang.cash_sum}" class="opis" />
			<input type="text" name="cash_sum" id="cash_sum" value="0.00 PLN" class="wartosc" onkeypress="javascript: return key_mask(event,'');" />
			<input type="text" name="lang_cash_word" value="{$lang.cash_word}" class="opis" />
			<input type="text" name="cash_word" id="cash_word" value="" class="wartosc" onkeypress="javascript: return key_mask(event,'');" />
		</div>
	</div>
	<div class="col-md-6">
		{* kwoty VAT *}
		<div class="text-right">
				<table class="table form-table lista" id="sumVatTable">
					<thead>
					<tr>
						<th class="akcje"><a class="pomoc"><i class="help"></i><span>{$lang.pomoc7}</span></a></th>
						<th><input type="text" name="lang_all_rate" value="{$lang.all_rate}" class="stawka" /></th>
						<th><input type="text" name="lang_all_netto" value="{$lang.all_netto}" class="netto" /></th>
						<th><input type="text" name="lang_all_vat" value="{$lang.all_vat}" class="vat" /></th>
						<th><input type="text" name="lang_all_brutto" value="{$lang.all_brutto}" class="brutto" /></th>
					</tr>
					</thead>
					<tfoot>
					<tr>
						<td class="akcje"></td>
						<td><input type="text" name="lang_all_sum" value="{$lang.all_sum}" class="stawka text-right" /></td>
						<td><input type="text" id="all_netto" value="0.00 PLN" class="netto text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
						<td><input type="text" id="all_vat" value="0.00 PLN" class="vat text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
						<td><input type="text" id="all_brutto" value="0.00 PLN" class="brutto text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
					</tr>
					</tfoot>
					<tbody id="vat_list"></tbody>
				</table>
				<table>
				<tr id="row_vat">
					<td class="akcje"></td>
					<td><input type="text" id="v_[id]_rate" value="" class="stawka text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
					<td><input type="text" id="v_[id]_netto" value="" class="netto text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
					<td><input type="text" id="v_[id]_vat" value="" class="vat text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
					<td><input type="text" id="v_[id]_brutto" value="" class="brutto text-right" onkeypress="javascript: return key_mask(event,'');" /></td>
				</tr>
				</table>
		</div>
		{* zapłata *}
		<div class="zaplata">
			<div class="form-group">
				<input type="text" name="lang_cash_type" value="{$lang.cash_type}" class="opis" />
				<select name="cash_type" id="cash_type" class="wartosc" style="width:152px;">{foreach item=i from=$lang.cash_option}<option value="{$i}">{$i}</option>{/foreach}</select>
			</div>
			<div class="form-group">
				<input type="text" name="lang_cash_pay" value="{$lang.cash_pay}" class="opis" />
				<input type="text" name="cash_pay" id="cash_pay" value="0.00 PLN" class="wartosc" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" style="width:146px;" />
			</div>

			<div class="form-group">
				<input type="text" name="lang_cash_date" value="{$lang.cash_date}" class="opis" style="padding-left:1px;padding-right:1px;" />
				<input type="radio" class="styled" name="cash_date" id="cash_date_l" value="list" checked="checked" />
				<select name="cash_date_list" id="cash_date_list" style="width:152px;" >{foreach item=i from=$lang.cash_deadline}<option value="{$i}" {if $i == "7 dni"}selected="selected" {/if}>{$i}</option>{/foreach}</select><br />

				<div style="height:40px;clear:both;padding-left:29%;margin:4px 0px">
					<input type="radio" name="cash_date" id="cash_date_d" value="date"  />
					<div style="display:inline-block;"><script type="text/javascript">calendar.create('cash_date_date','{if $inv->sell_date}{$inv->sell_time}{/if}');</script></div>
				</div>
			</div>
		</div>
	</div>
</div>

	{* podpisy *}
	<div class="row podpis_pieczatka">
		<div class="col-sm-3 col-sm-offset-7">
				{if $extra->sign}<img src="{$extra->sign}" alt="" title="" />{/if}
		</div>
	</div>
	<div class="row podpis">
		<div class="col-sm-3 col-sm-offset-2">
			<input type="text" name="lang_client_sign" value="{$lang.client_sign}" class="opis" />
		</div>
		<div class="col-sm-3 col-sm-offset-2">
			<input type="text" name="lang_user_sign" value="{$lang.user_sign}" class="opis" />
		</div>
	</div>
	{* komentarz *}
	<div class="row">
		<div class="col-md-12">
			<input type="text" name="lang_coment" value="{$lang.coment}" class="text-center opis" onkeyup="javascript: invoice_obj.textarea_height(this);" />
		</div>
		<div class="col-md-12">
			<textarea name="coment" class="form-control" >{$inv->coment}</textarea>
		</div>
	</div>
	{* dane ukryte *}
	<div class="row_hidden">
		<input type="hidden" name="lang" value="{$cf_lang}" />
		<input type="hidden" name="original_v" value="0" id="original_v" />
		<input type="hidden" name="branch_v" value="0" id="branch_v" />
		<input type="hidden" name="client_id" value="{$inv->client}" id="client_id" />
	</div>
{* koniec faktury właściwej *}
</form>
{* wstawiane z js *}
<div id="sub_error" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<a onclick="javascript: document.getElementById('sub_error').style.display='none';" title="{$lang.clients_close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
	{$lang.error1}<br />
</div>

<div id="sub_error2" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:184px;font-weight:bold;text-align:center;font-size:22px;">
	<a onclick="javascript: document.getElementById('sub_error2').style.display='none';" title="{$lang.clients_close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
	Aby skorzystać z tej funkcji zarejestruj się!<br/>Skorzystaj z 30-dniowego okresu testowego<br />Limit został wyczerpany (max 3 faktury /24h)<br/>
</div>

<div id="save_base_error_all" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:124px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<a onclick="javascript: document.getElementById('save_base_error_all').style.display='none';" title="{$lang.clients_close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
	<div id="save_base_error"> </div>
</div>
<div class="hidden">
{* panel wyboru kontrahenta *}
	<div class="invoice_client" id="client_panel">
		{* przycisk zamknięcia *}
		<a onclick="javascript: return invoice_obj.close_client();" title="{$lang.clients_close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
		<h3>{$lang.clients_head}</h3>
			<div class="col-sm-4">
				<label>{$lang.clients_name}:</label>
				<input type="text" id="clients_[id]_name" value="[name]" class="form-control" />
			</div>
			<div class="col-sm-4">
				<label>{$lang.clients_address}:</label>
				<input type="text" id="clients_[id]_address" value="[address]" class="form-control" />
			</div>
			<div>
				<label>{$lang.clients_nip}:</label>
				<div class="form-inline">
					<div class="form-group">
						<input type="text" id="clients_[id]_nip" value="[nip]" maxlength="13" class="form-control" />
						<input type="button" value="{$lang.clients_search}"  onclick="javascript: invoice_obj.panel_client(1);" class="btn orangeButton"/>
					</div>
				</div>
			</div>

		{* lista liter *}
		<div id="zakres_faktur" style="clear:both;padding-top:10px" class="text-right col-sm-12">
			<div class="btn-group alphabet">
				<a onclick="javascript: return invoice_obj.panel_client([search],1,this.title);" title="" class="btn btn-default btn-sm" id="client_letter">{$lang.clients_all}</a>[letters]
			</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_kontrahentow" style="clear:both;">
			[clients]
		</div>
		{* stronicowanie *}
		<div style="clear:both;padding-top:10px" class="text-left col-sm-12">
			<div class="btn-group alphabet">
					[pages]
			</div>
		</div>
	</div>
{* obiekt kontrahenta - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.load_client(this.title);" title="" class="invoice_client" id="client_object"></a>
{* obiekt strony - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.panel_client([search],this.title,[letter]);" title="" class="" id="client_page">&nbsp;</a>
{* panel wyboru produktu *}
	<div class="invoice_prod" id="prod_panel">
		{* przycisk zamknięcia *}
		<a onclick="javascript: return invoice_obj.close_prod();" title="{$lang.prod_close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
		<h3>{$lang.prod_head}</h3>
		<div class="col-sm-4">
			<label>{$lang.prod_name}:</label>
			<input type="text" id="prods_[id]_name" value="[name]" class="form-control" />
		</div>
		<div class="col-sm-4">
			<label>{$lang.prod_producer}:</label>
			<input type="text" id="prods_[id]_producer" value="[producer]" class="form-control" />
		</div>
		<div class="col-sm-4">
			<label>{$lang.prod_cat}:</label>
			<select id="prods_[id]_cat" class="form-control"><option value="">---</option></select>
		</div>
		<div class="col-sm-4">
			<label>{$lang.prod_number}:</label>
			<input type="text" id="prods_[id]_number" value="[number]" class="form-control" />
		</div>
		<div class="col-sm-4">
			<label>{$lang.prod_pkwiu}:</label>
			<input type="text" id="prods_[id]_pkwiu" value="[pkwiu]" class="form-control" />
		</div>
		<div class="col-sm-4">
			<label>{$lang.prod_prize}:</label>
			<div class="row">
				<div class="col-sm-4">
					<input type="text" id="prods_[id]_prize_min" value="[prize_min]" class="form-control" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" placeholder="od" />
				</div>
				<div class="col-sm-4">
					<input type="text" id="prods_[id]_prize_max" value="[prize_max]" class="form-control" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" placeholder="do" />
				</div>
			</div>
		</div>
		<div id="add_[id]_info" class="add_info" ></div>
		<div class="col-sm-12" style="padding-top:5px;clear:both;"><input type="button" value="{$lang.prod_search}" class="btn orangeButton" onclick="javascript: invoice_obj.panel_prod(1);" /></div>
		{* lista liter *}
		<div id="zakres_faktur" class="text-right col-sm-12">
		<div class="alphabet btn-group">
			<a onclick="javascript: return invoice_obj.panel_prod([search],1,this.title);" title="" class="btn btn-xs btn-default" id="prod_letter">{$lang.prod_all}</a>[letters]
		</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_produktow">
		<span class="header">
		<span class="column1">Nazwa</span>
		<span class="column2">Cena netto</span>
		<span class="column3">Cena brutto</span>
		</span>
			[prods]
		</div>
		{* stronicowanie *}
		<div  style="clear:both;overflow:auto;padding:8px 0;" class="col-sm-12 btn-group">
			[pages]
		</div>
	</div>
{* obiekt kontrahenta - panel produktu *}
	<a onclick="javascript: return invoice_obj.load_prod(this.title);" title="" id="prod_object"></a>
{* obiekt strony - panel produktu *}
	<a onclick="javascript: return invoice_obj.panel_prod([search],this.title,[letter]);" title="" class="" id="prod_page">&nbsp;</a>
</div>
{* wybranie co drukować *}
<div class="invoice_client" id="what_print">
	<a onclick="javascript: this.parentNode.style.display='none';" class="close"><span class="glyphicon glyphicon-remove"></span></a>
	<h3>{$lang.menu_pdf}</h3>
	<div class="what_print_line"><input type="radio" name="what_p" value="1" id="print1" checked="checked" /> <label for="print1">{$lang.save_menu1}</label></div>
	<div class="what_print_line"><input type="radio" name="what_p" value="2" id="print2" /> <label for="print2">{$lang.save_menu2}</label></div>
	<div class="what_print_line"><input type="radio" name="what_p" value="3" id="print3" /> <label for="print3">{$lang.save_menu3}</label></div>
	<div class="what_print_line"><input type="radio" name="what_p" value="4" id="print4" /> <label for="print4">{$lang.save_menu4}</label></div>
	<div class="row text-center">
		<input type="button" value="{$lang.save_menu5}" onclick="javascript: return invoice_obj.save_pdf_end();" class="btn orangeButton" />
		<br><br>
	</div>
</div>

{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="count" value="0" />
	<input type="hidden" id="count_n" value="0" />
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="same_nr" value="{$lang.same_nr}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="delete" value="{$lang.delete}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="addc_ok" value="{$lang.addc_ok}" />
	<input type="hidden" id="addc_error" value="{$lang.addc_error}" />
	<input type="hidden" id="addp_ok" value="{$lang.addp_ok}" />
	<input type="hidden" id="addp_error" value="{$lang.addp_error}" />
	<input type="hidden" id="number_coin" value="{$lang.number_coin}" />
	<input type="hidden" id="number_tou" value="{$lang.number_tou}" />
	<input type="hidden" id="number_mln" value="{$lang.number_mln}" />
	<input type="hidden" id="number_mld" value="{$lang.number_mld}" />
	<input type="hidden" id="number_j" value="{$lang.number_j}" />
	<input type="hidden" id="number_n" value="{$lang.number_n}" />
	<input type="hidden" id="number_d" value="{$lang.number_d}" />
	<input type="hidden" id="number_s" value="{$lang.number_s}" />
</div>
<div class="row">
<div class="col-md-7 col-md-offset-5">
<ul class="invoiceMenu text-center">
{if $user_sub}
	<li><a onclick="javascript: invoice_obj.save_base();"><span class="icon"><i class="saveDisc"></i></span><span class="buttonLabel">{$lang.menu_save}</span></a></li>
	<li><a onclick="javascript: invoice_obj.save_pdf();"><span class="icon"><i class="printer"></i></span><span class="buttonLabel">{$lang.menu_pdf}</span></a></li>


	<li><a href="faktura-zaliczkowa/" {*onclick="javascript: invoice_obj.clean();"*}><span class="icon"><i class="newDoc"></i></span><span class="buttonLabel">{$lang.menu_clean}</span></a></li>
	<li><a href="panel/client/list/" title="{$lang.list_client}"><span class="icon"><i class="people"></i></span><span class="buttonLabel">{$lang.list_client}</span></a></li>
	<li><a href="panel/product/list/" title="{$lang.prod_head}"><span class="icon"><i class="shoppingCart"></i></span><span class="buttonLabel">{$lang.prod_head}</span></a></li>
	<li><a href="panel/invoice/search/" title="{$lang.list_invoice}"><span class="icon"><i class="docList"></i></span><span class="buttonLabel">{$lang.list_invoice}</span></a></li>
{else}
	<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';"><span class="icon"><i class="saveDisc"></i></span><span class="buttonLabel">{$lang.menu_save}</span></a></li>
	<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';"><span class="icon"><i class="printer"></i></span><span class="buttonLabel">{$lang.menu_pdf}</span></a></li>
	<li><a href="faktura-zaliczkowa/" {*onclick="javascript: invoice_obj.clean();"*}><span class="icon"><i class="newDoc"></i></span><span class="buttonLabel">{$lang.menu_clean}</span></a>
	<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}"><span class="icon"><i class="people"></i></span><span class="buttonLabel">{$lang.list_client}</span></a></li>
	<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}"><span class="icon"><i class="shoppingCart"></i></span><span class="buttonLabel">{$lang.prod_head}</span></a></li>
	<li><a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}"><span class="icon"><i class="docList"></i></span><span class="buttonLabel">{$lang.list_invoice}</span></a></li>
{/if}
</ul>
</div>
</div>
</div>
</div>
{* wywołania js *}
{foreach item=i from=$inv->product}
<script type="text/javascript">invoice_obj.add('{$i->name|replace:"\n":"\\n"}', '{$i->pkwiu}', '{$i->unit}', '{$i->vat}', '{$i->netto}', '{$i->amount}', '{$i->rabat}');</script>
{/foreach}
{if count($inv->product)==0}<script type="text/javascript">invoice_obj.add();</script>{/if}
<script type="text/javascript">invoice_obj.load_invoice('{$inv->original}','{$inv->sell_type}','{$inv->sell_date}','{$inv->sell_time}','{$inv->sum_pay}','{$inv->cur}');</script>
<script type="text/javascript">invoice_obj.resize_textareas();</script>
{/strip}
