<div class="row_info" id="komunikat"></div>
<ul id="menu">
{foreach item=item key=key from=$menu}
	{if $key==$smarty.get.par1}<li class="active"><a href="{$key}/" title="{$item}" class="menu">{$item}</a></li>
	{else}<li><a href="{$key}/" title="{$item}" class="menu">{$item}</a></li>{/if}
{/foreach}
</ul>
