{*param start*}
[page_url] adres strony
[page_name] nazwa strony
[name] podany login
[phone] telefon
[mail] adres e-mail
[text] treść
{*param end*}
{*logo start*}1{*logo end*}
{*title start*}Wiadomość z formularza kontaktowego [page_name]{*title end*}
{*text start*}
Witaj<br/>
<br/>
Użytkownik [name] wysłał zapytanie<br/><br/>
Imię i nazwisko: [name]<br/>
Telefon: [phone]
Adres e-mail: [mail]
Treść: [text]
{*text end*}