{*param start*}
[page_url] adres strony
[page_name] nazwa strony
[name] nazwa firmy
[number] numer faktury
{*param end*}
{*logo start*}1{*logo end*}
{*title start*}Faktura od [name] o nr [number]{*title end*}
{*text start*}
Szanowni Państwo<br/>
<br/>
Firma [name] przesyła Państwu fakturę w formie elektronicznej.<br/>
<br/>
Faktura została wysłana jako załącznik do tej wiadomości.<br/>
<br/>
<br/>
<br/>
<br/>
Pozdrawiamy
<br/>
[name]
<br/>
<br/>
<br/>
<br/>
<br/>
Program do wystawiania faktur online - [page_name]
{*text end*}