{*param start*}
[page_url] adres strony
[page_name] nazwa strony
[title] tytuł wiadomości
[text] treść wiadomości
{*param end*}
{*logo start*}1{*logo end*}
{*title start*}Przypomnienie o ważności abonamentu - [page_name]{*title end*}
{*text start*}
Szanowni Państwo,<br/><br/>
Dbając o ciągłość działania Państwa usług w naszym serwisie pragniemy przypomnieć, iż za 7 dni kończy się ważność abonamentu.<br/><br/> 
Aby przedłużyć abonament prosimy się zalogować na konto w serwisie <a href="[page_url]">[page_name]</a><br/>
następnie w dziale 'Twoje Konto' wybrać opcję 'Przedłuż abonament'<br/><br/> 
W dziale 'Przedłuż abonament' prosimy wskazać okres na jaki chcą Państwo przedłużyć ważnośc konta i kliknąć przycisk 'Przedłuż'<br/><br/>
Serwis przerzuci Państwa do płatności online a tam prosze postepować wg podpowiedzi.<br/><br/> 
W przypadku gdy nie korzystacie Państwo z płatności online prosimy o kontakt email: faktury@egrupa.pl<br/><br/> 
Po dokonaniu płatności abonament z automatu się przedłuży o wybrany okres.<br/><br/> 
W razie jakichkolwiek pytań prosimy o kontakt z nami.<br/><br/><br/>
Program do faktur online<br/><br/>
<a href="[page_url]">[page_name]</a><br/>
<a href="http://www.afaktura.pl">www.afaktura.pl</a><br/>
<a href="http://www.magazyno.pl">www.magazyno.pl</a> - (magazyn online już niebawem)
{*text end*}