{*param start*}
[page_url] adres strony
[page_name] nazwa strony
[login] podany login
[pass] podane hasło
[mail] podany adres e-mail
[ip] adres IP z którego dokonywano rejestracji
[date] data rejestracji w formacie ISO-8601
{*param end*}
{*logo start*}1{*logo end*}
{*title start*}Rejestracja w serwisie [page_name]{*title end*}
{*text start*}
Witaj [login]<br/>
<br/>
Zarejestrowałeś/aś się w serwisie <a href="[page_url]" title="[page_name]">[page_name]</a>.<br/>
Wejdź na stronę <a href="[page_url]panel/data/" title="edycji danych">Twoje Dane </a>i uzupełnij brakujące dane aby wstawiały sie automatycznie w dane sprzedawcy.<br/>
<br/>
Dane podane podczas rejestracji:<br/>
Login: [login]<br/>
Hasło: [pass]<br/>
Adres e-mail: [mail]<br/>
Adres IP: [ip]<br/>
Data rejestracji: [date]<br/>
{*text end*}