{*param start*}
[page_url] adres strony
[page_name] nazwa strony
[login] podany login
[pass] podane hasło
[mail] podany adres e-mail
[ip] adres IP z którego dokonywano rejestracji
[date] data rejestracji w formacie ISO-8601
{*param end*}
{*logo start*}1{*logo end*}
{*title start*}Odtworzenie konta w serwisie [page_name]{*title end*}
{*text start*}
Witaj [login]<br/>
<br/>
W zwiazku z awarią naszego serwera zostało odtworzone Twoje konto w serwisie <a href="[page_url]" title="[page_name]">[page_name]</a>.<br/>
Jeżeli miałeś wykupiony u nas abonamet to został Ci przyznany miesiąc abonamentu GRATIS.
<br/>
Dane:<br/>
Login: [login]<br/>
Hasło: [pass]<br/>
Adres e-mail: [mail]<br/>
{*text end*}