<div class="container-fluid px-0">
<div id="invoice" class="news_list row" >
	<div class="col-sm-9">
		<div id="funkcje_faktury">
		{$lang.cennik}

		<br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
	</div>
<div class="col-sm-3">
	<div class="ramka o_programie">
		<span class="title">{$lang.o_programie_nagl}</span>
		<p>{$lang.o_programie}</p>
		<a href="o-programie/" class="more">{$lang.wiecej}</a>
	</div>
	{*<a href="promocje/" style="display:block;margin:7px 0"><img src="images/layout/banner_1_mniejszy.jpg"></a>*}
	<br>
	<div class="ramka centrum_pomocy">
		<span class="nagl"></span>
		<div>
			<span class="title">{$lang.pomoc1_nagl}</span><p>{$lang.pomoc1_tresc}</p>
			<a href="pomoc/" class="more">{$lang.wiecej}</a>
		</div>
		<div>
			<span class="title">{$lang.pomoc2_nagl}</span><p>{$lang.pomoc2_tresc}</p>
			<a href="contact/" class="more">{$lang.wiecej}</a>
		</div>
		<div>
			<span class="title">{$lang.pomoc3_nagl}</span><p>{$lang.pomoc3_tresc}</p>
			<a href="contact/" class="more">{$lang.wiecej}</a>
		</div>

		</div>
	</div>
</div>
</div>
