<div id="invoice" class="news_list" style="overflow:auto">

<div style="float:right;width:317px;">

<div  class="ramka o_programie">
		<span class="nagl">{$lang.o_programie_nagl}</span>
		{$lang.o_programie}
		<br>
		<div style="border-top:1px solid #D8D8D8;heighT:14px;">
		<a href="o-programie/">{$lang.wiecej}</a>
		</div>
</div>
<a href="promocje/" style="display:block;margin:7px 0"><img src="images/layout/banner_1_mniejszy.jpg"></a>
<div class="ramka centrum_pomocy" >

			<span class="nagl"></span>
	<div id="pomoc_1">
	<span class="title">{$lang.pomoc1_nagl}</span>{$lang.pomoc1_tresc}
	
		<a href="e="border-top:1px solid #D8D8D8;padding:5px 0 0 0 ;heighT:14px;left:3%; right:3%;border-bottom:0;">
	<a href="pomoc/">{$lang.wiecej}</a>
	</div>
	<div id="pomoc_2">
	<span class="title">{$lang.pomoc2_nagl}</span>{$lang.pomoc2_tresc}

	<a href="contact/">{$lang.wiecej}</a>
	</div>
	<div id="pomoc_3" style="border:0;">
	<span class="title">{$lang.pomoc3_nagl}</span>{$lang.pomoc3_tresc}

	<a href="contact/">{$lang.wiecej}</a>
	</div>
	<div style="border-top:1px solid #D8D8D8;padding:5px 0 0 0 ;heighT:14px;left:3%; right:3%;border-bottom:0;">
	<a href="pomoc/" style="margin:0;float:left">{$lang.do_pomocy}</a>
	</div>
</div>
</div>

<div id="funkcje_faktury">
{$lang.cennik}

<br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
