<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- Przeniesione do menu -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->



 <!-- {if $smarty.get|@count == 0}
<li class='langFlag'>
	<a {if LANG=="en" } class='activeLang' {/if} href="#" onclick="javascript: return changeLang('en');"><img src='/images/layout/england-flag.png'/ title='Flaga Wielkiej Brytani' alt='Wersja angielska / English version '></a>&nbsp;&nbsp;
	<a {if LANG=="pl" } class='activeLang' {/if} href="#" onclick="javascript: return changeLang('pl');"><img src='/images/layout/poland-flag.png' title='Flaga Polski' alt='Wersja polska / Polish version '/></a>
</li>
{else}
<li class=''> -->
	<!-- {if $login}
	<a href="panel/data/licence/" class="btn blueButton btn-sm">{$lang.hello} {$login}</a>&nbsp;
	<a href="/logout/" title="{$lang.logout}" class="btn blueButton btn-sm">{$lang.logout}</a>
	{else}
	<a onclick="document.getElementById('logowanie').style.display='block';" class="btn blueButton btn-sm">{$lang.zaloguj1}</a>&nbsp;&nbsp;
	<a href="reg/" class="btn blueButton btn-sm">{$lang.zaloguj3}</a>
	{/if}
</li>
{/if} -->

<!-- </div> {*div.row otwarty w head/standard.html*} -->
