<div id="invoice" class="data_general">
<script type="text/javascript" src="module/panel/invoice_search/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
{* dane kontrahenta *}
{if $client_data->id}

	<h3 style="margin-bottom:0px;font-size:18px;">{$lang.c_head}: {$client_data->name}</h3>
	<div  style="height:18px;float:none;overflow:hidden;">{if $prev_c}<a href="panel/invoice/search/{$prev_c}/1/dc/" title="" class="prev">{$lang.prev}</a>{/if}
	{if $next_c}<a href="panel/invoice/search/{$next_c}/1/dc/" title="" class="next">{$lang.next}</a>{/if}</div>
	<div style="width:51%;float:left;">
	{if $client_data->name != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:180px;">{$lang.c_name}:</div>
		<div class="insert_right" style="font-weight:bold;width:270px;">{$client_data->name}</div>
	</div>
	{/if}
	{if $client_data->address != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:180px;">{$lang.c_address}:</div>
		<div class="insert_right" style="font-weight:bold;width:270px;">{$client_data->address}</div>
	</div>
	{/if}
	{if $client_data->nip != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:180px;">{$lang.c_nip}:</div>
		<div class="insert_right" style="font-weight:bold;width:270px;">{$client_data->nip}</div>
	</div>
	{/if}
	{if $client_data->phone != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:180px;">{$lang.c_phone}:</div>
		<div class="insert_right" style="font-weight:bold;width:270px;">{$client_data->phone}</div>
	</div>
	{/if}
	{if $client_data->email != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:180px;">{$lang.c_email}:</div>
		<div class="insert_right" style="font-weight:bold;width:280px;">{$client_data->email}</div>
	</div>
	{/if}
	</div>
	
	<div style="width:49%;float:left;">
	{if $client_data->krs != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:130px;">{$lang.c_krs}:</div>
		<div class="insert_right" style="font-weight:bold;">{$client_data->krs}</div>
	</div>
	{/if}
	{if $client_data->bank_name != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:130px;">{$lang.c_bank_name}:</div>
		<div class="insert_right" style="font-weight:bold;">{$client_data->bank_name}</div>
	</div>
	{/if}
	{if $client_data->account != ''}
	<div class="row_auto" style="font-size:14px;">
		<div class="insert_left" style="width:130px;">{$lang.c_account}:</div>
		<div class="insert_right" style="font-weight:bold;width:300px">{$client_data->account}</div>
	</div>
	{/if}
	</div>
{/if}
{* nagłówek *}
<h3 style="font-size:18px;padding-top:20px;">{$lang.head} |  <a href="panel/invoice/search/{$client}/1/dc/" title="{$lang.all}">{$lang.all}a</a>{if $client_data->id} | <a href="panel/invoice/list/client/{$client_data->id}/" title="{$lang.page}">{$lang.page}</a>{/if}</h3>

{* wyszukiwarka *}

<div style="width:49%;float:left;">
	<label>{$lang.number}:</label>
	<input type="text" id="number" value="{$search.number}" class="invoice_search_text" />

	<label>{$lang.name}:</label>
	<input type="text" id="name" value="{$search.name}" class="invoice_search_text" />

	<label>{$lang.nip}:</label>
	<input type="text" id="nip" value="{$search.nip}" class="invoice_search_text" onkeypress="javascript: return valid_data.check_nip(event);" />

<div class="invoice_search_search" id="search">
		<label>{$lang.date_add}:</label>
		<div style="width:290px">
			<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl1}</span><script type="text/javascript">calendar.create('dadd_min','{$search.damin}');</script></div>
			<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl2}</span><script type="text/javascript">calendar.create('dadd_max','{$search.damax}');</script></div>
		</div>

		<label>{$lang.date_sell}:</label>
		<div style="width:290px">
			<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl1}</span><script type="text/javascript">calendar.create('dsell_min','{$search.dsmin}');</script></div>
			<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl2}</span><script type="text/javascript">calendar.create('dsell_max','{$search.dsmax}');</script></div>
		</div>


		<label>{$lang.sum}:</label>
		<div class="od_do"><input type="text" id="sum_min" value="{$search.smin}" class="product_search_min" onkeypress="javascript: return panel_invoice_search_obj.insert_prize(event,this.id);" /><span>-</span> <input type="text" id="sum_max" value="{$search.smax}" class="product_search_min" onkeypress="javascript: return panel_invoice_search_obj.insert_prize(event,this.id);" /></div>
</div>
<div class="akcje_l">
	<input type="button" value="{$lang.search}" onclick="javascript: panel_invoice_search_obj.search();" class="szukaj" />
	<span class="zwin_rozwin" id="search_show" onclick="javascript: panel_invoice_search_obj.show_search();">{$lang.searcher} ({$lang.showed})</span>
	<span class="zwin_rozwin" style="display:none" id="search_hidden" onclick="javascript: panel_invoice_search_obj.hidden_search();">{$lang.searcher} ({$lang.hidden})</span>
	
</div>
</div>
<div style="width:49%;float:right;">
{* podział na miesiące *}
<div class="row_auto">
	<label>{$lang.month}:</label>

		<select id="month" class="invoice_search_month">
		{foreach item=i key=k from=$months}<option value="{$k}" {if $search.dcm==$k}selected="selected"{/if}>{$i}</option>{/foreach}
		</select>
		<select id="year" class="invoice_search_year">
		{section name=a loop=$ys max=$ys-2010 step=-1}<option value="{$smarty.section.a.index}" {if $search.dcy==$smarty.section.a.index}selected="selected"{/if}>{$smarty.section.a.index}</option>{/section}
		</select>

</div>
<div class="row_auto">
	<label>{$lang.type}:</label>
	<div class="insert_right">
		<input type="radio" name="type" id="type_c" {if $search.type=="c"}checked="checked"{/if} /> <label for="type_c" class="do_radio">{$lang.dcreate}</label><br />
		<input type="radio" name="type" id="type_a" {if $search.type=="a"}checked="checked"{/if} /> <label for="type_a" class="do_radio">{$lang.dadd}</label><br />
		<input type="radio" name="type" id="type_s" {if $search.type=="s"}checked="checked"{/if}  /> <label for="type_s" class="do_radio">{$lang.dsell}</label><br />
	</div>
</div>
<div class="akcje_l">
	<input type="button" value="{$lang.show}" onclick="javascript: panel_invoice_search_obj.show();" class="szukaj" />
</div>
</div>
{* pasek miesięcy *}
<div id="zakres_faktur">
<div class="month">
	<a href="panel/invoice/search/{$client}/" title="{$lang.all_l}" class="all">{$lang.all_l}</a>
{foreach item=i key=k from=$months}
	{if $k==$search.dcm}<a href="#" title="{$i}" class="activ">{$i}</a>
	{else}<a href="#" title="{$i}" onclick="javascript: return panel_invoice_search_obj.show_month('{$k}');">{$i}</a>{/if}
{/foreach}
</div>
{* litery *}
{if !$client_data->id}
<div class="alphabet">
	<a href="panel/invoice/search/{$client}/1/dc/-/{$par8}" title="{$lang.all_l}" class="all">{$lang.all_l}</a>
{foreach item=i from=$letter}
	{if $i==$smarty.get.par7}<a href="panel/invoice/search/{$client}/1/dc/{$i}/{$par8}" title="{$i}" class="activ">{$i}</a>
	{else}<a href="panel/invoice/search/{$client}/1/dc/{$i}/{$par8}" title="{$i}" >{$i}</a>{/if}
{/foreach}
</div>
{/if}
</div>
{* sortowanie *}

{* lista faktur *}
<table>
<tr>
<th>{$lang.nagl3}</th>
<th>{$lang.nagl4}</th>
<th>{$lang.nagl5}</th>
<th>{$lang.nagl6}</th>
<th><a href="panel/invoice/search/{$client}/1/{if $sort=='dc'}ac{else}dc{/if}/{$par7}/{$par8}" title="{$lang.dcreate}">{$lang.dcreate} {if $sort=='dc'}&uArr;{else}&dArr;{/if}</a></th>
<th><a href="panel/invoice/search/{$client}/1/{if $sort=='da'}aa{else}da{/if}/{$par7}/{$par8}" title="{$lang.dadd}">{$lang.dadd} {if $sort=='da'}&uArr;{else}&dArr;{/if}</a></th>
<th><a href="panel/invoice/search/{$client}/1/{if $sort=='ds'}as{else}ds{/if}/{$par7}/{$par8}" title="{$lang.dsell}">{$lang.dsell} {if $sort=='ds'}&uArr;{else}&dArr;{/if}</a></th>
<th>{$lang.nagl7}</th>
</tr>
{foreach item=i from=$dane name=a}
<tr {if $smarty.foreach.a.index+1 is even}class="parzysty {if ($smarty.foreach.a.index+1) is div by 10}dziesiaty{/if}"{/if}  >
    <td><a href="panel/invoice/list/file/{$i->id}/" title="{$lang.download}" class="pdf_link">{$lang.download}</a></td>
	<td><a href="invoice/{$i->id}/" title="{$i->number}">{$i->number}</a></td>
	<td><a href="invoice/{$i->id}/" >{$i->sum|string_format:"%.2f"} zł</a></td>
	<td><a href="panel/invoice/list/client/{if $i->client}{$i->client}{else}{$i->client_url}{/if}/" title="{$i->client_name}">{if $i->client_name}{$i->client_name}{else}{$lang.other}{/if} - {$i->nip}</a></td>
	<td><a href="invoice/{$i->id}/" title="{$i->date_create}">{$i->date_create}</a></td>
	<td><a href="invoice/{$i->id}/" title="{$i->date_add}">{$i->date_add}</a></td>
	<td><a href="invoice/{$i->id}/" title="{$i->date_sell}">{$i->date_sell}</a></td>
	<td><a href="invoice/{$i->id}/" title="{$lang.view}" class="view">{$lang.view}</a></td>
</tr>
{/foreach}
</table>
{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/invoice/search/" surfix="$sign"}
</div>
{* komunikaty *}
<div class="row_hidden">
	<input type="hidden" id="client" value="{$client}" />
	<input type="hidden" id="letter" value="{$par7}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
</div>