{if sizeof($tree)}<ul class="prod_cat{*$item->level*}" {*id="tree_0_0"*}>{/if}
{foreach item=item from=$tree}
<li>
<div class="zawartosc poziom{$item->level}" id="name_{$item->id}" >
	  {* {if sizeof($item->child)!=0}<a href="#" onclick="javascript: return panel_product_cat_obj.tree({$item->level},{$item->id});" title="{$lang.show}/{$lang.hidden}" class="plus" id="button_{$item->level}_{$item->id}">&nbsp;</a>{else}&nbsp;{/if}*}
		<a href="panel/product/list/cat/{$item->id}/" title="{$item->name}" class="nazwa_cat" >{$item->name} [{$item->counter}]</a>
			&nbsp;&nbsp;<a onclick="javascript: return panel_product_cat_obj.show_add({$item->id});"  title="Dodaj podkategorię" ><span class="glyphicon glyphicon-plus"></span></a>&nbsp;&nbsp;&nbsp;
			<a onclick="javascript: return panel_product_cat_obj.show_edit({$item->id},'{$item->name}');" style="display:inline-block"  title="{$lang.edit}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a onclick="javascript: return panel_product_cat_obj.del({$item->id});" title="{$lang.del}"><span class="glyphicon glyphicon-remove"></span></a>

</div>
	{*if sizeof($item->child)!=0*}
	{*<div class="product_cat_tree" id="tree_{$item->level}_{$item->id}" style="display: block;">*}
		{include file="panel/product_cat/standard_tree.html" tree=$item->child}
	{*</div>*}
	{*{/if}*}
	
	</li>
{/foreach}
{if sizeof($tree)}</ul>{/if}