<div class="container-fluid px-0">
<div id="invoice" class="ramka" style="position:relative;padding-bottom:50px;">
<script type="text/javascript" src="module/panel/product_cat/class.js"></script>
	<div class="row">
		<div class="col-sm-3">
			<h3>{$lang.head}</h3>
		</div>
		<div class="col-sm-3">
			<a href="#" onclick="javascript: return panel_product_cat_obj.show_add(0);" style="font-size:13px;margin-top:12px;display:inline-block"  title="{$lang.add}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{$lang.nagl3}</a>
		</div>
	</div>

{*<div class="row_action_hidden" id="cat_show_all"><a href="#" onclick="javascript: return panel_product_cat_obj.tree_show(0,0);" title="{$lang.show} {$lang.all}">{$lang.show} {$lang.all}</a></div>
<div class="row_action" id="cat_hidden_all"><a href="#" onclick="javascript: return panel_product_cat_obj.tree_hidden(0,0);" title="{$lang.hidden} {$lang.all}">{$lang.hidden} {$lang.all}</a></div>
*}



<div id="wyszukiwarka_faktur">
	<div class="product_cat_name" id="name_0" style="float:none;margin-left:15px;">

		{*<div>{$lang.list}</div>*}
	</div>
<div><span class="glyphicon glyphicon-plus"></span> - Dodaj &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span> - Edytuj &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span> - Usuń &nbsp;&nbsp;&nbsp;</div>
<div class="product_cat_tree" id="kategorie_prod" style="float:none;">
	{include file="panel/product_cat/standard_tree.html" tree=$tree}
</div>
</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="cat_id_add" value="0" />
	<input type="hidden" id="cat_id_edit" value="0" />
	<input type="hidden" id="delete" value="{$lang.del_confirm}" />
	<input type="hidden" id="add_ok" value="{$lang.add_ok}" />
	<input type="hidden" id="add_error" value="{$lang.add_error}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
</div>
{* pole dodawania kategorii *}
<div class="invoice_list_mail" id="cat_add" >
	<a onclick="javascript: panel_product_cat_obj.cancel_add();" class="close"><span class="glyphicon glyphicon-remove"></span></a>
	<h3>{$lang.name}:</h3>
		<input type="text" id="cat_add_name" value="" class="form-control" />
		<br>
		<input type="button" value="{$lang.add}" class="btn orangeButton"  onclick="javascript: panel_product_cat_obj.add();" />
<br>
</div>
{* pole edycji kategorii *}
<div class="invoice_list_mail" id="cat_edit">
	<a onclick="javascript: panel_product_cat_obj.cancel_edit();" class="close"><span class="glyphicon glyphicon-remove"></span></a>
	<h3>{$lang.name}:</h3>
	<input type="text" id="cat_edit_name" value="" class="form-control" />
	<br>
	<input type="button" value="{$lang.save}" class="btn orangeButton" onclick="javascript: panel_product_cat_obj.save();" />
	</br>

</div>
</div>
</div>
