<div class="container-fluid">
<div id="invoice" style="padding-bottom:5px;" class="ramka">
	<h1 class="news_title">
		<a href="news/{$dane->url}/{$dane->id}/" title="{$dane->title}">{$dane->title}</a>
	</h1>

	{*<div id="navibar" style="width:57%">
	Jesteś w <a href="" title="{$lang.nagl}">{$lang.nagl}</a>
	{foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} / {/if}{/foreach}
	</div> *}


	<div class="row">
	{if $prev->id}<div class="col-sm-6"><a href="news/{$prev->url}/{$prev->id}/" title="{$lang.prev} - {$prev->title}" class="prev"><strong>&laquo;</strong> {$lang.prev}</a></div>{/if}
	{if $next->id}<div class="col-sm-6 text-right"><a href="news/{$next->url}/{$next->id}/" title="{$lang.next} - {$next->title}" class="next">{$lang.next} <strong>&raquo;</strong></a></div>{/if}
</div>
	<div class="news_txt">
		{if $dane->gallery[0]->path}<img src="{$dane->gallery[0]->path}" title="{$dane->title}" alt="{$dane->title}" width="150px"  onclick="javascript: gallery_s.open(this,0);" style="float:left;margin:0 5px 5px 5px" />{/if}
		{$dane->text}
	</div>
<div style="padding:0 1.5%">
{include file="gallery_tpl/standard.html" gal=$dane->gallery max=$max}
</div>
</div>
