<div class="col-md-6">
	<div id="sonda_schowana" class="pageSection ">

		<h4>{$lang.head}</h4> {if $dane.id}
		<div class="title">{$dane.question}</div>

		<div id="probe_answer">
			{foreach item=i key=k from=$dane.answer}
			<label>
				<input type="radio" name="probe_{$dane.id}" value="{$k}" {if $k==0}checked{/if} />

					<span class='radioInputChecked'></span>
					<span class="radioInput"></span>{$i.answer}
			</label><br> {/foreach}
			<div><input type="button" id="zaglosuj" value="{$lang.send}" onclick="javascript: return probe_obj.add({$dane.id});" class="btn blueButton" /><br></div>
		</div>
		<br>

	</div>
</div>
</div>
<div class="container-fluid blackBackground">
	<div class="blackBackground row_hidden"><input type="hidden" id="probe_error" value="{$lang.error}" /></div>
	{else} {if $dane_glosy == NULL}
	<div class="row_auto">{$lang.none}</div>
	{else}
	<div class="title">Czy efaktura ułatwiła pracę w Twojej firmie?
		</div>
	{foreach item=i from=$dane_glosy}
	<span>
		{$i.answer} : {$i.count '}</span><br>
		<div style='border-radius: 5px; height:10px; width:{math equation="x / y * 100" x=$i.count  y=$liczba_glosow }%; background-image: -moz-linear-gradient( 45deg, rgb(217, 97, 0) 0%, rgb(255, 143, 2) 100%);background-image: -webkit-linear-gradient( 45deg, rgb(217, 97, 0) 0%, rgb(255, 143, 2) 100%);background-image: -ms-linear-gradient( 45deg, rgb(217, 97, 0) 0%, rgb(255, 143, 2) 100%);'></div>
		{/foreach}
		{/if} {/if}
	<script type="text/javascript" src="module/probe/class.js"></script>
</div>
</div>
</div>

</div>
</div>

<script type="text/javascript">
	$('miejsce_sondy').appendChild($('sonda_schowana'));
</script>
