{if str_replace("admin","",$smarty.server.PHP_SELF)==$smarty.server.PHP_SELF}<script type="text/javascript" src="module/uploader/class.js"></script><script type="text/javascript">var path="";</script>
{else}<script type="text/javascript" src="../module/uploader/class.js"></script><script type="text/javascript">var path="../";</script>{/if}
<div class="row_auto">
	<div>	
		<input type="file" name="file{$count}"  size="30" id="uploader_upload{$count}" onchange="javascript: uploader_obj.upload({$count},'{$uploader_what}');" />
		<input type="hidden" name="{$uploader_name}" id="up_file{$count}" value="{$uploader_file}" />
		<div class="uploader_progress" id="uploader_progress{$count}"><img src="images/layout/progress.gif" width="220px" height="19px" title="" alt="" /></div>
		<div class="row_info">{$langs.max_weight|replace:"[weight]":"$max_weight"}</div>
		{if $uploader_what=="img"}<div class="row_info">{$langs.max_size|replace:"[width]":"$max_size[0]"|replace:"[height]":"$max_size[1]"}</div>{/if}
	</div>
	<div>
		<div class="">
		{if $uploader_what=="file"}
			{if $uploader_file!=""}<a href="{$uploader_file}" title="" class="uploader_download" id="uploader_download{$count}">{$langs.download}</a>
			{else}<a href="" title="" class="uploader_download_none" id="uploader_download{$count}">{$langs.download}</a>{/if}
		{elseif $uploader_what=="img"}
			{if $uploader_file!=""}<img src="{$uploader_file}" title="" alt="" class="uploader_download" id="uploader_download{$count}" />
			{else}<img src="" title="" alt="" class="uploader_download_none" id="uploader_download{$count}" />{/if}
		{elseif $uploader_what=="flash"}
			{if $uploader_file!=""}
			{else}{/if}
		{/if}
		</div>
		<div class="">
			<div class="row_auto" onclick="javascript: uploader_obj.more({$count},'{$uploader_what}');">{$langs.more}</div>
			<div class="row_auto">
			{if $uploader_file!=""}<input type="button" value="{$langs.del}" id="uploader_del{$count}" class="uploader_delete" onclick="javascript: uploader_obj.del({$count});" style="width:auto;" />
			{else}<input type="button" value="{$langs.del}" id="uploader_del{$count}" style="width:auto;" class="uploader_delete_none" onclick="javascript: uploader_obj.del({$count},'{$uploader_what}');" />
			{/if}
			</div>
		</div>
	</div>
</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="bad_ext{$count}" value="{$langs.bad_ext}" />
	<input type="hidden" id="bad_size{$count}" value="{$langs.bad_size}" />
	<input type="hidden" id="bad_weight{$count}" value="{$langs.bad_weight}" />
	<input type="hidden" id="error{$count}" value="{$langs.error}" />
	<input type="hidden" id="type{$count}" value="{$uploader_type}" />
	<input type="hidden" id="user_id{$count}" value="{$user_id}" />
	<input type="hidden" id="close{$count}" value="{$langs.close}" />
	<div id="uploader_iframe{$count}" class="row_hidden"></div>
</div>