{*begin img*}
<div class="uploader_item">
	<div class="row_auto"><img src="[value]" title="" alt="" class="uploader_download" onclick="javascript: uploader_obj.load([count],'[value]','[type]')" /></div>
	<div class="row_auto">[name] - [width]x[height]px - [size]kB - [date]</div>
</div>
{*end img*}
{*begin file*}
<div class="uploader_item">
	<div class="row_auto"><a href="[value]" title="" class="uploader_download" onclick="javascript: uploader_obj.load([count],'[value]','[type]')">[name]</a></div>
	<div class="row_auto">[name] - [size]kB - [date]</div>
</div>
{*end file*}
{*begin flash*}
<div class="uploader_item">
	<div class="row_auto"></div>
	<div class="row_auto">[name] - [size]kB - [date]</div>
</div>
{*end flash*}
{*begin box*}
<div class="uploader_box">
	<div class="row_auto" onclick="javascript: uploader_obj.more_close([count]);">X</div>
	<div class="row_auto">
	[items]
	</div>
</div>
{*end box*}