@charset "UTF-8";
/* ustawienia ogólne */
body {font-size:12px;font-family:Tahoma,sans-serif;text-align:center;overflow-y:scroll}
a{cursor:pointer;}
#container {
width:90%;
min-width:960px;
margin:0 auto;
overflow:visible;
}


img {border:none;}
#head{width:647px;text-align:left;margin-top:10px;}

#navibar{
width:98%;
clear:left;
padding:2px 1%;
border:1px solid #659ACC;
background:#454545;
text-align:left;
-moz-border-radius-topright:7px;}
#navibar a{color:#fff;}
#container div{float:left;}
#container  .adres_dostawy{margin:15px 0 15px 49.5%; cleaR:both;width:49.5%;float:left;}
.adres_dostawy .opis{margin-left:6%;margin-bottom:5px;clear:left;}
.adres_dostawy .tresc{margin-bottom:5px;}
.adres_dostawy textarea{margin:0px;}
.adres_dostawy span{margin-left:20px;text-align:left;float:left;font-size:14px;font-weight:bold;margin-bottom:10px;}
.adres_dostawy a{
background: url('../images/icons/dostawa.png') left top no-repeat;
display:inline-block;
font-size:10px;
font-weight:normal;
height:22px;
padding-left:28px;
vertical-align:bottom;
}
.adres_dostawy .nagl{display:inline-block;width:110px;}


.adres_dostawy input.nagl{font-weight:bold;font-size:14px;}
.pomoc{width:20px;
height:17px;
float:left;
background-image: url('../images/icons/pomoc.png');
position:relative;

}
a.pomoc span{font-weighT:normal !important;display:none;position:absolute;background:#fbfdc7; padding:4px;border:1px solid #000;top:0px; left:24px;font-size:10px;width:160px;text-align:left;}
.pomoc:hover span{display:block;}
.orginal_kopia {
width:100%;
height:40px;
padding-top:10px;
cleaR:left;
border-bottom:1px solid #999999;
margin-bottom:30px;
font-size:12px;
}
.orginal_kopia a:hover{text-decoration:underline;}
.orginal_kopia span{display:inline-block;width:100px;}
.orginal_kopia input{font-size:16px;border-width:0px;}
/*#original{text-align:right;width:100px;}*/
/*#copy{text-align:left;width:60px;}*/

.sprzedawca {border-right:1px solid #e5e5e5;}
.podpis{width:70%;margin:70px 15% 30px 15%;}
.podpis .opis{text-align:center;}
.podpis input{border-top:1px dotted #000;width:250px;}
.podpis .left{float:left;}
.podpis .right{float:right;}
legend {font-weight:bold;font-size:14px;}
.opis{font-size:14px;border:1px solid #fff;}
.opis:focus{border-color:#dfdfdf;color:#659ACC}
#dane_osobiste{width:100%;}
div.wiersz_danych{width:100%;clear:left;}

.wiersz_danych span{float:left;font-weight:bold;font-size:14px;margin-left:20px;}
#dane_osobiste .lewy{border-right:1px solid #e5e5e5;width:49.5%;padding-bottom:5px;}  
#dane_osobiste .prawy{margin-left:-1px;border-left:1px solid #e5e5e5;width:49.5%;padding-bottom:5px;}
.prawy .opis{margin-left:6%;}
#dane_osobiste .opis, .adres_dostawy .opis {
width:19%;
text-align:right;
float:left;
margin-right:0.5%;
}

.tresc {
width:69%;
border:1px solid #a9a9a9;
float:left;
}

/* menu */
ul.menu {
margin:0;
padding:0;
height:34px;
width:807px;
float:left;
}

.menu li {
display:block;
float:left;
height:33px;
position:relative;
width:147px;
list-style:none;
margin-left:-15px;
}
.menu a {
color:#fff;
display:block;
line-height:34px;
width:132px;
padding-right:15px;
background-image: url('../images/layout/menu_zak.png');
background-position:top left;
font-weight:bold;
}

.menu a:hover,.menu a.active {background-position:bottom left;}
.menu li:first-child{margin:0px;width:147px;}
.menu li:last-child a{padding:0;width:147px}





#container #lista {
width:100%;
clear:both;
text-align:left;
font-family:arial;

margin-top:20px;
}
#lista_utnij{width:100%;border-left:1px solid #b2b2b2;margin-bottom:10px;}

#lista ul {
list-style:none;
width:100%;
margin:0;
padding:0;
}



p.header {height:22px;}

p.header span {
display:block;
float:left;
height:22px;
border-right:1px solid #b2b2b2;
border-top:1px solid #b2b2b2;
border-bottom:1px solid #b2b2b2;
border-left:0px;
}
#container .podsumowanie{
margin-right:5%;
margin-top:20px;
width:356px;
float:right;
border-left:1px solid #b2b2b2; 
border-bottom:1px solid #b2b2b2;
clear:both;}

.podsumowanie input{
display:block;
float:left;
border-right:1px solid #b2b2b2;
border-bottom:0px;
border-left:0px;
border-top:1px solid #b2b2b2;
padding:2px 0;
text-align:center;
}
.head input{font-weight:bold;}
.foot input{border-top:2px solid #000;} 


#row_vat{display:none;}
.podsumowanie p{margin:0px;}


.stawka{width:101px;}
.netto{width:82px;}
.vat{width:84px;}
.brutto{width:85px;}





p.header input {
text-align:center;
font-weight:bolder;
border:0;
width:100%;
height:22px;
line-height:22px;
padding:0;
font-size:11px;
}

#lista li input {
border:0;
width:100%;
height:22px;
line-height:22px;
padding:0;
}

#lista table{max-width:100%;cleaR:left;border:1px solid #b2b2b2;border-collapse:collapse}
#lista input{width:100%;border:0px;padding:2px 0;}
#lista textarea{width:100%;border:0px;}
th input{font-weight:bold;text-align:center;font-size:11px;}
#row_position{display:none;}




#lista select {
border:0;
width:100%;
height:22px;
padding-top:2px;
}



#lista li p {
float:left;
width:70px;
border-right:1px solid #b2b2b2;
border-bottom:1px solid #b2b2b2;
height:100%
}

#lista li input:focus,#lista select:focus,#lista textarea:focus {
background-color:#dfdfdf;
}

#lista .lp {width:2.5%;}
#lista .name {width:21.5%;}
#lista .kwota {width:9%;}
#lista .kwota2 {width:7.5%;}
#lista .pkwiu {width:6%;}
#lista .ilosc {width:4%;}
#lista .akcje{width:5.1%;border:0px;line-height:22px;text-align:center;}

#lista li {
display:block;
clear:left;
width:100%;
border-bottom:1px solid red;
float:left;
}

#invoice {
border:1px solid #659acc;
padding-bottom:20px;
padding:10px 2% 20px 2%;
width:96%;
}
.kwoty{text-align:left;width:100%;margin:10px;}
.kwoty input{float:left;}
.kwoty .opis{clear:left;text-align:right;width:100px;}
.kwoty .wartosc{font-weight:bold;border:0px;width:60%;}

#container .zaplata{clear:right;width:400px;float:right;text-align:left;}
.forma{clear:left;width:100%;text-align:left;margin:5px 0}
.zaplata .calendar_main{width:100%;}
.zaplata .opis{width:25%;text-align:right;}


/* wiersze specialne */
div.row_head {
width:100%;
height:20px;
line-height:20px;
font-size:18px;
font-weight:bold;
}

div.row_info {
width:100%;
height:25px;
line-height:25px;
font-style:italic;
}

div.row_error {
width:100%;
height:25px;
line-height:25px;
font-style:italic;
color:red;
}

div.row_hidden {
width:0;
height:0;
display:none;
}

/* wiersze zwykłe */
div.row_item {
width:100%;
height:auto;
border-bottom:1px solid #000;
padding-top:1px;
padding-bottom:1px;
}

div.row_item:hover {
width:100%;
height:auto;
border-bottom:1px solid #000;
padding-top:1px;
padding-bottom:1px;
background-color:#B0C4DE;
}

div.row_auto {
width:100%;
height:auto;
padding-top:1px;
padding-bottom:1px;
}

div.col_button {
width:10%;
height:auto;
text-align:center;
}

div.col_text {
width:70%;
height:auto;
text-align:left;
}

div.col_name {
width:45%;
height:auto;
text-align:left;
}

div.col_datetime {
width:15%;
height:auto;
text-align:left;
}

div.col_item {
width:25%;
height:20px;
text-align:left;
}

div.col_half {
width:50%;
height:auto;
text-align:left;
}

/* linki akcji */
a.back {
background-image:url('../images/icons/back.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.add {
background-image:url('../images/icons/dodaj_kontrahenta.gif');
background-position:center left;
background-repeat:no-repeat;
display:inline-block;
padding-left:28px;
width:23px;
height:25px;
font-size:10px;
font-weight:normal

}

a.added {
background-image:url('../images/icons/added.png');
background-position:center left;
background-repeat:no-repeat;
display:inline-block;
padding-left:16px;
}
a.added2 {
background-image:url('../images/icons/add2.png');
background-position:center left;
background-repeat:no-repeat;
display:inline-block;
padding-left:16px;
}

a.edit {
background-image:url('../images/icons/edit.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.del {
background-image:url('../images/icons/delete.png');
background-position:center left;
background-repeat:no-repeat;
display:inline-block;
padding-left:16px;
}

a.delete {
background-image:url('../images/icons/delete.png');
background-position:center left;
background-repeat:no-repeat;
display:inline-block;
padding-left:16px;
}

a.invoice {
background-image:url('../images/icons/invoice.png');
background-position:center left;
background-repeat:no-repeat;
padding-left:20px;
}

a.view {
background-image:url('../images/icons/view.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.resend {
background-image:url('../images/icons/resend.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.plus {
background-image:url('../images/icons/plus.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.minus {
background:url('../images/icons/minus.png') center left no-repeat;
display:block;
padding-left:16px;
}

a.enter {
background:url('../images/icons/enter.png') center left no-repeat;
display:block;
padding-left:16px;
}

a.close {
background:url('../images/icons/close.png') center left no-repeat;
display:block;
width:16px;
height:16px;
position:absolute;
top:-5px;
right:-5px;
}

a.download {
background-image:url('../images/icons/download.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.mail {
background-image:url('../images/icons/mail.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.page {
background-image:url('../images/icons/page.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

a.refresh {
background-image:url('../images/icons/refresh.png');
background-position:center left;
background-repeat:no-repeat;
display:block;
padding-left:16px;
}

/* stronicowanie */
.row_pager a{margin-right:5px}
a.first {
width:20px;
height:20px;
background-image:url('../images/icons/first.png');
background-position:center center;
display:block;
float:left;
}

a.prev {
width:20px;
height:20px;
background-image:url('../images/icons/prev.png');
background-position:center center;
display:block;
float:left;
}

a.next {
width:20px;
height:20px;
background-image:url('../images/icons/next.png');
background-position:center center;
display:block;
float:left;
}

a.last {
width:20px;
height:20px;
background-image:url('../images/icons/last.png');
background-position:center center;
display:block;
float:left;
}

a.pager {
height:20px;
line-height:20px;
min-width:20px;
background-color:inherit;
background-position:top left;
display:block;
float:left;
border:1px solid #fff;
}

a.pager_actual {
line-height:20px;
min-width:20px;
background-color:inherit;
background-position:top left;
display:block;
float:left;
border:1px solid #659ACC;
}

/* newsy */
div.news_img {
width:20%;
height:auto;
text-align:center;
vertical-align:middle;
}

div.news_text {
width:80%;
height:auto;
}

div.news_txt {
width:95%;
height:auto;
text-align:justify;
padding-right:10px;
padding-left:10px;
}

div.news_opt {
width:33%;
height:auto;
text-align:left;
}

div.news_name {
width:95%;
height:auto;
text-align:left;
font-weight:bolder;
}

div.news_texts {
width:95%;
height:auto;
text-align:justify;
}

div.news_answer {
width:95%;
height:auto;
text-align:center;
}

h2.news {
width:95%;
height:auto;
line-height:30px;
font-size:22px;
display:block;
text-align:left;
padding-left:10px;
}

textarea.news_text {
width:400px;
height:80px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

/***************************
							
			UPLOADER		
							
***************************/
div.uploader_progress {
width:100%;
height:20px;
padding-top:10px;
padding-bottom:10px;
display:none;
text-align:center;
}

div.uploader_right {
width:50%;
height:auto;
text-align:left;
margin-left:5px;
}

div.uploader_item {
text-align:center;
width:25%;
height:auto;
display:block;
}

div.uploader_contener {
width:0;
height:0;
position:fixed;
background-color:#ADD8E6;
}

a.uploader_download_none {
width:100%;
height:100%;
display:none;
color:inherit;
}

img.uploader_download {
width:100px;
height:auto;
display:block;
color:inherit;
}

img.uploader_download_none {
width:100px;
height:auto;
display:none;
color:inherit;
}

input.uploader_upload {
width:300px;
height:22px;
font-size:12px;
display:block;
}

input.uploader_delete {
width:100px;
height:22px;
font-size:12px;
display:block;
}

input.uploader_delete_none {
width:100px;
height:22px;
font-size:12px;
display:none;
}

/***************************
							
			FAKTURA			
							
**************************
 menu */
div.invoice_menu {
height:25px;
background:#659acc;
padding:0 2%;
width:96%;
border:1px solid #659acc;
}
.invoice_menu .pdf,.invoice_menu_bottom .pdf{background:url('../images/icons/pdf.png') right top no-repeat;height:16px;padding-right: 35px;border:0px;}

.invoice_menu .save,.invoice_menu_bottom .save{background:url('../images/icons/save-icon.png') right top no-repeat;height:16px;padding-right: 35px;border:0px;}

div.invoice_menu_bottom {
padding:0 2%;
width:96%;
height:25px;
border:1px solid #659acc;
background:#659acc;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
}
.invoice_menu_bottom a,.invoice_menu a {
font-weight:bold;
float:right;
padding:0 15px;
color:#c9e6ff;
line-height:12px;
border-right:2px solid #454545;
margin-top:7px;

}
.invoice_menu_bottom a:first-child,.invoice_menu a:first-child{border:0px;}


.invoice_menu_bottom a:hover,.invoice_menu a:hover{text-decoration:underline;color:#004485}
div.invoice_90 {width:90%;height:auto;}
div.invoice_75 {width:75%;height:auto;}
div.invoice_60 {width:60%;height:auto;}
div.invoice_40 {width:40%;height:auto;}
div.invoice_30 {width:30%;height:auto;}
div.invoice_50 {width:49%;height:auto;}
div.invoice_25 {width:25%;height:auto;}

/* wiersze z ramka */
div.invoice_b1000 {
width:100%;
height:auto;
border-bottom:1px solid #000;
}

div.invoice_b250 {
width:24.5%;
height:auto;
border-left:1px solid #000;
}

div.invoice_b200 {
width:20%;
height:auto;
border-left:1px solid #000;
}

div.invoice_b100 {
width:10%;
height:auto;
border-left:1px solid #000;
}

div.invoice_b75 {
width:7.5%;
height:auto;
border-left:1px solid #000;
}

div.invoice_b50 {
width:5%;
height:auto;
border-left:1px solid #000;
}

div.invoice_b25 {
width:2.5%;
height:auto;
border-left:1px solid #000;
}

/* pola wprowadzania danych */
input.invoice_head {
width:40%;
font-size:30px;
font-weight:bolder;
border:none;
text-align:right;
float:left;
}
.numer_fak input{font-family:arial}
.numer_fak{width:52%;padding-top:20px;font-family:arial}
.numer_fak .invoice_data{float:left;width:40.5%;border-width:0 0 1px 0;font-size:24px;margin-top:7px;}

input.invoice_normal {
width:99%;
height:20px;
font-size:12px;
border:none;
text-align:right;
}

input.invoice_normal_c {
width:99%;
border:none;
text-align:center;
border-top:0px dotted #000;
}

input.invoice_normal_l {
width:99%;

font-size:14px;
border:none;
text-align:left;
}

input.invoice_data {
width:99%;
border:1px solid #A9A9A9;
text-align:left;
}

input.invoice_data_r {
width:99%;
height:16px;
font-size:12px;
border:1px solid #A9A9A9;
text-align:right;
}

input.invoice_data_rn {
width:99%;
height:16px;
font-size:12px;
text-align:right;
border:none;
}

input.invoice_data_ok {
width:99%;
height:16px;
font-size:12px;
border:1px solid #7CFC00;
text-align:left;
}

input.invoice_data_error {
width:99%;
height:16px;
font-size:12px;
border:1px solid red;
text-align:left;
}

input.invoice_prize {
width:48%;
height:16px;
font-size:12px;
border:1px solid #A9A9A9;
text-align:left;
}

select.invoice_data {
width:99%;
height:20px;
font-size:12px;
border:1px solid #A9A9A9;
text-align:left;
}

textarea.invoice_data {
width:99%;
height:17px;
font-size:12px;
border:1px solid #A9A9A9;
text-align:left;
}

a.invoice_strike {color:#A9A9A9;}

/***************************
							
			KALENDARZ		
							
***************************/
#container .place_date{width:48%;float:right;padding-top:10px;}
#container .place_date input{font-size:14px;}
.place_date .opis{width:33%;text-align:right;float:left;}
.place_date .tresc{border-width:0 0 1px 0;text-align:left;width:64%}
.place_date .wiersz_danych{padding-bottom:5px;}


div.calendar_main {
position:relative;
text-align:left;
width:61%;
}
div.calendar_main > select{margin-right:2px;} 

select.calendar_day {
width:50px;
border:1px solid #A9A9A9;
text-align:left;
}

select.calendar_month {
width:100px;
border:1px solid #A9A9A9;
text-align:left;
}

select.calendar_year {
width:60px;
border:1px solid #A9A9A9;
text-align:left;
}

input.calendar_button {
width:19px;
height:19px;
background-image:url('../images/icons/calendar.png');
border:none;
}

div.calendar_panel {
width:150px;
position:absolute;
top:20px;
left:95px;
z-index:500;
border:1px solid #000
}

div.calendar_navi {
width:100%;
height:18px;
background-color:#4169E1;
}

div.calendar_name {
width:140px;
height:20px;
padding-left:5px;
padding-right:5px;
background-color:#B0C4DE;
font-weight:bold;
}

div.calendar_days {
width:140px;
height:100%;
padding-left:5px;
padding-right:5px;
cursor:pointer;
background-color:#fff
}
div.calendar_days div, div.calendar_name div{
width:20px;
height:20px;
line-height:20px;
text-align:center;
font-size:10px;
}

div.calendar_day {}
div.calendar_dayn {color:#ff0000;}

div.calendar_dayt {
width:20px;
height:20px;
line-height:20px;
text-align:center;
font-size:10px;
background-color:#659ACC;
font-weight:bold;
}

div.calendar_buttonp {
width:16px;
height:18px;
background-image:url('../images/icons/calendar_prev.png');
}

div.calendar_buttonn {
width:16px;
height:18px;
background-image:url('../images/icons/calendar_next.png');
}

div.calendar_pdate {
width:118px;
height:18px;
}

select.calendar_pmonth {
width:68px;
height:16px;
font-size:9px;
border:1px solid #A9A9A9;
text-align:left;
}

select.calendar_pyear {
width:50px;
height:16px;
font-size:9px;
border:1px solid #A9A9A9;
text-align:left;
}

/***************************
							
			PANEL			
							
**************************
 menu */
div.panel_menu {
width:100%;
height:20px;
line-height:20px;
background-color:#4169E1;
}

div.panel_menu_col {
width:20%;
height:20px;
line-height:20px;
position:relative;
}

div.panel_menu_col:hover {
width:20%;
height:20px;
background-color:#7B68EE;
}

div.panel_menu_col_activ {
width:20%;
height:20px;
line-height:20px;
position:relative;
background-color:#00F;
}

div.panel_menu_contener {
width:100%;
height:auto;
position:absolute;
top:20px;
display:none;
background-color:#D2691E;
}

div.panel_menu_item {
width:100%;
height:20px;
line-height:20px;
}

div.panel_menu_item:hover {
width:100%;
height:20px;
background-color:#FF4500;
}

div.panel_menu_item_activ {
width:100%;
height:20px;
background-color:#DC143C;
line-height:20px;
}

/* abonament */
select.data_lic_select {
width:400px;
font-size:12px;
text-align:left;
}

input.client_send_check {
width:20px;
}

div.client_send_list {
width:100%;
height:150px;
overflow-y:scroll;
}

div.product_cat_name {
width:95%;
height:auto;
text-align:left;
}

input.product_cat_text {
width:250px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

/* dodawanie produktów */
input.product_add_text {
width:300px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

input.product_add_text_ok {
width:300px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid #7CFC00;
}

input.product_add_text_error {
width:300px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid red;
}

textarea.product_add_text {
width:300px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

textarea.product_add_text_ok {
width:300px;
font-size:12px;
text-align:left;
border:1px solid #7CFC00;
}

textarea.product_add_text_error {
width:300px;
font-size:12px;
text-align:left;
border:1px solid red;
}

select.product_add_select {
width:300px;
font-size:12px;
text-align:left;
}

select.product_list_select {
width:200px;
font-size:12px;
text-align:left;
}

div.invoice_list_mail {
width:600px;
height:auto;
display:none;
position:absolute;
background-color:#F0FFF0;
border:1px solid #000;
}

select.invoice_search_month {
width:100px;
font-size:12px;
text-align:left;
}

select.invoice_search_year {
width:100px;
font-size:12px;
text-align:left;
}

/***************************
							
			GALERIE			
							
**************************
 standard */
div.gallery_s_main {
width:800px;
height:600px;
position:fixed;
background-color:#F0FFF0;
border:1px solid #000;
display:none;
}

div.gallery_s_img {
position:relative;
overflow:hidden;
width:0;
height:0;
}

div.gallery_s_name {
width:100%;
height:30px;
}

div.gallery_s_prev {
width:30px;
height:100%;
background-image:url('../images/icons/prev_off.gif');
background-repeat:no-repeat;
background-position:center center;
}

div.gallery_s_prev:hover {
background-image:url('../images/icons/prev_on.gif');
}

div.gallery_s_next {
width:30px;
height:100%;
background-image:url('../images/icons/next_off.gif');
background-repeat:no-repeat;
background-position:center center;
}

div.gallery_s_next:hover {
background-image:url('../images/icons/next_on.gif');
}

div.gallery_s_list {
width:100px;
height:79px;
overflow:hidden;
}

div.gallery_s_item {
width:64px;
height:64px;
padding:5px;
}

div.gallery_s_items {
width:64px;
height:64px;
padding:5px;
background-color:#7CFC00;
}

div.gallery_s_bottom {
position:absolute;
bottom:0;
}

img.gallery_s_img {
max-width:64px;
max-height:64px;
}

img.gallery_s_big {
position:absolute;
top:5px;
left:5px;
}

a,a:hover {
text-decoration:none;
color:#000;
}

#lista p {
margin:0;
}

#lista .jm,#lista .vat {
width:5%;
}

div.row_action,div.client_list_hidden,div.product_list_show,div.invoice_list_show {
width:100%;
height:25px;
line-height:25px;
font-size:12px;
font-weight:bold;
}

div.row_action_hidden,div.client_list_show,div.product_list_hidden,div.invoice_list_hidden {
width:100%;
height:25px;
line-height:25px;
font-size:12px;
font-weight:bold;
display:none;
}

div.row_pager,div.gallery_s_close,div.gallery_s_counter {
width:100%;
height:20px;
}    

div.col_left,div.insert_left {
width:18%;
height:auto;
text-align:right;
}

div.col_right,div.insert_right {
width:204px;
height:auto;
text-align:left;
margin-left:5px;
}

div.col_number,div.col_date {
width:20%;
height:auto;
text-align:left;
}

input.reg_text,input.login_text,input.data_gen_text,input.client_add_text,input.client_list_text,input.product_list_text,input.invoice_list_text,input.invoice_search_text,input.captcha_code {
width:200px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

input.reg_text_ok,input.login_text_ok,input.data_gen_text_ok,input.client_add_text_ok,input.client_list_text_ok,input.product_list_text_ok,input.invoice_list_text_ok,input.invoice_search_text_ok,input.captcha_code_ok {
width:200px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid #7CFC00;
}

input.reg_text_error,input.login_text_error,input.data_gen_text_error,input.client_add_text_error,input.client_list_text_error,input.product_list_text_error,input.invoice_list_text_error,input.invoice_search_text_error,input.captcha_code_error {
width:200px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid red;
}

input.reg_send,input.login_send,input.news_add,input.news_cancel,input.invoice_search,input.data_gen_save,input.data_gen_cancel,input.data_extra_save,input.data_extra_cancel,input.data_lic_next,input.client_add_add,input.client_add_cancel,input.client_list_save,input.client_list_cancel,input.client_list_search,input.client_send_cancel,input.client_send_submit,input.product_add_add,input.product_add_cancel,input.product_list_save,input.product_list_cancel,input.product_list_search,.input.invoice_list_send,input.invoice_list_close {
width:100px;
height:22px;
font-size:12px;
}

div.news_tree,div.product_cat_tree {
width:100%;
height:auto;
text-align:left;
padding-left:20px;
padding-top:1px;
padding-bottom:1px;
}

div.news_button,div.product_cat_button {
width:5%;
height:auto;
text-align:right;
}

input.news_text,input.client_send_text {
width:400px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

div.uploader_left,div.uploader_del {
width:40%;
height:auto;
text-align:center;
}

div.uploader_box,div.gallery_s_middle {
width:100%;
height:100%;
}

a.uploader_download,a.panel_menu {
width:100%;
height:100%;
display:block;
color:inherit;
}

div.invoice_100,div.client_list_search {
width:100%;
height:auto;
}

div.invoice_20,div.invoice_10 {
width:10%;
height:auto;
}

div.invoice_client,div.invoice_prod {
width:800px;
height:auto;
position:absolute;
background-color:#F0FFF0;
border:1px solid #000;
}

a.invoice_client,a.invoice_prod {
width:95%;
height:20px;
display:block;
text-align:left;
padding-left:10px;
}

a.invoice_letter,a.client_list_letter,a.client_send_letter,a.product_list_letter,a.invoice_list_letter,a.invoice_search_letter {
width:20px;
height:20px;
display:inline;
}

a.invoice_letter_activ,a.client_list_letter_activ,a.client_send_letter_activ,a.product_list_letter_activ,a.invoice_list_letter_activ,a.invoice_search_letter_activ {
width:20px;
height:20px;
display:inline;
font-weight:bolder;
}

div.calendar_day:hover,div.calendar_dayn:hover {        
font-weight:bold;
background-image:url('../images/layout/cal_hover.png');
}

textarea.data_gen_text,textarea.client_add_text,textarea.client_list_text,textarea.product_list_text {
width:200px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

textarea.data_extra_text,textarea.client_send_text {
width:400px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

div.product_cat_add,div.product_cat_edit {
width:650px;
height:30px;
line-height:30px;
background-color:#708090;
display:none;
position:absolute;
top:0;
z-index:500;
}

input.product_cat_add,input.product_cat_save,input.product_cat_cancel {
width:75px;
height:22px;
font-size:12px;
}

input.product_list_prize,input.product_search_min {
width:94px;
height:16px;
font-size:12px;
text-align:left;
border:1px solid #A9A9A9;
}

div.product_list_search,div.invoice_search_search {
width:100%;
height:auto;
display:none;
}


.coment{width:100%;}
.coment .opis{float:left;width:100%;}
.coment textarea{width:100%;}


.serwisy{width:100%;border-bottom:1px solid #cccccc;height:40px;padding:5px 0;margin:0 0 12px 0;;}
#foot{width:100%;padding-bottom:20px;font-family:arial;}
#foot a{font-weight:bold;color:#5097ce;}
#foot a:hover{text-decoration:underline;}

#container  .logowanie{width:310px;float:right;position:relative;}
.logowanie label{width:140px;display:block;floaT:left;text-align:left;margin-left:10px;margin-bottom:5px;}
.logowanie span a{text-decoration:underline;color:red;font-weighT:bold;}
.logowanie span a:hover{text-decoration:none;}
.logowanie span{font-size:14px;float:right;}
label input{width:132px}

.logowanie ul{float:right;padding:0px;margin:0px;list-style:none;margin-bottom:5px;}
.logowanie li{float:left;padding:0 10px;border-right:1px solid #5097ce }
.logowanie  li:last-child{border:none;}
.logowanie a:hover{text-decoration:underline;}
.logowanie li a{font-size:14px;color:#5097ce;}
.logowanie li a:hover{text-decoration:underline;color:#ff0000;}
#logowanie{border:1px solid #dfdfdf;padding:5px 0;background:#fff;position:absolute;top:25px;z-index:3;display:none}
#remember{margin-left:10px;}
input[type="submit"],input[type="button"]{font:12px "Lucida Grande","Lucida Sans Unicode",Geneva,Arial,Verdana,sans-serif;}
.panel_menu{
text-align:right;
margin:0px;
float:left;
background:#659ACC;
height:25px;
padding:0 2%;
width:96%;
clear:both;
display:block;
border:1px solid #659ACC;
list-style:none;}

.panel_menu > li:first-child span{border:0px;}
.panel_menu > li{
margin-top:2px;

color:#C9E6FF;
font-weight:bold;
display:block;
float:right;
position:relative;

}
.panel_menu > li span{
display:block; 
padding:0 30px 0 15px;
height:20px;
line-height:20px;
border-right:2px solid #454545;


}



.panel_menu li:hover ul{display:block}

.panel_menu ul{display:none;
position:aboslute;
top:20px;
margin:0px;
padding:0 5px;
background:#659ACC;
list-style:none;

text-align:left;}
.panel_menu > li.active span{text-decoration:underline;color:#004485}
.panel_menu ul li{line-height:22px;border-bottom:1px solid #cfcfcf}
.panel_menu ul li:last-child{border:none;}
.panel_menu  ul li.active a,.panel_menu  a:hover{color:#C9E6FF;}

.panel_menu .ainvoice{background: url('../images/icons/faktury.png') 155px 0px no-repeat;}
.panel_menu .aproduct{background: url('../images/icons/product.png') 165px 0px no-repeat;}
.panel_menu .adata{background: url('../images/icons/dane.png') 138px 0px no-repeat;}
.panel_menu .aclient{background: url('../images/icons/client.png') 186px 0px no-repeat;}



table{width:100%;cleaR:left;border:1px solid #659ACC;border-collapse:collapse;}
td{border:1px solid #659ACC;padding:5px 5px}
th{border:1px solid #659ACC;padding:5px 5px;background:#a6c6e6}
th input{background:#a6c6e6}
tr.parzysty td{background:#DFF0FF}
tr.dziesiaty td{border-bottom:2px solid #659ACC}
tr:hover td{background:#7FC6FF}
.month{float:left;margin-left:10px;text-align:left;}
.alphabet{float:right;margin-right:10px;text-align:left;}
.alphabet a{text-transform:uppercase; }
.alphabet a.all{text-transform:none;}
#zakres_faktur a{color:#0C73CF;border-right:1px solid #0C73CF;padding-right:6px;padding-left:2px}
#zakres_faktur a.all{font-weight:bold;}
#zakres_faktur a.activ{font-weight:bold;color:#000}
#zakres_faktur a:hover,#zakres_faktur a.activ{text-decoration:underline;}
#zakres_faktur{margin:10px 0;width:100%}

#invoice .month_search{width:284px;float:right}
.month_search .insert_left{width:75px}
#invoice .all_search{width:69%;float:left;}
.all_search .wiersz_danych{margin-bottom:5px;}
input.invoice_search_search,.invoice_list_search{floaT:left;margin-left:7px;}
#invoice .all_search div.calendar_main{width:241px;}

 .ukryj{display:none;}
.all_search .pokaz, .all_search .ukryj{margin-left:20%;padding-left:5px;clear:left;font-weight:bold}