


<div class="ramka container-fluid" id="contact">
	<div class="row">
		<div class="col-md-6 pageSection">
			<h4 class="title ">{$lang.title}</h4>
			<img src="images/layout/logoavano.jpg" class="img-responsive" title="Tworzenie stron i aplikacji internetowych" alt='Logo firmy Avano'/><br>
			<address>
				<p class="lead">{$dane.address}</p>
				<p class="lead">{$dane.contact}</p>
				<p class="lead">{$dane.text}</p>
			</address>
		</div>

		<div class="col-md-6 pageSection contactForm">
			<h4 class="title">{$lang.form}</h4>
			<div id="miejsce_formularza">
			</div>
		</div>
	</div>
</div>
