<script type="text/javascript" src="module/user/send/class.js"></script>
{if $action=="send"}
{if $smarty.get.par5}<div class="row_action"><a href="user_send/" title="{$lang.back}" class="back">{$lang.back}</a></div>{/if}
<div class="row_action"><a href="user_send/last/" title="{$lang.last}">{$lang.last}</a></div>
<form action="" onsubmit="javascript: return user_send_obj.submit();" id="user_form">
<fieldset style="width:94%;">
{*<div class="row_head">{$lang.head}</div> *}
<legend>Treśc wiadomości</legend>

<div class="row_auto">
	<label>{$lang.topic}:</label>
	<input type="text" name="topic" id="topic" value="{$msg->topic}" class="user_text"  style="width:875px" />
</div>
<div class="row_auto">
	<label>{$lang.text}:</label>
	<textarea cols="" rows="10" name="text" id="text" class="user_text" style="width:875px">{$msg->text}</textarea>
</div>
</fieldset>
<fieldset style="width:94%;">
	<input type="reset" value="{$lang.cancel}" class="user_cancel" />
	<input type="submit" value="{$lang.send}" class="user_submit" />
</fieldset>
<fieldset style="min-heighT:400px;width:94%;">
<legend>{$lang.client}</legend>

<div class="row_auto">
	<label style="float:left;">{$lang.search}: <div class="row_info" id="count_users" style="width:auto;float:right;">{$lang.count|replace:"[count]":"0"}</div></label>
	<input type="text" value="" class="user_text" onkeyup="javascript: user_send_obj.search(this.value);" />
</div>

{if $msg->id}
 <div class="row_auto">
  <a href="user_send/-/" title="wszystkie">[-]</a>
  {foreach item=i from=$letters}<a href="user_send/resend/{$msg->id}/{$i}/" title="{$i}">{if $letter==$i}<b>[{$i}]</b>{else}[{$i}]{/if}</a>{/foreach}
</div>
{else}
<div class="row_auto">
  <a href="user_send/-/" title="wszystkie">[-]</a>
  {foreach item=i from=$letters}<a href="user_send/resend/{$msg->id}{$i}/" title="{$i}">{if $letter==$i}<b>[{$i}]</b>{else}[{$i}]{/if}</a>{/foreach}
</div>
{/if}

<div class="user_list">
	<div class="row_auto" id="item_list">
	{* nie ruszać spanów i diva z klasą col_item *}
	{foreach item=i from=$dane}
	<div class="col_item"><input type="checkbox" name="user_send[]" value="{$i->id}" {if in_array($i->id,$user)}checked="checked"{/if} class="user_check" onclick="javascript: user_send_obj.count();" /><span>{$i->login}</span></div>
	{/foreach}
	</div>
</div>
</fieldset>

<div class="row_auto"><input type="checkbox" class="user_check" onclick="javascript: user_send_obj.select_all(this.checked)" />{$lang.all}</div>
{* buttony zapisu *}

</form>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="count" value="{$lang.count}" />
	<input type="hidden" id="err_topic" value="{$lang.err_topic}" />
	<input type="hidden" id="err_text" value="{$lang.err_text}" />
	<input type="hidden" id="err_users" value="{$lang.err_users}" />
	<input type="hidden" id="send_ok" value="{$lang.send_ok}" />
	<input type="hidden" id="send_error" value="{$lang.send_error}" />
</div>
<script type="text/javascript">user_send_obj.count();</script>
{elseif $action=="last"}
<div class="row_head">{$lang.last}</div>
<div class="row_action"><a href="user_send/" title="{$lang.back}" class="back">{$lang.back}</a></div>
<div id="literki">
	<a href="user_send/last/" title="{$lang.all_last}" class="all">{$lang.all_last}</a>
{foreach item=i from=$letter}
	{if $i==$smarty.get.par6}<a href="user_send/last/1/{$i}/" title="{$i}" class="ctiv">{$i}</a>
	{else}<a href="user_send/last/1/{$i}/" title="{$i}" class="user_letter">{$i}</a>{/if}
{/foreach}

</div>
<table class="tabela">	
<tr>
<th class="first">Temat</th>
<th>Data</th>
<th>Zobacz</th>
<th class="last">Wyslij</th>
</tr>
{foreach item=i from=$dane}
<tr>
	<td class="first"><a href="user_send/view/{$i->id}/" title="{$lang.view}">{$i->topic}</a></td>
	<td>{$i->date}</td>
	<td><a href="user_send/view/{$i->id}/" title="{$lang.view}" class="view">{$lang.view}</a></td>
	<td class="last"><a href="user_send/resend/{$i->id}/" title="{$lang.resend}" class="resend">{$lang.resend}</a></td>
</tr>
{/foreach}
</table>
{include file="../../module/pager/standard.html" page=$page pages=$last prefix="user_send/last/" surfix="$sign"}
{elseif $action=="view"}
<div class="row_action"><a href="user_send/" title="{$lang.back}" class="back">{$lang.back}</a></div>
<div class="row_action"><a href="user_send/resend/{$smarty.get.par5}/" title="{$lang.resend}" class="resend">{$lang.resend}</a></div>
<div class="row_head">{$msg->topic}</div>
<div class="row_auto">{$msg->date}</div>
<div class="row_auto">{$msg->text}</div>
<div class="row_action">{$lang.client}</div>
<div class="row_auto">
{foreach item=i from=$user}
<div class="col_item">{$i.name}</div>
{/foreach}
</div>
{/if}