<div class="container-fluid">
<script type="text/javascript" src="module/panel/invoice_org/class.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
<div class="ramka">
<h3>{$lang.head}</h3>
<div id="save_ok_error" class="alert alert-success"></div>
<div id="save_error_error" class="alert alert-danger"></div>


<form action="" id="invoice_org_from" onsubmit="javascript: return panel_invoice_org_obj.submit()">

<table class="table table-striped table-hover table-bordered lista">
	<tr>
	<th class="text-center">{$lang.nagl5}</th>
	<th class="text-center">Nazwa firmy</th>
	<th>Co ile?</th>
	<th>Częstotliwość</th>
	<th>{$lang.time_start}</th>
	<th>Wystawi się</th>
	<th class="text-center">{$lang.nagl6}</th>
	</tr>
	{foreach item=i key=k from=$data}
	<tr>
			<td class="text-center"><a href="invoice/{$i->invoice_id}/" title="{$lang.view}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
			<td><a href="panel/invoice/list/client/{$i->client_url}/" title="{$i->client}">{$i->client}</a></td>
			<td style="width:10%;"><input type="text" value="{$i->value}" name="period_value{$k}" id="period_value{$k}" onkeypress="javascript: return panel_invoice_org_obj.insert_prize(event,this.id);" class="form-control" /></td>
			<td><select name="period_time{$k}" class="form-control">
				<option value="day" {if $i->period=="day"}selected="selected"{/if}>{$lang.time_day}</option>
				<option value="week" {if $i->period=="week"}selected="selected"{/if}>{$lang.time_week}</option>
				<option value="month" {if $i->period=="month"}selected="selected"{/if}>{$lang.time_month}</option>
				<option value="year" {if $i->period=="year"}selected="selected"{/if}>{$lang.time_year}</option>
			</select></td>
			<td style="max-width:420px;width:25%"><div style="width:400px"><script type="text/javascript">calendar.create('period_start{$k}','{$i->date_start}');</script></div></td>
			<input type="hidden" name="period_id{$k}" value="{$i->id}" />
		<td class="text-center">{$i->date_next}</td>

		<td class="text-center"><a href="panel/invoice/org/del/{$i->id}/" title="{$lang.del}" onclick="javascript: return confirm_del();"><span class="glyphicon glyphicon-remove"></span></a></td>
	</tr>
	{/foreach}
</table>
<div class="text-right">
	<input type="submit" value="{$lang.save}" class="btn orangeButton" />
	<br><br><br>
</div>
</form>
</div>
{* komunikaty *}
<div class="row_hidden">
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="user_id" value="{$user_id}" />
</div>
</div>
