<div class="container-fluid">
<div class="ramka" id="wyszukiwarka_faktur">
	<script type="text/javascript" src="module/panel/invoice_period/class.js"></script>
	<script type="text/javascript" src="jscript/valid_data.js"></script>
	<script type="text/javascript" src="jscript/calendar.js"></script>
	{* dane kontrahenta *}
	{if $client_data->id}
	<div id="dane_kontrahenta">
		<span class="naglowek" style="font-size:16px;">{$lang.c_head}: <span style="color:#111">{$client_data->name} | <a href="client/list/edit/{$client_data->id}/" style="font-size:12px">{$lang.nagl3}</a></span>
		<span id="prev_next" style="float:right">
		{if $prev_c}<a href="panel/invoice/period/{$prev_c}/1/dc/" title="" class="prev">{$lang.prev}</a>{/if}
		{if $next_c}<a href="panel/invoice/period/{$next_c}/1/dc/" title="" class="next">{$lang.next}</a>{/if}
		</span>
		</span>
		{if $client_data->name != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_name}:</div>
			<div class="col-sm-9"><strong>{$client_data->name}</strong></div>
		</div>
		{/if}
		{if $client_data->address != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_address}:</div>
			<div class="col-sm-9"><strong>{$client_data->address}</strong></div>
		</div>
		{/if}
		{if $client_data->nip != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_nip}:</div>
			<div class="col-sm-9"><strong>{$client_data->nip}</strong></div>
		</div>
		{/if}
		{if $client_data->phone != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_phone}:</div>
			<div class="col-sm-9"><strong>{$client_data->phone}</strong></div>
		</div>
		{/if}
		{if $client_data->email != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_email}:</div>
			<div class="col-sm-9"><strong>{$client_data->email}</strong></div>
		</div>
		{/if}
		{if $client_data->krs != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_krs}:</div>
			<div class="col-sm-9"><strong>{$client_data->krs}</strong></div>
		</div>
		{/if}
		{if $client_data->bank_name != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_bank_name}:</div>
			<div class="col-sm-9"><strong>{$client_data->bank_name}</strong></div>
		</div>
		{/if}
		{if $client_data->account != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_account}:</div>
			<div class="col-sm-9"><strong>{$client_data->account}</strong></div>
		</div>
		{/if}
	</div>
	{/if}


	{* wyszukiwarka *}
	<div class="row">
		<div class="col-sm-9">
			<h3>{$lang.head}</h3>
			<h4>{$lang.nagl4} {*|  <a href="panel/invoice/period/{$par4}/{$client}/1/dc/" title="{$lang.all}">{$lang.all}</a>*}

			{if $client_data->id} | <a style="display:block;clear:left;" href="panel/invoice/list/client/{$client_data->id}/" title="{$lang.page}">{$lang.page}</a>{/if}</h4>
				<div class="col-sm-4 form-group">
					<label>{$lang.number}:</label>
					<input type="text" id="number" value="{$search.number}" class="form-control" />
				</div>
				<div class="col-sm-4 form-group">
					<label>{$lang.name}:</label>
					<input type="text" id="name" value="{$search.name}" class="form-control" />
				</div>
				<div class="col-sm-4 form-group">
					<label>{$lang.nip}:</label>
					<input type="text" id="nip" value="{$search.nip}" class="form-control" onkeypress="javascript: return valid_data.check_nip(event);" />
				</div>
			<div class="invoice_period_search" id="search" style="display:none">
				<div class="col-sm-4">
					<label>{$lang.date_add}:</label>
					<div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl6}</span><script type="text/javascript">calendar.create('dadd_min','{$search.damin}');</script></div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl7}</span><script type="text/javascript">calendar.create('dadd_max','{$search.damax}');</script></div>
					</div>
				</div>
				<div class="col-sm-4">
					<label>{$lang.date_sell}:</label>
					<div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl6}</span><script type="text/javascript">calendar.create('dsell_min','{$search.dsmin}');</script></div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl7}</span><script type="text/javascript">calendar.create('dsell_max','{$search.dsmax}');</script></div>
					</div>
				</div>
				<div class="col-sm-4">
					<label>{$lang.sum}:</label>
					<div class="row">
						<div class="col-sm-6">
							<input type="text" id="sum_min" value="{$search.smin}" class="form-control" onkeypress="javascript: return panel_invoice_period_obj.insert_prize(event,this.id);" placeholder="od"/>
						</div>
						<div class="col-sm-6">
							<input type="text" id="sum_max" value="{$search.smax}" class="form-control" onkeypress="javascript: return panel_invoice_period_obj.insert_prize(event,this.id);"  placeholder="do" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<a class="zwin_rozwin" id="search_show" style="clear:both;" onclick="javascript: panel_invoice_period_obj.show_search();">{$lang.nagl5} ({$lang.showed}) <span class="glyphicon glyphicon-chevron-down"></span></a>
				<a class="zwin_rozwin" style="display:none;clear:both;" id="search_hidden" onclick="javascript: panel_invoice_period_obj.hidden_search();">{$lang.nagl5} ({$lang.hidden}) <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-sm-6 text-right">
				<input type="button" id="wyszukaj_faktury" value="{$lang.search}" onclick="javascript: panel_invoice_period_obj.search();" class="btn orangeButton" />
			</div>
		</div>
		<div class="col-sm-3 text-left">
			<h4>{$lang.nagl8}</h4>
			{* podział na miesiące *}
			<div class="row">
				<div class="col-sm-6 form-group">
					<label for="month">Miesiąc:</label>
					<select id="month" class="form-control">
					{foreach item=i key=k from=$months}<option value="{$k}" {if $search.dcm==$k}selected="selected"{/if}>{$i}</option>{/foreach}
					</select>
				</div>
				<div class="col-sm-6 form-group">
					<label for="year">Rok:</label>
					<select id="year" class="form-control">
					{section name=a loop=$ys max=$ys-2010 step=-1}<option value="{$smarty.section.a.index}" {if $search.dcy==$smarty.section.a.index}selected="selected"{/if}>{$smarty.section.a.index}</option>{/section}
					</select>
				</div>
			</div>
			<div class="row">
				<label class="col-sm-3">{$lang.type}:</label>
				<div class="col-sm-9">
					<label for="type_c" class="do_radio"><input type="radio" name="type" id="type_c" {if $search.type=="c"}checked="checked"{/if} /> {$lang.dcreate}</label><br />
					<input type="radio" name="type" id="type_a" {if $search.type=="a"}checked="checked"{/if} /> <label for="type_a" class="do_radio">{$lang.dadd}</label><br />
					<input type="radio" name="type" id="type_s" {if $search.type=="s"}checked="checked"{/if}  /> <label for="type_s" class="do_radio">{$lang.dsell}</label><br />
				</div>
			</div>
			<div class="text-right">
				<input type="button" value="{$lang.show}" onclick="javascript: panel_invoice_period_obj.show();" class="btn orangeButton" />
			</div>
		</div>
	</div>
</div>
{* pasek miesięcy *}
<div class="row">
	<div class="btn-group col-sm-7">
		{if !$smarty.get.par8}
			<a href="panel/invoice/period/{$par4}/{$client}/" title="{$lang.all_l}" class="btn btn-primary btn-xs disabled">{$lang.all_l}</a>
		{else}
			<a href="panel/invoice/period/{$par4}/{$client}/" title="{$lang.all_l}" class="btn btn-default btn-xs">{$lang.all_l}</a>
		{/if}
	{foreach item=i key=k from=$months}
		{if $k==$search.dcm AND $smarty.get.par8}<a href="#" title="{$i}" class="btn btn-primary btn-xs disabled">{$i}</a>
		{else}<a href="#" title="{$i}" onclick="javascript: return panel_invoice_period_obj.show_month('{$k}');" class="btn btn-default btn-xs">{$i}</a>{/if}
	{/foreach}
	</div>
	{* litery *}
	{if !$client_data->id}
	<div class="col-sm-5 text-right">
		<div class="btn-group alphabet">
			{if !$smarty.get.par7}
				<a href="panel/invoice/period/{$client}/1/dc/-/{$par8}" title="{$lang.all_l}" class="btn btn-primary btn-xs disabled">{$lang.all_l}</a>
			{else}
				<a href="panel/invoice/period/{$client}/1/dc/-/{$par8}" title="{$lang.all_l}" class="btn btn-default btn-xs">{$lang.all_l}</a>
			{/if}
		{foreach item=i from=$letter}
			{if $i==$smarty.get.par7}<a href="panel/invoice/period/{$client}/1/dc/{$i}/{$par8}" title="{$i}" class="btn btn-primary btn-xs disabled">{$i}</a>
			{else}<a href="panel/invoice/period/{$client}/1/dc/{$i}/{$par8}" title="{$i}" class="btn btn-default btn-xs" >{$i}</a>{/if}
		{/foreach}
		</div>
	</div>
	{/if}
</div>
{* sortowanie *}

{* lista faktur *}
<table class="table table-striped table-hover table-bordered lista">
	<tr>
		{*<th class="text-center">{$lang.nagl9}</th>
		<th class="text-center">{$lang.nagl16}</th>*}
		<th class="text-center">{$lang.nagl15}</th>
		<th>{$lang.nagl10}</th>
		<th>{$lang.nagl11}</th>
		<th>{$lang.nagl12}</th>
		<th><a href="panel/invoice/period/{$par4}/{$client}/1/{if $sort=='dc'}ac{else}dc{/if}/{$par7}/{$par8}" title="{$lang.dcreate}">{$lang.dcreate} {if $sort=='dc'}&uArr;{else}&dArr;{/if}</a></th>
		<th><a href="panel/invoice/period/{$par4}/{$client}/1/{if $sort=='da'}aa{else}da{/if}/{$par7}/{$par8}" title="{$lang.dadd}">{$lang.dadd} {if $sort=='da'}&uArr;{else}&dArr;{/if}</a></th>
		<th><a href="panel/invoice/period/{$par4}/{$client}/1/{if $sort=='ds'}as{else}ds{/if}/{$par7}/{$par8}" title="{$lang.dsell}">{$lang.dsell} {if $sort=='ds'}&uArr;{else}&dArr;{/if}</a></th>
		<th class="text-center">{$lang.nagl14}</th>
	</tr>
	{foreach item=i from=$dane name=a}
	<tr {if $smarty.foreach.a.index+1 is even}class="parzysty {if ($smarty.foreach.a.index+1) is div by 10}dziesiaty{/if}"{/if}  >
		{*<td  class="text-center"><a href="#" onclick="javascript: return panel_invoice_period_obj.save_pdf({$i->id});" title="{$lang.download}"><span class="glyphicon glyphicon-file"></span></a></td>
		<td class="text-center">{if $i->client}<a href="#"  onclick="javascript: return panel_invoice_period_obj.sendm({$i->id},{$i->client},{$user_id});" title="{$lang.sendm}"><span class="glyphicon glyphicon-envelope"></span></a>{/if}</td>*}
		<td class="text-center"><a href="panel/invoice/list/is_ok/{$i->id}/" title="{$lang.is_ok}"><span class="glyphicon glyphicon-ok"></span></a></td>
		<td><a href="invoice/{$i->id}/" title="{$lang.view} {$i->number}"><span class="glyphicon glyphicon-eye-open"></span> {$i->number}</a></td>
		<td class="text-right"><a href="invoice/{$i->id}/" >{$i->sum|string_format:"%.2f"} zł</a></td>
		<td class="text-center"><a href="panel/invoice/list/client/{if $i->client}{$i->client}{else}{$i->client_url}{/if}/" title="{$i->client_name}">{if $i->client_name}{$i->client_name}{else}{$lang.other}{/if} - {$i->nip}</a></td>
		<td class="text-center"><a href="invoice/{$i->id}/" title="{$i->date_create}">{$i->date_create}</a></td>
		<td class="text-center"><a href="invoice/{$i->id}/" title="{$i->date_add}">{$i->date_add}</a></td>
		<td class="text-center"><a href="invoice/{$i->id}/" title="{$i->date_sell}">{$i->date_sell}</a></td>
		<td class="text-center"><a href="panel/invoice/list/del/{$i->id}/" title="{$lang.view}" onclick="javascript: return confirm_del();"><span class="glyphicon glyphicon-remove"></span></a></td>
	</tr>
	{/foreach}
</table>
{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/invoice/period/$par4/" surfix="$sign"}

{* wybranie co drukować *}
<div class="invoice_client" id="what_print" style="display:none;">
	<a onclick="javascript: this.parentNode.style.display='none';" ><span class="glyphicon glyphicon-remove close"></span></a>
	<h3>{$lang.save_menu0}</h3>
	<div class="what_print_line"><input type="radio" name="what_p" value="1" id="print1" checked="checked" /><label for="print1">{$lang.save_menu1}</label></div>
	<div class="what_print_line"><input type="radio" name="what_p" value="2" id="print2" /><label for="print2">{$lang.save_menu2}</label></div>
	<div class="what_print_line"><input type="radio" name="what_p" value="3" id="print3" /><label for="print3">{$lang.save_menu3}</label></div>
	<div class="what_print_line"><input type="radio" name="what_p" value="4" id="print4" /><label for="print4">{$lang.save_menu4}</label></div>
	<div class="text-center">
		<br>
		<input type="button" class="btn orangeButton" value="{$lang.save_menu5}" onclick="javascript: return panel_invoice_period_obj.save_pdf_end();" />
		<br>
		<br>
	</div>
</div>
{* komunikaty *}
<div class="row_hidden">
	<input type="hidden" id="client" value="{$client}" />
	<input type="hidden" id="letter" value="{$par7}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="send_ok" value="{$lang.send_ok}" />
	<input type="hidden" id="send_error" value="{$lang.send_error}" />
	<input type="hidden" id="send_null" value="{$lang.send_null}" />
	<input type="hidden" id="delete" value="Czy na pewno chcesz usunąć tę fakturę?" />
</div>
</div>
