<div style="display:none;"></div>
<div id="newsy_schowane">

{if count($dane)}

<div id='newsSliderContent'class="newsSliderContent" style='width:100%;'>
<div class="slider">
	{foreach item=i from=$dane name=a key=k }
			<div class='newsItem item' style='width:50%;'>
				{*$i->date_add*}{*{$lang.comment} {$i->count_c}*}
				<a rel="nofollow" class="title" href="news/{$i->url}/{$i->id}/" title="{$i->title}">{$i->title}</a>
				<p>{$i->text|strip_tags|truncate:300:"...":true}</p>
				<a rel="nofollow" href="news/{$i->url}/{$i->id}/" title="Przejdz do '{$i->title}'" {if $k%2!=0}class="btn orangeButton"{else}class="btn blueButton"{/if}>{$lang.more}</a>
			</div>
	{/foreach}
	{*include file="../module/pager/standard.html" page=$page pages=$last prefix="news/" surfix="$sign"*}
{else}
	<div class="row_error">{$lang.none}</div>
{/if}
</div>

</div>
</div>

<script type="text/javascript" >
$('rodzic2').appendChild($('newsy_schowane'));
</script>
