<div style="width:50%;floaT:left;margin-top:10px">

<table class="tabela">

<tr>
<th colspan="2" class="first" style="border-right:0;"> {$lang.lic_inv}</th>
</tr>
{foreach item=i from=$dane name=a}
{if $smarty.foreach.a.index is even}
<tr>
{else}
<tr class="parzysty">
{/if}
	<td class="first">
	<a href="user_list/user/{$i.user_id}/" title="{$i.login}">{$i.login}</a> - <a href="../invoice/{$i.id}/">{$lang.lic_m}{$i.month}{if $i.month==1}{$lang.lic_mo}{elseif $i.month<5}{$lang.lic_mt}{else}{$lang.lic_mf}{/if}</a>
	</td>
	<td class="last">{if $i.vat=="yes"}<a href="main/end_inv/{$i.pid}/" title="{$lang.lic_end}">{$lang.lic_end}</a>{else}{$lang.lic_fin}{/if}</td>
</tr>
{/foreach}
</table>
</div>
<table style="width:45%;margin-top:10px;float:right;" class="tabela">
<tr>
<th class="first" colspan="2" style="border-right:0;">{$lang.stats}</th>
</tr>
{foreach item=i key=k from=$stats name=a}

{if $smarty.foreach.a.index is even}
<tr>
{else}
<tr class="parzysty">
{/if}
<td class="first">{$lang.$k}: </td>
<td class="last">{$i}</td>

</tr>
{/foreach}
<tr><td colspan="2"><a href="recount.php">Przelicz PDF</a></td></tr>
</table>