<div class="container-fluid px-0">
<div class="ramka" style="padding:0 0">
		<div class="col-sm-4" style="border-bottom:1px solid #539ccc; border-right:1px solid #539ccc"><strong>{$lang.invoice}</strong> <h1>{$dane.invoice}</h1></div>
		<div class="col-sm-4" style="border-bottom:1px solid #539ccc; border-right:1px solid #539ccc"><strong>{$lang.client}</strong> <h1>{$dane.client}</h1></div>
		<div class="col-sm-4" style="border-bottom:1px solid #539ccc;"><strong>{$lang.product}</strong> <h1>{$dane.product}</h1></div>
