<div class="container-fluid px-0">
<div class="ramka">
	<script type="text/javascript" src="module/panel/data_log/class.js"></script>
	<script type="text/javascript" src="jscript/valid_data.js"></script>
	<form action="" onsubmit="javascript: return panel_data_gen_obj.submit();" id="data_gen_save">

	{* dane podstawowe *}
	<h3>{$lang.head}</h3>

		<div class="row">
			<div class="col-sm-5">

				<div id="save_error_error" class="alert alert-danger"></div>
				<div id="dane_bledy_error" class="alert alert-danger"></div>
				<div id="save_ok_error" class="alert alert-success"></div>
				<div class="form-group" class="text-right">
					<input type="hidden" name="id" value="{$user->id}" />
					<span style="font-size:11px"> <span style="color:#f00;">*</span> {$lang.info}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; **{$lang.change_pass}</span>
				</div>
				<div class="form-group">
					<label>{$lang.login}<span style="color:#f00">*</span></label>
					<input type="text" name="login" id="login" value="{$user->login}" class="form-control" onchange="javascript: panel_data_gen_obj.check_login();" />
				</div>
				<div class="form-group">
					<label>{$lang.pass}**</label>
					<input type="password" name="pass" id="pass" value="" class="form-control" />
				</div>
				<div class="form-group">
					<label>{$lang.pass} ({$lang.repeat})**</label>
					<input type="password" name="pass_repeat" id="pass_repeat" value="" class="form-control" />
				</div>
				<div class="form-group">
					<label>{$lang.mail}*</label>
					<input type="text" name="mail" id="mail" value="{$user->mail}" class="form-control" onchange="javascript: panel_data_gen_obj.check_mail();" />
				</div>
				<div class="form-group text-right">
					<br>
					<input type="hidden" name="id" value="{$user->id}" />
					<button type="submit" class="btn orangeButton" >{$lang.save}</button>
					<br><br><br><br>
				</div>
			</div>
		</div>
	</form>
	<div class="row_hidden">
		<input type="hidden" id="old_login" value="{$user->login}" />
		<input type="hidden" id="old_mail" value="{$user->mail}" />
		<input type="hidden" id="reg_login" value="1" />
		<input type="hidden" id="reg_mail" value="1" />
		<input type="hidden" id="bad_login" value="{$lang.bad_login}" />
		<input type="hidden" id="bad_mail" value="{$lang.bad_mail}" />
		<input type="hidden" id="bad_pass" value="{$lang.bad_pass}" />
		<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
		<input type="hidden" id="save_error" value="{$lang.save_error}" />
	</div>
</div></div>
