<div class="container-fluid px-0">
	<div class="row pageHeader">
		<div class="col-sm-10 px-0">
			<div class="carousel">
				<ul class="panes">
					<li class="slide1">
						<div class="row carouselContent">
							<div class="col-md-4">
								<img src="images/layout/tablet-mockup.png" alt="Progam do wystawiania dokumentów finansowych" title="Serwis, gdzie możemy wystawic fakturę" class="img-responsive" />
							</div>

							<div class="slideContent col-md-8 text-left ">
								<span class="slogan">Prosty program do fakturowania </span><br>
								<p>Zobacz jak łatwo i szybko wystawisz faktury, dodasz kontrahenta i produkty. Najlepszy prosty program do wystawiania faktur online działa już 11 lat! <br>
									<strong>Funkcje programu do faktur to</strong>:<br>
									baza kontrahentów, baza produktów, archiwum faktur, własne logo na fakturze, kategorie produktów, wzory faktur w PDF, faktury cykliczne, nadawanie rabatów produktom,
									wysyłka efaktur na e-mail, kontrola płatności za faktury, proste raporty, faktury walutowe.
								</p> <br>
								<br>
								<a class="btn redButton" title='Wystawianie dokumentów online' href="http://faktura.egrupa.pl/invoice/">Wystawiaj efaktury</a>
							</div>
						</div>
					</li>
					<li class="slide2">
						<div class="row carouselContent">
							<div class="col-md-4">
								<img src="images/layout/tablet-mockup.png" alt="Archiwum wystawionych faktur online" title='Baza utworzonych dokumentów online' class="img-responsive" />
								<!-- <img src="images/layout/lista-kontranetow.jpg" alt="lista zachowanych kontrahentów" class="img-responsive" /> -->
							</div>
							<div class="slideContent col-md-8 text-left ">
								<span class="slogan">Twoje faktury i Kontrahenci tam gdzie Ty</span><br>
								<p>Archiwum faktur online zawsze pod ręką, baza Twoich kontrahentów oraz produktów dostępna z dowolnego miejsca na świecie. <br> Zarządzaj swoimi klientami w prosty sposób,
								kiedy i gdzie tylko chcesz.</p><br>
								<a class="btn redButton" title='Tworzenie dokumentu finansowego online' href="http://faktura.egrupa.pl/invoice/">Wystaw fakturę</a>
							</div>
						</div>
					</li>
					<li class="slide3">
						<div class="row carouselContent">
							<div class="col-md-4">
								<img src="images/layout/tablet-mockup.png" alt="Elektroniczne przysyłanie faktur " title="Faktura przesyłana elektronicznie" class="img-responsive" />
								<!-- <img src="images/layout/wysylka-efaktur.jpg" alt="wysyłka efaktur mailem" class="img-responsive" /> -->
							</div>
							<div class="slideContent col-md-8  text-left ">
								<span class="slogan">Zyskaj na czasie i oszczędzaj środowisko</span><br>
								<p>U nas wystawisz fakturę w 30 sekund ! Dzięki przesłanej efakturze szybciej otrzymasz zapłatę za nią oraz nie marnujesz papieru.<br> Efaktury to oszczędność dla Twojej firmy
								i dbanie o środowisko. </p><br>
								<a class="btn redButton" title='Fakturowanie online' href="http://faktura.egrupa.pl/invoice/">Wystaw efakturę</a>
							</div>
						</div>
					</li>
					<li class="slide4">
						<div class="row carouselContent">
							<div class="col-md-4">
								<img src="images/layout/tablet-mockup.png" alt="Tworzenie dokumentów w serwisie za darmo" title='Wystawianie dokumentów online za darmo' class="img-responsive" />

								<!-- <img src="images/layout/wzor-faktury-online.jpg" alt="wzór faktury online" class="img-responsive" /> -->
							</div>
							<div class="slideContent col-md-8  text-left ">
								<span class="slogan">Wystawiaj faktury online za darmo bez rejestracji!</span><br>
								<p>Sprawdź jak łatwo wypełnisz wzór faktury i go wydrukujesz w PDF<br> Prosty wzór tworzenia faktury pozwala na łatwe wprowadzenie oraz edytowanie danych, które automatycznie
								się przeliczają. </p><br>
								<a class="btn redButton" title="Wystaw fakturę lub inny dokument online " href="http://faktura.egrupa.pl/invoice/">Wystaw fakturę</a>
							</div>
						</div>
					</li>
					<li class="slide3">
						<div class="row carouselContent">
							<div class="col-md-4">
								<img src="images/layout/tablet-mockup.png" alt="Indywidualny wygląd faktury" title="Możliwośc wyboru wyglądu dokumentu" class="img-responsive" />

								<!-- <img src="images/layout/szablony-faktur.jpg" alt="gotowe szablony faktur w pdf" class="img-responsive" /> -->
							</div>
							<div class="slideContent col-md-8 text-left ">
								<span class="slogan">Dopasuj wygląd Twojej faktury</span><br><p>Wstaw swoje logo na fakturę, wprowadź podpis, dodaj pieczątkę i ustaw własny nagłówek na fakturze.<br> Wybierz nowoczesne wzory faktur w PDF, dopasuj ich kolor wg własnych upodobań.</p><br>
								<a class="btn redButton" title="Program do wystawiania faktur" href="http://faktura.egrupa.pl/invoice/">Wystaw fakturę online</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<!--
<div class="row">
	<div class="col-sm-4">

					</div>
	<div class="col-md-9 ">
		<div class="row">
			<div class="slideContent col-sm-7 col-sm-offset-1  text-left">

			</div>
			<div class="col-sm-4">

			</div>
		</div>
	</div>

</div> -->
<div class="container-fluid">
	<div class="row">
		<div class="pageSection nowosci ">
			<h4>{$lang.nagl5}</h4>
			<div id="rodzic2"></div>
		</div>
	</div>
</div>
<div class="greyBackground">
	<div class="container">
		<div class="row">
			<div class="pageSection functions">
				<h4><span class="greyText textStandard">Funkcje programu</span> do wystawiania faktur</h4>
				<div class="row">
					<div class="col-md-6">
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/faktury-w-pdf.png" class='img-responsive' alt="Faktura w pdf" title='Dokument zapisany w pliku PDF'></div>
							<div class="col-sm-9">

								<h5>Faktury PDF</h5>
								<p>abonament pozwala na zapisanie faktury w pdf oraz na zabezpisczonych serwerach on-line, do których jest dostęp w każdej chwili z każdego miejsa na świecie po zalogowaniu się</p>
							</div>
						</div>
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/dostep-do-faktur-na-serwerze.png" class='img-responsive' alt="Dostęp do faktur zapisanych na serwerze" title='Wszytstkie faktury dostępne na serwerze online'></div>
							<div class="col-sm-9">
								<h5>Dostęp do faktur na naszym serwerze</h5>
								<p>zachowaną fakturę na serwerze można w każdej chwili edytować, zmieniać wybrane dane, podglądać, drukować lub wysyłać kontrahentowi na maila</p>
							</div>
						</div>
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/zapisywanie-danych.png" class='img-responsive' alt="Zapis danych do bazy" title='Zapisywanie i edytowanie danych z archiwum programu'></div>
							<div class="col-sm-9">
								<h5>Zapisywanie i edytowanie danych</h5>
								<p>
									<ul>
										<li>istnieje możliwość zapisania i edytowania danych swojej Firmy, co ułatwoa i przyspieszy wystawianie faktury, ponieważ po zlogowaniu się dane te automatycznie pojawiają się w formularzu wystawiania faktury</li>
										<li>możliwość zapisania i edytowania danych kontrahenta, co ułatwia wystawianie faktur stałym klientom, jednym kliknięciem wybieramy kontrahenta i jego dane wstawiają się automatycznie do faktury</li>
									</ul>
								</p>
							</div>
						</div>
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/archiwum-dokumentow.png" class='img-responsive' alt="DOkumenty zapisane w archiwum" title='Dokument i dane zapisane w bazie serwisu'></div>
							<div class="col-sm-9">
								<h5>Archiwum faktur</h5>
								<p>archiwum listy faktur z zaawansowaną wyszukiwarką</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/zapisywanie-i-edytowanie-produktow.png" class='img-responsive' alt="Baza produktów" title='Wszystkie produkty i usługi zapisane w archiwum'></div>
							<div class="col-sm-9">
								<h5>Zapisywanie i edytywanie produktu</h5>
								<p>możliwość zapisania i edytowania produktu oraz jego ceny, pozwala to w szybki sposób sprawdzić wartość sprzedaży lub jego usługi do faktury</p>
							</div>
						</div>
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/tworzenie-kategorii.png" class='img-responsive' alt="Dodawnie kategorii" title='Porządkowanie danych wg kategorii'></div>
							<div class="col-sm-9">
								<h5>Tworzenie kategorii</h5>
								<p>możliwość utworzenia kategorii sprzedawanych produktów lub usług, przez co przyspieszy się ich wyszukiwanie wraz z lepszą ich organizacją</p>
							</div>
						</div>
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/ulepszony-wzor-faktury.png" class='img-responsive' alt="Ulepszone wzory dokumentów" title='Nowe wzory dokumentów w PDF'></div>
							<div class="col-sm-9">
								<h5>Ulepszony wzór faktury</h5>
								<p>ulepszony wzór faktury w wydruku</p>
							</div>
						</div>
						<div class="row fuctionItem">
							<div class="col-sm-3"><img src="/images/icons/plik-jpk-fa.png" class='img-responsive' alt="Plik JPK" title='Wysyłanie pliku JPK FA'></div>
							<div class="col-sm-9">
								<h5>Funkcja JPK FA</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem tenetur expedita temporibus, id impedit officiis tempora optio distinctio vel fugit, provident dignissimos magnam eligendi minima. A eveniet neque dolor! Perspiciatis.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="darkBackground pomocContent">
	<div class="container-fluid">
		<div class="row">

			<div class="pageSection centrum_pomocy ">
				<h4>{$lang.pomoc_nagl}</h4>
				<div class="row">
					<div class="col-md-4"> <span class="title">{$lang.pomoc1_nagl}</span>
						<p>{$lang.pomoc1_tresc}</p>
						<a rel="nofollow"href="pomoc/" class=" btn more blueButton">{$lang.wiecej}</a></div>
					<div class="col-md-4"><span class="title">{$lang.pomoc2_nagl}</span>
						<p>{$lang.pomoc2_tresc}</p>
						<a rel="nofollow"href="contact/" class="btn more blueButton">{$lang.wiecej}</a></div>
					<div class="col-md-4"><span class="title">{$lang.pomoc3_nagl}</span>
						<p>{$lang.pomoc3_tresc}</p>
						<a rel="nofollow"href="contact/" class="btn more blueButton">{$lang.wiecej}</a></div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="darkBackground aboutContent">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="pageSection o_programie mainPageCol">
					<h4>{$lang.o_programie_nagl}</h4>
					<span class="title">{$lang.o_programie_nagl2}</span>
					<p>{$lang.o_programie}</p>

					<a rel="nofollow" href="o-programie/" class="btn orangeButton">{$lang.wiecej}</a>
				</div>
			</div>
