{foreach item=item from=$tree}
	<div class="news_tree">
		<div class="news_button"><a href="#" onclick="javascript: return news_obj.tree({$item->level},{$item->id});" title="{$lang.show}/{$lang.hide}" class="plus" id="button_{$item->level}_{$item->id}">&nbsp;</a></div>
		<div class="news_name" id="name_{$item->id}">
			{$item->text|strip_tags|truncate:50:"...":true}
			{if $user_rang=="admin"}<a href="news/coment_del/{$item->id}/" onclick="javascript: return confirm_del();" class="del" title="{$lang.del}">{$lang.del}</a>{/if}
		</div>
	</div>
	<div class="news_tree" id="tree_{$item->level}_{$item->id}" style="display: none;">
		<div class="news_texts">{$item->text}</div>
		<div class="news_texts">{$lang.author}: {$item->user_name}</div>
		<div class="news_answer"><a href="news/{$smarty.get.par2}/{$smarty.get.par3}/coment/{$item->id}/" title="{$lang.answer}" class="add">{$lang.answer}</a></div>
		{include file="news/standard_tree.html" tree=$item->child}
	</div>
{/foreach}