<script type="text/javascript" src="module/news/class.js"></script>
{if $action=="list"}
{*<div class="row_head">{$lang.head}</div> *}
<div class="row_action"><a href="news/add/" title="{$lang.added}" class="add" style="float:left;padding-lefT:20px;">{$lang.added}</a></div>
<div id="literki">
	<a href="news/" title="{$lang.all}" class="all">{$lang.all}</a>
{foreach item=i from=$letter}
	{if $i==$smarty.get.par4}<a href="news/1/{$smarty.get.par4}/{$i}/" title="{$i}" class="activ">{$i}</a>
	{else}<a href="news/1/{$smarty.get.par3}/{$i}/" title="{$i}" class="news_letter">{$i}</a>{/if}
{/foreach}
</div>
<table class="tabela">
<tr>
	<th class="first"><a href="news/1/{if $smarty.get.par3=='da'}dd{else}da{/if}/" title="{$lang.sdate}">{$lang.sdate} {if $smarty.get.par3=='da'}&uArr;{else}&dArr;{/if}</a></th>
	<th><a href="news/1/{if $smarty.get.par3=='ta'}td{else}ta{/if}/" title="{$lang.stitle}">{$lang.stitle} {if $smarty.get.par3=='ta'}&uArr;{else}&dArr;{/if}</a></th>
	<th>{$lang.edit}</th>
	<th>{$lang.del}</th>
	<th class="last">{$lang.coment}</th>
	
</tr>

{foreach item=i from=$dane name=a}
{if $smarty.foreach.a.index is even}
<tr>
{else}
<tr class="parzysty">
{/if}
	<td class="first"><a href="news/edit/{$i->id}/" title="{$i->title}">{$i->title} [{$i->count}] </a></td>
	<td ><a href="news/edit/{$i->id}/" title="{$i->title}">{$i->date_add}</a></td>
	<td><a href="news/edit/{$i->id}/" title="{$lang.edit}" class="edit">{*$lang.edit*}</a></td>
	<td><a href="news/del/{$i->id}/" title="{$lang.del}" class="del" onclick="javascript: return confirm_del();"></a></td>
	<td class="last"><a href="news/coment/{$i->id}/" title="{$lang.coment}" class="view">{$lang.coment}</a></td>
</tr>
{/foreach}
</table>
{include file="../../module/pager/standard.html" page=$page pages=$last prefix="news/" surfix="$sign"}
<div class="row_hidden">
	<input type="hidden" id="delete" value="{$lang.delete}" />
</div>
{elseif $action=="add"}
{*<div class="row_head">{$lang.added}</div>*}
<div class="row_action"><a href="news/" title="{$lang.back}" class="back">{$lang.back}</a></div>

<form action="" id="news_form">
<fieldset>
<legend>Tresc</legend>
<div class="row_auto">
	<label>{$lang.title}:</label>
	<input type="text" name="title" id="title" value="" class="news_text" />
</div>
<div class="row_auto">
	<label>{$lang.text}:</label>
	<textarea name="text" id="text" rows="10" cols="" class="news_text ckeditor"></textarea>
</div>
</fieldset>
<fieldset style="width:94%">
<legend>Zdjecia</legend>
{foreach item=i key=k from=$tmp name=a}
{if $smarty.foreach.a.index lt 4}
<div class="row_auto" style="width:50%;float:left;">
	<div class="insert_left">{$lang.img} {$smarty.foreach.a.index+1}:</div>
	<div class="insert_right">
		{assign var="uploader_type" value="news"}
		{assign var="uploader_what" value="img"}
		{assign var="uploader_file" value=""}
		{assign var="uploader_name" value="img$k"}
		{include_php file="../module/uploader/module.php"}
	</div>
</div>
{/if}
{/foreach}
</fieldset>
<div class="row_action">
	<input type="hidden" name="name" value="{$user_login}" />
	<input type="button" value="{$lang.add}" class="news_add" onclick="javascript: news_obj.submit();" />
</div>
</form>
<div class="row_hidden">
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="add_ok" value="{$lang.add_ok}" />
	<input type="hidden" id="add_error" value="{$lang.add_error}" />
	<input type="hidden" id="empty_title" value="{$lang.empty_title}" />
	<input type="hidden" id="empty_text" value="{$lang.empty_text}" />
</div>
{elseif $action=="edit"}
{*<div class="row_head">{$lang.edited}</div>*}
<div class="row_action"><a href="news/" title="{$lang.back}" class="back">{$lang.back}</a></div>
<form action="" id="news_form">
<fieldset style="float:left;width:94%">
<legend>Treść</legend>
<div class="row_auto">
	<label>{$lang.title}:</label>
	<input type="text" name="title" id="title" value="{$dane->title}" class="news_text" />
</div>
<div class="row_auto">
	<label>{$lang.text}:</label>
	<textarea name="text" id="text" rows="10" cols="" class="news_text ckeditor">{$dane->text}</textarea>
</div>

</fieldset>
<fieldset style="float:right;width:94%">
<legend>Zdjecia</legend>
{foreach item=i key=k from=$tmp name=a}
{if $smarty.foreach.a.index lt 4}
<div class="row_auto" style="width:50%;float:left;">
	<div class="insert_left">{$lang.img} {$smarty.foreach.a.index+1}:</div>
	<div class="insert_right">
		{assign var="uploader_type" value="news"}
		{assign var="uploader_what" value="img"}
		{assign var="uploader_file" value="$i"}
		{assign var="uploader_name" value="img$k"}
		{include_php file="../module/uploader/module.php"}
	</div>
</div>
{/if}
{/foreach}
</fieldset>
<div><input type="button" value="{$lang.save}" class="news_save" onclick="javascript: news_obj.save();" /></div>
</form>
<div class="row_hidden">
	<input type="hidden" id="id" value="{$dane->id}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="empty_title" value="{$lang.empty_title}" />
	<input type="hidden" id="empty_text" value="{$lang.empty_text}" />
</div>
{elseif $action=="coment"}
<div class="row_head">{$lang.coment}</div>
<div class="row_action"><a href="news/" title="{$lang.back}" class="back">{$lang.back}</a></div>
{if count($tree)}
<div class="news_tree" id="tree_0_0">
	{include file="news/standard_tree.html" tree=$tree}
</div>
{include file="../../module/pager/standard.html" page=$page pages=$last prefix="news/coment/$id/" surfix=""}
{/if}
{/if}