<script type="text/javascript" src="module/panel/szablon-faktury/class.js"></script>
<div class="container-fluid px-0">
<div id="wyszukiwarka_faktur" class="ramka">
	<h3>{$lang.head}</h3>

	<div style="padding:0 1.5%">
	<input id="gallery_count" value="0" type="hidden">
	<input id="gallery_max" value="0" type="hidden">
	<input id="gallery_width_0" value="500" type="hidden">
	<input id="gallery_height_0" value="710" type="hidden">
	<input type="hidden" id="gallery_width" value="64" />
	<input type="hidden" id="gallery_height" value="0" />
	{include file="gallery_tpl/standard.html" k=0 max=$max}
	</div>

<div >
<form id="szablon">
	<div class="btn-group">
		<a href="panel/data/szablon-faktury/1/" title="" class="btn {if $smarty.get.par4 == 1}active{/if} btn-default">{$lang.lay1}</a>
		<a href="panel/data/szablon-faktury/2/" title="" class="btn {if $smarty.get.par4 == 2}active{/if} btn-default">{$lang.lay2}</a>
		<a href="panel/data/szablon-faktury/3/" title="" class="btn {if $smarty.get.par4 == 3}active{/if} btn-default">{$lang.lay3}</a>
		<a href="panel/data/szablon-faktury/4/" title="" class="btn {if $smarty.get.par4 == 4}active{/if} btn-default">{$lang.lay4}</a>
		<a href="panel/data/szablon-faktury/5/" title="" class="btn {if $smarty.get.par4 == 5}active{/if} btn-default">{$lang.lay5}</a>
	</div>
	<br>
	<span id="save_ok_error"  style="color:green;font-weight:bold;display:none;background:transparent;"></span><br>
	<span id="save_bad_error"  style="color:red;font-weight:bold;display:none;background:transparent;"></span><br>

<div class="row">
	<div class="col-sm-4" style="border-right:1px solid #dfdfdf;">
		<div class="row">
			<div class="col-sm-8">
				<h4>Aktualny szablon</h4>
			</div>
			<div class="col-sm-4"><button type="submit" class="btn blueButton" onclick="javascript: return panel_data_template_obj.save_example();">{$lang.show_example}</button> </div>
		</div>

		<a><img src="" onclick="javascript: gallery_s.open(this,0);"  id="template_big_img" class="img-responsive"></a>
		<br/>
	</div>

	<div class="col-sm-8" >
		<h4>Wybierz szablon</h4>
		<div class="row text-center">
			<div class="col-sm-3">
				<a onclick="javascript: return panel_data_template_obj.change_template(1,'');"><img src="images/layout/szablony/min/szablon1.png" id="l1"><br><strong>Szablon główny</strong></a>
			</div>
			<div class="col-sm-3">
				<a onclick="javascript: return panel_data_template_obj.change_template(2,'');"><img src="images/layout/szablony/min/szablon2s.png" id="l2"><br><strong>Szablon 2</strong></a>
			</div>
			<div class="col-sm-3">
				<a onclick="javascript: return panel_data_template_obj.change_template(3,'');" ><img src="images/layout/szablony/min/szablon3s.png" id="l3"><br><strong>Szablon 3</strong></a>
			</div>
		</div>
		<div class="row" style="padding-top:30px;">
			<div class="kolory_szablonu col-sm-3" style="text-align:left;">
			<h4>Wybierz kolor</h4>
			<a class="{if $data->color == 4} kolor_active{else}kolor{/if}" id="kolorystyka4" onclick="javascript: return panel_data_template_obj.change_color(4,'');"> </a>
			<a class="{if $data->color == 1}kolor_active{else}kolor{/if}" id="kolorystyka1" onclick="javascript: return panel_data_template_obj.change_color(1,'');"></a>
			<a class="{if $data->color == 2} kolor_active{else}kolor{/if}" id="kolorystyka2" onclick="javascript: return panel_data_template_obj.change_color(2,'');"></a>
			<a class="{if $data->color == 3} kolor_active{else}kolor{/if}" id="kolorystyka3" onclick="javascript: return panel_data_template_obj.change_color(3,'');"> </a>
			<a class="{if $data->color == 5} kolor_active{else}kolor{/if}" id="kolorystyka5" onclick="javascript: return panel_data_template_obj.change_color(5,'');"> </a>
			</div>
			<div class="col-sm-5">
				<h4>Nagłowki</h4>
				<div class="checkbox">
				<label style="font-size:11px;"><input value="1" type="checkbox" name="pokaz_naglowki" id="pokaz_naglowki" {if $data->nagl == 1}checked="checked" {/if}/> <strong>Pokaż nagłówki</strong> (nazwa firmy, adres, telefon itd.)</label>
				</div>
			</div>
			<div class="col-sm-2">
				<br>
				<button type="submit" class="btn orangeButton" onclick="javascript: return panel_data_template_obj.save_data();" >{$lang.save}</button>
			</div>
		</div>
	</div>


</div>

<input type="hidden" id="user_id" name="user_id" value="{$user_id}" />
<input type="hidden" id="szablon_id" name="szablon_id" value="{$szablon.id}" />
<input type="hidden" id="kolorystyka" name="kolorystyka" value="{$data->color}" >
<input type="hidden" id="kolor_ramki" name="kolor_ramki" value="{$data->colors.kolor_ramki}" >
<input type="hidden" id="kolor_tekstu" name="kolor_tekstu" value="{$data->colors.kolor_tekstu}" />
<input type="hidden" id="kolor_tekstu_nagl" name="kolor_tekstu_nagl" value="{$data->colors.kolor_tekstu_nagl}" />
<input type="hidden" id="kolor_tla_nagl"  name="kolor_tla_nagl" value="{$data->colors.kolor_tla_nagl}" />
<input type="hidden" id="kolor_dodatkowy" name="kolor_dodatkowy" value="{$data->colors.kolor_dodatkowy}" />
<input type="hidden" id="jaka_faktura" name="jaka_faktura" value="{$szablon.jaka_faktura}" />

</form>
</div>
</div>
<div class="row_hidden">
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
</div>
<div style="clear:both;width:100%;height:20px;" ></div>

</div>
<script type="text/javascript">
panel_data_template_obj.change_template({$data->tpl}, {$data->color});
panel_data_template_obj.change_color({$data->color}, {$data->tpl});

</script>
