<script type="text/javascript" src="module/contact/class.js"></script>
{if $action=="list"}
<form action="" id="contact_form">
<fieldset>
<legend>{$lang.head}</legend>
<div class="row_auto">
	<label>{$lang.title}:</label>
	<textarea name="title" rows="" cols="" class="contact_text">{$dane.title}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.address}:</label>
	<textarea name="address" rows="" cols="" class="contact_text">{$dane.address}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.contact}:</label>
	<textarea name="contact" rows="" cols="" class="contact_text">{$dane.contact}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.text}:</label>
	<textarea name="text" rows="" cols="" class="contact_text">{$dane.text}</textarea>
</div>
<div class="row_action"><input type="button" value="{$lang.save}" class="contact_save" onclick="contact_obj.save();" /></div>
</fieldset>
</form>


<form action="" id="contact_type_form" >
<fieldset style="float:right">
<legend>{$lang.added}</legend>
<div class="row_auto">
	<label>{$lang.name}:</label>
<input type="text" name="name" id="name" value="" class="contact_text" />
</div>
<div class="row_auto">
	<label>{$lang.mail}:</label>
<input type="text" name="mail" id="mail" value="" class="contact_text" />
</div>
<div class="row_action"><input type="button" value="{$lang.add}" class="contact_add" onclick="contact_obj.type_add();" /></div>
</fieldset>
</form>




<div class="row_head" style="clear:both;">{$lang.account}</div>
<table class="tabela">
<tr>
<th>Nazwa</th>
<th>E-mail</th>
<th>Edycja</th>
<th>Usuń</th>
<th>TOP</th>
<th>DOWN</th>
</tr>
{foreach item=i key=k from=$list name=a}
{if $smarty.foreach.a.index is even}
<tr>
{else}
<tr class="parzysty">
{/if}
	<td class="first">{$i.name}</td>
	<td>{$i.mail}</td>
	<td><a href="contact/edit/{$i.id}/" title="{$lang.edit}" class="edit">{*$lang.edit*}</a></td>
	<td><a href="contact/del/{$i.id}/" onclick="javascript: return confirm_del()" title="{$lang.del}" class="del">{*$lang.del*}</a></td>
	<td>{if $k!=0}<a href="contact/up/{$i.id}/" title="{$lang.up}" class="up">Wyżej</a>{else}&nbsp;{/if}</td>
	<td class="last">{if $k!=count($list)-1}<a href="contact/down/{$i.id}/" title="{$lang.down}" class="down">Niżej</a>{else}&nbsp;{/if}</td>
</tr>
{/foreach}
</table>


{* komunikaty *}
<div class="row_hidden">
	<input type="hidden" id="delete" value="{$lang.delete}" />
	<input type="hidden" id="empty_name" value="{$lang.empty_name}" />
	<input type="hidden" id="empty_mail" value="{$lang.empty_mail}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="add_ok" value="{$lang.add_ok}" />
	<input type="hidden" id="add_error" value="{$lang.add_error}" />
</div>
{elseif $action=="edit"}

<form action="" id="contact_type_form">
<fieldset style="width:94%">
<legend>{$lang.edit}</legend>
<div class="row_auto">
	<label>{$lang.name}:</label>
	<input type="text" name="name" id="name" value="{$dane.name}" class="contact_text" style="width:876px;" />
</div>
<div class="row_auto">
	<label>{$lang.mail}:</label>
	<input type="text" name="mail" id="mail" value="{$dane.mail}" class="contact_text" style="width:876px;" />
</div>
<div class="row_action"><input type="button" value="{$lang.save}" class="contact_save" onclick="contact_obj.type_save();" /></div>
</fieldset>
</form>
<div class="row_hidden">
	<input type="hidden" id="id" value="{$smarty.get.par3}" />
	<input type="hidden" id="empty_name" value="{$lang.empty_name}" />
	<input type="hidden" id="empty_mail" value="{$lang.empty_mail}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
</div>
{/if}