<script type="text/javascript" src="module/panel/product_list/class.js"></script>
<div class="container-fluid px-0">
{if $action=="list"}{* standardowa lista produktów z wyszukiwarką *}
<div id="wyszukiwarka_faktur" class="ramka">
	<div class="row">
	<div class="col-sm-3"><h3>{$lang.head}</h3></div>
	<div class="col-sm-9">	<a href="panel/product/list/cat/" style="font-size:13px;margin-top:12px;display:inline-block;" title="{$lang.view_cat}"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;&nbsp;{$lang.view_cat}</a></div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4">
			<label>{$lang.name}:</label>
			<input type="text" id="name" value="{$search.name}" class="form-control" />
		</div>
		<div class="form-group col-sm-4">
			<label>{$lang.producer}:</label>
			<input type="text" id="producer" value="{$search.producer}" class="form-control" />
		</div>
		<div class="form-group col-sm-4">
			<label>{$lang.cat}:</label>
			<select name="cat" id="cat" class="form-control">
				<option value="">---</option>
				{include file="panel/product_list/standard_list.html" tree=$tree select=$search.cat}
			</select>
		</div>

		<div class="product_list_search" id="search" style="display:none;">
			<div class="form-group col-sm-4">
				<label>{$lang.number}:</label>
				<input type="text" id="number" value="{$search.number}" class="form-control" />
			</div>
			<div class="form-group col-sm-4">
				<label>{$lang.pkwiu}:</label>
				<input type="text" id="pkwiu" value="{$search.pkwiu}" class="form-control" />
			</div>
			<div class="form-group col-sm-4">
				<label>{$lang.prize}:</label>
				<div class="row">
					<div class="col-sm-6">
						<input type="text" id="prize_min" value="{$search.prize_min}" class="form-control" onkeypress="javascript: return panel_product_list_obj.insert_prize(event,'prize_min');" placeholder="od" />
					</div>
					<div class="col-sm-6">
						<input type="text" id="prize_max" value="{$search.prize_max}" class="form-control" onkeypress="javascript: return panel_product_list_obj.insert_prize(event,'prize_max');" placeholder="do" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<a class="zwin_rozwin" id="search_show" onclick="javascript: panel_product_list_obj.show_search();">{*$lang.searcher*} {$lang.nagl5} {$lang.show} <span class="glyphicon glyphicon-chevron-down"></span></a>
			<a class="zwin_rozwin" id="search_hidden" style="display:none;" onclick="javascript: panel_product_list_obj.hidden_search();">{*$lang.searcher*}{$lang.nagl5} {$lang.hidden} <span class="glyphicon glyphicon-chevron-up"></span></a>
		</div>
		<div class="col-sm-6 text-right">
			{if $search.cat OR $search.number OR $search.pkwiu OR $search.prize_min OR $search.prize_max}<script type="text/javascript">panel_product_list_obj.show_search();</script>{/if}
			<input type="button" value="{$lang.search}" id="wyszukaj_faktury" onclick="javascript: panel_product_list_obj.search();" class="btn orangeButton" />
			<br>
		</div>
	</div>
</div>

<div class="text-right">
	<div class="btn-group alphabet">
		{if !$smarty.get.par5}
			<a href="panel/product/list/" title="{$lang.all}"  class="btn btn-primary btn-sm disabled">{$lang.all}</a>
		{else}
			<a href="panel/product/list/" title="{$lang.all}"  class="btn btn-default btn-sm">{$lang.all}</a>
		{/if}
	{foreach item=i from=$letter}
		{if $i==$smarty.get.par5}<a href="panel/product/list/1/{$i}/" title="{$i}" class="btn btn-primary btn-sm disabled">{$i}</a>
		{else}<a href="panel/product/list/1/{$i}/" title="{$i}"  class="btn btn-default btn-sm">{$i}</a>{/if}
	{/foreach}
	</div>
</div>

<table class="table table-striped table-hover table-bordered lista">
	<tr>
		<th class="text-center">{$lang.nagl10}</th>
		<th>{$lang.nagl6}</th>
		<th>{$lang.nagl7}</th>
		<th>{$lang.nagl8}</th>
		<th class="text-center">{$lang.nagl11}</th>
	</tr>
{foreach item=i from=$dane name=a}
<tr	{if ($smarty.foreach.a.index+1) is div by 10}class="dziesiaty"{/if}>


	<td class="text-center"><a href="panel/product/list/edit/{$i->id}/" title="{$lang.edit}"><span class="glyphicon glyphicon-pencil"></span></a></td>
	<td><a href="panel/product/list/view/{$i->id}/" title="{$lang.view}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; {$i->name}</a></td>
	<td><a href="panel/product/list/view/{$i->id}/" title="{$lang.view}">{$i->cat_n}</a></td>
	<td><a href="panel/product/list/view/{$i->id}/" title="{$lang.view}">{$i->brutto} zł</a></td>
	<td class="text-center"><a href="panel/product/list/del/{$i->id}/" title="{$lang.del}" onclick="javascript: return confirm_del();"><span class="glyphicon glyphicon-remove"></span></a></td>
</tr>
{/foreach}
</table>

{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/product/list/" surfix="$sign"}
<div class="row_hidden">
	<input type="hidden" id="delete" value="{$lang.delete}" />
</div>

{elseif $action=="cat"}{* lista produktów po kategorii *}

	<div id="wyszukiwarka_faktur" class="ramka">
		<div class="row">
			<div class="col-sm-4">
				<h3>{$lang.head} wg kategorii</h3>
			</div>
			<div class="col-sm-3 text-right">
				<a href="panel/product/list/" style="font-size:13px;margin-top:12px;display:inline-block;" title="{$lang.view_list}"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;&nbsp;{$lang.view_list}</a>{if $cat_n}&nbsp;&nbsp;&nbsp;&nbsp;<a href="panel/product/add/{$cat_n}/" style="font-size:13px;margin-top:12px;display:inline-block;" title="{$lang.add}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{$lang.add}</a>{/if}
			</div>
		</div>

		{if $cat->id}
			{$lang.head_cat} - {$cat->name} |
		{else}
			<span class="naglowek">{$lang.head_cat}:</span>
		{/if}

		{if $cat_n}<a href="panel/product/list/cat/{$cat->parent}/" title="{$lang.back}" class="back"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;Powrót do wyższej kategorii</a>{/if}

		<div id="produkty_w_panelu">
			{foreach item=i from=$cats}
			<a href="panel/product/list/cat/{$i->id}/" title="{$lang.enter}"><strong>{$i->name}</strong> [ produków {$i->counter}]</a>
			{/foreach}
		</div>

		{*<span class="naglowek">{$lang.head}</span>*}
		{if !$dane}
			<div class="row"><div class="col-sm-12"><br><h4>Brak produktów w tej kategorii</h4><br></div></div>
		{else}
		<div class="row">
			<div class="col-sm-7">
				<br>
				<table class="table table-striped table-hover table-bordered lista">
					<tr>
						<th class="text-center">{$lang.nagl10}</th>
						<th>{$lang.nagl12}</th>
						<th class="text-center">{$lang.nagl11}</th>
					</tr>
					{foreach item=i from=$dane}
					<tr>
						<td class="text-center"><a href="panel/product/list/edit/{$i->id}/" title="{$lang.edit}"><span class="glyphicon glyphicon-pencil"></span></a></td>
						<td><a href="panel/product/list/view/{$i->id}/" title="{$lang.view}"><span class="glyphicon glyphicon-eye-open"></span> &nbsp;&nbsp;{$i->name}</a></td>
						<td class="text-center"><a href="panel/product/list/del/{$i->id}/" title="{$lang.del}" onclick="javascript: return confirm_del();"><span class="glyphicon glyphicon-remove"></span></a></td>
					</tr>
					{/foreach}
				</table>
				{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/product/list/cat/$cat_n/" surfix="$sign"}
			</div>
		</div>
		{/if}
	</div>
	<div class="row_hidden">
		<input type="hidden" id="delete" value="{$lang.delete}" />
	</div>

{elseif $action=="view"}{* podgląd produktu *}
<div id="invoice_top">
<span>{$lang.head} <a class="pomoc"><span>lorem</span></a></span>
<div id="navibar">

{$lang.nagl2} <a href="" title="{$lang.nagl1}">{$lang.nagl1}</a>
{foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} / {/if}{/foreach}

</div>
</div>
<div id="dane_kontrahenta">
<span class="naglowek">{$lang.head_view} - {$dane->name} |
<a href="panel/product/list/edit/{$dane->id}/" title="{$lang.edit}" style="font-size:12px;">{$lang.edit}</a>
 | <a href="panel/product/list/" title="{$lang.back}" class="back"  style="font-size:12px;">{$lang.back}</a></span>

<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.cat}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;"><a href="panel/product/list/cat/{$cat->id}/" title="{$cat->name}">{$cat->name}</a></div>
</div>
<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.name}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;">{$dane->name}</div>
</div>
<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.number}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;">{$dane->number}</div>
</div>
<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.pkwiu}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;">{$dane->pkwiu}</div>
</div>
<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.unit}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;">{$dane->unit}</div>
</div>
<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.vat}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;">{$dane->vat}</div>
</div>
<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.netto}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;">{$dane->netto}</div>
</div>
<div class="row_auto" style="font-size: 14px;clear:both;">
	<div class="insert_left">{$lang.brutto}:</div>
	<div class="insert_right" style="font-weight:bold;width:270px;">{$dane->brutto}</div>
</div>
</div>

{elseif $action=="edit"}

	<div class="ramka">
		<h3>{$lang.head_edit} - {$dane->name}</h3>
		{* edycja produktu *}
		<form action="" onsubmit="javascript: return panel_product_list_obj.submit({$dane->id});" id="product_list_form">
			<div class="row">
				<div class="col-sm-6">
					<div>
						<label>{$lang.name}<span style="color:#f00">*</span>:</label>
						<textarea name="name" id="name"  class="form-control"> {$dane->name}</textarea>
						<div id="name_error" class="alert alert-danger"></div>
					</div>
					<div>
						<label>{$lang.producer}:</label>
						<input type="text" name="producer" id="producer" value="{$dane->producer}" class="form-control" />
					</div>
					<div>
						<label>{$lang.cat}<span style="color:#f00">*</span>:</label>
						<select name="cat" id="cat" class="form-control">
							<option value="">---</option>
							{include file="panel/product_list/standard_list.html" tree=$tree select=$dane->cat}
						</select>
						<div id="cat_error" class="alert alert-danger"></div>
					</div>
					<div>
						<label>{$lang.number}:</label>
						<input type="text" name="number" id="number" value="{$dane->number}" class="form-control" />
					</div>
				</div>
				<div class="col-sm-6">
					<div>
						<label>{$lang.pkwiu}:</label>
						<input type="text" name="pkwiu" id="pkwiu" value="{$dane->pkwiu}" class="form-control" />
					</div>
					<div>
						<label>{$lang.unit}:</label>
						<select name="unit" id="unit" class="form-control">
						<option value="">---</option>
						{foreach item=i key=k from=$units}<option value="{$k}" {if $dane->unit==$k}selected="selected"{/if}>{$i} [{$k}]</option>{/foreach}
						</select>
					</div>
					<div>
						<label>{$lang.vat}<span style="color:#f00">*</span>:</label>
						<select name="vat" id="vat" class="form-control" onchange="javascript: panel_product_list_obj.change_netto();">
							<option value="">---</option>
							<option value="0" {if $dane->vat==0}selected="selected"{/if}>0 %</option>
							<option value="3" {if $dane->vat==3}selected="selected"{/if}>3 %</option>
							<option value="4" {if $dane->vat==4}selected="selected"{/if}>4 %</option>
							<option value="5" {if $dane->vat==5}selected="selected"{/if}>5 %</option>
							<option value="6" {if $dane->vat==6}selected="selected"{/if}>6 %</option>
							<option value="7" {if $dane->vat==7}selected="selected"{/if}>7 %</option>
							<option value="8" {if $dane->vat==8}selected="selected"{/if}>8 %</option>
							<option value="18" {if $dane->vat==18}selected="selected"{/if}>18 %</option>
							<option value="19" {if $dane->vat==19}selected="selected"{/if}>19 %</option>
							<option value="20" {if $dane->vat==20}selected="selected"{/if}>20 %</option>
							<option value="22" {if $dane->vat==22}selected="selected"{/if}>22 %</option>
							<option value="23" {if $dane->vat==23}selected="selected"{/if}>23 %</option>
							<option value="NP" {if $dane->vat=="NP"}selected="selected"{/if}>NP</option>
							<option value="ZW" {if $dane->vat=="ZW"}selected="selected"{/if}>ZW</option>
							<option value="-" {if $dane->vat=="-"}selected="selected"{/if}>-</option>
						</select>
						<div id="vat_error" class="dane_error"></div>
					</div>
					<div>
						<label>{$lang.netto}<span style="color:#f00">*</span>:</label>
						<input type="text" name="netto" id="netto" value="{$dane->netto}" class="form-control" onkeypress="javascript: return panel_product_list_obj.insert_prize(event,'netto');" onkeyup="javascript: panel_product_list_obj.change_netto();" />
						<div id="cena_error" class="dane_error"></div>
					</div>
					<div>
						<label>{$lang.brutto}<span style="color:#f00">*</span>:</label>
						<input type="text" name="brutto" id="brutto" value="{$dane->brutto}" class="form-control" onkeypress="javascript: return panel_product_list_obj.insert_prize(event,'brutto');" onkeyup="javascript: panel_product_list_obj.change_brutto();" />
					</div><br>
					{*<input type="reset" value="{$lang.cancel}" class="product_list_cancel" />*}
					<input type="submit" value="{$lang.save}" class="btn orangeButton" />&nbsp;    <span style="color:#f00">*</span> {$lang.info}<br><br><br>
				</div>
			</div>
		</form>
	</div>
	{* komunikaty błędów zmienne pomocnicze *}
	<div class="row_hidden">
		<input type="hidden" id="user_id" value="{$user_id}" />
		<input type="hidden" id="empty_cat" value="{$lang.empty_cat}" />
		<input type="hidden" id="empty_name" value="{$lang.empty_name}" />
		<input type="hidden" id="empty_vat" value="{$lang.empty_vat}" />
		<input type="hidden" id="empty_prize" value="{$lang.empty_prize}" />
		<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
		<input type="hidden" id="save_error" value="{$lang.save_error}" />
	</div>

{/if}
</div>
