<div class="container-fluid"><script type="text/javascript" src="module/panel/data_licence/class.js"></script>
{if $smarty.get.par4=="ok"}<div class="row_info">{$lang.new_ok}</div>
{elseif $smarty.get.par4=="error"}<div class="row_error">{$lang.new_error}</div>{/if}

<div class="panel_main ramka">
	{*<div class="col-sm-6">
	<h2>{$lang.nagl3}</h2>
	<ul id="glowny">
		<li><span>{$lang.nagl4}</span>
			<ul>
				<li><a href="panel/data/general/" title="{$lang.nagl6} - {$lang.nagl5}">{$lang.nagl6}</a> -  {$lang.nagl7}</li>
				<li><a href="panel/data/extra/" title="{$lang.nagl8} - {$lang.nagl5}">{$lang.nagl8}</a> - {$lang.nagl9}</li>
				<li><a href="panel/data/log/" title="{$lang.nagl45} - {$lang.nagl46}">{$lang.nagl45}</a> - {$lang.nagl46}</li>
				<li><a href="panel/data/licence/" title="{$lang.nagl10} - {$lang.nagl5}">{$lang.nagl10}</a> - {$lang.nagl11}</li>
				<li><a href="panel/data/number/" title="{$lang.nagl12}">{$lang.nagl12}</a> - {$lang.nagl13}</li>				</ul>
		</li>
		<li><span>{$lang.nagl14}</span>
			<ul>
				<li><a href="panel/product/add/" title="{$lang.nagl16} - {$lang.nagl15}">{$lang.nagl16}</a> - {$lang.nagl17}</li>
				<li><a href="panel/product/list/" title="{$lang.nagl18} - {$lang.nagl15}">{$lang.nagl18}</a> - {$lang.nagl19} </li>
				<li><a href="panel/product/cat/" title="{$lang.nagl20} - {$lang.nagl15}">{$lang.nagl20}</a> - {$lang.nagl21}</li>
			</ul>
		</li>
		<li><span>{$lang.nagl22}</span>
			<ul>
			<li><a href="panel/client/add/"  title="{$lang.nagl24} - {$lang.nagl23}">{$lang.nagl24}</a> - {$lang.nagl25} </li>
				<li><a href="panel/client/list/" title="{$lang.nagl26} - {$lang.nagl23}">{$lang.nagl26}</a> - {$lang.nagl27}</li>
				<li><a href="panel/client/send/" title="{$lang.nagl28} - {$lang.nagl23}">{$lang.nagl28}</a> - {$lang.nagl29} </li>
			</ul>
		</li>
		<li><span>{$lang.nagl30}</span>
			<ul style="padding-bottom:20px;">
				<li><a href="panel/invoice/add/"    title="{$lang.nagl32} - {$lang.nagl31}">{$lang.nagl32}</a> - {$lang.nagl33} </li>
				<li><a href="panel/invoice/list/"   title="{$lang.nagl34} - {$lang.nagl31}">{$lang.nagl34}</a> - {$lang.nagl35} </li>
				<li><a href="panel/invoice/search/" title="{$lang.nagl36} - {$lang.nagl31}">{$lang.nagl36}</a> - {$lang.nagl37} </li>
				<li><a href="panel/invoice/period/" title="{$lang.nagl38} - {$lang.nagl31}">{$lang.nagl38}</a>  - {$lang.nagl39}</li>
				<li><a href="panel/invoice/org/"    title="{$lang.nagl40} - {$lang.nagl31}">{$lang.nagl40}</a>  - {$lang.nagl41}</li>
			</ul>
		</li>
	</ul>
	</div>*}

	<h3>{$lang.nagl42} <a class="pomoc"><span class="glyphicon glyphicon-info-sign"></span><span>{$lang.nagl43}</span></a></h3>

	{if $end==1}<p class="lead">{$lang.on_lic|replace:"[date]":"$user_sub"}</p>
	{else}<div class="row_info2" >{$lang.off_lic}</div>{/if}
	<div class="row_info" >{$lang.info|replace:"[cash]":"$cash"}</div>
	<div class="row_info" >{$lang.nagl44}</div>


	<hr>
	<div class="row">
		<div class="col-sm-3">
			<label>{$lang.time}</label>
		</div>
		<div class="col-sm-3">
			<select id="time" class="form-control">
				{* <option value="1">1 {$lang.month_o} - {$cash*1-$cash*0.025*0*1|string_format:"%.2f"}zł</option>
				<option value="2">2 {$lang.month_t} - {$cash*2-$cash*0.025*1*2|string_format:"%.2f"}zł</option> *}
				<option value="3">3 {$lang.month_t} - {34.96|string_format:"%.2f"}zł</option>
				{* <option value="4">4 {$lang.month_t} - {$cash*4-$cash*0.025*3*4|string_format:"%.2f"}zł</option>*}
				{* <option value="5">5 {$lang.month_f} - {$cash*5-$cash*0.025*4*5|string_format:"%.2f"}zł</option> *}
				<option value="6">6 {$lang.month_f} - {56.91|string_format:"%.2f"}zł</option>
				{* <option value="7">7 {$lang.month_f} - {$cash*7-$cash*0.025*6*7|string_format:"%.2f"}zł</option>
				<option value="8">8 {$lang.month_f} - {$cash*8-$cash*0.025*7*8|string_format:"%.2f"}zł</option>*}
				<option value="9">9 {$lang.month_f} - {74.8|string_format:"%.2f"}zł</option>
				{* <option value="10">10 {$lang.month_f} - {$cash*10-$cash*0.025*9*10|string_format:"%.2f"}zł</option>
				<option value="11">11 {$lang.month_f} - {$cash*11-$cash*0.025*10*11|string_format:"%.2f"}zł</option>*}
				<option value="12" selected>12 {$lang.month_f} - {86.99|string_format:"%.2f"}zł</option>
			</select>
			{$lang.netto}
		</div>
		<input type="button" value="{$lang.next}" class="btn orangeButton" onclick="javascript: panel_data_lic_obj.submit({$user_id});" />
	</div>
	<hr>
	<br>
	{*<h4>Lista faktur za wykupione abonamenty</h4>*}
	{*<div class="row_head" style="clear:both;text-align:center;">{$lang.pay}</div>*}
	{if $result=="ok"}<div class="row_info">{$lang.end_ok}</div>
	{elseif $result=="exist"}<div class="row_info">{$lang.end_exist}</div>
	{elseif $result=="error"}<div class="row_info">{$lang.end_error}</div>
	{/if}
	{* {foreach item=i from=$invoice}
		<div class="row_auto">
			{$lang.time} {$i.month}: {if $i.month==1}{$lang.month_o}{elseif $i.month<5}{$lang.month_t}{else}{$lang.month_f}{/if} ({$i.date}) -
			{if $i.inv=="no"}<a href="panel/data/licence/{$i.id}/" title="{$lang.inv_no}">{$lang.inv_no}</a>{elseif $i.inv=="yes"}{$lang.inv_yes}{else}{$lang.inv_end}{/if}
		</div>
	{/foreach} *}
	<h3>Faktura za wykupiony abonament zostanie wysłana na email podany podczas rejestracji w ciągu 48 h w dni robocze.</h3>
	<br><br><br>
</div>


{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="user_id" value="{$user_id}" />
</div>
<div class="row_hidden" id="data_lic_tmp"></div>
</div>
