<ul class="panel_menu">

{foreach item=item key=key from=$menu}
	{if $key==$smarty.get.par2}
	<li class="active">
		<span class="a{$key}">{$item.main}</span>
		<ul class="panel_menu_contener" id="panel_menu_{$key}">
		{foreach item=i key=k from=$item}
		{if $k!="main"}  
		{if $k==$smarty.get.par3}<li class="panel_menu_item_activ"><a href="panel/{$key}/{$k}/" title="{$i} - {$item.main}">{$i}</a></li>
		{else}<li class="panel_menu_item"><a href="panel/{$key}/{$k}/" title="{$i} - {$item.main}">{$i}</a></li>{/if}
		{/if}
		{/foreach}
		</ul>
	</li>
	{else}
	<li>
		<span class="a{$key}">{$item.main}</span>
		<ul class="panel_menu_contener" id="panel_menu_{$key}">
		{foreach item=i key=k from=$item}{if $k!="main"}
		<li class="panel_menu_item"><a href="panel/{$key}/{$k}/" title="{$i} - {$item.main}">{$i}</a></li>
		{/if}{/foreach}
		</ul>
	</li>
	{/if}
{/foreach}
</ul>
<div class="row_info" id="komunikat"></div>