<script type="text/javascript" src="module/meta/class.js"></script>

<form action="" id="meta_form">
<fieldset style="width:94%">
<legend>{$lang.head}</legend>
<div class="row_auto">
	<label>{$lang.title}:</label>
	<input type="text" name="title" value="{$dane.title}" maxlength="80" class="meta_text" />
</div>
<div class="row_auto">
	<label>{$lang.description}:</label>
	<input type="text" name="description" value="{$dane.description}" class="meta_text" />
</div>
<div class="row_auto">
	<label>{$lang.keywords}:</label>
	<input type="text" name="keywords" value="{$dane.keywords}" class="meta_text" />
</div>
<div class="row_auto">
	<label>{$lang.robots}:</label>

		<select name="robots" class="meta_text">
		{foreach item=i key=k from=$lang.robots_option}<option value="{$k}" {if $k==$dane.robots}selected="selected"{/if}>{$i}</option>{/foreach}
		</select>
</div>
<div class="row_action"><input type="button" value="{$lang.save}" class="meta_save" onclick="meta_obj.save();" /></div>
</fieldset>
</form>
{* komunikaty *}
<div class="row_hidden">
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
</div>