<div class="container-fluid px-0">
<div class="ramka">
	<div class="row">
		<h3>{$lang.head} {*<a class="pomoc"><span>lorem</span></a>*}</h3>
		<script type="text/javascript" src="module/panel/data_extra/class.js"></script>
		<form action="" onsubmit="javascript: return panel_data_extra_obj.submit({$user_id});" id="data_extra_save" class="form-horizontal">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-5">{$lang.eheader}<br><span class="small">{$lang.nagl5}</span></label>
					<div class="col-sm-7">
						<textarea name="head" cols="" rows="3" class="form-control">{$dane->head}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5">{$lang.efoot}<br><span class="small">{$lang.nagl6}</span></label>
					<div class="col-sm-7">
						<textarea name="foot" cols="" rows="3" class="form-control">{$dane->foot}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-5">{$lang.einfo}<br><span class="small">{$lang.nagl7}</span></label>
					<div class="col-sm-7">
						<textarea name="info" cols="" rows="3" class="form-control">{$dane->info}</textarea>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-12">
					<label class="col-sm-5">{$lang.elogo}<br><span class="small"> {$lang.nagl3}</span></label>
					<div class="col-sm-7">
						{assign var="uploader_type" value="invoice_logo"}
						{assign var="uploader_what" value="img"}
						{assign var="uploader_file" value=$dane->logo}
						{assign var="uploader_name" value="logo"}
						{include_php file="module/uploader/module.php"}
					</div>
				</div>
				<div class="col-sm-12">
					<hr>
				</div>
				<div class="col-sm-12">
					<label class="col-sm-5">Podpis/Pieczątka<br><span class="small">{$lang.nagl4}</span></label>
					<div class="col-sm-7">
						{assign var="uploader_type" value="invoice_sign"}
						{assign var="uploader_what" value="img"}
						{assign var="uploader_file" value=$dane->sign}
						{assign var="uploader_name" value="sign"}
						{include_php file="module/uploader/module.php"}
					</div>
				</div>
			</div>
			{* buttony zapisu *}
			<div class="col-sm-12 text-center">
				<br>
				<input type="hidden" name="id" value="{$user_id}" />
				<input type="reset" value="{$lang.cancel}" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" value="{$lang.save}" class="btn orangeButton" />
				<br><br><Br>
			</div>
		</form>
	</div>



		{*
		<script type="text/javascript" src="module/panel/data_extra/class.js"></script>
		<form action="" onsubmit="javascript: return panel_data_extra_obj.submit({$user_id});" id="data_extra_save">
		<div class="row_auto">
			<div class="insert_left">{$lang.logo}:</div>
			<div class="insert_right">
				{assign var="uploader_type" value="invoice_logo"}
				{assign var="uploader_what" value="img"}
				{assign var="uploader_file" value=$dane->logo}
				{assign var="uploader_name" value="logo"}
				{include_php file="module/uploader/module.php"}
			</div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.header}:</div>
			<div class="insert_right"><textarea name="head" cols="" rows="3" class="data_extra_text">{$dane->head}</textarea></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.foot}:</div>
			<div class="insert_right"><textarea name="foot" cols="" rows="3" class="data_extra_text">{$dane->foot}</textarea></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.info}:</div>
			<div class="insert_right"><textarea name="info" cols="" rows="3" class="data_extra_text">{$dane->info}</textarea></div>
		</div>
		 buttony zapisu
		<div class="row_action">
			<input type="hidden" name="id" value="{$user_id}" />
			<input type="reset" value="{$lang.cancel}" class="data_extra_cancel" />
			<input type="submit" value="{$lang.save}" class="data_extra_save" />
		</div>
		</form> *}
		{* komunikaty błędów zmienne pomocnicze *}
	<div class="row_hidden">
		<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
		<input type="hidden" id="save_error" value="{$lang.save_error}" />
	</div>
</div>
</div>
