<script type="text/javascript" src="module/invoice/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
{* menu *}
<div class="invoice_menu">
	<div class="invoice_item" onclick="javascript: invoice_obj.clean();">{$lang.menu_clean}</div>
	<div class="invoice_item" onclick="javascript: invoice_obj.save_pdf();">{$lang.menu_pdf}</div>
	{if $user_sub}
	<div class="invoice_item" onclick="javascript: invoice_obj.save_base();">{$lang.menu_save}</div>
	<div class="invoice_item" onclick="javascript: invoice_obj.panel_client();">{$lang.menu_loadc}</div>
	<div class="invoice_item" onclick="javascript: invoice_obj.panel_prod();">{$lang.menu_loadp}</div>
	{/if}
</div>
<div id="invoice">
{if $user_sub}
<div class="row_action">
	<a href="panel/invoice/search/" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a href="panel/client/list/" title="{$lang.list_client}">{$lang.list_client}</a>
</div>
{/if}
{* początek faktury właściwej *}
<form action="" id="faktura">
{* nagłówek *}
<div class="invoice_100"><input type="text" name="lang_head" value="{$lang.head}" class="invoice_head" /></div>
{* numer faktury *}
<div class="invoice_100">
	<div class="invoice_25"><br/></div>
	<div class="invoice_25"><input type="text" name="lang_number" value="{$lang.number}" class="invoice_normal" /></div>
	<div class="invoice_25"><input type="text" name="number" value="{if $inv->number}{$inv->number}{else}{$smarty.now|date_format:"%Y/%m/%d"}{/if}" class="invoice_data" /></div>
	<div class="invoice_25"><br/></div>
</div>
{* oryginał/kopia*}
<div class="invoice_100">
	<div class="invoice_25"><a href="#" onclick="javascript: return invoice_obj.strike('original');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></div>
	<div class="invoice_25"><input type="text" name="lang_original" id="original" value="{$lang.original}" class="invoice_normal" /></div>
	<div class="invoice_25"><input type="text" name="lang_copy" id="copy" value="{$lang.copy}" class="invoice_normal_l" /></div>
	<div class="invoice_25"><a href="#" onclick="javascript: return invoice_obj.strike('copy');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></div>
</div>
{* miejsce wystawienia, data wystawienia i sprzedaży *}
<div class="invoice_100">
	<div class="invoice_25"><input type="text" name="lang_place" value="{$lang.place}" class="invoice_normal" /></div>
	<div class="invoice_25"><input type="text" name="place" value="{$user->place}{$inv->place}" class="invoice_data" /></div>
	<div class="invoice_25"><input type="text" name="lang_date_create" value="{$lang.date_create}" class="invoice_normal" /></div>
	<div class="invoice_25"><script type="text/javascript">calendar.create('date_create','{$inv->date_add}');</script></div>
</div>
<div class="invoice_100">
	<div class="invoice_25"><input type="text" name="lang_date_sell" value="{$lang.date_sell}" class="invoice_normal" /></div>
	<div class="invoice_25"><script type="text/javascript">calendar.create('date_sell','{$inv->date_sell}');</script></div>
</div>


<div id="dane_osobiste">
<div class="wiersz_danych">
  <div class="lewy"> 
  	<input type="text" name="lang_user_name" value="{$lang.user_name}" class="opis" />
    <textarea name="user_name" id="user_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->name}</textarea>
  </div> 
  <div class="prawy"> 
   	<input type="text" name="lang_client_name" value="{$lang.client_name}" class="opis" />
  	<textarea name="client_name" id="client_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->name}</textarea>
  </div>
</div>

<div class="wiersz_danych"> 
  <div class="lewy"> 
  	<input type="text" name="lang_user_address" value="{$lang.user_address}" class="opis" />
    <textarea name="user_address" id="user_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->address}</textarea>
  </div> 
  <div class="prawy"> 
    <input type="text" name="lang_client_address" value="{$lang.client_address}" class="opis" />
  	<textarea name="client_address" id="client_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->address}</textarea> 	
  </div> 
</div>

<div class="wiersz_danych">   
  <div class="lewy"> 
  	<input type="text" name="lang_user_nip" value="{$lang.user_nip}" class="opis" />
  	<input type="text" name="user_nip" id="user_nip" value="{$user->nip}" maxlength="13" class="tresc" onkeypress="javascript: return valid_data.check_nip(event,this.id);" /> 
  </div> 
  <div class="prawy">    
    <input type="text" name="lang_client_nip" value="{$lang.client_nip}" class="opis" />
  	<input type="text" name="client_nip" id="client_nip" value="{$client->nip}" maxlength="13" class="tresc" onkeypress="javascript: return valid_data.check_nip(event,this.id);" />		
  </div>  
</div>

<div class="wiersz_danych">   
  <div class="lewy"> 
    <input type="text" name="lang_user_phone" value="{$lang.user_phone}" class="opis" />
  	<textarea name="user_phone" id="user_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->phone}</textarea>   
  </div> 
  <div class="prawy"> 
    <input type="text" name="lang_client_phone" value="{$lang.client_phone}" class="opis" />
  	<textarea name="client_phone" id="client_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->phone}</textarea>
</div>
</div>	
  
<div class="wiersz_danych">     
  <div class="lewy"> 
  	<input type="text" name="lang_user_mail" value="{$lang.user_mail}" class="opis" />
  	<textarea name="user_mail" id="user_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->email}</textarea>
  </div> 
  <div class="prawy"> 
    <input type="text" name="lang_client_mail" value="{$lang.client_mail}" class="opis" />
  	<textarea name="client_mail" id="client_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->email}</textarea>
  </div>
</div>

<div class="wiersz_danych">   
  <div class="lewy">
    <input type="text" name="lang_user_krs" value="{$lang.user_krs}" class="opis" />
  	<input type="text" name="user_krs" id="user_krs" value="{$user->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />  
  </div> 
  <div class="prawy"> 
    <input type="text" name="lang_client_krs" value="{$lang.client_krs}" class="opis" />
  	<input type="text" name="client_krs" id="client_krs" value="{$client->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />
  </div>
</div>

  
<div class="wiersz_danych"> 
  <div class="lewy">
    <input type="text" name="lang_user_bank_name" value="{$lang.user_bank_name}" class="opis" />
  	<input type="text" name="user_bank_name" id="user_bank_name" value="{$user->bank_name}" class="tresc" /> 
  </div> 
  <div class="prawy">    
    <input type="text" name="lang_client_bank_name" value="{$lang.client_bank_name}" class="opis" />
    <input type="text" name="client_bank_name" id="client_bank_name" value="{$client->bank_name}" class="tresc" />
  </div>
</div>

<div class="wiersz_danych"> 
  <div class="lewy">
  	<input type="text" name="lang_user_account" value="{$lang.user_account}" class="opis" />
  	<input type="text" name="user_account" id="user_account" value="{$user->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
  </div> 
  <div class="prawy"> 
  	<input type="text" name="lang_client_account" value="{$lang.client_account}" class="opis" />
    <input type="text" name="client_account" id="client_account" value="{$client->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
  </div>
</div>


</div>






{* konto *}

{* zapis kontrahenta *}
<div class="invoice_100">
	<div class="invoice_25"><br/></div>
	<div class="invoice_25"><br/></div>
	<div class="invoice_25"><br/></div>
	<div class="invoice_25">{if $user_sub}<a href="#" onclick="javascript: return invoice_obj.save_client()" title="{$lang.add_client}" class="add">{$lang.add_client}</a>{/if}</div>
</div>
{* odstęp *}
<div class="invoice_100"><br/><br/></div>
{* nagłówki listy produktów *}
<div>
<div id="lista">
<p class="header">
	<span class="lp"><input type="text" name="lang_lp" value="{$lang.lp}"  /></span>
	<span class="name"><input type="text" name="lang_name" value="{$lang.name}"  /></span>
	<span class="pkwiu"><input type="text" name="lang_pkwiu" value="{$lang.pkwiu}"  /></span>
	<span class="ilosc"><input type="text" name="lang_amount" value="{$lang.amount}"  /></span>
	<span class="jm"><input type="text" name="lang_unit" value="{$lang.unit}"  /></span>
	<span class="kwota2"><input type="text" name="lang_netto" value="{$lang.netto}" /></span>
	<span class="kwota2" ><input type="text" name="lang_rabat" value="{$lang.rabat}" /></span>
	<span class="kwota2"><input type="text" name="lang_prize_netto" value="{$lang.prize_netto}"  /></span>
	<span class="vat"><input type="text" name="lang_vat" value="{$lang.vat}"  /></span>
	<span class="kwota"><input type="text" name="lang_sum_netto" value="{$lang.sum_netto}" /></span>
	<span class="kwota"><input type="text" name="lang_sum_vat" value="{$lang.sum_vat}" /></span>
	<span class="kwota"><input type="text" name="lang_sum_brutto" value="{$lang.sum_brutto}"  /></span>
</p> 
<ul id="product_list">
	<li id="row_position">  
		<p class="lp"><input type="text" name="p_[id]_lp" id="p_[id]_lp" value="" class="invoice_data" onkeypress="javascript: return false;" /></p>
		<p class="name"><textarea name="p_[id]_name" id="p_[id]_name"  cols="" rows=""  onkeyup="javascript: invoice_obj.textarea_height(this);"></textarea></p>
		<p class="pkwiu"><input type="text" name="p_[id]_pkwiu" id="p_[id]_pkwiu" value="" class="invoice_data" /></p>
		<p class="ilosc"><input type="text" name="p_[id]_amount" id="p_[id]_amount" value=""  onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></p>
		<p class="jm"><select name="p_[id]_unit" id="p_[id]_unit" ><option value="">---</option>{foreach item=i key=k from=$units}<option value="{$k}">{$k}</option>{/foreach}</select></p>
		<p class="kwota2"><input type="text" name="p_[id]_netto" id="p_[id]_netto" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></p>
		<p class="kwota2"><input type="text" name="p_[id]_rabat" id="p_[id]_rabat" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></p>
		<p class="kwota2"><input type="text" name="p_[id]_pnetto" id="p_[id]_pnetto" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></p>
		<p class="vat"><select name="p_[id]_vat" id="p_[id]_vat"  onchange="javascript: invoice_obj.count_all();"><option value="0">0 %</option><option value="3">3 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="22">22 %</option></select></p>
		<p class="kwota"><input type="text" name="p_[id]_snetto"  id="p_[id]_snetto" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></p>
		<p class="kwota"><input type="text" name="p_[id]_svat" id="p_[id]_svat" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></p>
		<p class="kwota"><input type="text" name="p_[id]_sbrutto" id="p_[id]_sbrutto" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></p>
		<p>
			<a href="#" title="{$lang.del}" onclick="javascript: return invoice_obj.del([id]);" class="del">&nbsp;</a>
			{if $user_sub}<a href="#" title="{$lang.add_product}" onclick="javascript: return invoice_obj.save_product([id]);" class="add">&nbsp;</a>{/if}
		</p> 
	</li>
    
{* lista pozycji *}
</ul>

</div>
<a href="#" title="{$lang.add}" onclick="javascript: return invoice_obj.add();" class="added">Dodaj nową pozycję </a>
</div>
  


{* kwoty VAT *}
<div class="podsumowanie">
		<p class="header">
			<span class="stawka"><input type="text" name="lang_all_rate" value="{$lang.all_rate}" class="invoice_normal_l" /></span>
			<span class="netto"><input type="text" name="lang_all_netto" value="{$lang.all_netto}" class="invoice_normal_l" /></span>
			<span class="vat"><input type="text" name="lang_all_vat" value="{$lang.all_vat}" class="invoice_normal_l" /></span>
			<span class="brutto"><input type="text" name="lang_all_brutto" value="{$lang.all_brutto}" class="invoice_normal_l" /></span>
		</p>
		<div class="invoice_100" id="vat_list" style="background:red;">
             	<div class="invoice_b1000" id="row_vat">
		    <div class="invoice_b250"><input type="text" id="v_[id]_rate" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></div>
		    <div class="invoice_b250"><input type="text" id="v_[id]_netto" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></div>
		    <div class="invoice_b250"><input type="text" id="v_[id]_vat" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></div>
		    <div class="invoice_b250"><input type="text" id="v_[id]_brutto" value="" class="invoice_data_rn" onkeypress="javascript: return false;" /></div>
	     </div>
    </div>
		 <ul>
		<li>
			<p class="stawka"><input type="text" name="lang_all_sum" value="{$lang.all_sum}" class="invoice_normal_l" /></p>
			<p class="netto"><input type="text" id="all_netto" value="0.00 PLN" class="invoice_data_rn" onkeypress="javascript: return false;" /></p>
			<p class="vat"><input type="text" id="all_vat" value="0.00 PLN" class="invoice_data_rn" onkeypress="javascript: return false;" /></p>
			<p class="brutto"><input type="text" id="all_brutto" value="0.00 PLN" class="invoice_data_rn" onkeypress="javascript: return false;" /></p>
		</li>
		</ul>
</div>

{* zapłata *}
<div class="zaplata">
  <div class="forma">
      <input type="text" name="lang_cash_type" value="{$lang.cash_type}" class="opis" />
			<select name="cash_type" id="cash_type" class="wartosc">{foreach item=i from=$lang.cash_option}<option value="{$i}">{$i}</option>{/foreach}</select>
  </div>

  <div class="invoice_100">			
			<input type="text" name="lang_cash_date" value="{$lang.cash_date}" class="opis" />
					<input type="radio" name="cash_date" id="cash_date_l" value="list" checked="checked" />
					<select name="cash_date_list" id="cash_date_list" class="invoice_data"><option value="---">---</option>{foreach item=i from=$lang.cash_deadline}<option value="{$i}">{$i}</option>{/foreach}</select>
					
          <input type="radio" name="cash_date" id="cash_date_d" value="date" />
					<script type="text/javascript">calendar.create('cash_date_date','{if $inv->sell_date}{$inv->sell_time}{/if}');</script>
  </div>
</div>

{* słownie *}
<div class="kwoty">
	<input type="text" name="lang_cash_sum" value="{$lang.cash_sum}" class="opis" />
	<input type="text" name="cash_sum" id="cash_sum" value="0.00 PLN" class="wartosc" onkeypress="javascript: return false;" />
	<input type="text" name="lang_cash_word" value="{$lang.cash_word}" class="opis" />
  <input type="text" name="cash_word" id="cash_word" value="" class="wartosc" onkeypress="javascript: return false;" />
</div>
{* podpisy *}
<div class="podpis">
	<input type="text" name="lang_client_sign" value="{$lang.client_sign}" class="left opis" />
  <input type="text" name="lang_user_sign" value="{$lang.user_sign}" class="right opis" />
</div>

{* komentarz *}
<div class="invoice_100"><input type="text" name="lang_coment" value="{$lang.coment}" class="invoice_normal_l" /></div>
<div class="invoice_100"><textarea name="coment" cols="" rows="" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);">{$inv->coment}</textarea></div>

{* dane ukryte *}
<div class="row_hidden">
	<input type="hidden" name="original_v" value="0" id="original_v" />
	<input type="hidden" name="copy_v" value="0" id="copy_v" />
	<input type="hidden" name="client_id" value="{$inv->client}" id="client_id" />
</div>
{* koniec faktury właściwej *}
</form>

{* wstawiane z js *}
<div class="row_hidden">

{* pusty wiersz podliczenia VAT *}


{* panel wyboru kontrahenta *}
	<div class="invoice_client" id="client_panel">
		<div class="row_head">{$lang.clients_head}</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.clients_name}:</div>
			<div class="insert_right"><input type="text" id="clients_[id]_name" value="[name]" class="invoice_data" /></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.clients_address}:</div>
			<div class="insert_right"><input type="text" id="clients_[id]_address" value="[address]" class="invoice_data" /></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.clients_nip}:</div>
			<div class="insert_right"><input type="text" id="clients_[id]_nip" value="[nip]" maxlength="13" class="invoice_data" onkeypress="javascript: return valid_data.check_nip(event);" /></div>
		</div>
		<div class="row_action"><input type="button" value="{$lang.clients_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_client(1);" /></div>
		{* lista liter *}
		<div class="row_auto">
			<a href="#" onclick="javascript: return invoice_obj.panel_client([search],1,this.title);" title="" id="client_letter">[{$lang.clients_all}]</a>[letters]
		</div>
		{* lista kontrahentów *}
		<div class="row_auto">
			[clients]
		</div>
		{* stronicowanie *}
		<div class="row_auto">
			[pages]
		</div>
		{* przycisk zamknięcia *}
		<div class="row_action"><a href="#" onclick="javascript: return invoice_obj.close_client();" class="close" title="{$lang.clients_close}">{$lang.clients_close}</a></div>
	</div>
{* obiekt kontrahenta - panel kontrahenta *}
	<a href="#" onclick="javascript: return invoice_obj.load_client(this.title);" title="" class="invoice_client" id="client_object"></a>
{* obiekt strony - panel kontrahenta *}
	<a href="#" onclick="javascript: return invoice_obj.panel_client([search],this.title,[letter]);" title="" class="" id="client_page">&nbsp;</a>
{* panel wyboru produktu *}
	<div class="invoice_prod" id="prod_panel">
		<div class="row_head">{$lang.prod_head}</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.prod_name}:</div>
			<div class="insert_right"><input type="text" id="prods_[id]_name" value="[name]" class="invoice_data" /></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.prod_cat}:</div>
			<div class="insert_right"><select id="prods_[id]_cat" class="invoice_data"><option value="">---</option></select></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.prod_number}:</div>
			<div class="insert_right"><input type="text" id="prods_[id]_number" value="[number]" class="invoice_data" /></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.prod_pkwiu}:</div>
			<div class="insert_right"><input type="text" id="prods_[id]_pkwiu" value="[pkwiu]" class="invoice_data" /></div>
		</div>
		<div class="row_auto">
			<div class="insert_left">{$lang.prod_prize}:</div>
			<div class="insert_right"><input type="text" id="prods_[id]_prize_min" value="[prize_min]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" /> - <input type="text" id="prods_[id]_prize_min" value="[prize_max]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" /></div>
		</div>
		<div class="row_action"><input type="button" value="{$lang.prod_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_prod(1);" /></div>
		{* lista liter *}
		<div class="row_auto">
			<a href="#" onclick="javascript: return invoice_obj.panel_prod([search],1,this.title);" title="" id="prod_letter">[{$lang.prod_all}]</a>[letters]
		</div>
		{* lista kontrahentów *}
		<div class="row_auto">
			[prods]
		</div>
		{* stronicowanie *}
		<div class="row_auto">
			[pages]
		</div>
		{* przycisk zamknięcia *}
		<div class="row_action"><a href="#" onclick="javascript: return invoice_obj.close_prod();" class="close" title="{$lang.prod_close}">{$lang.prod_close}</a></div>
	</div>
{* obiekt kontrahenta - panel produktu *}
	<a href="#" onclick="javascript: return invoice_obj.load_prod(this.title);" title="" class="invoice_prod" id="prod_object"></a>
{* obiekt strony - panel produktu *}
	<a href="#" onclick="javascript: return invoice_obj.panel_prod([search],this.title,[letter]);" title="" class="" id="prod_page">&nbsp;</a>
</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="count" value="0" />
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="delete" value="{$lang.delete}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="addc_ok" value="{$lang.addc_ok}" />
	<input type="hidden" id="addc_error" value="{$lang.addc_error}" />
	<input type="hidden" id="addp_ok" value="{$lang.addp_ok}" />
	<input type="hidden" id="addp_error" value="{$lang.addp_error}" />
	<input type="hidden" id="number_coin" value="{$lang.number_coin}" />
	<input type="hidden" id="number_tou" value="{$lang.number_tou}" />
	<input type="hidden" id="number_mln" value="{$lang.number_mln}" />
	<input type="hidden" id="number_mld" value="{$lang.number_mld}" />
	<input type="hidden" id="number_j" value="{$lang.number_j}" />
	<input type="hidden" id="number_n" value="{$lang.number_n}" />
	<input type="hidden" id="number_d" value="{$lang.number_d}" />
	<input type="hidden" id="number_s" value="{$lang.number_s}" />
</div>
</div>
<div class="invoice_menu_bottom">
	<div class="invoice_item" onclick="javascript: invoice_obj.clean();">{$lang.menu_clean}</div>
	<div class="invoice_item" onclick="javascript: invoice_obj.save_pdf();">{$lang.menu_pdf}</div>
	{if $user_sub}
	<div class="invoice_item" onclick="javascript: invoice_obj.save_base();">{$lang.menu_save}</div>
	<div class="invoice_item" onclick="javascript: invoice_obj.panel_client();">{$lang.menu_loadc}</div>
	<div class="invoice_item" onclick="javascript: invoice_obj.panel_prod();">{$lang.menu_loadp}</div>
	{/if}
</div>
{* wywołania js *}
{foreach item=i from=$inv->product}
<script type="text/javascript">invoice_obj.add('{$i->name}', '{$i->pkwiu}', '{$i->unit}', '{$i->vat}', '{$i->netto}', '{$i->amount}', '{$i->rabat}');</script>
{/foreach}
<script type="text/javascript">invoice_obj.add();</script>
<script type="text/javascript">invoice_obj.load_invoice('{$inv->original}','{$inv->sell_type}','{$inv->sell_date}','{$inv->sell_time}');</script>
<script type="text/javascript">invoice_obj.resize_textareas();</script>
