<form action="https://www.platnosci.pl/paygw/ISO/NewPayment" method="POST" name="payform" id="data_lic_form">
<input type="hidden" name="first_name" value="[first_name]" />
<input type="hidden" name="last_name" value="[last_name]" />
<input type="hidden" name="email" value="[email]" />
<input type="hidden" name="pos_id" value="[pos_id]" />
<input type="hidden" name="pos_auth_key" value="[pos_auth_key]" />
<input type="hidden" name="session_id" value="[session_id]" />
<input type="hidden" name="amount" value="[cash]" />
<input type="hidden" name="desc" value="[desc]" />
<input type="hidden" name="client_ip" value="[ip]" />
<input type="hidden" name="js" value="1" />
</form>