{if $infoNews AND $smarty.server.REQUEST_URI=='/panel/' }

<div class="container-fluid px-0">
<!--<div class="alert_cookies" id="newsInfo">-->
	<div class="" id="newsInfo">
	<!--<a href="#" onclick="javascript: return newsInfoClose(1,{$infoNews->id})" title="Zamknij okno" class="close"><span class="glyphicon glyphicon-remove"></span></a>-->
	<h3>Nowa Aktualność</h3>
	<a href="news/{$infoNews->url}/{$infoNews->id}/" title="{$infoNews->title}" style="text-decoration: underline; font-weight: bold;">{$infoNews->title}</a>
	<p>{$infoNews->text|substr:0:300|strip_tags:false}...</p>
</div>
</div>
{/if}
