<div class="container-fluid">
<div id="strona_glowna">
		<ul id="pomoc_menu">
		{section name=a loop=$pomoc }
			{if $smarty.section.a.index == $page}
			<li class="active">
			{else}
			<li>
			{/if}
				<a class="pytanie" href="/pomoc/{$smarty.section.a.index}/">{$smarty.section.a.index+1}.
				{if $pomoc[a][0] != ''}
				{$pomoc[a][0]}
				{else}
				{$pomoc[a][1]}
				{/if}
				</a>
			</li>
		{/section}
		</ul>
		<div class="pomoc_tresc"  >
		<div class="help_prev_next">
		{if $page != 0}
		<a href="/pomoc/{$page-1}/" class="help_prev"><span class="glyphicon glyphicon-chevron-left"></span> Poprzedni</a>
		{/if}
		{if $page!=($pomoc|@count)-1}
		<a href="/pomoc/{$page+1}/"  class="help_next">Następna <span class="glyphicon glyphicon-chevron-right"></span></a>
		{/if}
		</div>
			<h1>{$pomoc[$page][1]}</h1>
			{$pomoc[$page][2]}
		</div>
<div style="clear:both;"></div>
</div>
</div>
