@CHARSET "UTF-8";
/* ustawienia ogólne */


body {font-size: 12px;background:#BBD9EE;font-family:tahoma,arial,sans-serif; ;}
#container{width:1160px;;margin:0 auto; background:#fff;overflow:visible;float:none;border:1px solid #FF7700;
margin-top:95px;
padding:0 14px 0 14px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
}
#komunikat{font-weight:Tbold;color:red;margin:-61px 0 0}
#menu {display:block;padding:0;margin:0}
#menu li{display:block;float:left;height:24px;background:#e7f1f8;margin-right:2px;
margin-top:8px;
border-left:1px solid #e7f1f8;
border-right:1px solid #e7f1f8;
border-top:1px solid #e7f1f8;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;

}
#menu .active{height:27px;border-color:#FF7700;margin-top:0;padding-top:8px;}
#menu a{color:#606060;display:block;height:100%;line-height:24px;padding:0 13px;font-size:11px;}
#menu .active {background:#fff;}

#tresc_wlasciwa{
float:none;
background: url('../images/layout/zawartosc_wlasciwa_bckg.png') repeat-x;
padding:10px 12px;
margin-top:45px;
margin-bottom:15px;
border-left:1px solid #a1a1a1;
border-right:1px solid #a1a1a1;
border-top:1px solid #a1a1a1;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;

}

#literki{floaT:left;padding:5px 0}
#typ_usera{floaT:right;padding:5px 0}

#literki a{
height:23px;width:23px;margin-right:4px;line-height:23px;text-align:center;background-position: center center;
displaY:block;float:left;
font-size:13px;
font-weight:bold;
border:1px solid #A1A1A1;
}
#typ_usera a{
height:23px;width:113px;margin-right:4px;line-height:23px;text-align:center;background-position: center center;
displaY:block;float:left;
font-size:13px;
font-weight:bold;
border:1px solid #A1A1A1;}
#typ_usera a:hover{border-color:#8B0000;}
#typ_usera a.activ{border: 2px solid #8B0000;
height:21px;line-height:21px;}

#literki a.all{width:70px;}
#literki a:hover{border-color:#8B0000;}
#literki a.activ{border: 2px solid #8B0000;
height:21px;width:21px;line-height:21px;}


.row_pager{width:99.5%;margin:0 auto;padding-top:5px;}
.row_pager a{height:23px;width:23px;margin-right:4px;line-height:23px;text-align:center;background-position: center center;
displaY:block;float:left;
font-size:13px;
border:1px solid #A1A1A1;
background-repeat:no-repeat;
 }
.row_pager a:hover{border-color:#8B0000;}
a.pager_actual {border: 2px solid #8B0000;
height:21px;width:21px;line-height:21px;
 }
/* stronicowanie */
a.first {background-image: url('../../images/icons/first.png');   }
a.prev {background-image: url('../../images/icons/prev.png'); }
a.next {background-image: url('../../images/icons/next.png');  }
a.last {background-image: url('../../images/icons/last.png');  }
a.pager {background-color: inherit; }

.tabela{border:1px solid #9097A9;
padding:0;
width:99.5%;margin:0 auto;
 border-spacing:0;
}
.tabela th{background:#9097a9;color:#fff;
border-left:1px solid #fff;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
padding:5px;
}
.tabela td a{display:block-inline;}
.tabela td{ border: 1px solid #FFFFFF;text-align:center;background:#D8D8D8;padding: 3px 5px}
.tabela th a{text-decoration:underline;color:#fff;font-size:11px;}
.tabela tr:hover td{background:#444;color:#fff;}
.tabela td a{color:inherit;}
.tabela td a:hover{color:red;}
.tabela .parzysty td{background:#ECECEC;}
.tabela .first{text-align:left;border-left:0 none;font-weight:bold;}
.tabela .last{border-right:0;}


#wyszukaj{
border-top:2px solid #ff7700;
border-bottom:2px solid #ff7700;
margin-top:4px;
padding:3px 0;
text-align:left;
}


#navibar{border-left:2px solid #FF7700;position:relative;text-align:left;padding-left:10px;height:16px;padding-top:22px;font-size:11px;}
#navibar h1{color: #43729F;
text-align:left;
font: 20px/21px verdana,sans-serif;
margin: 0;
position:absolute;
top:0;
left:8px;
}
#navibar a{font-size:12px;}
#navibar a:hover{text-decoration:underline;}

fieldset{float:left;width:40%;margin:0 2%}
label{text-align:left;display:block;margin-top:7px;}
legend{font-weighT:bold;font-size:16px;}







div { text-align: center; }
a {text-decoration: none; color: black; }
/*a:hover {text-decoration: none; color: black; font-weight: bolder; }*/
img {border: none; }

#item_list .col_item{float:left;widtH:25%;text-align:left;}


/* wiersze specialne */
div.row_head {width: 100%; height: 30px; line-height: 30px; font-size: 16px; font-weight: bold; }
div.row_action {width: 100%; height: 25px; line-height: 25px; font-size: 12px; font-weight: bold; }
div.row_action_hidden {width: 100%; height: 25px; line-height: 25px; font-size: 12px; font-weight: bold; display: none; }
div.row_info {width: 100%; height: 25px; line-height: 25px; font-style: italic; }
div.row_error {width: 100%; height: 25px; line-height: 25px; font-style: italic; color: red; }
div.row_hidden {width: 0px; height: 0px; display: none; }

/* wiersze zwykłe */
div.row_item {width: 100%; height: auto; border-bottom: 1px solid black; padding-top: 1px; padding-bottom: 1px; }
div.row_item:hover {width: 100%; height: auto; border-bottom: 1px solid black; padding-top: 1px; padding-bottom: 1px; background-color: #B0C4DE; }
div.row_auto {width: 100%; height: auto; padding-top: 1px; padding-bottom: 1px; }

/* kolumny */
div.col_button {width: 10%; height: auto; text-align: center; }
div.col_text {width: 70%; height: auto; text-align: left; }
div.col_name {width: 45%; height: auto; text-align: left; }
div.col_date {width: 20%; height: auto; text-align: left; }
div.col_half {width: 50%; height: auto; text-align: center; }

/* kolumny - formularze */
div.insert_left {width: 20%; height: auto; text-align: right; }
div.insert_right {width: 70%; height: auto; text-align: left; margin-left: 5px; }

/* linki akcji */
a.back {background-image: url('../../images/icons/back.png'); background-position: center left; background-repeat: no-repeat; display: block; padding-left: 16px;floaT:left;font-weighT:bold;font-size:14px;color:red; }
a.add {background-image: url('../../images/icons/add.png'); background-position: center left; background-repeat: no-repeat; display: block; padding-left: 16px;color:red;font-size:18px }
a.edit {background-image: url('../../images/icons/edit.png'); background-position: center center; background-repeat: no-repeat; display: block; padding-left: 16px; height:16px;}
a.del {background-image: url('../../images/icons/del.png'); background-position: center center; background-repeat: no-repeat; display: block; padding-left: 16px;height:16px; }
a.view {background-image: url('../../images/icons/view.png'); background-position: center left; background-repeat: no-repeat; display: block; padding-left: 16px; }
a.resend {background-image: url('../../images/icons/resend.png'); background-position: center left; background-repeat: no-repeat; display: block; padding-left: 16px; }
a.plus {background-image: url('../../images/icons/plus.png'); background-position: center left; background-repeat: no-repeat; display: block; padding-left: 16px; }
a.minus {background-image: url('../../images/icons/minus.png'); background-position: center left; background-repeat: no-repeat; display: block; padding-left: 16px; }



/* meta */
input.meta_text {width:876px; height: 16px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
select.meta_text {width:876px; height: 20px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
input.meta_save {width: 100px; height: 22px; font-size: 12px; }

/* kontakt */
input.contact_save {width: 100px; height: 22px; font-size: 12px; }


input.contact_text {width: 400px; height: 16px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
textarea.contact_text {width: 400px; height: 80px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }

/* użytkownicy */
.sonda .user_text{width:876px}
textarea.user_text {width: 300px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
select.user_text {width: 400px; height: 20px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
input.user_text {width: 400px; height: 16px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
.user_text:focus, .contact_text:focus {border-color:#333;background:#fff;}

input.user_text_ok {width: 400px; height: 16px; font-size: 12px; text-align: left; border: 1px solid #7CFC00; }
input.user_text_error {width: 400px; height: 16px; font-size: 12px; text-align: left; border: 1px solid #FF0000; }
input.user_add {width: 100px; height: 22px; font-size: 12px; }
input.user_save {width: 100px; height: 22px; font-size: 12px; }
input.user_cancel {width: 100px; height: 22px; font-size: 12px; }
input.user_submit {width: 100px; height: 22px; font-size: 12px; }
input.user_check {width: 20px; }
a.user_letter {width: 20px; height: 20px; display: inline; }
a.user_letter_activ {width: 20px; height: 20px; display: inline; font-weight: bolder; }
div.user_list {width: 100%; height: 335px; overflow-y: scroll; }

/* newsy */
a.news_letter {width: 20px; height: 20px; display: inline; }
a.news_letter_activ {width: 20px; height: 20px; display: inline; font-weight: bolder; }
textarea.news_text {width: 876px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
input.news_text {width: 876px; height: 16px; font-size: 12px; text-align: left; border: 1px solid #A9A9A9; }
input.news_add {width: 100px; height: 22px; font-size: 12px; }
input.news_save {width: 100px; height: 22px; font-size: 12px; }
div.news_tree {width: 100%; height: auto; text-align: left; padding-left: 20px; padding-top: 1px; padding-bottom: 1px;border-bottom:1px solid #dfdfdf; }
div.news_tree div{float:left;}
div.news_button {width: 5%; height: auto; text-align: right; }
div.news_name {width: 95%; height: auto; text-align: left; font-weight: bolder; }
div.news_texts {width: 95%; height: auto; text-align: justify; }
div.news_answer {width: 95%; height: auto; text-align: center; }


/****************************/
/*							*/
/*			UPLOADER		*/
/*							*/
/****************************/
div.uploader_progress {width: 100%; height: 20px; padding-top: 10px; padding-bottom: 10px; display: none; text-align: center; }
div.uploader_left {width: 40%; height: auto; text-align: center; }
div.uploader_right {width: 50%; height: auto; text-align: left; margin-left: 5px; }
div.uploader_item {width: 60%; height: auto; text-align: center; }
div.uploader_del {width: 40%; height: auto; text-align: center; }
div.uploader_item {width: 25%; height: auto; display: block; }
div.uploader_box {width: 100%; height: 100%; }
div.uploader_contener {width: 0px; height: 0px; position: fixed; background-color: #ADD8E6; }
a.uploader_download {width: 100%; height: 100%; display: block; color: inherit; }
a.uploader_download_none {width: 100%; height: 100%; display: none; color: inherit; }
img.uploader_download {width: 100px; height: auto; display: block; color: inherit; }
img.uploader_download_none {width: 100px; height: auto; display: none; color: inherit; }
input.uploader_upload {width: 300px; height: 22px; font-size: 12px; display: block; }
input.uploader_delete {width: 100px; height: 22px; font-size: 12px; display: block; }
input.uploader_delete_none {width: 100px; height: 22px; font-size: 12px; display: none; }



/********************* kalendarz ********************/
.place_date{width:48%;float:right;padding-top:10px;}
 .place_date input{font-size:14px;}
.place_date .opis{width:33%;text-align:right;float:left;}
.place_date .tresc{border-width:0 0 1px 0;text-align:left;width:64%}
.place_date .wiersz_danych{padding-bottom:5px;}

.calendar_panel div{float:left;}
div.calendar_main {
position:relative;
text-align:left;
width:61%;
}
div.calendar_main > select{margin-right:2px;} 

select.calendar_day {
width:50px;
border:1px solid #A9A9A9;
text-align:left;
}

select.calendar_month {
width:100px;
border:1px solid #A9A9A9;
text-align:left;
}

select.calendar_year {
width:60px;
border:1px solid #A9A9A9;
text-align:left;
}

input.calendar_button {
width:19px;
height:19px;
background-image:url('../../images/icons/calendar.png');
border:none;
}

div.calendar_panel {
width:150px;
position:absolute;
top:20px;
left:95px;
z-index:500;
border:1px solid #000
}

div.calendar_navi {
width:100%;
height:18px;
background-color:#4169E1;
}

div.calendar_name {
width:140px;
height:20px;
padding-left:5px;
padding-right:5px;
background-color:#B0C4DE;
font-weight:bold;
}

div.calendar_days {
width:140px;
height:100%;
padding-left:5px;
padding-right:5px;
cursor:pointer;
background-color:#fff
}
div.calendar_days div, div.calendar_name div{
width:20px;
height:20px;
line-height:20px;
text-align:center;
font-size:10px;
}

div.calendar_day {}
div.calendar_dayn {color:#ff0000;}

div.calendar_dayt {
width:20px;
height:20px;
line-height:20px;
text-align:center;
font-size:10px;
background-color:#659ACC;
font-weight:bold;
}

div.calendar_buttonp {
width:16px;
height:18px;
background-image:url('../../images/icons/calendar_prev.png');
}

div.calendar_buttonn {
width:16px;
height:18px;
background-image:url('../../images/icons/calendar_next.png');
}

div.calendar_pdate {
width:118px;
height:18px;
}

select.calendar_pmonth {
width:68px;
height:16px;
font-size:9px;
border:1px solid #A9A9A9;
text-align:left;
}

select.calendar_pyear {
width:50px;
height:16px;
font-size:9px;
border:1px solid #A9A9A9;
text-align:left;
}