<div class="row_hidden" id="startowy">
<div id="rejestracja_lol" >
<script type="text/javascript" src="module/reg2/class.js"></script>
{*<div class="row_head">{$lang.head}</div>*}


<form action="" onsubmit="javascript: return reg_obj.submit();">

<fieldset id="zadaj_pytanie2">
	<div id="reg_success_error" class="dane_error" style="background:green"></div>
	<div id="reg_error_error" class="dane_error"></div>
	<div id="reg_login_error" class="dane_error"></div>
	<label>{$lang.login}:</label>
	<input type="text" name="login" id="reg_login"  onchange="javascript: reg_obj.check_login();" />
	<div id="reg_pass_error" class="dane_error"></div>
	<label>{$lang.pass}:</label>
	<input type="password" name="pass" id="reg_pass" />
	<label>{$lang.pass} ({$lang.repeat}):</label>
	<input type="password" name="pass_repeat" id="reg_pass_repeat"  />
	<div id="reg_mail_error" class="dane_error"></div>
	<label>{$lang.mail}:</label>
	<input type="text" name="mail" id="reg_mail"  onchange="javascript: reg_obj.check_mail();" />
	<label>{$lang.nip}:</label>
	<input type="text" name="nip" id="reg_nip" />
	<div id="reg_nip_error" class="dane_error"></div>
	<label>{$lang.accept}:</label>
	<input type="checkbox" name="accept" id="reg_accept" /> 
	<div id="reg_accept_error" class="dane_error"></div>
	<input type="submit" value="{$lang.send}" class="wyslij_zapytanie" />

</fieldset>

</form>
{* komunikaty błedów i zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="regv_login" value="0" />
	<input type="hidden" id="regv_mail" value="0" />  
	<input type="hidden" id="regv_nip" value="1" />
	<input type="hidden" id="bad_login" value="{$lang.bad_login}" />
	<input type="hidden" id="bad_mail" value="{$lang.bad_mail}" />
	<input type="hidden" id="bad_pass" value="{$lang.bad_pass}" />  
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_accept" value="{$lang.bad_accept}" />
	<input type="hidden" id="add_ok" value="{$lang.add_ok}" />
	<input type="hidden" id="add_error" value="{$lang.add_error}" />
</div>
<div id="sub_error" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:124px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
<a onclick="javascript: location.href=location.href;" class="close" title="{$lang.close}"><span class="glyphicon glyphicon-remove"></span></a>
{$lang.add_ok}


</div>
<div id="sub_errorN" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;padding:10px;position:fixed;line-height:42px;font-weight:bold;text-align:center;font-size:22px;">
<a onclick="javascript: location.href=location.href;" class="close" title="{$lang.close}"><span class="glyphicon glyphicon-remove"></span></a>
{$lang.err_nip}
	
</div>
</div>


</div>
<script type="text/javascript">
if($('rejestracja_lol').parentNode.id=='r1'){ldelim} $('startowy').appendChild($('rejestracja_lol')) {rdelim}else{ldelim} $('r1').appendChild($('rejestracja_lol')) {rdelim};
</script>