<script type="text/javascript" src="module/gallery_tpl/standard.js"></script>
{* lista *}
<div class="row_auto">
{foreach item=i key=k from=$gal}
	<div class="gallery_s_item"><img src="{$i->path}" alt="{$i->name}" title="{$i->name}" width="" height="" class="gallery_s_img" onclick="javascript: gallery_s.open(this,{$k});" /></div>
{/foreach}
</div>

{* powłoka *}
<div class="gallery_s_main" id="gallery">
	<div class="gallery_s_middle" id="gallery_middle">
		<div class="gallery_s_close"><a href="#" onclick="javascript: return gallery_s.close();" class="close" style="z-index:5"><span class="glyphicon glyphicon-remove"></span></a></div>
		
		<div style="font-size:14px;font-weight:bold;text-align:left;padding-left:20px;display:none;"><span class="gallery_s_name" id="gallery_name">tytuł zdjęcia</span><span class="gallery_s_counter" id="gallery_counter">1/1</span></div>
		<div>
			{*<div class="gallery_s_prev" onclick="javascript: gallery_s.prev();" style="float:left;">&nbsp;</div>
				<div class="gallery_s_next" onclick="javascript: gallery_s.next();" style="float:right;">&nbsp;</div>*}
			<div class="gallery_s_img" id="gallery_img_div" onclick="javascript: gallery_s.next();" >
				<img src="" title="" alt="" width="" height="" id="gallery_img" />
				<img src="" title="" alt="" width="" height="" id="gallery_tmp" class="gallery_s_big" />
			</div>
		
		</div>
		<div class="gallery_s_bottom" style="width:64px;">
			{*<div class="gallery_s_prev" onmousedown="javascript: gallery_s.left();" onmouseup="javascript: gallery_s.stop();">&nbsp;</div>*}
			<div class="gallery_s_list" id="gallery_list" style="">
				<div class="" {*style="width: {$max*74}px"*}>
				{foreach item=i key=k from=$gal}
					<div class="gallery_s_item"><img src="{$i->path}" alt="{$i->name}" title="{$i->name}" width="" height="" class="gallery_s_img" id="gallery_img_{$k}" onclick="javascript: gallery_s.change(this,{$k});" /></div>
				{/foreach}
				</div>
			</div>
			{*<div class="gallery_s_next" onmousedown="javascript: gallery_s.right();" onmouseup="javascript: gallery_s.stop();">&nbsp;</div>*}
		</div>
	</div>
</div>
{* zmienne dodatkowe *}
<div class="row_hidden">
	<input type="hidden" id="gallery_count" value="0" />
	<input type="hidden" id="gallery_max" value="{$max}" />
	{foreach item=i key=k from=$gal}<input type="hidden" id="gallery_width_{$k}" value="{$i->width}" /><input type="hidden" id="gallery_height_{$k}" value="{$i->height}" />{/foreach}
	<input type="hidden" id="gallery_width" value="64" />{* nadmiar szerokości: padding, przyciski *}
	<input type="hidden" id="gallery_height" value="0" />{* nadmiar wysokości: padding, nagłówki, lista *}
</div>