
<script type="text/javascript" src="module/panel/invoice/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<div class="container-fluid px-0">
{if $action=="list"}

	<div id="wyszukiwarka_faktur" class="ramka">
		<h3>{$lang.head}</h3>

		{*<div class="invoice_list_show" id="search_show" onclick="javascript: panel_invoice_obj.show_search();">{$lang.searcher} ({$lang.show})</div>
		<div class="invoice_list_hidden" id="search_hidden" onclick="javascript: panel_invoice_obj.hidden_search();">{$lang.searcher} ({$lang.hidden})</div>*}
		<div class="row">
			<div id="search">
				<div class="col-sm-3 form-group">
					<label>{$lang.name}:</label>
					<input type="text" id="name" value="{$search.name}" class="form-control" />
				</div>

				<div class="col-sm-3 form-group">
					<label>{$lang.address}:</label>
					<input type="text" id="address" value="{$search.address}" class="form-control"  />
				</div>
				<div class="col-sm-3 form-group">
					<label>{$lang.nip}:</label>
					<input type="text" id="nip" value="{$search.nip}" maxlength="13" class="form-control"  onkeypress="javascript: return valid_data.check_nip(event);" />
				</div>
			</div>

			{if $search.address OR $search.nip}<script type="text/javascript">panel_invoice_obj.show_search();</script>{/if}
			<div class="col-sm-3 form-group">
				<label class="col-sm-12">&nbsp; </label>
				<input type="button" value="{$lang.search}" class="btn orangeButton" id="wyszukaj_faktury" onclick="javascript: panel_invoice_obj.search();"  />
			</div>
		</div>
	</div>
	<div class="text-right">
		<div class="btn-group alphabet">
			{if !$smarty.get.par5}
				<a href="panel/invoice/list/" title="{$lang.all}" class="btn btn-primary btn-sm disabled">{$lang.all}</a>
			{else}
				<a href="panel/invoice/list/" title="{$lang.all}" class="btn btn-default btn-sm">{$lang.all}</a>
			{/if}
		{foreach item=i from=$letter}
			{if $i==$smarty.get.par5}<a href="panel/invoice/list/1/{$i}/" title="{$i}" class="btn btn-primary btn-sm disabled">{$i}</a>
			{else}<a href="panel/invoice/list/1/{$i}/" title="{$i}" class="btn btn-default btn-sm">{$i}</a>{/if}
		{/foreach}
		</div>
	</div>
	<table class="table table-striped table-hover table-bordered lista">
		{if $other}
		<tr>
			<td colspan="2" style="text-align:left;"><a href="panel/invoice/list/client/0/" title="{$lang.other}" style="font-weight:bold;color:red;">{$lang.other}</a></td>
			<td><a href="panel/invoice/list/client/0/" title="{$lang.invoice}" class="invoice">{$lang.invoice} [{$other}]</a></td>
		</tr>
		{/if}
		<tr>
		<th>{$lang.nagl3}</th>
		<th>{$lang.nagl4}</th>
		<th>{$lang.nagl5}</th>
		</tr>
		{foreach item=i from=$dane name=a}
		<tr {if $smarty.foreach.a.index+1 is even}class="parzysty {if ($smarty.foreach.a.index+1) is div by 10}dziesiaty{/if}"{/if}>
			<td><a href="panel/invoice/list/client/{if $i->id}{$i->id}{else}{$i->sign}{/if}/" title="{$i->sign}">{$i->sign}</a></td>
			<td><a href="panel/invoice/list/client/{if $i->id}{$i->id}{else}{$i->sign}{/if}/" title="{$i->name}">{$i->name}</a></td>
			<td><a href="panel/invoice/list/client/{if $i->id}{$i->id}{else}{$i->sign}{/if}/" title="{$lang.invoice}"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;      {$lang.invoice} [{$i->count}]</a></td>
		</tr>
		{/foreach}
	</table>
	{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/invoice/list/" surfix="$sign"}

	{* komunikaty *}
	<div class="row_hidden">
		<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	</div>

{elseif $action=="client"}

	{if $client_data->name}
	<div id="dane_kontrahenta" class="ramka">
		<h3>{if $client}{$lang.header} "{$client}"{else}{$lang.other}{/if}</h3>
		{*<span class="naglowek">{$lang.c_head} {if $client_data->id}  | <a href="panel/invoice/search/{$client_data->id}/" title="{$lang.page}">{$lang.page}</a>{/if}</span>*}
		{if $client_data->name != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_name}:</div>
			<div class="col-sm-9"><strong>{$client_data->name}</strong></div>
		</div>
		{/if}
		{if $client_data->address != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_address}:</div>
			<div class="col-sm-9"><strong>{$client_data->address}</strong></div>
		</div>
		{/if}
		{if $client_data->nip != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_nip}:</div>
			<div class="col-sm-9"><strong>{$client_data->nip}</strong></div>
		</div>
		{/if}
		{if $client_data->phone != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_phone}:</div>
			<div class="col-sm-9"><strong>{$client_data->phone}</strong></div>
		</div>
		{/if}
		{if $client_data->email != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_email}:</div>
			<div class="col-sm-9"><strong>{$client_data->email}</strong></div>
		</div>
		{/if}

		{if $client_data->krs != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_krs}:</div>
			<div class="col-sm-9"><strong>{$client_data->krs}</strong></div>
		</div>
		{/if}
		{if $client_data->bank_name != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_bank_name}:</div>
			<div class="col-sm-9"><strong>{$client_data->bank_name}</strong></div>
		</div>
		{/if}
		{if $client_data->account != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_account}:</div>
			<div class="col-sm-9"><strong>{$client_data->account}</strong></div>
		</div>
		{/if}
	</div>
	{/if}
	{*<div class="row_action" style="text-align:left;"><a href="panel/invoice/list/" title="{$lang.back}" class="back">{$lang.back}</a></div>*}
	<div class="row">
		<div class="col-sm-6">
			<h4>{$lang.base}</h4>
			<table class="table table-striped table-hover table-bordered lista">
					{if sizeof($base)}
			<tr>
			<th class="text-center">{$lang.nagl6}</th>
			<th class="text-center">{$lang.nagl10}</th>
			<th>{$lang.nagl7}</th>
			<th>{$lang.nagl8}</th>
			<th>{$lang.nagl9}</th>
			<th class="text-center">{$lang.nagl12}</th>
			</tr>
			{/if}
			{foreach item=i from=$base name=a}
			<tr  {if ($smarty.foreach.a.index+1) is div by 10}class="dziesiaty"{/if}>
				<td class="text-center"><a href="#" onclick="javascript: return panel_invoice_obj.save_pdf({$i->id},{$i->type});" title="{$lang.download}"><span class="glyphicon glyphicon-file"></span></a></td>
				<td  class="text-center"><a href="#" onclick="javascript: return panel_invoice_obj.send2({$i->id},{$i->type});" title="{$lang.semd}"><span class="glyphicon glyphicon-envelope"></span></a></td>
				<td><a href="invoice/{$i->id}/" title="{$lang.view} {$i->number}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;Nr: {$i->number}</a></td>
				<td>{$i->date_create}</td>
				<td>{$i->sum|string_format:"%.2f"} {$i->cur}</td>
				<td class="text-center"><a href="panel/invoice/list/del/{$i->id}/" title="{$lang.nagl12}"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			{/foreach}
			</table>
		</div>
		<div class="col-sm-6">
			<h4>{$lang.pdf}</h4>
			<table  class="table table-striped table-hover table-bordered lista">
			{if sizeof($file)}
			<tr>
			<th class="text-center">{$lang.nagl6}</th>
			<th class="text-center">{$lang.nagl10}</th>
			<th>{$lang.nagl7}</th>
			<th>{$lang.nagl8}</th>
			<th class="text-center">{$lang.nagl12}</th>
			</tr>
			{/if}
			{foreach item=i from=$file name=a}
			<tr {if ($smarty.foreach.a.index+1) is div by 10}class="dziesiaty"{/if}>
				<td class="text-center"><a href="#" onclick="javascript: return panel_invoice_obj.download('{$i->path}');" title="{$lang.download}"><span class="glyphicon glyphicon-file"></span></a></td>
				<td class="text-center"><a href="#" onclick="javascript: return panel_invoice_obj.send('{$i->path}');" title="{$lang.semd}" ><span class="glyphicon glyphicon-envelope"></span></a></td>
				<td><a href="#" onclick="javascript: return panel_invoice_obj.download('{$i->path}');" title="{$i->name|replace:"invoice-":""}">Nr: {$i->name|replace:"invoice-":""|replace:".pdf":""}</a></td>
				<td>{$i->date}</td>
				<td class="text-center"><a href="panel/invoice/list/del/{$i->path|replace:"/":"__"}/" title="{$lang.nagl12}"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			{/foreach}
			</table>
		</div>
	</div>
	<div style="clear:both"></div>

	{* okno wyboru adres'ów email TYLKO PDF*}
	<div class="invoice_list_mail" id="panel_mail" style="position:fixed">
		<a onclick="panel_invoice_obj.close();" title="{$lang.clients_close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
		<h3>{$lang.select}</h3>
		<form action="" id="send_mail" onsubmit="javascript: return panel_invoice_obj.submit();">
			{foreach item=i from=$mail}
			<div class="col-sm-12">
			<input type="checkbox" name="mail[]" value="{$i}" id="mail{$i}" /> <label for="mail{$i}">{$i}</label>
			</div>
			{/foreach}
			<div class="col-sm-12"><br></div>
			<div class="col-sm-12">
				<label>{$lang.mail}:</label>
				<input type="text" name="email" class="form-control" />
			</div>
			<div class="col-sm-12">
				<br>
				<input type="submit" value="{$lang.send}" class="btn orangeButton" />
				<br><br>
			</div>
			<div class="row_hidden">
				<input type="hidden" name="path" id="path" />
				<input type="hidden" name="user_id" value="{$user_id}" />
			</div>
		</form>
	</div>
	{* okno wyboru adres'ów email *}
	<div class="invoice_list_mail" id="panel_mail2" style="position:fixed">
		<a onclick="javascript: this.parentNode.style.display='none';" title="{$lang.clients_close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
		<h3>{$lang.select}</h3>
		<form action="" id="send_mail2" onsubmit="javascript: return panel_invoice_obj.submit2();">
			<div class="col-sm-6">
				<span style="font-weight:bold">Wybierz bądź wprowadź adres e-mail</span>

				{foreach item=i from=$mail}
				<div class="row_auto" style="text-align:left" id="mail_item"><input type="checkbox" name="mail[]" value="{$i}" id="mail{$i}" /> <label for="mail{$i}">{$i}</label></div>
				{/foreach}
				<div class="row_auto" style="text-align:left;padding-left:42px;width:auto;">
					<div class="insert_left" style="width:auto;text-align:left;">{$lang.mail}:</div>
					<input type="text" name="email" class="form-control" />
				</div>
			</div>
			<div class="col-sm-6">
				<span style="font-weight:bold;text-align:left;">Wybierz rodzaj dokumentu</span>
				<div class="what_print_line_half"><input type="radio" name="what_p" value="1" id="print1b" checked="checked" /> <label for="print1b" >{$lang.save_menu1}</label></div>
				<div class="what_print_line_half"><input type="radio" name="what_p" value="2" id="print2b" /> <label for="print2b" >{$lang.save_menu2}</label></div>
				{*<div class="what_print_line_half"><input type="radio" name="what_p" value="3" id="print3b" /> <label for="print3b" >{$lang.save_menu3}</label></div>*}
				<div class="what_print_line_half"><input type="radio" name="what_p" value="4" id="print4b" /> <label for="print4b" >{$lang.save_menu4}</label></div>
			</div>
			<div class="col-sm-6 col-sm-offset-6">
				<br>
				<input type="submit" value="{$lang.send}" class="btn orangeButton" />
				<br>
				<br>
			</div>
			<div class="row_hidden">
				<input type="hidden" name="path" id="path2" />
				<input type="hidden" name="fak_type" id="fak_type" value="1"/>
				<input type="hidden" name="user_id" value="{$user_id}" />
			</div>
		</form>
	</div>
	{* wybranie co drukować *}
	<div class="invoice_client" id="what_print">
		<a onclick="javascript: this.parentNode.style.display='none';" class="close"><span class="glyphicon glyphicon-remove"></span></a>
		<h3>{$lang.save_menu0}</h3>
		<div class="what_print_line"><input type="radio" name="what_p" value="1" id="print1" checked="checked" /> <label for="print1">{$lang.save_menu1}</label></div>
		<div class="what_print_line"><input type="radio" name="what_p" value="2" id="print2" /> <label for="print2">{$lang.save_menu2}</label></div>
		{*<div class="what_print_line"><input type="radio" name="what_p" value="3" id="print3" /> <label for="print3">{$lang.save_menu3}</label></div>*}
		<div class="what_print_line"><input type="radio" name="what_p" value="4" id="print4" /> <label for="print4">{$lang.save_menu4}</label></div>
		<div class="text-center">
			<br>
			<input type="button" value="{$lang.save_menu5}" onclick="javascript: return panel_invoice_obj.save_pdf_end();" class="btn orangeButton" />
			<br>
			<br>
		</div>
	</div>
	{* komunikaty *}
	<div class="row_hidden">
		<input type="hidden" id="send_ok" value="{$lang.send_ok}" />
		<input type="hidden" id="send_error" value="{$lang.send_error}" />
	</div>
{/if}
</div>
