{strip}
<div {if $smarty.server.REQUEST_URI=='/' } class='blackBackground'{/if}>
<div class="container-fluid px-0">
	<div class="text-center" id="navibar">
		Jesteś w : <a href="" title="{$lang.nagl1}">Faktura VAT </a> {foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} / {/if}{/foreach}
	</div>
</div>
</div>
{if !isset($smarty.cookies.cookies_ok)}
<div class="blackBackground px-0">
		<div class="alert_cookies" id="cookiesOk">
			<a onclick="javascript: setCookie('cookies_ok','y',30);document.getElementById('cookiesOk').style.display = 'none';" title="Zamknij" class="close"><span class="glyphicon glyphicon-remove"></span></a> W serwisie faktura.egrupa.pl używamy plików cookies
			i podobnych technologii np w celach: świadczenia usług, statystyk. Korzystanie z witryny bez zmiany ustawień Twojej przeglądarki oznacza, że będą one umieszczane w Twoim urządzeniu końcowym.<br> Pamiętaj, że zawsze możesz zmienić te ustawienia. Szczegóły
			znajdziesz na tej stronie: <a href="/polityka/" target="_blank" title="Kliknij">Kliknij</a>
	</div>
</div>

{/if}
<div class="footerContent blackBackground">


	<footer class="container-fluid px-0">

		<ul class="footerMenu ">
			<li><a href="polityka/">Prywatność</a></li>
			<li><a href="bezpieczenstwo/">Bezpieczeństwo</a></li>
			<li><a href="pomoc/">Pomoc</a></li>
			<li><a href="contact/">kontakt</a></li>
			<li><a href="regulamin/">Regulamin</a></li>
		</ul>
		<div class="row copyright">

			<div class="col-md-6 px-0">Wszystkie prawa zastrzeżone <span class='textOrange'>faktura</span><span class='textBlue'>.egrupa</span></div>
			<div class="col-md-6 text-right">Copyright &#9400; {'Y'|date} <img src="/images/layout/logoavano.png" title="Serwisy www dla firm" alt="Logo AVANO"></div>

		</div>

		<div class="footerLinks"><a href="http://faktura.egrupa.pl/invoice/" title="Faktura VAT">Faktura VAT</a> | <a href="http://ainvoices.com" title="generator invoices online">invoices online</a> | <a href="http://faktura.egrupa.pl/faktura-pro-forma/" title="Faktura Pro Forma">Faktura Pro-Forma</a>			| <a href="http://faktura.egrupa.pl/faktura-zaliczkowa/" title="Faktura Zaliczkowa">Faktura Zaliczkowa</a> | <a href="http://faktura.egrupa.pl/faktura-korygujaca/" title="Faktura Korygujaca">Faktura Korygująca</a> | <a href="http://faktura.egrupa.pl/rachunek/"
			  title="Rachunek Uproszczony">Rachunek Uproszczony</a> | <a href="http://faktury.pl" title="program do faktur online z magazynem">faktury.pl</a></div>
	</footer>
</div>
</div>
</body>

</html>
{/strip}
