<div id="tresc_wlasciwa">
<div id="navibar">
{foreach item=i key=k from=$navi name=a}
	{if $smarty.foreach.a.last}
		<h1>{$i->name}</h1>
	{else}
		<a href="{$i->url}" title="{$i->name}">{$i->name}</a>
		{if $k!=count($navi)-1} &frasl; {/if}
	{/if}

{/foreach}
</div>
