<div>
{if $msg}<div><b>{$msg}</b></div>
{/if}
{if $pass}<div>{$lang.pass}<b>{$pass}</b></div>
{/if}
{if count($ids)}
<div><b>{$lang.ids}</b></div>
<table>
  <thead>
    <tr><td>ID</td><td>Name</td><td>Address</td></tr>
  </thead>
  <tbody>
    {foreach item=i from=$ids}
    <tr><td>{$i[0]}</td><td>{$i[1]}</td><td>{$i[2]}</td></tr>
    {/foreach}
  </tbody>
</table>
{/if}

<header>{$lang.header}</header>
<form method="post">
<div>{$lang.nip} <input type="text" name="nip" value="{$smarty.post.nip}" /></div> 
<div>{$lang.login} <input type="text" name="login" value="{$smarty.post.login}" /></div> 
<div>{$lang.mail} <input type="text" name="mail" value="{$smarty.post.mail}" /></div>
<div>{$lang.id} <input type="text" name="id" value="" /></div>
<div><input type="submit" value="{$lang.renew}" /></div>
</form>

</div>