<script type="text/javascript" src="module/faktura-korygujaca/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
{* menu *}
<div class="container-fluid px-0">
<div id="invoice">
<div id="invoice_top">
<span>Wystaw fakturę</span>
<div id="navibar">

Jesteś w <a href="" title="Faktura VAT">Faktura VAT</a>
{foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} / {/if}{/foreach}

</div>
<ul id="rodzaj_faktury">
<li ><a href="invoice/">Faktura Vat</a></li>
<li ><a href="faktura-pro-forma/">Faktura Pro Forma</a></li>
<li ><a href="faktura-zaliczkowa/">Faktura Zaliczkowa</a></li>
<li class="active"><a href="faktura-korygujaca/">Faktura Korygująca</a></li>
<li><a href="rachunek/">Rachunek</a></li>
</ul>


</div>
<form action="" id="faktura">
<div class="invoice_menu">
<div id="waluta"><label for="current">{$lang.currency}:</label> <select class="" name="current" id="current" onchange="javascript: invoice_obj.change_current(this.value);"><option value="PLN">PLN</option><option value="EUR">EUR</option><option value="USD">USD</option><option value="GBP">GBP</option></select></div>
{if $user_sub}
	<a class="sprites lista_produktow_menu" href="panel/product/list/" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" href="panel/invoice/search/" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" href="panel/client/list/" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.save_base();">{$lang.menu_save}</a>
{else}
	<a class="sprites lista_produktow_menu" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="faktura-pro-forma/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_save}</a>
{/if}
</div>

{* początek faktury właściwej *}

{* wybór waluty *}

{* nagłówek *}
<div style="float:none;margin:0 20px;">
<div class="numer_fak">
<a class="pomoc"><span>{$lang.pomoc1}</span></a>
<input type="text" name="lang_head" value="{$lang.head}" class="invoice_head opis" style="width:86%;text-align:left;" />
{* numer faktury *}
  <div class="wiersz_danych">
	<input type="text" name="lang_number" value="{$lang.number}" class="invoice_head opis" style="width:72px;" />
	<input type="text" name="number" value="{if $inv->number}{$inv->number}{else}{$counter}{$smarty.now|date_format:"%m/%Y"}{/if}" class="invoice_data" />
	</div>
</div>

{* miejsce wystawienia, data wystawienia i sprzedaży *}
<div class="place_date">
  <div class="wiersz_danych">
    <input type="text" name="lang_date_create" value="{$lang.date_create}" class="opis"  style="width:40%"/>
    <script type="text/javascript">calendar.create('date_create','{$inv->date_add}');</script>
	</div>
  <div class="wiersz_danych">
    <input type="text" name="lang_date_sell" value="{$lang.date_sell}" class="opis" style="width:40%" />
    <script type="text/javascript">calendar.create('date_sell','{$inv->date_sell}');</script>
	</div>
  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="{$lang.place}" class="opis" style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>




  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="{$lang.kor_data}" class="opis" style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>
  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="{$lang.kor_miejsce}" class="opis" style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>
  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="{$lang.kor_dotyczy}" class="opis"  style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>
  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="{$lang.kor_wystawionej}" class="opis " style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>
</div>
</div>
{* oryginał/kopia*}
<div class="orginal_kopia" style="clear:both;">
	<span><input type="text" name="lang_original" id="original" value="{$lang.original}" class="invoice_normal_c" /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('original');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
	<span><input type="text" name="lang_copy" id="copy" value="{$lang.copy}" class="invoice_normal_c"  /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('copy');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
	<span><input type="text" name="lang_double" id="double" value="{$lang.double}" class="invoice_normal_c" /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('double');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
</div>


<div id="dane_osobiste">
<div class="wiersz_danych">
 <div class="lewy"><a class="pomoc"><span>{$lang.pomoc2}</span></a><div style="width:125px;padding-top:3px;"><input type="text" name="lang_user_name_main" value="{$lang.user_name_main}" class="invoice_normal"  /></div> </div>

 <div class="prawy"><a class="pomoc"><span>{$lang.pomoc2}</span></a><div style="width:100px;padding-top:3px;"><input type="text" name="lang_client_name_main" value="{$lang.client_name_main}" class="invoice_normal" /></div>
 {if $user_sub}
		<a onclick="javascript: invoice_obj.panel_client();" class="add" >{$lang.menu_loadc}</a>
{else}
<a onclick="javascript: document.getElementById('sub_error').style.display='block';" class="add" >{$lang.menu_loadc}</a>
{/if}


	{if $user_sub}
	<a onclick="javascript: return invoice_obj.save_client()" title="{$lang.add_client}" class="zapisz_kontrahenta">{$lang.add_client}</a>
	{else}
	<a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.add_client}" class="zapisz_kontrahenta">{$lang.add_client}</a>
	{/if}
	<div id="save_client_ok_error" class="dane_error"> </div>
<div id="save_client_bad_error" class="dane_error"> </div>
	</div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_name" value="{$lang.firma_name}" class="opis" />
    <textarea name="user_name" id="user_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->name}</textarea>
  </div>
  <div class="prawy">
   	<input type="text" name="lang_client_name" value="{$lang.firma_name}" class="opis" />
  	<textarea name="client_name" id="client_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->name}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_address" value="{$lang.user_address}" class="opis" />
    <textarea name="user_address" id="user_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->address}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_address" value="{$lang.client_address}" class="opis" />
  	<textarea name="client_address" id="client_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->address}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_nip" value="{$lang.user_nip}" class="opis" />
  	<input type="text" name="user_nip" id="user_nip" value="{$user->nip}" maxlength="24" class="tresc" />
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_nip" value="{$lang.client_nip}" class="opis" />
  	<input type="text" name="client_nip" id="client_nip" value="{$client->nip}" maxlength="24" class="tresc" />
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
    <input type="text" name="lang_user_phone" value="{$lang.user_phone}" class="opis" />
  	<textarea name="user_phone" id="user_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->phone}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_phone" value="{$lang.client_phone}" class="opis" />
  	<textarea name="client_phone" id="client_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->phone}</textarea>
</div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_mail" value="{$lang.user_mail}" class="opis" />
  	<textarea name="user_mail" id="user_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->email}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_mail" value="{$lang.client_mail}" class="opis" />
  	<textarea name="client_mail" id="client_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->email}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
    <input type="text" name="lang_user_krs" value="{$lang.user_krs}" class="opis" />
  	<input type="text" name="user_krs" id="user_krs" value="{$user->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_krs" value="{$lang.client_krs}" class="opis" />
  	<input type="text" name="client_krs" id="client_krs" value="{$client->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />
  </div>
</div>


<div class="wiersz_danych">
  <div class="lewy">
    <input type="text" name="lang_user_bank_name" value="{$lang.user_bank_name}" class="opis" />
  	<input type="text" name="user_bank_name" id="user_bank_name" value="{$user->bank_name}" class="tresc" />
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_bank_name" value="{$lang.client_bank_name}" class="opis" />
    <input type="text" name="client_bank_name" id="client_bank_name" value="{$client->bank_name}" class="tresc" />
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_account" value="{$lang.user_account}" class="opis" />
  	<input type="text" name="user_account" id="user_account" value="{$user->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
  </div>
  <div class="prawy">
  	<input type="text" name="lang_client_account" value="{$lang.client_account}" class="opis" />
    <input type="text" name="client_account" id="client_account" value="{$client->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
  </div>
</div>


</div>







<div class="adres_dostawy">
     {* adres dostawy *}
<div class="invoice_100">
	<span>
	<a class="pomoc"><span>{$lang.pomoc3}</span></a>
	<input type="text" name="lang_branch" value="{$lang.branch}" class="invoice_normal_l" style="float:left;height:30px;width:200px;font-size:18px;color:#7b7a7a;  " /><br />
	<a class="sprites" onclick="javascript: return invoice_obj.show_branch();return key_mask(event,'')" title="{$lang.show}" id="branch_show">{$lang.show}</a>
	<a class="sprites" onclick="javascript: return invoice_obj.hide_branch();" title="{$lang.hide}" id="branch_hide" style="display: none;">{$lang.hide}</a></span>
</div>
<div class="invoice_100" id="branch" style="display: none;">
{* oddział *}
	<input type="text" name="lang_branch_name" value="{$lang.branch_name}" class="opis" />
	<textarea name="branch_name" id="branch_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->name}</textarea>
{* adres *}
	<input type="text" name="lang_branch_address" value="{$lang.branch_address}" class="opis" />
	<textarea name="branch_address" id="branch_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->address}</textarea>
{* telefon *}
	<input type="text" name="lang_branch_phone" value="{$lang.branch_phone}" class="opis" />
	<textarea name="branch_phone" id="branch_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->phone}</textarea>
{* mail *}
	<input type="text" name="lang_branch_mail" value="{$lang.branch_mail}" class="opis" />
	<textarea name="branch_mail" id="branch_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->email}</textarea>
{* krs *}
	<input type="text" name="lang_branch_krs" value="{$lang.branch_krs}" class="opis" />
	<input type="text" name="branch_krs" id="branch_krs" value="{$client->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />
{* nazwa banku *}
	<input type="text" name="lang_branch_bank_name" value="{$lang.branch_bank_name}" class="opis" />
	<input type="text" name="branch_bank_name" id="branch_bank_name" value="{$client->bank_name}" class="tresc" />
{* konto *}
	<input type="text" name="lang_branch_account" value="{$lang.branch_account}" class="opis" />
	<input type="text" name="branch_account" id="branch_account" value="{$client->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
</div>
</div>
{* kalkulator *}
<div id="kalkulator">

<div>
<table>

<tr>
<th class="kalkulator_title sprites">Kalkulator:</th>
<th>Wartość</th>
<th>VAT</th>
<th>Wynik</th>
</tr>
<tr>
<td class="tekst">Przelicz <span class="bold">netto</span> na brutto:</td>
<td><input type="text" id="n2b_n" value="0" onkeyup="javascript: invoice_obj.n2b();" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:60px;" /></td>
<td><select id="n2b_v" onchange="javascript: invoice_obj.n2b();" ><option value="0">0 %</option><option value="3">3 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="22">22 %</option><option value="23">23 %</option></select></td>
<td><input type="text" id="n2b_b" value="0" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:65px;" /></td>
</tr>
<tr>
<td class="tekst">Przelicz <span class="bold">brutto</span> na netto:</td>
<td><input type="text" id="b2n_n" value="0" onkeyup="javascript: invoice_obj.b2n();" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:60px;" /></td>
<td><select id="b2n_v" onchange="javascript: invoice_obj.b2n();" ><option value="0">0 %</option><option value="3">3 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="22">22 %</option><option value="23">23 %</option></select></td>
<td><input type="text" id="b2n_b" value="0" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:65px;" /></td>
</tr>
<tr ><td colspan="4" class="tekst">* tego elementu nie będzie na fakturze</td></tr>
</table>
</div>
<a class="pomoc"><span>{$lang.pomoc4}</span></a>
</div>

{* faktura okresowa *}
{if $user_sub}

<div id="faktura_okresowa_checkobox">
	<a class="pomoc"><span>{$lang.pomoc5}</span></a><input  type="checkbox" value="1" id="period_check" name="period" onclick="javascript: invoice_obj.period(this);" /><label for="period_check">{$langs.time_head}</label>
</div>
<div id="period" style="display: none;">
	<script type="text/javascript">calendar.create('period_start','');</script>
<div style="float:right;">
	{$langs.time_main}
	<input type="text" value="1" name="period_value" class="tresc" id="period_value" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" />
	<select name="period_time">
		<option value="day">{$langs.time_day}</option>
		<option value="week">{$langs.time_week}</option>
		<option value="month">{$langs.time_month}</option>
		<option value="year">{$langs.time_year}</option>
	</select>

	{$langs.time_start}
	</div>

</div>
{else}
<div id="faktura_okresowa_checkobox">
	<a class="pomoc"><span>{$lang.pomoc5}</span></a><input  type="checkbox" value="1" id="period_check" name="period" onclick="javascript: document.getElementById('sub_error').style.display='block';" /><label for="period_check">{$langs.time_head}</label>
</div>
{/if}



{* nagłówki listy produktów *}
<div id="lista">

	{if $user_sub}
<a class="zaladuj_prod sprites" onclick="javascript: invoice_obj.panel_prod();">{$lang.menu_loadp}</a>
{else}
<a class="zaladuj_prod sprites " onclick="javascript: document.getElementById('sub_error').style.display='block';" >{$lang.menu_loadp}</a>
{/if}
<div id="save_product_ok_error" class="dane_error"> </div>
<div id="save_product_bad_error" class="dane_error"> </div>
<table>
  <thead>
  <tr>
	    <th class="akcje"><a class="pomoc"><span>{$lang.pomoc6}</span></a></th>
    <th class="lp"><input type="text" name="lang_lp" value="{$lang.lp}"  /></th>
    <th class="name"><input type="text" name="lang_name" value="{$lang.name}"  /></th>
    <th class="pkwiu"><input type="text" name="lang_pkwiu" value="{$lang.pkwiu}"  /></th>
  	<th class="ilosc"><input type="text" name="lang_amount" value="{$lang.amount}"  /></th>
    <th class="jm"><input type="text" name="lang_unit" value="{$lang.unit}"  /></th>
    <th class="kwota2"><input type="text" name="lang_netto" value="{$lang.netto}" /></th>
    <th class="kwota2" ><input type="text" name="lang_rabat" value="{$lang.rabat}" /></th>
    <th class="kwota2"><input type="text" name="lang_prize_netto" value="{$lang.prize_netto}"  /></th>
    <th class="vat"><input type="text" name="lang_vat" value="{$lang.vat}"  /></th>
    <th class="kwota"><input type="text" name="lang_sum_netto" value="{$lang.sum_netto}" /></th>
    <th class="kwota"><input type="text" name="lang_sum_vat" value="{$lang.sum_vat}" /></th>
    <th class="kwota"><input type="text" name="lang_sum_brutto" value="{$lang.sum_brutto}"  /></th>

    </tr>
  </thead>
  <tbody id="product_list">

  </tbody>
</table>
<a title="{$lang.add}" onclick="javascript: return invoice_obj.add();" class="added2 sprites">Dodaj nową pozycję do faktury </a>
<div style="font-weight:bold;font-size:14px;text-align:center;margin:10px"> Korekta</div>



<table>
  <thead>
  <tr>
	    <th class="akcje"><a class="pomoc"><span>{$lang.pomoc6}</span></a></th>
    <th class="lp"><input type="text" name="lang_lp" value="{$lang.lp}"  /></th>
    <th class="name"><input type="text" name="lang_name" value="{$lang.kor_name}"  /></th>
    <th class="pkwiu"><input type="text" name="lang_pkwiu" value="{$lang.pkwiu}"  /></th>
  	<th class="ilosc"><input type="text" name="lang_amount" value="{$lang.amount}"  /></th>
    <th class="jm"><input type="text" name="lang_unit" value="{$lang.unit}"  /></th>
    <th class="kwota2"><input type="text" name="lang_netto" value="{$lang.netto}" /></th>
    <th class="kwota2" ><input type="text" name="lang_rabat" value="{$lang.rabat}" /></th>
    <th class="kwota2"><input type="text" name="lang_prize_netto" value="{$lang.prize_netto}"  /></th>
    <th class="vat"><input type="text" name="lang_vat" value="{$lang.vat}"  /></th>
    <th class="kwota"><input type="text" name="lang_sum_netto" value="{$lang.kor_sum_netto}" /></th>
    <th class="kwota"><input type="text" name="lang_sum_vat" value="{$lang.kor_sum_vat}" /></th>
    <th class="kwota"><input type="text" name="lang_sum_brutto" value="{$lang.kor_sum_brutto}"  /></th>

    </tr>
  </thead>
    <tr >
	  <td class="akcje">
			<a title="{$lang.del}" onclick="javascript: return invoice_obj.del([id]);" class="del sprites">&nbsp;</a>
			{if $user_sub}
			<a title="{$lang.add_product}" onclick="javascript: return invoice_obj.save_product([id]);" class="added sprites">&nbsp;</a>
			{else}
			<a title="{$lang.add_product}" onclick="javascript: document.getElementById('sub_error').style.display='block';"  class="added sprites">&nbsp;</a>
			{/if}
      </td>
      <td><input type="text" name="p_[id]_lp" id="p_[id]_lp" value="" class="invoice_data" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><textarea name="p_[id]_name" id="p_[id]_name" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);"></textarea></td>
      <td><input type="text" name="p_[id]_pkwiu" id="p_[id]_pkwiu" value="" class="invoice_data" /></td>
      <td><input type="text" name="p_[id]_amount" id="p_[id]_amount" value=""  onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><select name="p_[id]_unit" id="p_[id]_unit" ><option value="">---</option>{foreach item=i key=k from=$units}<option value="{$k}">{$k}</option>{/foreach}</select></td>
      <td><input type="text" name="p_[id]_netto" id="p_[id]_netto" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><input type="text" name="p_[id]_rabat" id="p_[id]_rabat" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><input type="text" name="p_[id]_pnetto" id="p_[id]_pnetto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><select name="p_[id]_vat" id="p_[id]_vat"  onchange="javascript: invoice_obj.count_all();"><option value="0">0 %</option><option value="3">3 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="NP">NP</option><option value="ZW">ZW</option></select></td>
      <td><input type="text" name="p_[id]_snetto"  id="p_[id]_snetto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><input type="text" name="p_[id]_svat" id="p_[id]_svat" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><input type="text" name="p_[id]_sbrutto" id="p_[id]_sbrutto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>

    </tr>
</table>
<a title="{$lang.add}" onclick="javascript: return invoice_obj.add();" class="added2 sprites">Dodaj nową pozycję do korekty </a><br>





<input class="opis" value="Przyczyna korekty podatku" type="text" style="width:20%;float:left;text-align:right;clear:left;min-width:325px;padding-right:5px;margin-left:10px;margin-bottom:5px">
<input type="text" name="" id="" class="tresc" style="width:40%;margin-bottom:5px"/>

<input class="opis" value="Kwota zminiejszenia/zwiekszęnia ceny bez podatku" type="text" style="width:20%;float:left;text-align:right;clear:left;min-width:325px;padding-right:5px;margin-left:10px;margin-bottom:5px">
<input type="text" name="" id="" class="tresc" style="width:40%;margin-bottom:5px" />

<input class="opis" value="Kwota zminiejszenia/zwiekszęnia podatku należnego" type="text" style="width:20%;float:left;text-align:right;clear:left;min-width:325px;padding-right:5px;margin-left:10px;margin-bottom:5px">
<input type="text" name="" id="" class="tresc" style="width:40%;margin-bottom:5px" />














<table>
    <tr id="row_position">
	      <td class="akcje">
			<a title="{$lang.del}" onclick="javascript: return invoice_obj.del([id]);" class="del sprites">&nbsp;</a>
			{if $user_sub}
			<a title="{$lang.add_product}" onclick="javascript: return invoice_obj.save_product([id]);" class="added sprites">&nbsp;</a>
			{else}
			<a title="{$lang.add_product}" onclick="javascript: document.getElementById('sub_error').style.display='block';"  class="added sprites">&nbsp;</a>
			{/if}
      </td>
      <td><input type="text" name="p_[id]_lp" id="p_[id]_lp" value="" class="invoice_data" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><textarea name="p_[id]_name" id="p_[id]_name" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);"></textarea></td>
      <td><input type="text" name="p_[id]_pkwiu" id="p_[id]_pkwiu" value="" class="invoice_data" /></td>
      <td><input type="text" name="p_[id]_amount" id="p_[id]_amount" value=""  onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><select name="p_[id]_unit" id="p_[id]_unit" ><option value="">---</option>{foreach item=i key=k from=$units}<option value="{$k}">{$k}</option>{/foreach}</select></td>
      <td><input type="text" name="p_[id]_netto" id="p_[id]_netto" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><input type="text" name="p_[id]_rabat" id="p_[id]_rabat" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><input type="text" name="p_[id]_pnetto" id="p_[id]_pnetto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><select name="p_[id]_vat" id="p_[id]_vat"  onchange="javascript: invoice_obj.count_all();"><option value="0">0 %</option><option value="3">3 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="NP">NP</option><option value="ZW">ZW</option></select></td>
      <td><input type="text" name="p_[id]_snetto"  id="p_[id]_snetto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><input type="text" name="p_[id]_svat" id="p_[id]_svat" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><input type="text" name="p_[id]_sbrutto" id="p_[id]_sbrutto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>

    </tr>
</table>

</div>





{* kwoty VAT *}
<div style="float:right;width:460px;" >
<a class="pomoc" style="margin-top:20px;"><span>{$lang.pomoc7}</span></a>
<div class="podsumowanie">
     <p class="head">
			<input type="text" name="lang_all_rate" value="{$lang.all_rate}" class="stawka" />
			<input type="text" name="lang_all_netto" value="{$lang.all_netto}" class="netto" />
			<input type="text" name="lang_all_vat" value="{$lang.all_vat}" class="vat" />
			<input type="text" name="lang_all_brutto" value="{$lang.all_brutto}" class="brutto" />
     </p>
		 <p id="vat_list"></p>
		    <div id="row_vat">
		    <input type="text" id="v_[id]_rate" value="" class="stawka" onkeypress="javascript: return key_mask(event,'');" />
		    <input type="text" id="v_[id]_netto" value="" class="netto" onkeypress="javascript: return key_mask(event,'');" />
		    <input type="text" id="v_[id]_vat" value="" class="vat" onkeypress="javascript: return key_mask(event,'');" />
		    <input type="text" id="v_[id]_brutto" value="" class="brutto" onkeypress="javascript: return key_mask(event,'');" />
	     </div>


		<p class="foot">
			<input type="text" name="lang_all_sum" value="{$lang.all_sum}" class="stawka" />
			<input type="text" id="all_netto" value="0.00 PLN" class="netto" onkeypress="javascript: return key_mask(event,'');" />
			<input type="text" id="all_vat" value="0.00 PLN" class="vat" onkeypress="javascript: return key_mask(event,'');" />
			<input type="text" id="all_brutto" value="0.00 PLN" class="brutto" onkeypress="javascript: return key_mask(event,'');" />
		</p>

</div>
</div>
{* zapłata *}
<div class="zaplata">
  <div class="forma">
      <input type="text" name="lang_cash_type" value="{$lang.cash_type}" class="opis" />
			<select name="cash_type" id="cash_type" class="wartosc" style="width:152px;">{foreach item=i from=$lang.cash_option}<option value="{$i}">{$i}</option>{/foreach}</select>
  </div>
  <div>
  	<input type="text" name="lang_cash_pay" value="{$lang.cash_pay}" class="opis" />
	<input type="text" name="cash_pay" id="cash_pay" value="0.00 PLN" class="wartosc" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" style="width:146px;" />
  </div>

  <div class="invoice_100" style="margin-top:4px;">
			<input type="text" name="lang_cash_date" value="{$lang.cash_date}" class="opis" />
					<input type="radio" class="styled" name="cash_date" id="cash_date_l" value="list" checked="checked" />
					<select name="cash_date_list" id="cash_date_list" style="width:152px;" >{foreach item=i from=$lang.cash_deadline}<option value="{$i}" {if $i == "7 dni"}selected="selected" {/if}>{$i}</option>{/foreach}</select><br />

		<div style="height:40px;clear:both;padding-left:29%;margin:4px 0px 4px 2px">
         <input class="styled" type="radio" name="cash_date" id="cash_date_d" value="date"  />
					<div style="float:left;"><script type="text/javascript">calendar.create('cash_date_date','{if $inv->sell_date}{$inv->sell_time}{/if}');</script></div>
          </div>
  </div>
</div>

{* słownie *}
<div class="kwoty">

	<input type="text" name="lang_cash_sum" value="{$lang.cash_sum}" class="opis" />
	<input type="text" name="cash_sum" id="cash_sum" value="0.00 PLN" class="wartosc" onkeypress="javascript: return key_mask(event,'');" />
	<input type="text" name="lang_cash_word" value="{$lang.cash_word}" class="opis" />
  <input type="text" name="cash_word" id="cash_word" value="" class="wartosc" onkeypress="javascript: return key_mask(event,'');" />
</div>
{* podpisy *}
<div class="podpis">
	<input type="text" name="lang_client_sign" value="{$lang.client_sign}" class="left opis" />
  <input type="text" name="lang_user_sign" value="{$lang.user_sign}" class="right opis" />
</div>

{* komentarz *}
<div class="coment">
<input type="text" name="lang_coment" value="{$lang.coment}" class=" opis" />
<textarea name="coment" cols="" rows="" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);">{$inv->coment}</textarea>
</div>



{* dane ukryte *}
<div class="row_hidden">
	<input type="hidden" name="original_v" value="0" id="original_v" />
	<input type="hidden" name="branch_v" value="0" id="branch_v" />
	<input type="hidden" name="client_id" value="{$inv->client}" id="client_id" />
</div>
{* koniec faktury właściwej *}
</form>
{* wstawiane z js *}
{if $user_sub}
<div id="sub_error" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
{else}
<div id="sub_error" class="invoice_client" style="left:50%;display:block;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
{/if}
	{$lang.error1}<br />
	<a onclick="javascript: document.getElementById('sub_error').style.display='none';" class="close" title="{$lang.clients_close}">Zamknij</a>
</div>

<div id="save_base_error_all" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:124px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<div id="save_base_error"> </div>
	<a onclick="javascript: document.getElementById('save_base_error_all').style.display='none';" class="close" title="{$lang.clients_close}">Zamknij</a>
</div>
<div class="row_hidden">

{* pusty wiersz podliczenia VAT *}


{* panel wyboru kontrahenta *}

	<div class="invoice_client" id="client_panel">

		<h3 >{$lang.clients_head}</h3>
		<div style="width:30%;float:left;clear:left;margin-left:2%;">
			<label>{$lang.clients_name}:</label>
			<input type="text" id="clients_[id]_name" value="[name]" class="invoice_data" />
		</div>
		<div style="width:30%;float:left;margin-left:4%;">
			<label>{$lang.clients_address}:</label>
			<input type="text" id="clients_[id]_address" value="[address]" class="invoice_data" />
		</div>
		<div style="width:30%;float:left;margin-left:2%;">
			<label>{$lang.clients_nip}:</label>
			<input type="text" id="clients_[id]_nip" value="[nip]" maxlength="13" class="invoice_data"  />
		</div>
		<div style="clear:both;padding:6px 0;"><input type="button" value="{$lang.clients_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_client(1);" /></div>
		{* lista liter *}
		<div id="zakres_faktur" style="clear:both;">
		<div class="alphabet">
			<a onclick="javascript: return invoice_obj.panel_client([search],1,this.title);" title="" class="all" id="client_letter">{$lang.clients_all}</a>[letters]
		</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_kontrahentow" style="clear:both;">
			[clients]
		</div>
		{* stronicowanie *}
		<div style="clear:both;margin:10px;overflow:auto;">
			[pages]
		</div>

		{* przycisk zamknięcia *}
		<a onclick="javascript: return invoice_obj.close_client();" class="close" title="{$lang.clients_close}">{* $lang.clients_close *}</a>
	</div>
{* obiekt kontrahenta - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.load_client(this.title);" title="" class="invoice_client" id="client_object"></a>
{* obiekt strony - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.panel_client([search],this.title,[letter]);" title="" class="" id="client_page">&nbsp;</a>
{* panel wyboru produktu *}
	<div class="invoice_prod" id="prod_panel">
		<h3 >{$lang.prod_head}</h3>
		<div style="width:70%; margin-left:2%;">
			<label>{$lang.prod_name}:</label>
			<input type="text" id="prods_[id]_name" value="[name]" class="invoice_data" style="width:100%;" />
		</div>
		<div style="width:70%; margin-left:2%;">
			<label>{$lang.prod_producer}:</label>
			<input type="text" id="prods_[id]_producer" value="[producer]" class="invoice_data" style="width:100%;" />
		</div>
		<div style="width:34%;float:left;margin-left:2%;">
			<label>{$lang.prod_cat}:</label>
			<select id="prods_[id]_cat" class="invoice_data"><option value="">---</option></select>
			<label>{$lang.prod_number}:</label>
			<input type="text" id="prods_[id]_number" value="[number]" class="invoice_data" />
		</div>
		<div style="width:34%;float:left;margin-left:2%;">
			<label>{$lang.prod_pkwiu}:</label>
			<input type="text" id="prods_[id]_pkwiu" value="[pkwiu]" class="invoice_data" />
			<label style="clear:left;">{$lang.prod_prize}:</label><br />
			<div style="clear:left;"><input type="text" id="prods_[id]_prize_min" value="[prize_min]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:123px;" /> - <input type="text" id="prods_[id]_prize_max" value="[prize_max]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:124px;" /></div>
		</div>
		<div id="add_[id]_info" class="add_info" ></div>
		<div class="row_action" style="padding-top:5px;clear:both;"><input type="button" value="{$lang.prod_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_prod(1);" /></div>
		{* lista liter *}
		<div id="zakres_faktur" style="clear:both;height:20px;">
		<div class="alphabet">
			<a onclick="javascript: return invoice_obj.panel_prod([search],1,this.title);" title="" class="all" id="prod_letter">{$lang.prod_all}</a>[letters]
		</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_produktow">
		<span class="header">
		<span class="column1">Nazwa</span>
		<span class="column2">Cena netto</span>
		<span class="column3">Cena brutto</span>
		</span>
			[prods]
		</div>
		{* stronicowanie *}
		<div  style="clear:both;margin:10px;overflow:auto;">
			[pages]
		</div>
		{* przycisk zamknięcia *}
		<a onclick="javascript: return invoice_obj.close_prod();" class="close" title="{$lang.prod_close}">{* $lang.prod_close *}</a>
	</div>
{* obiekt kontrahenta - panel produktu *}
	<a onclick="javascript: return invoice_obj.load_prod(this.title);" title="" id="prod_object"></a>
{* obiekt strony - panel produktu *}
	<a onclick="javascript: return invoice_obj.panel_prod([search],this.title,[letter]);" title="" class="" id="prod_page">&nbsp;</a>
</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="count" value="0" />
	<input type="hidden" id="count_n" value="0" />
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="same_nr" value="{$lang.same_nr}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="delete" value="{$lang.delete}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="addc_ok" value="{$lang.addc_ok}" />
	<input type="hidden" id="addc_error" value="{$lang.addc_error}" />
	<input type="hidden" id="addp_ok" value="{$lang.addp_ok}" />
	<input type="hidden" id="addp_error" value="{$lang.addp_error}" />
	<input type="hidden" id="number_coin" value="{$lang.number_coin}" />
	<input type="hidden" id="number_tou" value="{$lang.number_tou}" />
	<input type="hidden" id="number_mln" value="{$lang.number_mln}" />
	<input type="hidden" id="number_mld" value="{$lang.number_mld}" />
	<input type="hidden" id="number_j" value="{$lang.number_j}" />
	<input type="hidden" id="number_n" value="{$lang.number_n}" />
	<input type="hidden" id="number_d" value="{$lang.number_d}" />
	<input type="hidden" id="number_s" value="{$lang.number_s}" />
</div>
<div class="invoice_menu_bottom">
	{if $user_sub}
	<a class="sprites lista_produktow_menu" href="panel/product/list/" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" href="panel/invoice/search/" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" href="panel/client/list/" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.save_base();">{$lang.menu_save}</a>
{else}
	<a class="sprites lista_produktow_menu" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="faktura-pro-forma/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_save}</a>
{/if}
</div>
</div>

</div>

{* wywołania js *}
{foreach item=i from=$inv->product}
<script type="text/javascript">invoice_obj.add('{$i->name|replace:"\n":"\\n"}', '{$i->pkwiu}', '{$i->unit}', '{$i->vat}', '{$i->netto}', '{$i->amount}', '{$i->rabat}');</script>
{/foreach}
{if count($inv->product)==0}<script type="text/javascript">invoice_obj.add();</script>{/if}
<script type="text/javascript">invoice_obj.load_invoice('{$inv->original}','{$inv->sell_type}','{$inv->sell_date}','{$inv->sell_time}','{$inv->sum_pay}','{$inv->cur}');</script>
<script type="text/javascript">invoice_obj.resize_textareas();</script>
