
<script type="text/javascript" src="module/user/list/class.js"></script>
{if $action=="list"}

<form onsubmit="javascript: return user_list_obj.search();" id="wyszukaj">
Szuka w login, mail, nip<br/>
{$lang.logins}:
<input type="text" name="login" id="login" value="{if strlen($smarty.get.par5)!=1}{$smarty.get.par5}{/if}" class="user_text" />


	<input type="button" value="{$lang.search}" onclick="javascript: user_list_obj.search();" class="user_search" />

</form>

<div id="literki">
	<a href="user_list/1/{$type}/{$sort}/" title="{$lang.all}" class="all">{$lang.all}</a>
{foreach item=i from=$letter}
	{if $i==$smarty.get.par5}<a href="user_list/1/{$type}/{$sort}/{$i}/" title="{$i}" class="activ">{$i}</a>
	{else}<a href="user_list/1/{$type}/{$sort}/{$i}/" title="{$i}" class="client_list_letter">{$i}</a>{/if}
{/foreach}
</div>
<div id="typ_usera">
	<a href="user_list/1/0/{$sort}/{$sign}" style="width:70px" title="[{$lang.pay_all}]" class="{if $type==0}activ{else}{/if}">{$lang.pay_all}</a>
	<a href="user_list/1/1/{$sort}/{$sign}" style="width:85px" title="[{$lang.pay_on}]" class="{if $type==1}activ{else}{/if}">{$lang.pay_on}</a>
	<a href="user_list/1/2/{$sort}/{$sign}" title="[{$lang.pay_off}]" class="{if $type==2}activ{else}{/if}">{$lang.pay_off}</a>
</div>

<table class="tabela">

<tr>
	<th class="first">{$lang.sort_name} <a href="user_list/1/{$type}/na/{$sign}" title="{$lang.sort_name}">&uArr;</a><a href="user_list/1/{$type}/nd/{$sign}" title="{$lang.sort_name}">&dArr;</a></th>
	<th>{$lang.sort_datec} <a href="user_list/1/{$type}/ca/{$sign}" title="{$lang.sort_datec}">&uArr;</a><a href="user_list/1/{$type}/cd/{$sign}" title="{$lang.sort_datec}">&dArr;</a></th>
	<th>{$lang.sort_datea} <a href="user_list/1/{$type}/aa/{$sign}" title="{$lang.sort_datea}">&uArr;</a><a href="user_list/1/{$type}/ad/{$sign}" title="{$lang.sort_datea}">&dArr;</a></th>
	<th>{$lang.edit}</th>
	<th  class="last">{$lang.del}</th>
	
</tr>



{foreach item=i from=$dane name=a}
{if $smarty.foreach.a.index is even}
<tr>
{else}
<tr class="parzysty">
{/if}
	<td class="first"><a href="user_list/user/{$i->id}/" title="{$i->login}">{$i->login}</a></td>
	<td><a href="user_list/user/{$i->id}/" title="{$lang.edit}" >{$i->date_add}</a></td>
	<td><a href="user_list/user/{$i->id}/" title="{$lang.edit}" >{$i->sub_end} {if $i->sub_time}[{$i->sub_time} mies.]{/if}</a></td>
	<td><a href="user_list/user/{$i->id}/" title="{$lang.edit}" class="edit">{*$lang.edit*}</a></div>
	<td class="last"><a href="user_list/del/{$i->id}/" title="{$lang.del}" class="del" onclick="javascript: return confirm_del();"></a></td>
</tr>



{/foreach}
</table>
{include file="../../module/pager/standard.html" page=$page pages=$last prefix="user_list/" surfix="$type/$sort/$sign"}
<div class="row_hidden">
	<input type="hidden" id="delete" value="{$lang.delete}" />
</div>



{elseif $action=="edit"}
<script type="text/javascript" src="../jscript/calendar.js"></script>
<script type="text/javascript" src="../jscript/valid_data.js"></script>
<div class="row_action"><a href="user_list/" class="back" title="{$lang.back}">{$lang.back}</a></div>
<form action="" onsubmit="javascript: return user_list_obj.submit();" id="user_save">
{* dane podstawowe *}
<fieldset>
<legend>{$lang.head}</legend>
<div class="row_auto">
	<label>{$lang.login}*:</label>
	<input type="text" name="login" id="login" value="{$user->login}" class="user_text" onchange="javascript: user_list_obj.check_login();" />
</div>
<div class="row_auto">
	<label>{$lang.pass}**:</label>
<input type="password" name="pass" id="pass" value="" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.pass} ({$lang.repeat})**:</label>
	<input type="password" name="pass_repeat" id="pass_repeat" value="" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.mail}*:</label>
	<input type="text" name="mail" id="mail" value="{$user->mail}" class="user_text" onchange="javascript: user_list_obj.check_mail();" />
</div>
<div class="row_auto">
	<label>{$lang.rang}:</label>
	<select name="rang" class="user_text">{foreach item=i key=k from=$lang.rangs}<option value="{$k}" {if $k==$user->rang}selected="selected"{/if}>{$i}</option>{/foreach}</select>
</div>
<div class="row_auto">
	<label>{$lang.pay_time}:</label>
	<script type="text/javascript">calendar.create('sub_end','{$user->sub_end}');</script>
</div>
</fieldset>
{* dane do faktury *}
<fieldset style="float:right">
<legend>{$lang.invoice}</legend>
<div class="row_auto">
	<label>{$lang.name}:</label>
<textarea cols="" rows="1" id="name" name="name" class="user_text">{$user->name}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.address}:</label>
<textarea cols="" rows="2" id="address" name="address" class="user_text">{$user->address}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.nip}:</label>
<input type="text" name="nip" id="nip" value="{$user->nip}" maxlength="25" class="user_text" onkeypress="javascript: return valid_data.check_nip(event);" />
</div>
<div class="row_auto">
	<label>{$lang.phone}:</label>
<textarea cols="" rows="1" id="phone" name="phone" class="user_text">{$user->phone}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.email}:</label>
<textarea cols="" rows="1" id="email" name="email" class="user_text">{$user->email}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.krs}:</label>
<input type="text" name="krs" id="krs" value="{$user->krs}" maxlength="10" class="user_text" onkeypress="javascript: return valid_data.check_krs(event);" />
</div>
<div class="row_auto">
	<label>{$lang.bank_name}:</label>
<input type="text" name="bank_name" id="bank_name" value="{$user->bank_name}" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.account}:</label>
<input type="text" name="account" id="account" value="{$user->account}" maxlength="32" class="user_text" onkeypress="javascript: return valid_data.check_account(event);" />
</div>
<div class="row_auto">
	<label>{$lang.place}:</label>
	<input type="text" name="place" id="place" value="{$user->place}" maxlength="64" class="user_text" />
</div>
</fieldset>
{* buttony zapisu *}
<div class="row_info" style="clear:both;">*{$lang.info}</div>
<div class="row_info" style="clear:both;">**{$lang.info2}</div>
<div class="row_action" style="clear:both;">
	<input type="hidden" name="id" value="{$user->id}" />
	<input type="reset" value="{$lang.cancel}" class="user_cancel" />
	<input type="submit" value="{$lang.save}" class="user_save" />
</div>
</form>
<hr>



<form action="" onsubmit="javascript: return user_list_obj.noteAdd();" id="note_add">
<fieldset>
	<legend>Notatki</legend>
<div class="row_auto">
	<legend>{$lang.note}:</legend>
<textarea cols="" rows="2" id="note" name="note" class="user_text"></textarea>
</div>
<div class="row_action" style="clear:both;">
	<input type="hidden" name="id" value="{$user->id}" />
	<input type="submit" value="{$lang.noteAdd}" class="user_save" />
</div>
{foreach item=i from=$notes}
<div>
  {$i.body} - {$i.dateCreate} - {$i.ip}
  <a href="user_list/note_del/{$i.id}/" title="{$lang.del}" class="del" onclick="javascript: return confirm_del();"></a>
</div>
{/foreach}

</fieldset>
</form>


{foreach item=i from=$invoice}
		<div class="row_auto">
			{$lang.time}: {$i.month} {if $i.month==1}{$lang.month_o}{elseif $i.month<5}{$lang.month_t}{else}{$lang.month_f}{/if} ({$i.date})
		</div>
{/foreach}

{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="old_login" value="{$user->login}" />
	<input type="hidden" id="old_mail" value="{$user->mail}" />
	<input type="hidden" id="reg_login" value="1" />
	<input type="hidden" id="reg_mail" value="1" />
	<input type="hidden" id="bad_login" value="{$lang.bad_login}" />
	<input type="hidden" id="bad_mail" value="{$lang.bad_mail}" />
	<input type="hidden" id="bad_pass" value="{$lang.bad_pass}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="delete" value="{$lang.noteDel}" />
</div>
{/if}