<div style="float:none;width:100%;height:5px;clear:both;">

</div>

  <script type="text/javascript">add_submit_form(null);</script>
  </div>
  </div>
  <p>TODO<br>
http://afaktura.pl/admin/news/ liczba komentarzy<br>
http://afaktura.pl/admin/news/add/ WYSIWYG <br>
http://afaktura.pl/admin/news/edit/13/ WYSIWYG <br>
  </p>
	</body>
</html>