<div>
<div style="width: 48%; float: left;">
  <header>{$lang.headerCash}</header>
  <table>
  <tr>
    <td>{$lang.month}</td>
    <td>{$lang.brutto}</td>  
    <td>{$lang.netto}</td>
  </tr>
  {foreach item=i from=$cash}
  <tr>
    <td>{$i[0]} {$i[1]}</td>
    <td>{$i[2]}</td>  
    <td>{$i[3]}</td>
  </tr>
  {/foreach}
  </table>
</div>

<div style="width: 48%; float: left;">
  <header>{$lang.headerUser}</header>
  <table>
  <tr>
    <td>{$lang.month}</td>  
    <td>{$lang.count}</td>
  </tr>
  {foreach item=i from=$user}
  <tr>
    <td>{$i[0]} {$i[1]}</td>
    <td>{$i[2]}</td>  
  </tr>
  {/foreach}
  </table>
</div>
</div>