<script type="text/javascript" src="module/probe/class.js"></script>
{if $action=="list"}
{*<div class="head">{$lang.head}</div>*}
<div class="row_action"><a href="probe/add/" title="{$lang.add}" style="font-weight:bold;font-size:14px;float:left;color:red;">{$lang.add}</a></div>
<table class="tabela">
<tr>
<th class="first">Pytanie</th>
<th>Data zakończenia</th>
<th>{$lang.view}</th>
<th>{$lang.edit}</th>
<th class="last">{$lang.del}</th>

</tr>
{foreach item=i from=$dane name=a}
{if $smarty.foreach.a.index is even}
<tr>
{else}
<tr class="parzysty">
{/if}
	<td class="first">{$i.question}</td>
	<td>{$i.date_end}</td>
	<td><a href="probe/view/{$i.id}/" title="{$lang.view}" class="view">{$lang.view}</a></td>
	<td><a href="probe/edit/{$i.id}/" title="{$lang.edit}" class="edit"></a></td>
	<td class="last"><a href="probe/del/{$i.id}/" title="{$lang.del}" class="del" onclick="javascript: return confirm_del();"></a>	<input type="hidden" id="delete" value="{$lang.delete}" /></td>
</tr>
{/foreach}
</table>
{elseif $action=="add"}
<div class="row_action"><a href="probe/" title="{$lang.back}" class="back">{$lang.back}</a></div>
<form action="" id="probe_form" onsubmit="javascript: return probe_obj.add();">
<fieldset style="width:94%" class="sonda">
<legend>{$lang.head_add}</legend>

<div class="row_auto">
	<label>{$lang.question}:</label>
	<input type="text" name="question" id="probe_question" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.time}:</label>
	<input type="text" name="days" id="probe_days" value="14" class="user_text" />
</div>
{section name=a loop=6}
<div class="row_auto">
	<label>{$lang.answer} {$smarty.section.a.index_next}:</label>
	<input type="text" name="answer[]" id="probe_answer{$smarty.section.a.index}" class="user_text" />
</div>
{/section}
<div class="row_auto"><input type="submit" value="{$lang.add}" /></div>
</fieldset>
</form>
<div class="row_hidden">
	<input type="hidden" id="save_ok" value="{$lang.add_ok}" />
	<input type="hidden" id="save_error" value="{$lang.add_error}" />
</div>
{elseif $action=="edit"}
<div class="row_action"><a href="probe/" title="{$lang.back}" class="back">{$lang.back}</a></div>

<form action="" id="probe_form" onsubmit="javascript: return probe_obj.save();">
<fieldset style="width:94%" class="sonda">
<legend>{$lang.head_edit}</legend>
<div class="row_auto">
	<label>{$lang.question}:</label>
	<input type="text" name="question" id="probe_question" value="{$dane.question}" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.time}:</label>
	<input type="text" name="days" id="probe_days" value="{$dane.days}" class="user_text" />
</div>
{section name=a loop=6}
<div class="row_auto">
	<label>{$lang.answer} {$smarty.section.a.index_next}:</label>
	<input type="text" name="answer[]" value="{$dane.answer[a].answer}" id="probe_answer{$smarty.section.a.index}" class="user_text" />
</div>
{/section}
<div class="row_auto"><input type="submit" value="{$lang.save}" /></div>
</fieldset>
</form>
<div class="row_hidden">
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="probe_id" value="{$dane.id}" />
</div>
{elseif $action=="view"}
<div><a href="probe/" title="{$lang.back}" class="back">{$lang.back}</a></div>
<div class="head">{$lang.head_view}</div>
<div class="row_auto">{$dane.question}</div>
<div class="row_auto">{$lang.time_end}: {$dane.date_end}</div>
{foreach item=i from=$dane.answer}
<div class="row_auto">{$i.answer} - {$i.count}</div>
{/foreach}
{/if}