<div id="invoice" class="news_list">
<div id="funkcje_faktury" style="margin:0;text-align:left;">
<br>
<h2>30 dni za darmo!</h2>
Ta promocja w pełni umożliwia poznanie naszego programu do wystawienia faktur on-line.<br>
Całkowicie za darmo, bez zobowiązań możesz przetestować, sprawdzić oraz wypróbować wszystkie możliwości, które stworzyliśmy, aby fakturowanie nie był żmudną pracą.<br>
Dla naszych użytkowników przygotowaliśmy opcje pozwalające na jak najsprawniejsze zarządzanie swoją firmą w prosty sposób, sprzedawanie towarów lub usług, kontrolowanie płatności za wystawione faktury, przesyłanie faktur klientom czy księgowości, prostą edycję, chronologiczną i automatyczną numerację z podziałem na miesiące i wiele innych.<br>
Aby móc za darmo wypróbować wszystkie funkcje wystarczy tylko się zarejestrować. Nic więcej.<br>
<br>
Skorzystaj, to nic nie kosztuje! To wszystko dla Ciebie od nas ...<br>
<br>
<br>
<h2>Im dłużej, tym taniej !</h2>

Po trzydziestu dniowym okresie testów i nauki programu do wystawiania faktury on-line, możesz przedłużyć swój abonament.
Abonament możesz wykupić od 1 do 12 miesięcy.<br>
Idąc za współczesnym trendem odnoszącym się do szukania oszczędności i my za nim podążyliśmy.<br>
Nasza oferta polega jest bardzo atrakcyjna, im na dłuższy czas wykupisz abonament tym MNIEJ zapłacisz!<br>
Co miesiąc zyskujesz 2,5 %<br>
<br>
Pamiętaj<br>
Nasze faktury są bez limitów, bez ograniczonej z darmowymi ulepszeniami, a im dłużej z nami jesteś tym taniej ! <br>
<br>
<br>
</div>
</div>
