<script type="text/javascript" src="module/panel/data_number/class.js"></script>
<div class="container-fluid px-0">
<div id="wyszukiwarka_faktur" class="ramka">
	<h3>{$lang.nagl0}</h3>
	<div class="btn-group">
		<a href="panel/data/number/" title="" class="btn {if $smarty.get.par4 == ''}active{/if} btn-default">{$lang.lay} {$lang.nagl3}</a>
		<a href="panel/data/number/1/" title="" class="btn {if $smarty.get.par4 == 1}active{/if} btn-default">{$lang.lay1}</a>
		<a href="panel/data/number/2/" title="" class="btn {if $smarty.get.par4 == 2}active{/if} btn-default">{$lang.lay2}</a>
		<a href="panel/data/number/3/" title="" class="btn {if $smarty.get.par4 == 3}active{/if} btn-default">{$lang.lay3}</a>
		<a href="panel/data/number/4/" title="" class="btn {if $smarty.get.par4 == 4}active{/if} btn-default">{$lang.lay4}</a>
		<a href="panel/data/number/5/" title="" class="btn {if $smarty.get.par4 == 5}active{/if} btn-default">{$lang.lay5}</a>
	  {*<a href="panel/data/number/6/" title="" class="btn {if $smarty.get.par4 == 6}active{/if} btn-default">{$lang.lay6}</a>*}
	</div>

	<form action="" onsubmit="javascript: return panel_data_number_obj.submit({$user_id},'{$smarty.get.par4}');" id="data_number_save">
		<div class="invoice_menu" style="font-size:12px;">
		<br>
		{$lang.nagl4}
			<span id="example" style="font-size:20px;font-weight:bold;"></span>
			<br><br>
		</div>
		<div class="alert alert-success" id="save_ok_error"></div>
		<div class="alert alert-danger" id="save_bad_error"></div>
		<table class="table table-bordered">

			<tr>
				<td class="col-sm-6">
					{$lang.nr_last}
					{if $smarty.get.par4!=0}
					<input type="text" name="nr_last" value="{$dane->nr_last}" class="form-control" />
					{else}
					<input type="text"  class="form-control" disabled />
					{/if}
				</td>

				<td class="col-sm-6" colspan="2">
					<span class="naglowek">{$lang.letter}</span>
					<input type="text" name="letter" id="letter" value="{$dane->nr_letter}" {if $format!="x/m/X/y"}disabled="disabled"{/if} onkeypress="javascript: return panel_data_number_obj.letter(event);"  class="form-control"/>
				</td>

			</tr>
			<tr>
				<td rowspan="2" class="col-sm-4">
					<span class="naglowek">{$lang.format}</span>
					<div class="radio"><label><input type="radio" name="format" id="format1" value="n/d/m/y" {if $format=="x/d/m/y"}checked="checked"{/if} /> {$lang.nagl5}</label></div>
					<div class="radio"><label><input type="radio" name="format" id="format2" value="n/m/y" {if $format=="x/m/y"}checked="checked"{/if} /> {$lang.nagl6}</label></div>
					<div class="radio"><label><input type="radio" name="format" id="format3" value="n/y" {if $format=="x/y"}checked="checked"{/if} /> {$lang.nagl7}</label></div>
					<div class="radio"><label><input type="radio" name="format" id="format4" value="y/m/d/n" {if $format=="y/m/d/x"}checked="checked"{/if} /> {$lang.nagl8}</label></div>
					<div class="radio"><label> <input type="radio" name="format" id="format5" value="y/m/n" {if $format=="y/m/nx"}checked="checked"{/if} /> {$lang.nagl9}</label></div>
					<div class="radio"><label> <input type="radio" name="format" id="format6" value="y/n" {if $format=="y/x"}checked="checked"{/if} /> {$lang.nagl10}</label></div>
					<div class="radio"><label> <input type="radio" name="format" id="format7" value="n/m/A/y" {if $format=="x/m/X/y"}checked="checked"{/if} /> {$lang.nagl11}</label></div>
					<div class="radio"><label><input type="radio" name="format" id="format8" value="n/A/y" {if $format=="x/X/y"}checked="checked"{/if} /> {$lang.nagl12}</label></div>
				</td>
				<td class="col-sm-4">
					<span class="naglowek"> {$lang.day}</span>
					<div class="radio">
						<label><input type="radio" name="day" id="day1" value="j" {if str_replace("j","",$form)!=$form}checked="checked"{/if} /> {$lang.day1}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="day" id="day2" value="d" {if str_replace("d","",$form)!=$form}checked="checked"{/if} /> {$lang.day2}</label>
					</div>
				</td>
				<td class="col-sm-4">
					<span class="naglowek">{$lang.month}</span>
					<div class="radio">
						<label><input type="radio" name="month" id="month1" value="n" {if str_replace("n","",$form)!=$form}checked="checked"{/if} />{$lang.month1}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="month" id="month2" value="m" {if str_replace("m","",$form)!=$form}checked="checked"{/if} />{$lang.month2}</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="naglowek">{$lang.year}</span>
					<div class="radio">
						<label><input type="radio" name="year" id="year1" value="y" {if str_replace("y","",$form)!=$form}checked="checked"{/if} /> {$lang.year1}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="year" id="year2" value="Y" {if str_replace("Y","",$form)!=$form}checked="checked"{/if} /> {$lang.year2}</label>
					</div>
				</td>
				<td>
					<span class="naglowek">{$lang.number}</span>
					<div class="radio">
						<label><input type="radio" name="number" id="number1" value="1" {if $dane->nr_type==1}checked="checked"{/if} /> {$lang.number1}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="number" id="number2" value="2" {if $dane->nr_type==2}checked="checked"{/if} /> {$lang.number2}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="number" id="number3" value="3" {if $dane->nr_type==3}checked="checked"{/if} /> {$lang.number3}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="number" id="number4" value="4" {if $dane->nr_type==4}checked="checked"{/if} /> {$lang.number4}</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="number" id="number5" value="5" {if $dane->nr_type==5}checked="checked"{/if} /> {$lang.number5}</label>
					</div>
				</td>
			</tr>
		</table>

				<div class="text-right">
					<input type="hidden" name="id" value="{$user_id}" />
					<input type="hidden" name="type" value="{$smarty.get.par4}" />
					{*<input type="reset" value="{$lang.cancel}" class="data_extra_cancel" />*}
					<input type="submit" value="{$lang.save}" class="btn orangeButton" />
				</div>
			</div>
		</div>
	</form>
</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
</div>
</div>

<script type="text/javascript">panel_data_number_obj.init();panel_data_number_obj.example();</script>
