<div  class="ramka" >
<script type="text/javascript" src="module/panel/client_send/class.js"></script>

{if $action=="send"}

	<form action="" onsubmit="javascript: return panel_client_send_obj.submit();" id="client_send_form">
		<h3>{$lang.head} </h3>
		<div id="send_error_error" class="alert alert-danger"></div>
		<div id="send_ok_error" class="alert alert-success"></div>
		<div class="row">
			<div class="col-sm-5">
				{if $smarty.get.par5}<a href="panel/client/send/" title="{$lang.back}" class="back">{$lang.back}</a>{/if}
				<div class="form-group">
					<label>{$lang.topic}:</label>
					<input type="text" name="topic" id="topic" value="{$msg->topic}" class="form-control" />
				</div>
				<div class="form-group">
					<label>{$lang.text}:</label>
					<textarea cols="" rows="10" name="text" id="text" class="form-control" >{$msg->text}</textarea>
				</div>
			</div> 
			<div class="col-sm-6 col-sm-offset-1">
				<div class="form-group">
					<label>Wyszukaj kontrahenta:</label>
					<input type="text" value="" class="form-control" onkeyup="javascript: panel_client_send_obj.search(this.value);" />
				</div>
				<div class="form-group">
					<label><input type="checkbox" onclick="javascript: panel_client_send_obj.select_all(this.checked)" /> {$lang.all}</label>
				</div>
			{* buttony zapisu *}
			<div class="row_info" id="count_users">{$lang.count|replace:"[count]":"0"}</div>
				<div id="item_list">
					{* nie ruszać spanów i diva z klasą col_item *}
					<div class="page">
						<div class="row">
							{foreach item=i from=$dane name=a}
								<label for="mail_{$i->id}" class="col-sm-4 text-left"><input type="checkbox" name="user_send[]" id="mail_{$i->id}" value="{$i->id}" {if in_array($i->id,$user)}checked="checked"{/if} class="client_send_check" onclick="javascript: panel_client_send_obj.count();" /> {$i->name}</label>
							{if ($smarty.foreach.a.index+1) % 3 == 0 AND $smarty.foreach.a.index !=0 AND ($smarty.foreach.a.index+1) % 6 != 0 }</div><div class="row">{/if}
							{if ($smarty.foreach.a.index+1) % 21 == 0 AND $smarty.foreach.a.index !=0}
							</div></div>
							<div style="display:none;" class="page">
								<div class="row">
					{/if}
					{/foreach}
					</div>
				</div>
				<ul id="pagination" class="pagination">
				</ul>
				<script type="text/javascript">createLinks()</script>
			</div>
		</div>
		<div class="text-right col-sm-12">
			<input type="reset" value="{$lang.cancel}" class="btn btn-danger"  />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" value="{$lang.send}" class="btn orangeButton"  />
			<br>
			<br>
			<br>
		</div>
	</form>
	{* komunikaty błędów zmienne pomocnicze *}
	<div class="row_hidden">
		<input type="hidden" id="count" value="{$lang.count}" />
		<input type="hidden" id="user_id" value="{$user_id}" />
		<input type="hidden" id="err_topic" value="{$lang.err_topic}" />
		<input type="hidden" id="err_text" value="{$lang.err_text}" />
		<input type="hidden" id="err_users" value="{$lang.err_users}" />
		<input type="hidden" id="send_ok" value="{$lang.send_ok}" />
		<input type="hidden" id="send_error" value="{$lang.send_error}" />
	</div>
	<script type="text/javascript">panel_client_send_obj.count();</script>
	
{elseif $action=="last"}


<h3>{$lang.last} </h3>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
	<div class="text-right">
		<div class="btn-group alphabet">
			{if !$smarty.get.par6}
			<a href="panel/client/send/last/" title="{$lang.all_last}" class="btn btn-primary btn-xs disabled">{$lang.all_last}</a>
			{else}
			<a href="panel/client/send/last/" title="{$lang.all_last}" class="btn btn-default btn-xs">{$lang.all_last}</a>
			{/if}
		{foreach item=i from=$letter}
			{if $i==$smarty.get.par6}<a href="panel/client/send/last/1/{$i}/" title="{$i}" class="btn btn-primary btn-xs disabled">{$i}</a>
			{else}<a href="panel/client/send/last/1/{$i}/" title="{$i}" class="btn btn-default btn-xs" >{$i}</a>{/if}
		{/foreach}
		</div>
	</div>
	<table class="table table-striped table-hover table-bordered lista">
		<tr>
			<th>{$lang.table_nagl1}</th>
			<th>{$lang.table_nagl2}</th>
			<th class="text-center col-sm-3">{$lang.table_nagl4}</th>
		</tr>
		{foreach item=i from=$dane}
		<tr>
			<td><a href="panel/client/send/view/{$i->id}/" title="{$lang.view}"><span class="glyphicon glyphicon-eye-open"></span>   {$i->topic}</a></td>
			<td><a href="panel/client/send/view/{$i->id}/" title="{$lang.view}" >{$i->date}</a></td>
			<td class="text-center"><a href="panel/client/send/resend/{$i->id}/" title="{$lang.resend}"><span class="glyphicon glyphicon-envelope"></span></a></td>
		</tr>
		{/foreach}
	</table>
	{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/client/send/last/" surfix="$sign"}
	</div>
</div>

{elseif $action=="view"}
<div class="row_action"><a href="panel/client/send/" title="{$lang.back}" class="back">{$lang.back}</a></div>
<div class="row_action"><a href="panel/client/send/resend/{$smarty.get.par5}/" title="{$lang.resend}"><span class="glyphicon glyphicon-envelope"></span> {$lang.resend}</a></div>
<div class="row_head">{$msg->topic}</div>
<div class="small">{$lang.sended} <strong>{$msg->date}</strong></div>
<div class="row_auto">{$msg->text}</div>
<div class="row_action">{$lang.client}</div>
<div class="row_auto">
{foreach item=i from=$user}<div class="col_item">{$i->name}</div>{/foreach}
</div>
{/if}
</div>