<div class="container-fluid px-0">
<div class="ramka">
	<script type="text/javascript" src="module/panel/data_general/class.js"></script>
	<script type="text/javascript" src="jscript/valid_data.js"></script>


	{*<h3>{$lang.head}</h3>*}
	<div class="row">
		<div class="col-sm-6">
			<form action="" onsubmit="javascript: return panel_data_gen_obj.submit();" id="data_gen_save" class="form-horizontal">
				{* dane do faktury *}
				<h3>Dane sprzedawcy wyświetlane na fakturze</h3>
				<div class="form-group">
					<label class="col-sm-4">{$lang.name}</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="name" name="name" class="form-control">{$user->name}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.address}</label>
					<div class="col-sm-8">
						<textarea cols="" rows="2" id="address" name="address" class="form-control">{$user->address}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.nip}</label>
					<div class="col-sm-8">
						<input type="text" name="nip" id="nip" value="{$user->nip}" class="form-control" {if $user->nip}onkeypress="javascript: return false"{/if} />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.phone}</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="phone" name="phone" class="form-control">{$user->phone}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.email}</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="email" name="email" class="form-control">{$user->email}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.krs}</label>
					<div class="col-sm-8">
						<input type="text" name="krs" id="krs" value="{$user->krs}" maxlength="10" class="form-control" onkeypress="javascript: return valid_data.check_krs(event);" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.place}</label>
					<div class="col-sm-8">
					<input type="text" name="place" id="place" value="{$user->place}" maxlength="64" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.www}</label>
					<div class="col-sm-8">
						<input type="text" name="www" id="www" value="{$user->www}" maxlength="127" class="form-control" />
					</div>
				</div>
				{* buttony zapisu *}
				{*<div class="row_info">*{$lang.info}</div>
				<div class="row_info">**{$lang.change_pass}</div> *}

				<div class="text-right">
					<br>
					<input type="hidden" name="id" value="{$user->id}" />

					<button type="submit" class="btn orangeButton" >{$lang.save}</button>
				<div id="save_error_error" class="dane_error"></div>
				<div id="dane_bledy_error" class="dane_error"></div>

				<div id="save_ok_error"></div>
				</div>
			</form>
		</div>
		<div class="col-sm-6">
			<!-- pierwsze jest domyślne -->

			  <h3>{$lang.account_change}</h3>


			 {if $smarty.session.saveAc != 0} {$lang.saveAc} {/if}
				{foreach item=i key=k from=$user->account name=a}
				<div class="form-horizontal">
				{if $smarty.foreach.a.index == 0}<div class="row"><div class="col-sm-8 col-sm-offset-4"><strong>Konto domyślne</strong></div></div>{/if}
				<div class="form-group">
					<label class="col-sm-4">{$lang.bank_name}</label>
					<div class="col-sm-8">
						<input type="text" name="bank_name{$k}" id="bank_name{$k}" value="{$i[1]}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4">{$lang.account}</label>
					<div class="col-sm-8">
						<input type="text" name="account{$k}" id="account{$k}" value="{$i[0]}" maxlength="50" class="form-control" />
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4" >
						<button onclick="javascript: panel_data_gen_obj.delAc({$user->id},{$k});" class="btn btn-danger">{$lang.del}</button>
					</div>
					<div class="col-sm-4 text-right">
						<button onclick="javascript: panel_data_gen_obj.saveAc({$user->id},{$k});" class="btn orangeButton">{$lang.save}</button>
					</div>
				</div>
				</div>
				<hr>
			  {/foreach}
			   {if $smarty.session.addAc != 0}{$lang.addAc}{/if}
				<h4>{$lang.add_account}</h4>
				 <label>{$lang.bank_name}</label><input type="text" name="bank_name" id="bank_name" value="" class="form-control" />
			  <label>{$lang.account}</label><input type="text" name="account" id="account" value="" maxlength="50" class="form-control" />

			  <div class="text-right">
				<br>
				<button onclick="javascript: panel_data_gen_obj.addAc({$user->id});" class="btn orangeButton">{$lang.add}</button>
				<br><br><br>
			</div>
		</div>
	</div>



{* dane dodatkowe *}

{*<div id="dane_kontrahenta">
<form action="" onsubmit="javascript: return panel_data_gen_obj.esubmit({$user_id});" id="data_extra_save">
<span class="naglowek">{$lang.nagl4}</span>

	<label>{$lang.elogo}</label>
	<div style="width:280px;float:left;">
		{assign var="uploader_type" value="invoice_logo"}
		{assign var="uploader_what" value="img"}
		{assign var="uploader_file" value=$dane->logo}
		{assign var="uploader_name" value="logo"}
		{include_php file="module/uploader/module.php"}
	</div>


	<label>{$lang.eheader}</label>
	<textarea name="head" cols="" rows="3" class="form-control">{$dane->head}</textarea>
	<label>{$lang.efoot}</label>
	<textarea name="foot" cols="" rows="3" class="form-control">{$dane->foot}</textarea>
	<label>{$lang.einfo}</label>
	<textarea name="info" cols="" rows="3" class="form-control">{$dane->info}</textarea>

buttony zapisu
<div class="akcje">
	<input type="hidden" name="id" value="{$user_id}" />
	<input type="reset" value="{$lang.cancel}" class="data_gen_cancel" />
	<input type="submit" value="{$lang.save}" class="data_gen_save" />
</div>
</form>
</div>
 komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
</div>
<div class="clear:both"></div>
</div>
</div>
