<script type="text/javascript" src="module/panel/jpk/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
{if $action == "add"}
  <div class="row">
		<div class="col-sm-12"><h3>{$lang.headerGen}_FA &nbsp;&nbsp;<a href="panel/jpk/list/" class="btn blueButton" >{$lang.headerList}_FA</a></h3></div>
  </div><br /><br />
  <div id="generate_error" class="alert alert-success"></div>
	<div id="error_error" class="alert alert-danger"></div>
	<div class="row">
		<div class="col-sm-7">
		<form method="post" id="jpkForm" onsubmit="return jpk_obj.generate()">
			<div class="col-sm-12">
				<div id="ok_error"  class="alert alert-success" ></div>
				<div id="error_error" class="alert alert-danger"></div>
			</div>
			<div class="row form-horizontal dane_osobiste">
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.dateBegin}<em>*</em>:</label>
					<div class="col-sm-8">
						<script type="text/javascript">calendar.create('dateBegin','{$dateBegin}');</script>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.dateEnd}<em>*</em>:</label>
					<div class="col-sm-8">
						<script type="text/javascript">calendar.create('dateEnd','{$dateEnd}');</script>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.currency}<em>*</em>:</label>
					<div class="col-sm-8">
						<select  name="currency"><option value="PLN">PLN</option><option value="EUR">EUR</option><option value="USD">USD</option><option value="GBP">GBP</option><option value="AUD">AUD</option><option value="CZK">CZK</option><option value="DKK">DKK</option><option value="EEK">EEK</option><option value="HKD">HKD</option><option value="JPY">JPY</option><option value="CAD">CAD</option><option value="LTL">LTL</option><option value="LVL">LVL</option><option value="NOK">NOK</option><option value="ZAR">ZAR</option><option value="RUB">RUB</option><option value="CHF">CHF</option><option value="SEK">SEK</option><option value="UAH">UAH</option><option value="HUF">HUF</option><option value="XDR">XDR</option><option value="BGN">BGN</option><option value="RON">RON</option><option value="PHP">PHP</option><option value="THB">THB</option><option value="NZD">NZD</option><option value="SGD">SGD</option><option value="ISK">ISK</option><option value="HRK">HRK</option><option value="TRY">TRY</option><option value="MXN">MXN</option><option value="BRL">BRL</option><option value="MYR">MYR</option><option value="IDR">IDR</option><option value="KRW">KRW</option><option value="CNY">CNY</option><option value="ILS">ILS</option><option value="INR">INR</option><option value="CLP">CLP</option></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.destination}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="radio" name="destination" value="0" id="destinationFirst" checked="checked" /> <label for="destinationFirst" >{$lang.destinationFirst}</label><br>
						<input type="radio" name="destination" value="1" id="destinationCorrect" /> <label for="destinationCorrect" >{$lang.destinationCorrect}</label>  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.KodUrzedu}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="KodUrzedu" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.KodKraju}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="KodKraju" value="PL" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.Wojewodztwo}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="Wojewodztwo" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.Powiat}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="Powiat" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.Gmina}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="Gmina" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.Ulica}:</label>
					<div class="col-sm-8">
						<input type="text" name="Ulica" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.NrDomu}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="NrDomu" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.NrLokalu}:</label>
					<div class="col-sm-8">
						<input type="text" name="NrLokalu" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.Miejscowosc}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="Miejscowosc" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.KodPocztowy}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="KodPocztowy" value="" class="tresc" />  
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.Poczta}<em>*</em>:</label>
					<div class="col-sm-8">
						<input type="text" name="Poczta" value="" class="tresc" />  
					</div>
				</div>
			</div>
			<div class="row text-right">				
				<br>
				<button type="submit" class="btn orangeButton">{$lang.gen} i pobierz</button>
				<br>
				<br>			
			</div>
		</form>
		<div class="row_hidden">
			<input type="hidden" id="okValid" value="{$lang.okValid}" />
			<input type="hidden" id="okInvalid" value="{$lang.okInvalid}" />
			<input type="hidden" id="jpkError" value="{$lang.jpkError}" />
		</div>
	</div>
	<div class="col-sm-5">
		<br /><br />
		<h4>Instrukcja generowania JPK_FA:</h4>
		<ol>
			<li>Podaj datę początkową oraz końcową. </li>
			<li>Wybierz walutę dla jakiej generujesz JPK_FA (dla każdej waluty należy wygenerować osobny JPK_FA).</li>
			<li>Podaj cel złożenia.</li>
			<li>Wypełnij wszystkie wymagane pola (oznaczone *).</li>
			<li>Kliknij przycisk "Generuj i pobierz".</li>
		</ol>
	</div>
</div>
  
{elseif $action == "edit"}
  <div class="row">
		<div class="col-sm-12"><h3>{$lang.headerEdit} &nbsp;&nbsp;<a href="panel/jpk/list/" class="btn blueButton" >{$lang.headerList}</a></h3></div>
	</div>
	<p>Pola z błędami zaznaczone są na żółto.</p>
  <div id="generate_error" class="alert alert-success"></div>
	<div id="error_error" class="alert alert-danger"></div>
  <script src="jscript/ace/ace.js"></script>
  <pre id="jpkEditor" style="width: 1600px; height: 800px;">{$data->xml_code|htmlentities}</pre>
  <script type="text/javascript">
  	var editor = ace.edit("jpkEditor");
      editor.setTheme("ace/theme/eclipse");
      editor.getSession().setMode("ace/mode/xml");
  </script>
  <div id="jpkErrorList"></div>
  <script type="text/javascript">jpk_obj.showErrors('{$data->errors}')</script>
  
  <form method="post" id="jpkForm" onsubmit="return jpk_obj.saveFile({$data->id})">
    <textarea name="xml" id="jpkXML" style="display: none"></textarea>
    <button type="submit" class="btn orangeButton">{$lang.save}</button>
  </form>
  <div class="row_hidden">
		<input type="hidden" id="okValid" value="{$lang.okValid}" />
		<input type="hidden" id="okInvalid" value="{$lang.okInvalid}" />
		<input type="hidden" id="jpkError" value="{$lang.jpkError}" />
	</div>
  
{elseif $action == "list"}
  <div class="row">
		<div class="col-sm-12"><h3>{$lang.headerList}_FA &nbsp;&nbsp;<a href="panel/jpk/add/" class="btn blueButton" >{$lang.headerGen}_FA</a></h3></div>
  </div>
  <div id="ok_error" class="alert alert-success"></div>
	<div id="error_error" class="alert alert-danger"></div>
  <table class="table table-striped table-hover table-bordered lista">
    <tr>
      <th>{$lang.dateCreate}</th> 
      <th>{$lang.dateBegin}</th> 
      <th>{$lang.dateEnd}</th> 
      <th>{$lang.destination}</th>
      <th>{* $lang.kind *} Rodzaj pliku</th> 
      <th>{$lang.isValid}</th>
      <th>{$lang.isSend}</th> 
			<th>Wyślij</th>
			<th>Edycja</th>
    </tr>
    {foreach item=i from=$data}
    <tr>
      <td><a href="panel/jpk/edit/{$i->id}/" title="edit"><strong>{$i->date_create}</strong></a></td> 
      <td>{$i->date_begin}</td> 
      <td>{$i->date_end}</td> 
      <td>{if $i->destination == 0}{$lang.destinationFirst}{else}{$lang.destinationCorrect} {$i->destination}{/if}</td>
      <td>{if $i->kind == 1}JPK_FA v1{else}JPK{/if}</td> 
      <td>{if $i->is_valid}{$lang.valid}{else}{$lang.invalid} <a href="#" onclick="return jpk_obj.showErrorsPop(this)" data-errors='{$i->errors}' title="{$lang.errors}">{$lang.errors}</a>{/if}</td>
      <td>{if $i->is_send}{$lang.sended}
      {foreach item=s from=$i->send_info}<br/>{$s.date}: {$s.mail}{/foreach}
      {else}{$lang.notSend}{/if}</td> 
			<td><a href="#" onclick="return jpk_obj.send({$i->id})" title="Wyślij" class="btn btn-xs btn-info">Wyślij</a></td>
      <td><a href="panel/jpk/edit/{$i->id}/" title="Edytuj" class="btn btn-xs btn-info">Edytuj</a></td>			
    </tr>
    {/foreach}
  </table>
  {include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/jpk/list/" surfix=""}

  <div class="invoice_list_mail" id="panel_error" style="position:fixed">
    <a onclick="return jpk_obj.close();" title="{$lang.close}" class="close"><span class="glyphicon glyphicon-remove"></span></a>
    <div id="errorsList"></div>
	</div>
  
  <div class="invoice_list_mail" id="panel_mail" style="position:fixed">
	{*	<h3>{$lang.nagl14}</h3> *}
  	
		<h4 style="font-weight:bold;">{$lang.headerMail} <a class="close" onclick="return jpk_obj.close();" title="{$lang.close}"><span class="glyphicon glyphicon-remove"></span></a></h4>		
  	<form action="" id="jpkSend" onsubmit="javascript: return jpk_obj.sendEnd();">
  		<div class="col-sm-6">  			
  			<div class="row_auto">
  				<div>{$lang.mail}:</div>
  				<input type="text" name="mail" class="form-control" />
  			</div>
  		</div>
      <div class="col-sm-6"> 
        <div class="row_auto">
  				<div>{$lang.sendSubject}:</div>
  				<input type="text" name="subject" class="form-control" value="{$lang.sendSubjectValue}" />
  			</div>        
			</div>
			<div class="col-sm-12">
				<div class="row_auto">
					<div>{$lang.sendText}:</div>
					<textarea name="text" class="form-control" style="min-height:200px">{$lang.sendTextValue}</textarea>
				</div>
			</div>
  		<div class="col-sm-12 text-center">
  			<br>
  			<input type="submit" value="{$lang.send}" class="btn orangeButton" />
  			<br>
  			<br>
  		</div>
  		<div class="row_hidden">
  			<input type="hidden" name="idJpk" id="idJpk" />
  		</div>
  	</form>
  </div>
  <div class="row_hidden">
		<input type="hidden" id="okSend" value="{$lang.okSend}" />
		<input type="hidden" id="errMail" value="{$lang.errMail}" />
		<input type="hidden" id="errId" value="{$lang.errId}" />
	</div>
{/if}