<script type="text/javascript" src="module/invoice/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
<div class="container-fluid px-0">
{* menu *}

<div id="invoice" style="overflow:hidden;">
<div id="invoice_top">
<span>{$lang.menu6}</span>
<div id="navibar">

{$lang.navi1}<a href="" title="{$lang.menu1}">{$lang.menu1}</a>
{foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} / {/if}{/foreach}

</div>
<ul id="rodzaj_faktury">
<li class="active"><a>{$lang.menu1}</a></li>
<li><a href="faktura-pro-forma/">{$lang.menu2}</a></li>
<li><a href="faktura-zaliczkowa/">{$lang.menu3}</a></li>
<li><a href="faktura-korygujaca/">{$lang.menu4}</a></li>
<li><a href="rachunek/">{$lang.menu5}</a></li>
</ul>


</div>
<form action="" id="faktura">
<div class="invoice_menu">
<div id="waluta"><label for="current">{$lang.currency}:</label> <select  name="current" id="current" onchange="javascript: invoice_obj.change_current(this.value);"><option value="PLN">PLN</option><option value="EUR">EUR</option><option value="USD">USD</option><option value="GBP">GBP</option><option value="AUD">AUD</option><option value="CZK">CZK</option><option value="DKK">DKK</option><option value="EEK">EEK</option><option value="HKD">HKD</option><option value="JPY">JPY</option><option value="CAD">CAD</option><option value="LTL">LTL</option><option value="LVL">LVL</option><option value="NOK">NOK</option><option value="ZAR">ZAR</option><option value="RUB">RUB</option><option value="CHF">CHF</option><option value="SEK">SEK</option><option value="UAH">UAH</option><option value="HUF">HUF</option><option value="XDR">XDR</option><option value="BGN">BGN</option><option value="RON">RON</option><option value="PHP">PHP</option><option value="THB">THB</option><option value="NZD">NZD</option><option value="SGD">SGD</option><option value="ISK">ISK</option><option value="HRK">HRK</option><option value="TRY">TRY</option><option value="MXN">MXN</option><option value="BRL">BRL</option><option value="MYR">MYR</option><option value="IDR">IDR</option><option value="KRW">KRW</option><option value="CNY">CNY</option><option value="ILS">ILS</option><option value="INR">INR</option><option value="CLP">CLP</option></select></div>
{if $user_sub}
	<a class="sprites lista_produktow_menu" href="panel/product/list/" title="{$lang.prod_head}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.prod_head}</span></a>
	<a class="sprites lista_faktur" href="panel/invoice/search/" title="{$lang.list_invoice}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_invoice}</span></a>
	<a class="sprites lista_kontrahentow" href="panel/client/list/" title="{$lang.list_client}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_client}</span></a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_clean}</span></a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.get_num();" style="background: url('images/layout/podobnee.jpg') no-repeat scroll 0px 5px transparent;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_duplicate}</span></a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.sendm(1);" style="background: url('images/layout/send_small.png') no-repeat scroll 5px 9px transparent;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_mail}</span></a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_pdf}</span></a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.save_base();"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_save}</span></a>

{else}
	<a class="sprites lista_produktow_menu" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.prod_head}</span></a>
	<a class="sprites lista_faktur" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_invoice}</span></a>
	<a class="sprites lista_kontrahentow" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_client}</span></a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_clean}</span></a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_pdf}</span></a>
	<a class="sprites save_big" onclick="javascript: document.getElementById('sub_error').style.display='block';"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_save}</span></a>



{/if}





</div>

{* początek faktury właściwej *}

{* wybór waluty *}

{* nagłówek *}
<div style="float:none;margin:0 20px;overflow:auto;">
<div class="numer_fak">
<a class="pomoc"><span>{$lang.pomoc1}</span></a>
<input type="text" name="lang_head" value="{$lang.head}" class="invoice_head opis" style="width:86%;text-align:left;" />
{* numer faktury *}
  <div class="wiersz_danych">
	<input type="text" name="lang_number" value="{$lang.number}" class="invoice_head opis" style="width:72px;" />
	<input type="text" name="number" value="{if $inv->number}{$inv->number}{else}{$counter}{/if}" class="invoice_data" />
	</div>
</div>

{* miejsce wystawienia, data wystawienia i sprzedaży *}
<div class="place_date">
  <div class="wiersz_danych">
    <input type="text" name="lang_date_create" value="{$lang.date_create}" class="opis" />
    <script type="text/javascript">calendar.create('date_create','{$inv->date_add}');</script>
	</div>
  <div class="wiersz_danych">
    <input type="text" name="lang_date_sell" value="{$lang.date_sell}" class="opis" />
    <script type="text/javascript">calendar.create('date_sell','{$inv->date_sell}',1);</script>
	</div>
  <div class="wiersz_danych">
    <input type="text" name="lang_place" value="{$lang.place}" class="opis" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>
</div>
</div>
{* oryginał/kopia*}
<div class="orginal_kopia">
	<span><input type="text" name="lang_original" id="original" value="{$lang.original}" class="invoice_normal_c" /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('original');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
	<span><input type="text" name="lang_copy" id="copy" value="{$lang.copy}" class="invoice_normal_c"  /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('copy');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
	<span><input type="text" name="lang_double" id="double" value="{$lang.double}" class="invoice_normal_c" /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('double');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
</div>


<div id="dane_osobiste">
<div class="wiersz_danych">
 <div class="lewy"><a class="pomoc"><span>{$lang.pomoc2}</span></a><div style="width:125px;padding-top:3px;"><input type="text" name="lang_user_name_main" value="{$lang.user_name_main}" class="invoice_normal"  /></div> </div>

 <div class="prawy"><a class="pomoc"><span>{$lang.pomoc2}</span></a><div style="width:100px;padding-top:3px;"><input type="text" name="lang_client_name_main" value="{$lang.client_name_main}" class="invoice_normal" /></div>
 {if $user_sub}
		<a onclick="javascript: invoice_obj.panel_client();" class="add" >{$lang.menu_loadc}</a>
{else}
<a onclick="javascript: document.getElementById('sub_error').style.display='block';" class="add" >{$lang.menu_loadc}</a>
{/if}


	{if $user_sub}
	<a onclick="javascript: return invoice_obj.save_client()" title="{$lang.add_client}" class="zapisz_kontrahenta">{$lang.add_client}</a>
	{else}
	<a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.add_client}" class="zapisz_kontrahenta">{$lang.add_client}</a>
	{/if}
	<div id="save_client_ok_error" class="dane_error"> </div>
<div id="save_client_bad_error" class="dane_error"> </div>
	</div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_name" value="{$lang.firma_name}" class="opis" />
    <textarea name="user_name" id="user_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->name}</textarea>
  </div>
  <div class="prawy">
   	<input type="text" name="lang_client_name" value="{$lang.firma_name}" class="opis" />
  	<textarea name="client_name" id="client_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->name}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_address" value="{$lang.user_address}" class="opis" />
    <textarea name="user_address" id="user_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->address}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_address" value="{$lang.client_address}" class="opis" />
  	<textarea name="client_address" id="client_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->address}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_nip" value="{$lang.user_nip}" class="opis" />
  	<input type="text" name="user_nip" id="user_nip" value="{$user->nip}" maxlength="24" class="tresc" {if $user->nip}onkeypress="javascript: return false"{/if} />
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_nip" value="{$lang.client_nip}" class="opis" />
  	<input type="text" name="client_nip" id="client_nip" value="{$client->nip}" maxlength="24" class="tresc" />
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
    <input type="text" name="lang_user_phone" value="{$lang.user_phone}" class="opis" />
  	<textarea name="user_phone" id="user_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->phone}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_phone" value="{$lang.client_phone}" class="opis" />
  	<textarea name="client_phone" id="client_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->phone}</textarea>
</div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_mail" value="{$lang.user_mail}" class="opis" />
  	<textarea name="user_mail" id="user_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->email}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_mail" value="{$lang.client_mail}" class="opis" />
  	<textarea name="client_mail" id="client_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->email}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
    <input type="text" name="lang_user_bank_name" value="{$lang.user_bank_name}" class="opis" />
    {if is_array($user->account) AND count($user->account)}
    <select name="user_bank_name" id="user_bank_name" class="tresc" style="height:24px;" onchange="javascript: invoice_obj.change_account(false);">{foreach item=i from=$user->account}<option value="{$i[1]}">{$i[1]}</option>{/foreach}</select>
    {else}<input type="text" name="user_bank_name" id="user_bank_name" value="{$user->bank_name}" class="tresc" />{/if}
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_bank_name" value="{$lang.client_bank_name}" class="opis" />
    <input type="text" name="client_bank_name" id="client_bank_name" value="{$client->bank_name}" class="tresc" />
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_account" value="{$lang.user_account}" class="opis" />
  	{if is_array($user->account) AND count($user->account)}
    <select name="user_account" id="user_account" class="tresc" style="height:24px;" onchange="javascript: invoice_obj.change_account(true);">{foreach item=i from=$user->account}<option value="{$i[0]}">{$i[0]}</option>{/foreach}</select>
    {else}
	<input type="text" name="user_account" id="user_account" value="{if !is_array($user->account)}{$user->account}{/if}" maxlength="32" class="tresc" />{/if}
  </div>
  <div class="prawy">
  	<input type="text" name="lang_client_account" value="{$lang.client_account}" class="opis" />
    <input type="text" name="client_account" id="client_account" value="{$client->account}" maxlength="36" class="tresc"  />
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_www" value="{$lang.user_www}" class="opis" />
  	<input type="text" name="user_www" id="user_www" value="{$user->www}" maxlength="127" class="tresc" />
  </div>
</div>

</div>







<div class="adres_dostawy">
     {* adres dostawy *}
<div class="invoice_100">
	<span>
	<a class="pomoc"><span>{$lang.pomoc3}</span></a>
	<input type="text" name="lang_branch" value="{$lang.branch}" class="invoice_normal_l" style="float:left;height:30px;width:200px;font-size:18px;color:#7b7a7a;  " /><br />
	<a class="sprites" onclick="javascript: return invoice_obj.show_branch();return key_mask(event,'')" title="{$lang.show}" id="branch_show" {if $branch->name}style="display: none;"{/if}>{$lang.show}</a>
	<a class="sprites" onclick="javascript: return invoice_obj.hide_branch();" title="{$lang.hide}" id="branch_hide" {if !$branch->name}style="display: none;"{/if}>{$lang.hide}</a></span>
</div>
<div class="invoice_100" id="branch" {if !$branch->name}style="display: none;"{/if}>
{* oddział *}
	<input type="text" name="lang_branch_name" value="{$lang.branch_name}" class="opis" />
	<textarea name="branch_name" id="branch_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->name}</textarea>
{* adres *}
	<input type="text" name="lang_branch_address" value="{$lang.branch_address}" class="opis" />
	<textarea name="branch_address" id="branch_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->address}</textarea>
{* telefon *}
	<input type="text" name="lang_branch_phone" value="{$lang.branch_phone}" class="opis" />
	<textarea name="branch_phone" id="branch_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->phone}</textarea>
{* mail *}
	<input type="text" name="lang_branch_mail" value="{$lang.branch_mail}" class="opis" />
	<textarea name="branch_mail" id="branch_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$branch->email}</textarea>
{* krs *}
	<input type="text" name="lang_branch_krs" value="{$lang.branch_krs}" class="opis" />
	<input type="text" name="branch_krs" id="branch_krs" value="{$branch->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />
{* nazwa banku *}
	<input type="text" name="lang_branch_bank_name" value="{$lang.branch_bank_name}" class="opis" />
	<input type="text" name="branch_bank_name" id="branch_bank_name" value="{$branch->bank_name}" class="tresc" />
{* konto *}
	<input type="text" name="lang_branch_account" value="{$lang.branch_account}" class="opis" />
	<input type="text" name="branch_account" id="branch_account" value="{$branch->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
</div>
</div>
{* kalkulator *}
<div id="kalkulator">

<div>
<table>

<tr>
<th class="kalkulator_title sprites">{$lang.calc_nagl1}</th>
<th>{$lang.calc_nagl2}</th>
<th>{$lang.calc_nagl3}</th>
<th>{$lang.calc_nagl4}</th>
</tr>
<tr>
<td class="tekst">{$lang.calc_nagl5}<span class="bold">{$lang.calc_nagl6}</span>{$lang.calc_nagl7}</td>
<td><input type="text" id="n2b_n" value="0" onkeyup="javascript: invoice_obj.n2b();" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:60px;" /></td>
<td><select id="n2b_v" onchange="javascript: invoice_obj.n2b();" ><option value="0">0 %</option><option value="3">3 %</option><option value="4">4 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="20">20 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="25">25 %</option></select></td>
<td><input type="text" id="n2b_b" value="0" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:65px;" /></td>
</tr>
<tr>
<td class="tekst">{$lang.calc_nagl5}<span class="bold">{$lang.calc_nagl8}</span> {$lang.calc_nagl9}</td>
<td><input type="text" id="b2n_n" value="0" onkeyup="javascript: invoice_obj.b2n();" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:60px;" /></td>
<td><select id="b2n_v" onchange="javascript: invoice_obj.b2n();" ><option value="0">0 %</option><option value="3">3 %</option><option value="4">4 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="20">20 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="25">25 %</option></select></td>
<td><input type="text" id="b2n_b" value="0" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);"  style="width:65px;" /></td>
</tr>
<tr ><td colspan="4" class="tekst">{$lang.calc_nagl0}</td></tr>
</table>
</div>
<a class="pomoc"><span>{$lang.pomoc4}</span></a>
</div>

{* faktura okresowa *}
{if $user_sub}
<div id="faktura_okresowa_checkobox">
	<a class="pomoc"><span>{$lang.pomoc5}</span></a><input  type="checkbox" value="1" id="period_check" name="period" onclick="javascript: invoice_obj.period(this);" /><label for="period_check">{$langs.time_head}</label>
</div>
<div id="period" style="display: none;">
	<script type="text/javascript">calendar.create('period_start','');</script>
<div style="float:right;">
	{$langs.time_main}
	<input type="text" value="1" name="period_value" class="tresc" id="period_value" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" />
	<select name="period_time">
		<option value="day">{$langs.time_day}</option>
		<option value="week">{$langs.time_week}</option>
		<option value="month">{$langs.time_month}</option>
		<option value="year">{$langs.time_year}</option>
	</select>

	{$langs.time_start}
	</div>

</div>
{else}
<div id="faktura_okresowa_checkobox">
	<a class="pomoc"><span>{$lang.pomoc5}</span></a><input  type="checkbox" value="1" id="period_check" name="period" onclick="javascript: document.getElementById('sub_error').style.display='block';" /><label for="period_check">{$langs.time_head}</label>
</div>
{/if}



{* nagłówki listy produktów *}
<div id="lista">

	{if $user_sub}
<a class="zaladuj_prod sprites" onclick="javascript: invoice_obj.panel_prod();">{$lang.menu_loadp}</a>
{else}
<a class="zaladuj_prod sprites " onclick="javascript: document.getElementById('sub_error').style.display='block';" >{$lang.menu_loadp}</a>
{/if}
<div id="save_product_ok_error" class="dane_error"> </div>
<div id="save_product_bad_error" class="dane_error"> </div>
<table>
  <thead>
  <tr>
	    <th class="akcje"><a class="pomoc"><span>{$lang.pomoc6}</span></a></th>
    <th class="lp"><input type="text" name="lang_lp" value="{$lang.lp}"  /></th>
    <th class="name"><input type="text" name="lang_name" value="{$lang.name}"  /></th>
    <th class="pkwiu"><input type="text" name="lang_pkwiu" value="{$lang.pkwiu}"  /></th>
  	<th class="ilosc"><input type="text" name="lang_amount" value="{$lang.amount}"  /></th>
    <th class="jm"><input type="text" name="lang_unit" value="{$lang.unit}"  /></th>
    <th class="kwota2"><input type="text" name="lang_netto" value="{$lang.netto}" /></th>
    <th class="kwota2" ><input type="text" name="lang_rabat" value="{$lang.rabat}" /></th>
    <th class="kwota2"><input type="text" name="lang_prize_netto" value="{$lang.prize_netto}"  /></th>
    <th class="vat"><input type="text" name="lang_vat" value="{$lang.vat}"  /></th>
    <th class="kwota"><input type="text" name="lang_sum_netto" value="{$lang.sum_netto}" /></th>
    <th class="kwota"><input type="text" name="lang_sum_vat" value="{$lang.sum_vat}" /></th>
    <th class="kwota"><input type="text" name="lang_sum_brutto" value="{$lang.sum_brutto}"  /></th>

    </tr>
  </thead>
  <tbody id="product_list">

  </tbody>
</table>
<table>
    <tr id="row_position">
	      <td class="akcje">
			<a title="{$lang.del}" onclick="javascript: return invoice_obj.del([id]);" class="del sprites">&nbsp;</a>
			{if $user_sub}
			<a title="{$lang.add_product}" onclick="javascript: return invoice_obj.save_product([id]);" class="added sprites">&nbsp;</a>
			{else}
			<a title="{$lang.add_product}" onclick="javascript: document.getElementById('sub_error').style.display='block';"  class="added sprites">&nbsp;</a>
			{/if}
      </td>
      <td><input type="text" name="p_[id]_lp" id="p_[id]_lp" value="" class="invoice_data" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><textarea name="p_[id]_name" id="p_[id]_name" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);"></textarea></td>
      <td><textarea name="p_[id]_pkwiu" id="p_[id]_pkwiu" value="" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);" ></textarea></td>
      <td><input type="text" name="p_[id]_amount" id="p_[id]_amount" value=""  onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><select name="p_[id]_unit" id="p_[id]_unit" ><option value="">---</option>{foreach item=i key=k from=$units}<option value="{$k}">{$k}</option>{/foreach}</select></td>
      <td><input type="text" name="p_[id]_netto" id="p_[id]_netto" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><input type="text" name="p_[id]_rabat" id="p_[id]_rabat" value="" class="invoice_data_r" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" /></td>
      <td><input type="text" name="p_[id]_pnetto" id="p_[id]_pnetto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><select name="p_[id]_vat" id="p_[id]_vat"  onchange="javascript: invoice_obj.count_all();"><option value="0">0 %</option><option value="3">3 %</option><option value="4">4 %</option><option value="5">5 %</option><option value="6">6 %</option><option value="7">7 %</option><option value="8">8 %</option><option value="18">18 %</option><option value="19">19 %</option><option value="20">20 %</option><option value="22">22 %</option><option value="23">23 %</option><option value="25">25 %</option><option value="NP">NP</option><option value="ZW">ZW</option><option value="-">-</option></select></td>
      <td><input type="text" name="p_[id]_snetto"  id="p_[id]_snetto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><input type="text" name="p_[id]_svat" id="p_[id]_svat" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>
      <td><input type="text" name="p_[id]_sbrutto" id="p_[id]_sbrutto" value="" class="invoice_data_rn" onkeypress="javascript: return key_mask(event,'');" /></td>

    </tr>
</table>
<a title="{$lang.add}" onclick="javascript: return invoice_obj.add();" class="added2 sprites">{$lang.korekta1}</a>
</div>





{* kwoty VAT *}
<div style="float:right;width:460px;" >
<a class="pomoc" style="margin-top:20px;"><span>{$lang.pomoc7}</span></a>
<div class="podsumowanie">
     <p class="head">
			<input type="text" name="lang_all_rate" value="{$lang.all_rate}" class="stawka" />
			<input type="text" name="lang_all_netto" value="{$lang.all_netto}" class="netto" />
			<input type="text" name="lang_all_vat" value="{$lang.all_vat}" class="vat" />
			<input type="text" name="lang_all_brutto" value="{$lang.all_brutto}" class="brutto" />
     </p>
		 <p id="vat_list"></p>
		    <div id="row_vat">
		    <input type="text" id="v_[id]_rate" value="" class="stawka" onkeypress="javascript: return key_mask(event,'');" />
		    <input type="text" id="v_[id]_netto" value="" class="netto" onkeypress="javascript: return key_mask(event,'');" />
		    <input type="text" id="v_[id]_vat" value="" class="vat" onkeypress="javascript: return key_mask(event,'');" />
		    <input type="text" id="v_[id]_brutto" value="" class="brutto" onkeypress="javascript: return key_mask(event,'');" />
	     </div>


		<p class="foot">
			<input type="text" name="lang_all_sum" value="{$lang.all_sum}" class="stawka" />
			<input type="text" id="all_netto" value="0.00 PLN" class="netto" onkeypress="javascript: return key_mask(event,'');" />
			<input type="text" id="all_vat" value="0.00 PLN" class="vat" onkeypress="javascript: return key_mask(event,'');" />
			<input type="text" id="all_brutto" value="0.00 PLN" class="brutto" onkeypress="javascript: return key_mask(event,'');" />
		</p>

</div>
</div>
{* zapłata *}
<div class="zaplata">
  <div class="forma">
      <input type="text" name="lang_cash_type" value="{$lang.cash_type}" class="opis" />
			<select name="cash_type" id="cash_type" class="wartosc" style="width:152px;">{foreach item=i from=$lang.cash_option}<option value="{$i}">{$i}</option>{/foreach}</select>
  </div>
  <div>
  	<input type="text" name="lang_cash_pay" value="{$lang.cash_pay}" class="opis" />
	<input type="text" name="cash_pay" id="cash_pay" value="0.00 PLN" class="wartosc" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" onkeyup="javascript: invoice_obj.count_all();" style="width:146px;" />
  </div>

  <div class="invoice_100" style="margin-top:4px;">
			<input type="text" name="lang_cash_date" value="{$lang.cash_date}" class="opis" style="padding-left:1px;padding-right:1px;" />
					<input type="radio" class="styled" name="cash_date" id="cash_date_l" value="list" checked="checked" />
					<select name="cash_date_list" id="cash_date_list" style="width:152px;" >{foreach item=i from=$lang.cash_deadline}<option value="{$i}" {if $i == "7 dni"}selected="selected" {/if}>{$i}</option>{/foreach}</select><br />

		<div style="height:40px;clear:both;padding-left:29%;margin:4px 0px 4px 4px">
         <input class="styled" type="radio" name="cash_date" id="cash_date_d" value="date"  />
					<div style="float:left;width:250px;" ><script type="text/javascript">calendar.create('cash_date_date','{if $inv->sell_date}{$inv->sell_time}{/if}');</script></div>
          </div>
  </div>
</div>

{* słownie *}
<div class="kwoty">

	<input type="text" name="lang_cash_sum" value="{$lang.cash_sum}" class="opis" />
	<input type="text" name="cash_sum" id="cash_sum" value="0.00 PLN" class="wartosc" onkeypress="javascript: return key_mask(event,'');" />
	<input type="text" name="lang_cash_word" value="{$lang.cash_word}" class="opis" />

 <input type="text" name="cash_word" id="cash_word" value="" class="wartosc" onkeypress="javascript: return key_mask(event,'');" />

</div>
{* podpisy *}
<div class="podpis" style="height:auto;">
	<div style="overflow:auto;">	{if $extra->sign}<img src="{$extra->sign}" alrt="" title="" style="float:right;"/>{/if}</div>
	<input type="text" name="lang_client_sign" value="{$lang.client_sign}" class="left opis" />

  <input type="text" name="lang_user_sign" value="{$lang.user_sign}" class="right opis" />
</div>

{* komentarz *}
<div class="coment">
<input type="text" name="lang_coment" value="{$lang.coment}" class=" opis" />
<textarea name="coment" cols="" rows="" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);">{$inv->coment}</textarea>
</div>



{* dane ukryte *}
<div class="row_hidden">
	<input type="hidden" name="lang" value="{$cf_lang}" />
	<input type="hidden" name="original_v" value="0" id="original_v" />
	<input type="hidden" name="branch_v" value="0" id="branch_v" />
	<input type="hidden" name="client_id" value="{$inv->client}" id="client_id" />
</div>
{* koniec faktury właściwej *}
</form>
{* wstawiane z js *}
<div id="sub_error" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	{$lang.error1}<br />
	<a onclick="javascript: document.getElementById('sub_error').style.display='none';" class="close" title="{$lang.clients_close}">Zamknij</a>
</div>

<div id="sub_error2" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:184px;font-weight:bold;text-align:center;font-size:22px;">
	Aby skorzystać z tej funkcji zarejestruj się!<br/>Skorzystaj z 30-dniowego okresu testowego<br />Limit został wyczerpany (max 3 faktury /24h)<br/>
	<a onclick="javascript: document.getElementById('sub_error2').style.display='none';" class="close" title="{$lang.clients_close}">Zamknij</a>
</div>

<div id="save_base_error_all" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:124px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<div id="save_base_error"> </div>
	<a onclick="javascript: document.getElementById('save_base_error_all').style.display='none';" class="close" title="{$lang.clients_close}">Zamknij</a>
</div>
<div class="row_hidden">

{* pusty wiersz podliczenia VAT *}


{* panel wyboru kontrahenta *}

	<div class="invoice_client" id="client_panel">

		<h3 >{$lang.clients_head}</h3>
		<div style="width:30%;float:left;clear:left;margin-left:2%;">
			<label>{$lang.clients_name}:</label>
			<input type="text" id="clients_[id]_name" value="[name]" class="invoice_data" />
		</div>
		<div style="width:30%;float:left;margin-left:4%;">
			<label>{$lang.clients_address}:</label>
			<input type="text" id="clients_[id]_address" value="[address]" class="invoice_data" />
		</div>
		<div style="width:30%;float:left;margin-left:2%;">
			<label>{$lang.clients_nip}:</label>
			<input type="text" id="clients_[id]_nip" value="[nip]" maxlength="13" class="invoice_data" />
		</div>
		<div style="clear:both;padding:6px 0;"><input type="button" value="{$lang.clients_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_client(1);" /></div>
		{* lista liter *}
		<div id="zakres_faktur" style="clear:both;">
		<div class="alphabet">
			<a onclick="javascript: return invoice_obj.panel_client([search],1,this.title);" title="" class="all" id="client_letter">{$lang.clients_all}</a>[letters]
		</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_kontrahentow" style="clear:both;">
			[clients]
		</div>
		{* stronicowanie *}
		<div style="clear:both;margin:10px;overflow:auto;">
			[pages]
		</div>

		{* przycisk zamknięcia *}
		<a onclick="javascript: return invoice_obj.close_client();" class="close" title="{$lang.clients_close}">{* $lang.clients_close *}</a>
	</div>
{* obiekt kontrahenta - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.load_client(this.title);" title="" class="invoice_client" id="client_object"></a>
{* obiekt strony - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.panel_client([search],this.title,[letter]);" title="" class="" id="client_page">&nbsp;</a>
{* panel wyboru produktu *}
	<div class="invoice_prod" id="prod_panel">
		<h3 >{$lang.prod_head}</h3>
		<div style="width:70%; margin-left:2%;">
			<label>{$lang.prod_name}:</label>
			<input type="text" id="prods_[id]_name" value="[name]" class="invoice_data" style="width:100%;" />
		</div>
		<div style="width:70%; margin-left:2%;">
			<label>{$lang.prod_producer}:</label>
			<input type="text" id="prods_[id]_producer" value="[producer]" class="invoice_data" style="width:100%;" />
		</div>
		<div style="width:34%;float:left;margin-left:2%;">
			<label>{$lang.prod_cat}:</label>
			<select id="prods_[id]_cat" class="invoice_data"><option value="">---</option></select>
			<label>{$lang.prod_number}:</label>
			<input type="text" id="prods_[id]_number" value="[number]" class="invoice_data" />
		</div>
		<div style="width:34%;float:left;margin-left:2%;">
			<label>{$lang.prod_pkwiu}:</label>
			<input type="text" id="prods_[id]_pkwiu" value="[pkwiu]" class="invoice_data" />
			<label style="clear:left;">{$lang.prod_prize}:</label><br />
			<div style="clear:left;"><input type="text" id="prods_[id]_prize_min" value="[prize_min]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:123px;" /> - <input type="text" id="prods_[id]_prize_max" value="[prize_max]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:124px;" /></div>
		</div>
		<div id="add_[id]_info" class="add_info" ></div>
		<div class="row_action" style="padding-top:5px;clear:both;"><input type="button" value="{$lang.prod_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_prod(1);" /></div>
		{* lista liter *}
		<div id="zakres_faktur" style="clear:both;height:20px;">
		<div class="alphabet">
			<a onclick="javascript: return invoice_obj.panel_prod([search],1,this.title);" title="" class="all" id="prod_letter">{$lang.prod_all}</a>[letters]
		</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_produktow">
		<span class="header">
		<span class="column1">Nazwa</span>
		<span class="column2">Cena netto</span>
		<span class="column3">Cena brutto</span>
		</span>
			[prods]
		</div>
		{* stronicowanie *}
		<div  style="clear:both;margin:10px;overflow:auto;">
			[pages]
		</div>
		{* przycisk zamknięcia *}
		<a onclick="javascript: return invoice_obj.close_prod();" class="close" title="{$lang.prod_close}">{* $lang.prod_close *}</a>
	</div>
{* obiekt kontrahenta - panel produktu *}
	<a onclick="javascript: return invoice_obj.load_prod(this.title);" title="" id="prod_object"></a>
{* obiekt strony - panel produktu *}
	<a onclick="javascript: return invoice_obj.panel_prod([search],this.title,[letter]);" title="" class="" id="prod_page">&nbsp;</a>
</div>
{* wybranie co drukować *}
<div class="invoice_client" id="what_print">
 <a class="close"  onclick="javascript: this.parentNode.style.display='none';" ></a>
 <h3>{$lang.menu_pdf}</h3>
  <div class="what_print_line"><input type="radio" name="what_p" value="1" id="print1"{if $user_sub}checked="checked"{else}disabled="disabled"{/if} /> <label for="print1">{$lang.save_menu1}</label></div>
  <div class="what_print_line"><input type="radio" name="what_p" value="2" id="print2" {if !$user_sub}checked="checked"{/if}/> <label for="print2">{$lang.save_menu2}</label></div>
  {*<div class="what_print_line"><input type="radio" name="what_p" value="3" id="print3" /> <label for="print3">{$lang.save_menu3}</label></div>*}
  <div class="what_print_line" ><input type="radio" name="what_p" value="4" id="print4" /> <label for="print4">{$lang.save_menu4}</label></div>

  <input type="button" value="{$lang.save_menu5}" onclick="javascript: return invoice_obj.save_pdf_end();" />

</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="count" value="0" />
	<input type="hidden" id="count_n" value="0" />
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="same_nr" value="{$lang.same_nr}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="delete" value="{$lang.delete}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="addc_ok" value="{$lang.addc_ok}" />
	<input type="hidden" id="addc_error" value="{$lang.addc_error}" />
	<input type="hidden" id="addp_ok" value="{$lang.addp_ok}" />
	<input type="hidden" id="addp_error" value="{$lang.addp_error}" />
	<input type="hidden" id="number_coin" value="{$lang.number_coin}" />
	<input type="hidden" id="number_tou" value="{$lang.number_tou}" />
	<input type="hidden" id="number_mln" value="{$lang.number_mln}" />
	<input type="hidden" id="number_mld" value="{$lang.number_mld}" />
	<input type="hidden" id="number_j" value="{$lang.number_j}" />
	<input type="hidden" id="number_n" value="{$lang.number_n}" />
	<input type="hidden" id="number_d" value="{$lang.number_d}" />
	<input type="hidden" id="number_s" value="{$lang.number_s}" />

</div>
<div class="invoice_menu_bottom">
{if $user_sub}
	<a class="sprites lista_produktow_menu" href="panel/product/list/" title="{$lang.prod_head}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.prod_head}</span></a>
	<a class="sprites lista_faktur" href="panel/invoice/search/" title="{$lang.list_invoice}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_invoice}</span></a>
	<a class="sprites lista_kontrahentow" href="panel/client/list/" title="{$lang.list_client}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_client}</span></a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_clean}</span></a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.get_num();" style="background: url('images/layout/podobnee.png') no-repeat scroll 0px 5px transparent;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_duplicate}</span></a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.sendm(1);" style="background: url('images/layout/send_small.png') no-repeat scroll 5px 9px transparent;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_mail}</span></a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_pdf}</span></a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.save_base();"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_save}</span></a>

{else}
	<a class="sprites lista_produktow_menu" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.prod_head}</span></a>
	<a class="sprites lista_faktur" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_invoice}</span></a>
	<a class="sprites lista_kontrahentow" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.list_client}</span></a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_clean}</span></a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_pdf}</span></a>
	<a class="sprites save_big" onclick="javascript: document.getElementById('sub_error').style.display='block';"><span style='display:table-cell; vertical-align:middle;line-height:15px;height:37px;'>{$lang.menu_save}</span></a>



{/if}
</div>
</div>



{* wywołania js *}
{foreach item=i from=$inv->product}
<script type="text/javascript">invoice_obj.add('{$i->name|replace:"\n":"\\n"}', '{$i->pkwiu}', '{$i->unit}', '{$i->vat}', '{$i->netto}', '{$i->amount}', '{$i->rabat}');</script>
{/foreach}
{if count($inv->product)==0}<script type="text/javascript">invoice_obj.add();</script>{/if}
<script type="text/javascript">invoice_obj.load_invoice('{$inv->original}','{$inv->sell_type}','{$inv->sell_date}','{$inv->sell_time}','{$inv->sum_pay}','{$inv->cur}');</script>
<script type="text/javascript">invoice_obj.resize_textareas();</script>
<div id="send_error_all" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:124px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<div id="send_error"> </div>
	<a onclick="javascript: $('send_error_all').style.display='none';" class="close" title=""></a>
</div>
<div id="send_loading" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:70px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<div > Trwa wysyłanie wiadomości</div>
		<div class="loading_img"></div>

	<a onclick="javascript: $('send_loading').style.display='none';" class="close" title=""></a>

</div>
		<input type="hidden" id="send_ok" value="Faktura została wysłana na podany adres email." />
	<input type="hidden" id="send_error" value="Wystąpił błąd podczas wysyłania wiadomości, spróbuj ponownie za chwilę" />
	<input type="hidden" id="send_null" value="Brak adresu e-mail do wysyłki, uzupełnij dane kontrahenta" />
{* okno wyboru adres'ów email *}
<div class="invoice_list_mail" id="panel_mail" style="position:fixed">
<a onclick="invoice_obj.mclose();" class="close" title="{$lang.m_close}">{$lang.m_close}</a>
	<h3 style="font-size:18px">{$lang.mail_nagl}</h3>
	<form action="" id="send_mail" onsubmit="javascript: return invoice_obj.sendm_2();">
  <div style="float:left;width:50%;">
  <span style="font-weight:bold;">{$lang.mail_nagl3}</span>
  	<div class="row_auto" id="mail_list" style="text-align:center;"></div>
  <div class="row_auto" style="text-align:left;padding-left:42px;width:auto;">
		<div class="insert_left" style="width:auto;text-align:left;" >{$lang.mail_nagl2}:</div>
		<input type="text" name="email" id="email_send" class="invoice_list_text" />
	</div>
	<div class="row_hidden">
		<input type="hidden" name="fak_type" id="fak_type"  />
	</div>
	</div>
  <div style="float:right;width:49%;border-left:1px dashed #dfdfdf;"> <span style="font-weight:bold;text-align:left;">{$lang.mail_nagl5}</span><div style="padding:7px 50px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_pm" value="1" id="print1b" checked="checked" /><label for="print1b">{$lang.save_menu1}</label></div>
  <div style="padding:7px 50px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_pm" value="2" id="print2b" /><label for="print2b">{$lang.save_menu2}</label></div>
  {*<div style="padding:7px 50px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_pm" value="3" id="print3b" /><label for="print3b">{$lang.save_menu3}</label></div>*}
  <div style="padding:7px 50px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_pm" value="4" id="print4b"  style="width:auto;"/><label for="print4b" >{$lang.save_menu4}</label></div>
</div>
	<div class="row_action" style="clear:both;padding:10px">
		<input type="submit" value="{$lang.mail_nagl4}" class="invoice_list_send" style="width:auto;float:none;width:100px;margin-top:10px;margin-bottom:10px" />
	</div>
	</form>
</div>
</div>
