<script type="text/javascript" src="module/user/add/class.js"></script>
<script type="text/javascript" src="../jscript/valid_data.js"></script>
<form action="" onsubmit="javascript: return user_add_obj.submit();" id="user_add">
{* dane podstawowe *}
<fieldset>
<legend>{$lang.head}</legend>
<div class="row_auto">
	<label>{$lang.login}*:</label>
	<input type="text" name="login" id="login" value="{$user->login}" class="user_text" onchange="javascript: user_add_obj.check_login();" />
</div>
<div class="row_auto">
	<label>{$lang.pass}*:</label>
	<input type="password" name="pass" id="pass" value="" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.pass} ({$lang.repeat})*:</label>
	<input type="password" name="pass_repeat" id="pass_repeat" value="" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.mail}*:</label>
	<input type="text" name="mail" id="mail" value="{$user->mail}" class="user_text" onchange="javascript: user_add_obj.check_mail();" />
</div>
<div class="row_auto">
	<label>{$lang.rang}:</label>
	<select name="rang" class="user_text">{foreach item=i key=k from=$lang.rangs}<option value="{$k}">{$i}</option>{/foreach}</select>
</div>
</fieldset>
{* dane do faktury *}
<fieldset style="float:right;">
<legend>{$lang.invoice}</legend>
<div class="row_auto">
	<label>{$lang.name}:</label>
	<textarea cols="" rows="1" id="name" name="name" class="user_text">{$user->name}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.address}:</label>
	<textarea cols="" rows="2" id="address" name="address" class="user_text">{$user->address}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.nip}:</label>
	<input type="text" name="nip" id="nip" value="{$user->nip}" maxlength="25" class="user_text" onkeypress="javascript: return valid_data.check_nip(event);" />
</div>
<div class="row_auto">
	<label>{$lang.phone}:</label>
	<textarea cols="" rows="1" id="phone" name="phone" class="user_text">{$user->phone}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.email}:</label>
	<textarea cols="" rows="1" id="email" name="email" class="user_text">{$user->email}</textarea>
</div>
<div class="row_auto">
	<label>{$lang.krs}:</label>
	<input type="text" name="krs" id="krs" value="{$user->krs}" maxlength="10" class="user_text" onkeypress="javascript: return valid_data.check_krs(event);" />
</div>
<div class="row_auto">
	<label>{$lang.bank_name}:</label>
	<input type="text" name="bank_name" id="bank_name" value="{$user->bank_name}" class="user_text" />
</div>
<div class="row_auto">
	<label>{$lang.account}:</label>
	<input type="text" name="account" id="account" value="{$user->account}" maxlength="32" class="user_text" onkeypress="javascript: return valid_data.check_account(event);" />
</div>
<div class="row_auto">
	<label>{$lang.place}:</label>
	<input type="text" name="place" id="place" value="{$user->place}" maxlength="64" class="user_text" />
</div>
</fieldset>
{* buttony zapisu *}
<div class="row_info" style="clear:both;">*{$lang.info}</div>
<div class="row_action" style="clear:both;">
	<input type="reset" value="{$lang.cancel}" class="user_cancel" />
	<input type="submit" value="{$lang.add}" class="user_add" />
</div>
</form>

{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="reg_login" value="0" />
	<input type="hidden" id="reg_mail" value="0" />
	<input type="hidden" id="reg_pass" value="0" />
	<input type="hidden" id="bad_login" value="{$lang.bad_login}" />
	<input type="hidden" id="bad_mail" value="{$lang.bad_mail}" />
	<input type="hidden" id="bad_pass" value="{$lang.bad_pass}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="add_ok" value="{$lang.add_ok}" />
	<input type="hidden" id="add_error" value="{$lang.add_error}" />
</div>