<script type="text/javascript" src="module/panel/client_list/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<div class="container-fluid px-0">
{if $action=="list"}
<div id="wyszukiwarka_faktur" class="ramka">
	<div class="row">
		<div class="col-sm-9"><h3>{$lang.nagl3}</h3></div>
		<div class="col-sm-3 text-right"><a href="panel/client/add/" class="btn blueButton" >Dodaj nowego kontrahenta</a></div>


		{*<div class="client_list_show" id="search_show" onclick="javascript: panel_client_list_obj.show_search();">{$lang.searcher} ({$lang.show})</div>
		<div class="client_list_hidden" id="search_hidden" onclick="javascript: panel_client_list_obj.hidden_search();">{$lang.searcher} ({$lang.hidden})</div>*}
	</div>
	<div id="search" class="row">
		<div class="col-sm-3 form-group">
			<label>{$lang.name}:</label>
			<input type="text" id="name" value="{$search.name}"class="form-control" />
		</div>
		<div class="col-sm-3">
			<label>{$lang.address}:</label>
			<input type="text" id="address" value="{$search.address}"class="form-control" />
		</div>
		<div class="col-sm-3">
			<label>{$lang.nip}:</label>
			<input type="text" id="nip" value="{$search.nip}" maxlength="13"class="form-control"  />
		</div>
		<div class="col-sm-3 form-group">
			<label class="col-sm-12">&nbsp;</label>
			<input type="button" value="{$lang.search}"  class="btn orangeButton" id="wyszukaj_faktury" onclick="javascript: panel_client_list_obj.search();" />
		</div>
	</div>

	{if $search.address OR $search.nip}<script type="text/javascript">panel_client_list_obj.show_search();</script>{/if}
</div>

<div class="text-right">
	<div class="btn-group alphabet">
		{if !$smarty.get.par5}
		<a href="panel/client/list/" title="{$lang.all}" class="btn btn-primary btn-sm disabled">{$lang.all}</a>
		{else}
		<a href="panel/client/list/" title="{$lang.all}" class="btn btn-default btn-sm">{$lang.all}</a>
		{/if}
	{foreach item=i from=$letter}
		{if $i==$smarty.get.par5}<a href="panel/client/list/1/{$i}/" title="{$i}" class="btn btn-primary btn-sm disabled">{$i}</a>
		{else}<a href="panel/client/list/1/{$i}/" title="{$i}" class="btn btn-default btn-sm" >{$i}</a>{/if}
	{/foreach}
	</div>
</div>
{if $dane}
	<table class="table table-striped table-hover table-bordered lista">
	<tr>
	<th>{$lang.table_nagl1}</th>
	<th>{$lang.table_nagl2}</th>
	<th class="text-center">{$lang.invoice}</th>
	<th class="text-center">{$lang.branch}</th>
	<th class="text-center">{$lang.edit}</th>
	<th class="text-center">{$lang.del}</th>
	<tr>
	{foreach item=i from=$dane}
	<tr>
		<td><a href="panel/invoice/search/{$i->id}/" title="{$lang.page} {$i->sign}"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp; {$i->sign}</a></td>
		<td><a href="panel/invoice/search/{$i->id}/" title="{$i->name}">{$i->name}</a></td>
		<td class="text-center"><a href="panel/invoice/list/client/{$i->id}/" title="{$lang.invoice}"><span class="glyphicon glyphicon-folder-open"></span></a></td>
		<td class="text-center"><a href="panel/client/list/branch/{$i->id}/" title="{$lang.branch}"><span class="glyphicon glyphicon-user"></span></a></td>
		<td class="text-center"><a href="panel/client/list/edit/{$i->id}/" title="{$lang.edit}" class="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
		<td class="text-center"><a href="panel/client/list/del/{$i->id}/" title="{$lang.del}"  onclick="javascript: return confirm_del();"><span class="glyphicon glyphicon-remove"></span></a></td>
	</tr>
	{/foreach}
	</table>
{else}
	<div class="noResults">
	</div>
{/if}
{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/client/list/" surfix="$sign"}


<div class="row_hidden">
	<input type="hidden" id="delete" value="{$lang.delete}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
</div>
{elseif $action=="edit"}
<div class="ramka">
	<h3>{$lang.nagl4}</h3>
	<form action="" onsubmit="javascript: return panel_client_list_obj.submit({$user->id});" id="client_list_form" class="form-horizontal">
		<div id="ok_error" class="alert alert-success"></div>
		<div id="error_error" class="alert alert-danger"></div>
		<div id="exist_error" class="alert alert-danger"></div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.name}:</label>
				<div class="col-sm-8">
					<textarea cols="" rows="1" id="name" name="name"class="form-control">{$user->name}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.mail}:</label>
				<div class="col-sm-8">
					<input type="text" name="mail" id="mail" value="{$user->mail}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.sign}:</label>
				<div class="col-sm-8">
					<input type="text" name="sign" id="sign" value="{$user->sign}" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.address}:</label>
				<div class="col-sm-8">
					<textarea cols="" rows="2" id="address" name="address"class="form-control">{$user->address}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.nip}:</label>
				<div class="col-sm-8">
					<input type="text" name="nip" id="nip" value="{$user->nip}" maxlength="24"class="form-control" />
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.phone}:</label>
				<div class="col-sm-8">
					<textarea cols="" rows="1" id="phone" name="phone"class="form-control">{$user->phone}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.email}:</label>
				<div class="col-sm-8">
					<textarea cols="" rows="1" id="email" name="email"class="form-control">{$user->email}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.krs}:</label>
				<div class="col-sm-8">
					<input type="text" name="krs" id="krs" value="{$user->krs}" maxlength="10"class="form-control" onkeypress="javascript: return valid_data.check_krs(event);" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.bank_name}:</label>
				<div class="col-sm-8">
					<input type="text" name="bank_name" id="bank_name" value="{$user->bank_name}"class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{$lang.account}:</label>
				<div class="col-sm-8">
					<input type="text" name="account" id="account" value="{$user->account}" maxlength="32"class="form-control" onkeypress="javascript: return valid_data.check_account(event);" />
				</div>
			</div>
		</div>
		{* buttony zapisu *}
		<div class="row text-center">
			<div class="col-sm-12">
				<br>
				<input type="hidden" name="id" value="{$user->id}" />
				<input type="reset" value="{$lang.cancel}" class="btn btn-warning" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="submit" value="{$lang.save}" class="btn btn-primary" />
				<br><br>
			</div>
		</div>
	</form>
</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
</div>

{elseif $action=="branch"}
<div class="ramka">
	<br>
	<div class="row">
		<div class="col-sm-4"><h3>{$lang.branch}</h3></div><div class="col-sm-2 text-right"><a href="panel/client/list/badd/{$smarty.get.par5}/" title="{$lang.addb}" class="btn orangeButton">{$lang.addb}</a></div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-striped table-hover table-bordered lista">
			<tr>
			<th>Nazwa skrócona</th>
			<th>{$lang.table_nagl3}</th>
			<th class="text-center">{$lang.edit}</th>
			<th class="text-center">{$lang.del}</th>
			</tr>
			{foreach item=i from=$dane}
			<tr>
				<td><a href="panel/invoice/search/{$smarty.get.par5}/" title="{$i->sign}">{$i->sign}</a></td>
				<td><a href="panel/invoice/search/{$smarty.get.par5}/" title="{$i->name}">{$i->name}</a></td>
				<td class="text-center"><a href="panel/client/list/bedit/{$smarty.get.par5}/{$i->id}/" title="{$lang.edit}"><span class="glyphicon glyphicon-pencil"></span></a></td>
				<td class="text-center"><a href="panel/client/list/bdel/{$smarty.get.par5}/{$i->id}/" title="{$lang.del}" onclick="javascript: return confirm_del();"><span class="glyphicon glyphicon-remove"></span></a></td>
			</tr>
			{/foreach}
			</table>
		</div>
	</div>
	<div class="row_hidden">
		<input type="hidden" id="delete" value="{$lang.deleteb}" />
	</div>
	<br><br><br><br>
</div>

{elseif $action=="badd"}

	<div class="ramka">
		<h3>{$lang.addb}</h3>
		{*<div class="row_action">
		<a href="panel/client/list/branch/{$smarty.get.par5}/" title="{$lang.back}" class="back">{$lang.back}</a></div>*}
		<form action="" onsubmit="javascript: return panel_client_list_obj.addb();" id="client_list_form" class="form-horizontal">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.sign}:</label>
					<div class="col-sm-8">
						<input type="text" name="sign" id="sign" value="{$user->sign}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.name}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="name" name="name" class="form-control">{$user->name}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"> {$lang.address}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="2" id="address" name="address" class="form-control">{$user->address}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.phone}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="phone" name="phone" class="form-control">{$user->phone}</textarea>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.email}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="email" name="email" class="form-control">{$user->email}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.krs}:</label>
					<div class="col-sm-8">
						<input type="text" name="krs" id="krs" value="{$user->krs}" maxlength="10" class="form-control" onkeypress="javascript: return valid_data.check_krs(event);" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.bank_name}:</label>
					<div class="col-sm-8">
						<input type="text" name="bank_name" id="bank_name" value="{$user->bank_name}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.account}:</label>
					<div class="col-sm-8">
						<input type="text" name="account" id="account" value="{$user->account}" maxlength="32" class="form-control" onkeypress="javascript: return valid_data.check_account(event);" />
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-sm-12">
					<br>
					<input type="reset" value="{$lang.cancel}" class="btn btn-warning" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" value="{$lang.save}" class="btn btn-primary" />
					<br><br>
				</div>
			</div>
		</form>
		{* komunikaty błędów zmienne pomocnicze *}
		<div class="row_hidden">
			<input type="hidden" id="client_id" value="{$smarty.get.par5}" />
			<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
			<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
			<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
			<input type="hidden" id="add_ok" value="{$lang.addb_ok}" />
			<input type="hidden" id="add_error" value="{$lang.addb_error}" />
		</div>
	</div>

{elseif $action=="bedit"}

	<div class="ramka">
		<h3>{$lang.branch_data} </h3>
		{*<div class="row_action"><a href="panel/client/list/branch/{$smarty.get.par5}/" title="{$lang.back}" class="back">{$lang.back}</a></div>*}
		<form action="" onsubmit="javascript: return panel_client_list_obj.saveb({$smarty.get.par6});" id="client_list_form" class="form-horizontal">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.sign}:</label>
					<div class="col-sm-8">
						<input type="text" name="sign" id="sign" value="{$user->sign}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.name}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="name" name="name" class="form-control">{$user->name}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.address}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="2" id="address" name="address" class="form-control">{$user->address}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.phone}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="phone" name="phone" class="form-control">{$user->phone}</textarea>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.email}:</label>
					<div class="col-sm-8">
						<textarea cols="" rows="1" id="email" name="email" class="form-control">{$user->email}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.krs}:</label>
					<div class="col-sm-8">
						<input type="text" name="krs" id="krs" value="{$user->krs}" maxlength="10" class="form-control" onkeypress="javascript: return valid_data.check_krs(event);" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.bank_name}:</label>
					<div class="col-sm-8">
						<input type="text" name="bank_name" id="bank_name" value="{$user->bank_name}" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">{$lang.account}:</label>
					<div class="col-sm-8">
						<input type="text" name="account" id="account" value="{$user->account}" maxlength="32" class="form-control" onkeypress="javascript: return valid_data.check_account(event);" />
					</div>
				</div>
			</div>
			{* buttony zapisu *}
			<div class="row text-center">
				<div class="col-sm-12">
					<br>
					<input type="reset" value="{$lang.cancel}" class="btn btn-warning" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" value="{$lang.save}" class="btn btn-primary" />
					<br><br>
				</div>
			</div>
		</form>
	</div>
	{* komunikaty błędów zmienne pomocnicze *}
	<div class="row_hidden">
		<input type="hidden" id="client_id" value="{$smarty.get.par5}" />
		<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
		<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
		<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
		<input type="hidden" id="save_ok" value="{$lang.saveb_ok}" />
		<input type="hidden" id="save_error" value="{$lang.saveb_error}" />
	</div>
{/if}
</div>
