
<div class="row">
	<div class="col-sm-12">
	<h1 class="col-sm-12">{$lang.head}</h1>
	<div class="col-sm-4">
    <table class="table table-striped table-hover table-bordered lista">
	<tr><th>{$lang.nagl3}</th></tr>
	<tr><td><a href="panel/raport/sell/year/" style="font-weight:bold;padding:5px;display:block;">{$lang.year}</a></td></tr>
	{foreach item=i from=$dane2}
	{if $i != 0000 AND $i <= ('Y'|date)}
	<tr><td{if $smarty.get.par4 == $i} style="background:#539ccc;" {/if} ><a href="panel/raport/sell/{$i}/" style="font-weight:bold;padding:5px;display:block;{if $smarty.get.par4 == $i} color:#fff; {/if}" class="">{$lang.month} {$i}</a></td></tr>
	{/if}
	{/foreach}


	</table>
	</div>
{if $action=="list"}
	{*<div class="col-sm-6 col-sm-offset-2">
    <table style="width:40%;margin-left:30%;margin-bottom:20px;">
	<tr><th style="text-align:left;padding:6px;line-height:14px;height:14px;">{$lang.nagl3}</th></tr>
	<tr><td><a href="panel/raport/sell/year/" style="font-weight:bold;padding:5px;display:block;">{$lang.year}</a></td></tr>
	{foreach item=i from=$dane}<tr><td ><a href="panel/raport/sell/{$i}/" style="font-weight:bold;padding:5px;display:block;">{$lang.month} {$i}</a></td></tr>{/foreach}
	</table>
	</div>*}
{elseif $action=="year"}
	{*<div class="col-sm-4">
		<table style="width:40%;margin-left:30%;margin-bottom:20px;">
		<tr><th style="text-align:left;padding:6px;line-height:14px;height:14px;">{$lang.nagl3}</th></tr>
		<tr><td><a href="panel/raport/sell/year/" style="font-weight:bold;padding:5px;display:block;">{$lang.year}</a></td></tr>

		{foreach item=i from=$dane}<tr><td ><a href="panel/raport/sell/{$i}/" style="font-weight:bold;padding:5px;display:block;">{$lang.month} {$i}</a></td></tr>{/foreach}
		</table>
	</div>*}
	<div class="col-sm-6 col-sm-offset-2">
		{*<div style="padding-left:25%;text-align:left;padding-bottom:5px;"><a href="panel/raport/sell/" style="font-weight:bold;">{$lang.nagl4}</a></div> *}
		<table class="table table-striped table-hover table-bordered lista" style="margin-bottom:20px;">
		<tr><th colspan="5">{$lang.nagl5}</th></tr>
		<tr>
		<th>{$lang.nagl6}</th>
		<th>{$lang.nagl7}</th>
		<th>{$lang.nagl8}</th>
		<th>{$lang.nagl9}</th>
		<th>{$lang.nagl10}</th>
		</tr>


		{foreach item=i key=k from=$dane}
		<tr><th>{$i.year}</th>
		<td>{$i.netto|string_format:"%.2f"} zł</td>
		<td>{$i.brutto|string_format:"%.2f"} zł</td>
		<td>{$i.vat|string_format:"%.2f"} zł </td>
		<td>{$i.ile} </td></tr>


		{/foreach}
		</table>
	</div>
{elseif $action=="month"}
	<div class="col-sm-6 col-sm-offset-2">
	{*<div style="padding-left:25%;text-align:left;padding-bottom:5px;"><a href="panel/raport/sell/" style="font-weight:bold;">{$lang.nagl4}</a></div>*}

	<table class="table table-striped table-hover table-bordered lista">
	<tr><th colspan="5">{$lang.nagl5}</th></tr>
	<tr>
	<th>{$lang.nagl11}</th>
	<th class="text-right">{$lang.nagl7}</th>
	<th class="text-right">{$lang.nagl8}</th>
	<th class="text-right">{$lang.nagl9}</th>
	<th>{$lang.nagl10}</th>
	</tr>
	{foreach item=i key=k from=$dane}
	<tr>
		<th>{$lang[$k]}</th>
		<td class="text-right"> {$i.netto|string_format:"%.2f"} zł</td>
		<td class="text-right"> {$i.brutto|string_format:"%.2f"} zł</td>
		<td class="text-right">{$i.vat|string_format:"%.2f"} zł </td>
		<td>{$i.ile} </td>
	</tr>
	{/foreach}
	</table>
	</div>
{/if}
	</div>
</div>
</div>
</div>
