<script type="text/javascript" src="module/faktura-korygujaca/class.js"></script>
<script type="text/javascript" src="jscript/valid_data.js"></script>
<script type="text/javascript" src="jscript/calendar.js"></script>
<div class="container-fluid px-0">
{* menu *}

<div id="invoice">
<div id="invoice_top">
<span>{$lang.menu6}</span>
<div id="navibar">

{$lang.navi1} <a href="" title="{$lang.menu1}">{$lang.menu1}</a>
{foreach item=i key=k from=$navi}<a href="{$i->url}" title="{$i->name}">{$i->name}</a>{if $k!=count($navi)-1} / {/if}{/foreach}

</div>
<ul id="rodzaj_faktury">
<li><a href="invoice/">{$lang.menu1}</a></li>
<li><a href="faktura-pro-forma/">{$lang.menu2}</a></li>
<li><a href="faktura-zaliczkowa/">{$lang.menu3}</a></li>
<li><a href="faktura-korygujaca/">{$lang.menu4}</a></li>
<li class="active"><a href="nota-korygujaca/">Nota korygujaca</a></li>
<li><a href="rachunek/">{$lang.menu5}</a></li>
</ul>


</div>
<form action="" id="faktura">
<div class="invoice_menu">
<div id="waluta"><label for="current">{$lang.currency}:</label> <select class="" name="current" id="current" onchange="javascript: invoice_obj.change_current(this.value);"><option value="PLN">PLN</option><option value="EUR">EUR</option><option value="USD">USD</option><option value="GBP">GBP</option><option value="AUD">AUD</option><option value="CZK">CZK</option><option value="DKK">DKK</option><option value="EEK">EEK</option><option value="HKD">HKD</option><option value="JPY">JPY</option><option value="CAD">CAD</option><option value="LTL">LTL</option><option value="LVL">LVL</option><option value="NOK">NOK</option><option value="ZAR">ZAR</option><option value="RUB">RUB</option><option value="CHF">CHF</option><option value="SEK">SEK</option><option value="UAH">UAH</option><option value="HUF">HUF</option><option value="XDR">XDR</option><option value="BGN">BGN</option><option value="RON">RON</option><option value="PHP">PHP</option><option value="THB">THB</option><option value="NZD">NZD</option><option value="SGD">SGD</option><option value="ISK">ISK</option><option value="HRK">HRK</option><option value="TRY">TRY</option><option value="MXN">MXN</option><option value="BRL">BRL</option><option value="MYR">MYR</option><option value="IDR">IDR</option><option value="KRW">KRW</option><option value="CNY">CNY</option><option value="ILS">ILS</option><option value="INR">INR</option><option value="CLP">CLP</option></select></div>
{if $user_sub}
	<a class="sprites lista_produktow_menu" href="panel/product/list/" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" href="panel/invoice/search/" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" href="panel/client/list/" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.save_base();">{$lang.menu_save}</a>
{else}
	<a class="sprites lista_produktow_menu" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="faktura-pro-forma/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_save}</a>
{/if}
</div>

{* początek faktury właściwej *}

{* wybór waluty *}

{* nagłówek *}
<div style="float:none;margin:0 20px;">
<div class="numer_fak">
<a class="pomoc"><span>{$lang.pomoc1}</span></a>
<input type="text" name="lang_head" value="{$lang.head}" class="invoice_head opis" style="width:86%;text-align:left;" />
{* numer faktury *}
  <div class="wiersz_danych">
	<input type="text" name="lang_number" value="{$lang.number}" class="invoice_head opis" style="width:72px;" />
	<input type="text" name="number" value="{if $inv->number}{$inv->number}{else}{$counter}{/if}" class="invoice_data" />
	</div>
</div>

{* miejsce wystawienia, data wystawienia i sprzedaży *}
<div class="place_date">
  <div class="wiersz_danych">
    <input type="text" name="lang_date_create" value="{$lang.date_create}" class="opis"  style="width:40%"/>
    <script type="text/javascript">calendar.create('date_create','{$inv->date_add}');</script>
	</div>

  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="{$lang.place}" class="opis" style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>


  <div class="wiersz_danych" style="height:24px"><input type="text" value="Dane faktury której dotyczy nota" class="opis" style="font-weight:bold;width:100%;text-align:center;"></div>


  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="Numer faktury:" class="opis" style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>

    <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_date_create" value="{$lang.date_create}" class="opis"  style="width:40%"/>
    <script type="text/javascript">calendar.create('date_create','{$inv->date_add}');</script>
 </div>


  <div class="wiersz_danych" style="height:24px">
    <input type="text" name="lang_place" value="Miesiąc sprzedarzy:" class="opis"  style="width:40%" />
    <input type="text" name="place" value="{$user->place}{$inv->place}" class="tresc" />
  </div>

</div>
</div>
{* oryginał/kopia*}
<div class="orginal_kopia" style="clear:both;">
	<span><input type="text" name="lang_original" id="original" value="{$lang.original}" class="invoice_normal_c" /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('original');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
	<span><input type="text" name="lang_copy" id="copy" value="{$lang.copy}" class="invoice_normal_c"  /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('copy');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
	<span><input type="text" name="lang_double" id="double" value="{$lang.double}" class="invoice_normal_c" /><br />
	<a href="#" onclick="javascript: return invoice_obj.strike('double');" title="{$lang.strike}" class="invoice_strike">{$lang.strike}</a></span>
</div>


<div id="dane_osobiste">
<div class="wiersz_danych">
 <div class="lewy"><a class="pomoc"><span>{$lang.pomoc2}</span></a><div style="width:125px;padding-top:3px;"><input type="text" name="lang_user_name_main" value="{$lang.user_name_main}" class="invoice_normal"  /></div> </div>

 <div class="prawy"><a class="pomoc"><span>{$lang.pomoc2}</span></a><div style="width:100px;padding-top:3px;"><input type="text" name="lang_client_name_main" value="{$lang.client_name_main}" class="invoice_normal" /></div>
 {if $user_sub}
		<a onclick="javascript: invoice_obj.panel_client();" class="add" >{$lang.menu_loadc}</a>
{else}
<a onclick="javascript: document.getElementById('sub_error').style.display='block';" class="add" >{$lang.menu_loadc}</a>
{/if}


	{if $user_sub}
	<a onclick="javascript: return invoice_obj.save_client()" title="{$lang.add_client}" class="zapisz_kontrahenta">{$lang.add_client}</a>
	{else}
	<a onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.add_client}" class="zapisz_kontrahenta">{$lang.add_client}</a>
	{/if}
	<div id="save_client_ok_error" class="dane_error"> </div>
<div id="save_client_bad_error" class="dane_error"> </div>
	</div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_name" value="{$lang.firma_name}" class="opis" />
    <textarea name="user_name" id="user_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->name}</textarea>
  </div>
  <div class="prawy">
   	<input type="text" name="lang_client_name" value="{$lang.firma_name}" class="opis" />
  	<textarea name="client_name" id="client_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->name}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_address" value="{$lang.user_address}" class="opis" />
    <textarea name="user_address" id="user_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->address}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_address" value="{$lang.client_address}" class="opis" />
  	<textarea name="client_address" id="client_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->address}</textarea>
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_nip" value="{$lang.user_nip}" class="opis" />
  	<input type="text" name="user_nip" id="user_nip" value="{$user->nip}" maxlength="24" class="tresc" {if $user->nip}onkeypress="javascript: return false"{/if} />
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_nip" value="{$lang.client_nip}" class="opis" />
  	<input type="text" name="client_nip" id="client_nip" value="{$client->nip}" maxlength="24" class="tresc" />
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
    <input type="text" name="lang_user_phone" value="{$lang.user_phone}" class="opis" />
  	<textarea name="user_phone" id="user_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->phone}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_phone" value="{$lang.client_phone}" class="opis" />
  	<textarea name="client_phone" id="client_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->phone}</textarea>
</div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_mail" value="{$lang.user_mail}" class="opis" />
  	<textarea name="user_mail" id="user_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$user->email}</textarea>
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_mail" value="{$lang.client_mail}" class="opis" />
  	<textarea name="client_mail" id="client_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->email}</textarea>
  </div>
</div>



<div class="wiersz_danych">
  <div class="lewy">
    <input type="text" name="lang_user_bank_name" value="{$lang.user_bank_name}" class="opis" />
  	<input type="text" name="user_bank_name" id="user_bank_name" value="{$user->bank_name}" class="tresc" />
  </div>
  <div class="prawy">
    <input type="text" name="lang_client_bank_name" value="{$lang.client_bank_name}" class="opis" />
    <input type="text" name="client_bank_name" id="client_bank_name" value="{$client->bank_name}" class="tresc" />
  </div>
</div>

<div class="wiersz_danych">
  <div class="lewy">
  	<input type="text" name="lang_user_account" value="{$lang.user_account}" class="opis" />
  	<input type="text" name="user_account" id="user_account" value="{$user->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
  </div>
  <div class="prawy">
  	<input type="text" name="lang_client_account" value="{$lang.client_account}" class="opis" />
    <input type="text" name="client_account" id="client_account" value="{$client->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
  </div>
</div>


</div>







<div class="adres_dostawy">
     {* adres dostawy *}
<div class="invoice_100">
	<span>
	<a class="pomoc"><span>{$lang.pomoc3}</span></a>
	<input type="text" name="lang_branch" value="{$lang.branch}" class="invoice_normal_l" style="float:left;height:30px;width:200px;font-size:18px;color:#7b7a7a;  " /><br />
	<a class="sprites" onclick="javascript: return invoice_obj.show_branch();return key_mask(event,'')" title="{$lang.show}" id="branch_show" {if $branch->name}style="display: none;"{/if}>{$lang.show}</a>
	<a class="sprites" onclick="javascript: return invoice_obj.hide_branch();" title="{$lang.hide}" id="branch_hide" {if !$branch->name}style="display: none;"{/if}>{$lang.hide}</a></span>
</div>
<div class="invoice_100" id="branch" {if !$branch->name}style="display: none;"{/if}>
{* oddział *}
	<input type="text" name="lang_branch_name" value="{$lang.branch_name}" class="opis" />
	<textarea name="branch_name" id="branch_name" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->name}</textarea>
{* adres *}
	<input type="text" name="lang_branch_address" value="{$lang.branch_address}" class="opis" />
	<textarea name="branch_address" id="branch_address" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->address}</textarea>
{* telefon *}
	<input type="text" name="lang_branch_phone" value="{$lang.branch_phone}" class="opis" />
	<textarea name="branch_phone" id="branch_phone" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->phone}</textarea>
{* mail *}
	<input type="text" name="lang_branch_mail" value="{$lang.branch_mail}" class="opis" />
	<textarea name="branch_mail" id="branch_mail" cols="" rows="" class="tresc" onkeyup="javascript: invoice_obj.textarea_height(this);">{$client->email}</textarea>
{* krs *}
	<input type="text" name="lang_branch_krs" value="{$lang.branch_krs}" class="opis" />
	<input type="text" name="branch_krs" id="branch_krs" value="{$client->krs}" maxlength="10" class="tresc" onkeypress="javascript: return valid_data.check_krs(event);" />
{* nazwa banku *}
	<input type="text" name="lang_branch_bank_name" value="{$lang.branch_bank_name}" class="opis" />
	<input type="text" name="branch_bank_name" id="branch_bank_name" value="{$client->bank_name}" class="tresc" />
{* konto *}
	<input type="text" name="lang_branch_account" value="{$lang.branch_account}" class="opis" />
	<input type="text" name="branch_account" id="branch_account" value="{$client->account}" maxlength="32" class="tresc" onkeypress="javascript: return valid_data.check_account(event,this.id);" />
</div>
</div>





<div class="coment">
<input type="text" name="lang_coment" value="{$lang.tresc1}" class=" opis" />
<textarea name="coment" cols="10" rows="5" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);">{$inv->coment}</textarea>
</div>

<div class="coment">
<input type="text" name="lang_coment" value="{$lang.tresc2}" class=" opis" />
<textarea name="coment" cols="" rows="5" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);">{$inv->coment}</textarea>
</div>



{* nagłówki listy produktów *}
<div id="lista">


<div id="save_product_ok_error" class="dane_error"> </div>
<div id="save_product_bad_error" class="dane_error"> </div>








</div>





{* podpisy *}
<div class="podpis">
	<input type="text" name="lang_client_sign" value="{$lang.client_sign}" class="left opis" />
  {if $extra->sign}<img src="{$extra->sign}" alrt="" title="" />{/if}
  <input type="text" name="lang_user_sign" value="{$lang.user_sign}" class="right opis" />
</div>

{* komentarz *}
<div class="coment">
<input type="text" name="lang_coment" value="{$lang.coment}" class=" opis" />
<textarea name="coment" cols="" rows="" class="invoice_data" onkeyup="javascript: invoice_obj.textarea_height(this);">{$inv->coment}</textarea>
</div>



{* dane ukryte *}
<div class="row_hidden">
		<input type="hidden" name="lang" value="{$cf_lang}" />
	<input type="hidden" name="original_v" value="0" id="original_v" />
	<input type="hidden" name="branch_v" value="0" id="branch_v" />
	<input type="hidden" name="client_id" value="{$inv->client}" id="client_id" />
</div>
{* koniec faktury właściwej *}
</form>
{* wstawiane z js *}
{if $user_sub}
<div id="sub_error" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
{else}
<div id="sub_error" class="invoice_client" style="left:50%;display:block;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:60px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
{/if}
	{$lang.error1}<br />
	<a onclick="javascript: document.getElementById('sub_error').style.display='none';" class="close" title="{$lang.clients_close}"><span class="glyphicon glyphicon-remove"></span></a>
</div>

<div id="save_base_error_all" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:124px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<div id="save_base_error"> </div>
	<a onclick="javascript: document.getElementById('save_base_error_all').style.display='none';" class="close" title="{$lang.clients_close}"><span class="glyphicon glyphicon-remove"></span></a>
</div>
<div class="row_hidden">

{* pusty wiersz podliczenia VAT *}


{* panel wyboru kontrahenta *}

	<div class="invoice_client" id="client_panel">
		<a onclick="javascript: return invoice_obj.close_client();" class="close" title="{$lang.clients_close}"><span class="glyphicon glyphicon-remove"></span></a>
		<h3>{$lang.clients_head}</h3>
		<div style="width:30%;float:left;clear:left;margin-left:2%;">
			<label>{$lang.clients_name}:</label>
			<input type="text" id="clients_[id]_name" value="[name]" class="invoice_data" />
		</div>
		<div style="width:30%;float:left;margin-left:4%;">
			<label>{$lang.clients_address}:</label>
			<input type="text" id="clients_[id]_address" value="[address]" class="invoice_data" />
		</div>
		<div style="width:30%;float:left;margin-left:2%;">
			<label>{$lang.clients_nip}:</label>
			<input type="text" id="clients_[id]_nip" value="[nip]" maxlength="13" class="invoice_data"  />
		</div>
		<div style="clear:both;padding:6px 0;"><input type="button" value="{$lang.clients_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_client(1);" /></div>
		{* lista liter *}
		<div id="zakres_faktur" style="clear:both;">
		<div class="alphabet">
			<a onclick="javascript: return invoice_obj.panel_client([search],1,this.title);" title="" class="all" id="client_letter">{$lang.clients_all}</a>[letters]
		</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_kontrahentow" style="clear:both;">
			[clients]
		</div>
		{* stronicowanie *}
		<div style="clear:both;margin:10px;overflow:auto;">
			[pages]
		</div>

		{* przycisk zamknięcia *}

	</div>
{* obiekt kontrahenta - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.load_client(this.title);" title="" class="invoice_client" id="client_object"></a>
{* obiekt strony - panel kontrahenta *}
	<a onclick="javascript: return invoice_obj.panel_client([search],this.title,[letter]);" title="" class="" id="client_page">&nbsp;</a>
{* panel wyboru produktu *}
	<div class="invoice_prod" id="prod_panel">
		<a onclick="javascript: return invoice_obj.close_prod();" class="close" title="{$lang.prod_close}"><span class="glyphicon glyphicon-remove"></span></a>
		<h3 >{$lang.prod_head}</h3>
		<div style="width:70%; margin-left:2%;">
			<label>{$lang.prod_name}:</label>
			<input type="text" id="prods_[id]_name" value="[name]" class="invoice_data" style="width:100%;" />
		</div>
		<div style="width:70%; margin-left:2%;">
			<label>{$lang.prod_producer}:</label>
			<input type="text" id="prods_[id]_producer" value="[producer]" class="invoice_data" style="width:100%;" />
		</div>
		<div style="width:34%;float:left;margin-left:2%;">
			<label>{$lang.prod_cat}:</label>
			<select id="prods_[id]_cat" class="invoice_data"><option value="">---</option></select>
			<label>{$lang.prod_number}:</label>
			<input type="text" id="prods_[id]_number" value="[number]" class="invoice_data" />
		</div>
		<div style="width:34%;float:left;margin-left:2%;">
			<label>{$lang.prod_pkwiu}:</label>
			<input type="text" id="prods_[id]_pkwiu" value="[pkwiu]" class="invoice_data" />
			<label style="clear:left;">{$lang.prod_prize}:</label><br />
			<div style="clear:left;"><input type="text" id="prods_[id]_prize_min" value="[prize_min]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:123px;" /> - <input type="text" id="prods_[id]_prize_max" value="[prize_max]" class="invoice_prize" onkeypress="javascript: return invoice_obj.insert_prize(event,this.id);" style="width:124px;" /></div>
		</div>
		<div id="add_[id]_info" class="add_info" ></div>
		<div class="row_action" style="padding-top:5px;clear:both;"><input type="button" value="{$lang.prod_search}" class="invoice_search" onclick="javascript: invoice_obj.panel_prod(1);" /></div>
		{* lista liter *}
		<div id="zakres_faktur" style="clear:both;height:20px;">
		<div class="alphabet">
			<a onclick="javascript: return invoice_obj.panel_prod([search],1,this.title);" title="" class="all" id="prod_letter">{$lang.prod_all}</a>[letters]
		</div>
		</div>
		{* lista kontrahentów *}
		<div class="lista_produktow">
		<span class="header">
		<span class="column1">Nazwa</span>
		<span class="column2">Cena netto</span>
		<span class="column3">Cena brutto</span>
		</span>
			[prods]
		</div>
		{* stronicowanie *}
		<div  style="clear:both;margin:10px;overflow:auto;">
			[pages]
		</div>
		{* przycisk zamknięcia *}
	</div>
{* obiekt kontrahenta - panel produktu *}
	<a onclick="javascript: return invoice_obj.load_prod(this.title);" title="" id="prod_object"></a>
{* obiekt strony - panel produktu *}
	<a onclick="javascript: return invoice_obj.panel_prod([search],this.title,[letter]);" title="" class="" id="prod_page">&nbsp;</a>
</div>
{* wybranie co drukować *}
<div class="invoice_client" id="what_print" style="display:none;width:400px;margin-left:-203px;heighT:220px;margin-top:-113px">
	<a class="close"  onclick="javascript: this.parentNode.style.display='none';" ><span class="glyphicon glyphicon-remove"></span></a>
	<h3>{$lang.menu_pdf}</h3>
	<div style="padding:7px 130px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_p" value="1" id="print1" checked="checked" /><label for="print1">{$lang.save_menu1}</label></div>
	<div style="padding:7px 130px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_p" value="2" id="print2" /><label for="print2">{$lang.save_menu2}</label></div>
	<div style="padding:7px 130px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_p" value="3" id="print3" /><label for="print3">{$lang.save_menu3}</label></div>
	<div style="padding:7px 130px; 10px 0px;border-bottom:1px dashed #dfdfdf;margin:0 15px;text-align:left;"><input type="radio" name="what_p" value="4" id="print4" /><label for="print4">{$lang.save_menu4}</label></div>
	<div style="text-align:left;padding-top:5px;padding-left:162px;">
	<input type="button" value="{$lang.save_menu5}" onclick="javascript: return invoice_obj.save_pdf_end();" />
  </div>
</div>
{* komunikaty błędów zmienne pomocnicze *}
<div class="row_hidden">
	<input type="hidden" id="count" value="0" />
	<input type="hidden" id="count_n" value="0" />
	<input type="hidden" id="user_id" value="{$user_id}" />
	<input type="hidden" id="same_nr" value="{$lang.same_nr}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="bad_krs" value="{$lang.bad_krs}" />
	<input type="hidden" id="bad_regon" value="{$lang.bad_regon}" />
	<input type="hidden" id="delete" value="{$lang.delete}" />
	<input type="hidden" id="save_ok" value="{$lang.save_ok}" />
	<input type="hidden" id="save_error" value="{$lang.save_error}" />
	<input type="hidden" id="addc_ok" value="{$lang.addc_ok}" />
	<input type="hidden" id="addc_error" value="{$lang.addc_error}" />
	<input type="hidden" id="addp_ok" value="{$lang.addp_ok}" />
	<input type="hidden" id="addp_error" value="{$lang.addp_error}" />
	<input type="hidden" id="number_coin" value="{$lang.number_coin}" />
	<input type="hidden" id="number_tou" value="{$lang.number_tou}" />
	<input type="hidden" id="number_mln" value="{$lang.number_mln}" />
	<input type="hidden" id="number_mld" value="{$lang.number_mld}" />
	<input type="hidden" id="number_j" value="{$lang.number_j}" />
	<input type="hidden" id="number_n" value="{$lang.number_n}" />
	<input type="hidden" id="number_d" value="{$lang.number_d}" />
	<input type="hidden" id="number_s" value="{$lang.number_s}" />
</div>
<div class="invoice_menu_bottom">
	{if $user_sub}
	<a class="sprites lista_produktow_menu" href="panel/product/list/" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" href="panel/invoice/search/" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" href="panel/client/list/" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="invoice/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: invoice_obj.save_pdf();">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: invoice_obj.save_base();">{$lang.menu_save}</a>
{else}
	<a class="sprites lista_produktow_menu" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.prod_head}">{$lang.prod_head}</a>
	<a class="sprites lista_faktur" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_invoice}">{$lang.list_invoice}</a>
	<a class="sprites lista_kontrahentow" onclick="javascript: document.getElementById('sub_error').style.display='block';" title="{$lang.list_client}">{$lang.list_client}</a>
	<a class="sprites clean" href="faktura-pro-forma/" {*onclick="javascript: invoice_obj.clean();"*} style="padding-right:10px;">{$lang.menu_clean}</a>
	<a class="sprites pdf_print" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_pdf}</a>
	<a class="sprites save_big" onclick="javascript: document.getElementById('sub_error').style.display='block';">{$lang.menu_save}</a>
{/if}
</div>
</div>

</div>

{* wywołania js *}
{foreach item=i from=$inv->product}
<script type="text/javascript">invoice_obj.add('{$i->name|replace:"\n":"\\n"}', '{$i->pkwiu}', '{$i->unit}', '{$i->vat}', '{$i->netto}', '{$i->amount}', '{$i->rabat}');</script>
{/foreach}
{if count($inv->product)==0}<script type="text/javascript">invoice_obj.add();</script>{/if}
<script type="text/javascript">invoice_obj.load_invoice('{$inv->original}','{$inv->sell_type}','{$inv->sell_date}','{$inv->sell_time}','{$inv->sum_pay}','{$inv->cur}');</script>
<script type="text/javascript">invoice_obj.resize_textareas();</script>
