
<script type="text/javascript" src="module/news/coment_list/class.js"></script>

{if count($tree)}
<div id="komentarze">
<h3 style="font-size:15px;padding:20px 1.5% 15px 1.5%;margin:0; border-bottom:0;border-top:1px solid #539ccc"> {$lang.nagl1} {$dane->title} </h3>
 {php}
  $_GET['count']=0;  
 {/php}
	{include file="news/coment_list/standard_tree.html" tree=$tree}
</div>

{include file="../module/pager/standard.html" page=$page pages=$last prefix="news/$news_url/$news_id/" surfix="$sign"}
{else}
<div class="row_error" style="display:none;">{$lang.none}</div>
{/if}


</div>{*koniec <div id="invoice" class="news_list"> rozpoczętego w news/detail/standart.html *}

