{if sizeof($tree)}<ul class="news_tree{$item->level}" {*id="tree_0_0"*}>{/if}

{foreach item=item from=$tree key=key}

{php}
$_GET['count']++; 
{/php}


	<li>
	<div class="zawartosc {if $smarty.get.count is even}parzysty{/if} row" >
	<div class="col-sm-6">
		{*<a href="#" onclick="javascript: return news_coment_list.tree({$item->level},{$item->id});" title="{$lang.show}/{$lang.hide}" class="plus" id="button_{$item->level}_{$item->id}">&nbsp;</a>*}
		{*<span id="name_{$item->id}">
			
			{if $user_rang=="admin"}<a href="#" onclick="javascript: return news_coment_list.del({$item->id});" class="del" title="{$lang.del}">{$lang.del}</a>{/if}
		</span>*}
<a href="#" style="font-size:14px;font-weight:bold" onclick="javascript: return news_coment_list.add_coment({$item->id});" title="{$item->text|strip_tags|truncate:50:"...":true}">{$item->text|strip_tags|truncate:50:"...":true}</a><br />
	<span class="tresc_komentarza"> {$item->text}</span>
			<span class="reszta" id="tree_{$item->level}_{$item->id}" >
		{$lang.author}: <span>{$item->user_name}</span> Data dodania: <span>{$item->date_add}</span>
		<a href="#" onclick="javascript: return news_coment_list.add_coment({$item->id});" title="{$lang.answer}" >{$lang.answer}</a>
		
	</span>
	</div>
	<div id="add_c_{$item->id}" class="col-sm-6"></div>
	

	</div>
	{include file="news/coment_list/standard_tree.html" tree=$item->child}
	</li>
{/foreach}
{if sizeof($tree)}</ul>{/if}