<script type="text/javascript" src="module/contact_send/class.js"></script>
<div {if $smarty.server.REQUEST_URI=='/' } class="blackBackground"{/if}>
<div  class="row_head " style="  color: #FF7E00;font-size: 18px;font-weight: bold;">{$dane.head}</div>
</div>
<div style="display:none;">
	<div id="zapytanie_schowane">
		<form action="" id="contact_send_form" class="form-horizontal">
			<div id="zapytanie_send_ok" class="col-12 alert alert-success"></div>
			<div id="zapytanie_send_error" class="col-sm-12 alert alert-danger"></div>
			<div id="name_error" class="col-sm-12 alert alert-danger"></div>
			<div class="row">
				<div class="col-sm-6">
					<div class='selectContent'>
<span class="selectArrow"><img class=""src="/images/icons/down-arrow.png" alt=""></span>
				<select name="account" title="{$lang.type}" class="form-control">
			<option value="0"> <span class="selectOption">{$lang.type}</span> </option>
			{foreach item=i from=$dane}<option value="{$i.id}">{$i.name}</option>{/foreach}

			</select>

</div>




				</div>
				<div class="col-sm-6">
					<input type="text" name="name" id="name" placeholder="{$lang.name}" class="form-control" />
				</div>
			</div>
			<div id="phone_error" class="col-sm-12 alert alert-danger"></div>
			<div class="row">
				<div class="col-sm-6">
					<input type="text" name="phone" id="phone" title="{$lang.phone}" placeholder="{$lang.phone}" class="form-control" />
				</div>
				<div class="col-sm-6">
					<input type="text" name="mail" id="mail" placeholder="{$lang.mail}" title="{$lang.mail}" class="form-control" />
				</div>
			</div>
			<div id="text_error" class="alert alert-danger"></div>
			<div class="row">

				<div class="col-sm-12">
					<textarea name="text" id="text" cols="" rows="6" title="{$lang.text}" placeholder="{$lang.text}" class="form-control"></textarea>
				</div>



				{if $captcha}{include_php file="module/captcha/module.php"}{/if}
				<div class='text-center'><input type="button" value="{$lang.send}" class="btn orangeButton" onclick="javascript: contact_send_add.submit();" /></div>

			</div>

		</form>

		<div class="row_hidden">
			<input type="hidden" id="send_ok" value="{$lang.send_ok}" />
			<input type="hidden" id="send_error" value="{$lang.send_error}" />
			<input type="hidden" id="send_errorc" value="{$lang.send_errorc}" />
			<input type="hidden" id="empty_name" value="{$lang.empty_name}" />
			<input type="hidden" id="empty_pm" value="{$lang.empty_pm}" />
			<input type="hidden" id="empty_text" value="{$lang.empty_text}" />
			<input type="hidden" id="empty_captcha" value="{$lang.empty_captcha}" />

		</div>
	</div>
</div>

<script type="text/javascript">
	$('miejsce_formularza').appendChild($('zapytanie_schowane'));
</script>
