<div class="container-fluid">
<div id="invoice" class="news_list row">
	{if count($dane)}
		{* sortowanie *}
		{*<div class="row_action">
			<div class="news_opt"><a href="news/1/{if $smarty.get.par3=='da'}dd{else}da{/if}/" title="{$lang.date}">{$lang.date} {if $smarty.get.par3=='da'}&uArr;{else}&dArr;{/if}</a></div>
			<div class="news_opt"><a href="news/1/{if $smarty.get.par3=='ta'}td{else}ta{/if}/" title="{$lang.title}">{$lang.title} {if $smarty.get.par3=='ta'}&uArr;{else}&dArr;{/if}</a></div>
		</div>*}
		<div class="col-sm-9">
			<div class="lista_newsow">
				{foreach item=i from=$dane}
					<div class="news">
						{*<div class="news_img">
							<a href="news/{$i->url}/{$i->id}/" title="{$i->title}">
							{if $i->gallery[0]->path}<img src="{$i->gallery[0]->path}" title="{$i->title}" alt="{$i->title}" width="128px" height="128px" />{else}<img src="images/news/none.png" title="{$i->title}" alt="{$i->title}" width="128px" height="128px" />{/if}
							</a>
						</div>*}
						<div class="news_text" >
							<h2 class="text-left">
								<a href="news/{$i->url}/{$i->id}/" title="{$i->title}">{$i->title}</a>
							</h2>
							{*<div class="news_opt">{$lang.author}: <span>{$i->user_name}</span></div>*}
							<div class="news_txt">{$i->text|strip_tags|truncate:500:"...":true} </div>
						</div>
						<div class="news_opt">
							<span class="mr10"><a href="news/{$i->url}/{$i->id}/" title="{$lang.more}" class="comment">{$lang.comment} <strong>({$i->count_c})</strong> </a></span>
							<span class="mr10">{$lang.date_add}: <strong>{$i->date_add}</strong></span>
							{if $i->date_add!=$i->date_mod}
								<span class="mr10">{$lang.date_mod}: <strong>{$i->date_mod}</strong></span>
							{/if}
						</div>
					</div>
				{/foreach}
				{include file="../module/pager/standard.html" page=$page pages=$last prefix="news/" surfix="$sign"}
			</div>
		</div>
	{else}
		<div class="row_error">{$lang.none}</div>
	{/if}

	<div class="col-sm-3">
		<div class="ramka o_programie">
			<h4>{$lang.o_programie_nagl}</h4>
			<span class="title">{$lang.o_programie_nagl2}</span>
			<p>{$lang.o_programie}</p>
			<a href="o-programie/" class="more">{$lang.wiecej}</a>
		</div>
		<br>
		<div class="ramka centrum_pomocy">
			<h4>{$lang.pomoc_nagl}</h4>
			<div>
				<span class="title">{$lang.pomoc1_nagl}</span><p>{$lang.pomoc1_tresc}</p>
				<a href="pomoc/" class="more">{$lang.wiecej}</a>
			</div>
			<div>
				<span class="title">{$lang.pomoc2_nagl}</span><p>{$lang.pomoc2_tresc}</p>
				<a href="contact/" class="more">{$lang.wiecej}</a>
			</div>
			<div>
				<span class="title">{$lang.pomoc3_nagl}</span><p>{$lang.pomoc3_tresc}</p>
				<a href="contact/" class="more">{$lang.wiecej}</a>
			</div>
		</div>
	</div>
</div>
</div>
