<div class="komentarz_sam row">
	<div class="col-sm-12">
	<br><br>
	<h4><a  onclick="javascript: return news_coment_list.add_coment(0);" title="{$lang.coment}" >{$lang.head}</a></h4>

	</div>
	<script type="text/javascript" src="module/news/coment_add/class.js"></script>
	<div class="col-sm-6">
	<div id="news_coment_add">
	{if $login OR $nouser}
	<form action="" id="news_coment_form">
	<fieldset>
	<legend>{*<span class="dodaj">{$lang.head}</span>*}<span class="odp_kom"> {$lang.head2}</span></legend>
		<label>{$lang.text}:</label>
		<textarea name="text" id="news_coment_text" cols="" rows="" class="form-control"></textarea>
		<label>{$lang.sign}:</label>
		<input name="sign" id="news_coment_sign" type="text" value="{$login}" class="form-control" />

	{if $captcha}{include_php file="module/captcha/module.php"}{/if}
	<br>
	{*<input type="button" value="{$lang.cancel}" class="news_cancel" onclick="javascript: news_coment_add.cancel();" />*}
	<input type="button" value="{$lang.add}" class="btn orangeButton" onclick="javascript: news_coment_add.submit();" />
	<br><br>
	<div class="row_hidden">
		<input type="hidden" name="news_id" id="news_id" value="{$smarty.get.par3}" />
		<input type="hidden" name="coment_id" id="coment_id" value="{$smarty.get.par5}" />
		<input type="hidden" id="news_url" value="{$smarty.get.par2}" />
		<input type="hidden" id="user_id" value="{$user_id}" />
		<input type="hidden" id="coment_empty_txt" value="{$lang.empty_txt}" />
		<input type="hidden" id="coment_empty_sign" value="{$lang.empty_sign}" />
		<input type="hidden" id="coment_empty_captcha" value="{$lang.empty_captcha}" /> 
		<input type="hidden" id="send_error" value="{$lang.send_error}" />
		<input type="hidden" id="send_errorc" value="{$lang.send_errorc}" />
	</div>
	</fieldset>
	</form>
	{else}
	<div class="row_error">{$lang.nouser}</div>
	{/if}
	</div>
	</div>
	<div  class="komentarz_sam" id="add_c_0"></div>
</div>
