 {if $smarty.get.par1 == 'invoice' OR $smarty.get.par1 == 'faktura-pro-forma' OR $smarty.get.par1 == 'faktura-zaliczkowa' OR $smarty.get.par1 == 'rachunek' OR $smarty.get.par1 == 'faktura-korygujaca'}
<li class="active hasChild"><a class="active_a" href="invoice/" title="{$menu.invoice}">{$menu.invoice}</a>
  <ul class="topMenuLevel1">

<li title="Wystaw fakturę "{if $smarty.server.REQUEST_URI=='/invoice/' } class="active" {/if}><a href="invoice/">{$menu.menu1}</a></li>
<li title="Wystaw fakturę proforma "{if $smarty.server.REQUEST_URI=='/faktura-pro-forma/' } class="active" {/if}><a href="faktura-pro-forma/">{$menu.menu2}</a></li>
  <li title="Wystaw fakturę zaliczkową"{if $smarty.server.REQUEST_URI=='/faktura-zaliczkowa/' } class="active" {/if}><a href="faktura-zaliczkowa/">{$menu.menu3}</a></li>
    <li title="Wystaw fakturę korygyjącą"{if $smarty.server.REQUEST_URI=='/faktura-korygujaca/' } class="active" {/if}><a href="faktura-korygujaca/">{$menu.menu4}</a></li>
      <li title="Wystaw rachunek "{if $smarty.server.REQUEST_URI=='/rachunek/' } class="active" {/if}><a href="rachunek/">{$menu.menu5}</a></li>

        </ul>
        </li>
        {else}
        <li><a href="invoice/" title="{$menu.invoice}">{$menu.invoice}</a></li>
        {/if} {if !$login} {if $smarty.get.par1 == 'funkcje'}

        <li class="active"><a class="active_a" href="funkcje/" title="{$menu.function}">{$menu.function}</a></li>
        {else}
        <li><a href="funkcje/" title="{$menu.function}">{$menu.function}</a></li>
        {/if} {/if}

        {if !$login}{if $smarty.get.par1 == 'jpk'}
        <li class="active"><a class="active_a" href="news/faktury-jpk-fa/89/" title="{$menu.jpk}">{$menu.jpk}</a></li>
        {else}
        <li><a href="news/faktury-jpk-fa/89/" title="{$menu.jpk}">{$menu.jpk}</a></li>
        {/if} {/if}

        {if !$login} {if $smarty.get.par1 == 'news'}
        <li class="active"><a class="active_a" href="news/" title="{$menu.news}">{$menu.news}</a></li>
        {else}
        <li><a href="news/" title="{$menu.news}">{$menu.news}</a></li>
        {/if} {if $smarty.get.par1 == 'cennik'}
        <li class="active"><a class="active_a" href="cennik/" title="{$menu.price}">{$menu.price}</a></li>
        {else}
        <li><a href="cennik/" title="{$menu.price}">{$menu.price}</a></li>
        {/if} {/if} {if $login} {if $smarty.get.par1 == 'panel'AND $smarty.get.par2 == 'invoice'}
        <li class="active hasChild"><a class="active_a" href="panel/invoice/search/0/1/dn/-/{$smarty.now|date_format:" %Y-%m "}-a/" title="{$menu.list1}">{$menu.list1}</a>
          <ul class="topMenuLevel1">

            <li {if strpos($smarty.server.REQUEST_URI, 'invoice/search/')} class="active" {/if}><a href="panel/invoice/search/0/1/dn/-/2015-01-a/" title="Lista faktur - Faktury">Lista faktur</a></li>
            <li {if strpos($smarty.server.REQUEST_URI, 'invoice/period/')} class="active" {/if}><a href="panel/invoice/period/" title="Faktury cykliczne - Faktury">Faktury cykliczne</a></li>
            <li {if strpos($smarty.server.REQUEST_URI, 'invoice/org/')} class="active" {/if}><a href="panel/invoice/org/" title="Faktury wzorcowe - Faktury">Faktury wzorcowe</a></li>
            <li {if strpos($smarty.server.REQUEST_URI, 'invoice/list/')} class="active" {/if}><a href="panel/invoice/list/" title="Faktury wg kontrahentów - Faktury">Faktury wg kontrahentów</a></li>
          </ul>
        </li>
        {else}
        <li><a href="panel/invoice/search/0/1/dn/-/{$smarty.now|date_format:" %Y-%m "}-a/" title="{$menu.list1}">{$menu.list1}</a></li>
        {/if} {if $smarty.get.par1 == 'panel'AND $smarty.get.par2 == 'client'}
        <li class="active hasChild"><a class="active_a" href="panel/client/list/" title="{$menu.list2}">{$menu.list2}</a>
          <ul class="topMenuLevel1">

            <li{if strpos($smarty.server.REQUEST_URI, 'client/list/')} class="active" {/if}><a href="panel/client/list/" title="{$menu.list2}">{$menu.list2}</a></li>
        <li{if strpos($smarty.server.REQUEST_URI, 'client/add/')} class="active" {/if}><a href="panel/client/add/" title="Dodawanie kontrahentów - Kontrahenci">Dodaj kontrahenta</a></li>
          <li{if strpos($smarty.server.REQUEST_URI, 'client/send/') AND !strpos($smarty.server.REQUEST_URI, 'client/send/last/') AND !strpos($smarty.server.REQUEST_URI, 'client/send/view/')} class="active" {/if}><a href="panel/client/send/" title="Wysyłanie wiadomości - Kontrahenci">Wyślij wiadomość do kontrahentów</a></li>
            <li{if strpos($smarty.server.REQUEST_URI, 'client/send/last/') OR strpos($smarty.server.REQUEST_URI, 'client/send/view/')} class="active" {/if}><a href="panel/client/send/last/" title="Archiwum wiadomości - Kontrahenci">Archiwum wiadomości</a></li>

              </ul>
              </li>
              {else}
              <li><a href="panel/client/list/" title="{$menu.list2}">{$menu.list2}</a></li>
              {/if} {if $smarty.get.par1 == 'panel'AND $smarty.get.par2 == 'product'}
              <li class="active hasChild"><a class="active_a" href="panel/product/list/" title="{$menu.list3}">{$menu.list3}</a>
                <ul class="topMenuLevel1">

                  <li{if strpos($smarty.server.REQUEST_URI, 'product/list/')} class="active" {/if}><a href="panel/product/list/" title="{$menu.list3}">{$menu.list3}</a></li>
              <li{if strpos($smarty.server.REQUEST_URI, 'product/add/')} class="active" {/if}><a href="panel/product/add/" title="Dodawanie produktów - Produkty">Dodaj produkt</a></li>
                <li{if strpos($smarty.server.REQUEST_URI, 'product/cat/')} class="active" {/if}><a href="panel/product/cat/" title="Kategorie produktów">Kategorie produktów</a></li>

                  </ul>
                  </li>
                  {else}
                  <li><a href="panel/product/list/" title="{$menu.list3}">{$menu.list3}</a></li>
                  {/if} {/if} {*foreach item=item key=key from=$menu} {if $key==$smarty.get.par1}
                  <li class="active"><a class="active_a" href="{$key}/" title="{$item}">{$item}</a></li>
                  {else}
                  <li><a href="{$key}/" title="{$item}">{$item}</a></li>{/if} {/foreach*} {if $smarty.get.par1 == 'contact'}
                  <li class="active"><a class="active_a" href="contact/" title="{$menu.contact}">{$menu.contact}</a></li>
                  {else}
                  <li> <a href="contact/" title="{$menu.contact}">{$menu.contact}</a></li>
                  {/if} {if $smarty.get.par1 == 'pomoc'}
                  <li class="active"><a class="active_a" href="pomoc/" title="{$menu.pomoc}">{$menu.pomoc}</a></li>
                  {else}
                  <li><a href="pomoc/" title="{$menu.pomoc}">{$menu.pomoc}</a></li>
                  {/if} {if $smarty.get|@count == 0}
                  <li class='langFlag'>
                    <a {if LANG=="en" } class='activeLang' {/if} href="#" onclick="javascript: return changeLang('en');"><img src='/images/layout/england-flag.png'/ title='Flaga Wielkiej Brytani' alt='Wersja angielska / English version '></a>&nbsp;&nbsp;
                    <a {if LANG=="pl" } class='activeLang' {/if} href="#" onclick="javascript: return changeLang('pl');"><img src='/images/layout/poland-flag.png' title='Flaga Polski' alt='Wersja polska / Polish version '/></a></li>
                  {else} {if $login} {if $smarty.get.par1 == 'panel' AND $smarty.get.par2 != 'invoice' AND $smarty.get.par2 != 'client' AND $smarty.get.par2 != 'product'}
                  <li class="active hasChild">
                    <a href="/panel/" class="active btn  "><img src="/images/icons/twoje-konto.png" alt=""><div>{$lang.hello}</div></a></li>

                    <ul class="topMenuLevel1">

                      <li{if strpos($smarty.server.REQUEST_URI, 'szablon/')} class="active" {/if}><a href="panel/szablon/szablon-faktury/">Szablony</a></li>
                  <li{if strpos($smarty.server.REQUEST_URI, 'raport/sell/')} class="active" {/if}><a href="panel/raport/sell/">Statystyki i raporty</a></li>
                    <li{if strpos($smarty.server.REQUEST_URI, 'data/general/')} class="active" {/if}><a href="panel/data/general/" title="Dane do faktury  - Ustawienia Konta">Dane do faktury </a></li>
                      <li {if strpos($smarty.server.REQUEST_URI, 'data/extra/')} class="active" {/if}><a href="panel/data/extra/" title="Logo / Nagłówek / Stopka - Ustawienia Konta">Logo / Nagłówek / Stopka</a></li>
                      <li{if strpos($smarty.server.REQUEST_URI, 'data/log/')} class="active" {/if}><a href="panel/data/log/" title="Logowanie / Hasło - Ustawienia Konta">Logowanie / Hasło</a></li>
                        <li{if strpos($smarty.server.REQUEST_URI, 'data/number/')} class="active" {/if}><a href="panel/data/number/1/" title="Numeracja faktur - Ustawienia Konta">Numeracja faktur</a></li>
                          <li{if strpos($smarty.server.REQUEST_URI, 'data/licence/')} class="active" {/if}><a href="panel/data/licence/" title="Przedłuż Abonament - Ustawienia Konta">Przedłuż Abonament</a></li>
                            </ul>
                          </li></li>
                          <li>
                            <a href="/logout/" title="{$lang.logout}" class="btn "><img src="/images/icons/logout.png" alt="Wyloguj z konta" title="Wylogowywanie z konta użytkownika"><div>{$lang.logout}</div></a>

</li>

                            {else}
                            <li>
                              <a title="Panel użytkownika"href="/panel/" class="btn"><img src="/images/icons/twoje-konto.png" alt="Konto" title="Twoje konto w serwisie"><div>{$lang.hello}</div></a></li>
                            <li> <a title="Wylogowywanie" href="/logout/" title="{$lang.logout}" class="btn "><img src="/images/icons/logout.png" alt="Logo wylogowywania" title="Wyloguj się z serwisu do fakturowania"><div>{$lang.logout}</div></a>

                            </li>
                            {/if} {else}
                            <li onclick="document.getElementById('navIcon').classList.toggle('showMenu')">
                              <a title="Logowanie do panelu użytkownika"class="btn blueButton signInButton" onclick="document.getElementById('logowanie').style.display='block';" class="btn blueButton btn-sm"><img src="/images/icons/user.png" alt="Konto użytkownika" title='Zaloguj się do serwisu'><div>{$lang.zaloguj1}</div></a>
                            </li>
                            <li> <a title="Zakładanie konta"class="btn orangeButton newAccountButton" href="reg/" class="btn blueButton btn-sm"><img src="/images/icons/add-user.png" alt="Dodawanie użytkownika" title='Dodaj nowe konto do serwisu'><div>{$lang.zaloguj4}</div></a></li>
                            {/if} {/if}

                            </ul>










                            {strip} {if $smarty.get|@count == 0}
                            <div class="container-fluid">
                              <div class="logButtons">
                                {if $login}
                                <a title='{$lang.panel}' href="/panel/" class="btn blueButton">{$lang.hello}<img src="/images/icons/user.png" alt="Konto użytkownika" title="Twoje konto w programie"></a>
                                <a  title="{$lang.logout}" href="/logout/" class="btn orangeButton">{$lang.logout}<img src="/images/icons/add-user.png" style='transform:rotate(45deg)' alt="Wylogowanie" title='Wyloguj użytkownika'></a>
                                {else}
                                <a title='Zaloguj się do serwisu' onkeyup=""class="btn blueButton " onclick="document.getElementById('logowanie').style.display='block';" class="btn blueButton btn-sm"><span>{$lang.zaloguj1}</span> <img src="/images/icons/user.png" alt="Zaloguj się do konta użytkownika" title="Logowanie do konta"></a>
                                <a title='Dodaj nowe konto do serwisu' class="btn orangeButton " href="reg/" class="btn blueButton btn-sm"><span>{$lang.zaloguj4}</span><img src="/images/icons/add-user.png" alt="Dodawanie konta"  title="Tworzenie nowego konta w serwisie"></a> {/if}
                              </div>
                            </div>
                            {/if}

                            <div class="row_info" id="komunikat"></div>
                            <!--
{if $login}
<div class="row">
	<div class="col-sm-12 text-right">
		{*<span style="font-weight:normal;line-height:20px;">{$lang.last_login} {$user_data->date_log}</span><br />*} {*{$user_data->mail}*} {if $user_data->id
		< 13599} <a href="http://old.faktura.egrupa.pl"><strong>Stary wygląd faktura.egrupa.pl</strong></a>{/if} <a href="/panel/data/licence/">{$lang.abonament} <strong>{$user_data->sub_end}</strong>  {$lang.przdluzAbonament}</a>
	</div>
</div>
{else}
<div class="row">
	<div class="col-sm-12 text-right">
		{*<span style="font-weight:normal;line-height:20px;">{$lang.last_login} {$user_data->date_log}</span><br />*} {*{$user_data->mail}*}
	</div>
</div>
{/if} -->

                            <script type="text/javascript" src="module/login/class.js"></script>
                            {if !$login}

                            <form onsubmit="javascript: return login_obj.submit();">

                              <fieldset id="logowanie">
                                <div class="close" onclick="javascript: document.getElementById('logowanie').style.display='none'"><img src="/images/icons/close_cookies.png" alt=""></div>
                                <h5>{$lang.zaloguj1}</h5>
                                <div class="input">
                                  <img src="/images/icons/login.png" alt="Logo loginu" title="Wpisz login użytkownika">
                                  <input type="text" name="login" id="login" placeholder="{$lang.login}" onchange="javascript: login_obj.check_login();" />
                                </div>
                                <div class="input">
                                  <img src="/images/icons/password.png" alt="Logo hasła" title="Wpisz hasło użytkownika">
                                  <input type="password" name="pass" id="pass" placeholder="{$lang.pass}" />
                                </div>
                                <div id="login_error" style="font-weight:bold;color:red;padding:4px 0;"></div>
                                <div style="display:flex; justify-content:space-between">
                                  <label style="cursor:pointer">	<input type="checkbox" name="remember" id="remember" value="1" /> {$lang.remember}</label>
                                  <a class='lossPass' href="lost_pass/">{$lang.new_pass}</a>



                                </div>
                                <button type="submit" class="btn orangeButton btn-sm">{$lang.send}</button>


                              </fieldset>
                            </form>
                            {* komunikaty błedów i zmienne pomocnicze *}
                            <div class="row_hidden">
                              <input type="hidden" id="log_bad" value="{$lang.log_bad}" />
                              <input type="hidden" id="log_error" value="{$lang.log_error}" />
                              <input type="hidden" id="log_referer" value="{$smarty.server.HTTP_REFERER}" />
                            </div>
                            {/if}




                            <!-- {if !isset($smarty.cookies.newApp)}
<div class="alert_cookies" id="newApp" style="border-color:#ff8f02;">
	<a onclick="javascript: setCookie('newApp','y',30);document.getElementById('newApp').style.display = 'none';" title="Zamknij" class="close"><span class="glyphicon glyphicon-remove"></span></a>
	<h3>Nowa wersja faktur online już dostępna! <a href="http://afaktury.pl" title=" faktury online" class="btn btn-primary" style="color:#fff;float:none;">Przejdź do nowego serwisu</a></h3>
	<p>
		{* Wejdź i sprawdź nowe rozwiązania, załóż nowe konto i ciesz się nowymi funkcjami:<br />*} A w niej: pobieranie danych z GUS, inteligentne wyszukiwarki kontrahentów i produktów, kontrola płatności, przypomnienia i wezwania do zapłaty za przeterminowane
		faktury, masowa wysyłka dokumentów, mini magazyn produktów, limity transakcji, własne rodzaje i sposoby dostawy towarów, możliwość przypisania oddziałów firm, wybór płatnika faktury, tworzenie różnych oddziałów / szablonów Twojej firmy, własne stawki
		vat, własne jednostki miar, własna numeracja faktur i wiele wiele innych ciekawych rozwiązań.<br />
		<b>Import faktur, kontrahentów, produktów już dostępny!</b>
	</p>


</div>
{/if} -->

                            {/strip}
