{if $pages>1}
{strip}
<nav>
<ul class="pagination">
{if $page!=1}
	<li><a href="{$prefix}1/{$surfix}" title="{$pager.first}">&laquo;</a></li>
	<li><a href="{$prefix}{$page-1}/{$surfix}" title="{$pager.prev}">&lsaquo;</a></li>
{/if}
{section name=a loop=$page+2}
	{if $smarty.section.a.index_next>=$page-2 and $smarty.section.a.index_next<=$pages}
		{if $smarty.section.a.index_next==$page}
			<li class="active"><a href="{$prefix}{$smarty.section.a.index_next}/{$surfix}" title="{$pager.actual}">{$smarty.section.a.index_next}</a></li>
		{else}
			<li><a href="{$prefix}{$smarty.section.a.index_next}/{$surfix}" title="{$pager.number}{$smarty.section.a.index_next}">{$smarty.section.a.index_next}</a></li>
		{/if}
	{/if}
{/section}
{if $page!=$pages}
	<li><a href="{$prefix}{$page+1}/{$surfix}" title="{$pager.next}">&rsaquo;</a></li>
	<li><a href="{$prefix}{$pages}/{$surfix}" title="{$pager.last}">&raquo;</a></li>
{/if}	
</ul>
</nav>
{/strip}
{/if}