<div class="ramka">
	<script type="text/javascript" src="module/panel/product_add/class.js"></script>
	<form action="" onsubmit="javascript: return panel_product_add_obj.submit();" id="product_add_form" class="form-horizontal">
		<h3>{$lang.head}</h3>
		<div id="add_error" class="alert alert-success"></div>
		<div id="error_error" class="alert alert-danger"></div>

		<div class="row">
			<div class="col-sm-6">
				<div>
					<label>{$lang.name}<span style="color:#f00">*</span>:</label>	
					<textarea  name="name" id="name" class="form-control" rows="1" /></textarea>
					<div id="name_error" class="alert alert-danger"></div>
				</div>
				<div>	
					<label>{$lang.producer}:</label>
					<input type="text" name="producer" id="producer" value="" class="form-control" />
				</div>
				<div>
					<label>{$lang.cat}<span style="color:#f00">*</span></label><a href="panel/product/cat/" style="float:right"> {$lang.nagl5}</a>
					<select name="cat" id="cat" class="form-control">
						<option value="">---</option>
						{include file="panel/product_add/standard_list.html" tree=$tree select=$cat}
					</select>
					<div id="cat_error" class="alert alert-danger"></div>
				</div>
				<div>
					<label>{$lang.number}:</label>
					<input type="text" name="number" id="number" value="" class="form-control" />
				</div>
			</div>
			<div class="col-sm-6">
				<div>
					<label>{$lang.pkwiu}:</label>
					<input type="text" name="pkwiu" id="pkwiu" value="" class="form-control" />
				</div>
				<div>
					<label>{$lang.unit}:</label>
					<select name="unit" id="unit" class="form-control">
						<option value="">---</option>
							{foreach item=i key=k from=$units}<option value="{$k}">{$i} [{$k}]</option>{/foreach}
					</select>
				</div>

				<div>
					<label>{$lang.vat}<span style="color:#f00">*</span>:</label>
					<select name="vat" id="vat" class="form-control" onchange="javascript: panel_product_add_obj.change_netto();">
						<option value="">---</option>
						<option value="0">0 %</option>
						<option value="3">3 %</option>
						<option value="4">4 %</option>
						<option value="5">5 %</option>
						<option value="6">6 %</option>
						<option value="7">7 %</option>
						<option value="8">8 %</option>
						<option value="18">18 %</option>
						<option value="19">19 %</option> 
						<option value="20">20 %</option>
						<option value="22">22 %</option> 
						<option value="23">23 %</option> 
						<option value="NP">NP</option> 
						<option value="ZW">ZW</option>  
						<option value="-">-</option>
					</select>
					<div id="vat_error" class="alert alert-danger"></div>
				</div>	
				<div>
					<label>{$lang.netto}<span style="color:#f00">*</span>:</label>
					<input type="text" name="netto" id="netto" value="" class="form-control" onkeypress="javascript: return panel_product_add_obj.insert_prize(event,'netto');" onkeyup="javascript: panel_product_add_obj.change_netto();" />
					<div id="cena_error" class="alert alert-danger"></div>
				</div>
				<div>
					<label>{$lang.brutto}<span style="color:#f00">*</span>:</label>
					<input type="text" name="brutto" id="brutto" value="" class="form-control" onkeypress="javascript: return panel_product_add_obj.insert_prize(event,'brutto');" onkeyup="javascript: panel_product_add_obj.change_brutto();" />
				</div><br>
				<input type="submit" value="{$lang.add}" class="btn orangeButton" />&nbsp;    <span style="color:#f00">*</span> {$lang.info}
				<br><br><br>
			</div>
		</div>
	</form>

	{* komunikaty błędów zmienne pomocnicze *}
	<div class="row_hidden">
		<input type="hidden" id="user_id" value="{$user_id}" />
		<input type="hidden" id="empty_cat" value="{$lang.empty_cat}" />
		<input type="hidden" id="empty_name" value="{$lang.empty_name}" />
		<input type="hidden" id="empty_vat" value="{$lang.empty_vat}" />
		<input type="hidden" id="empty_prize" value="{$lang.empty_prize}" />
		<input type="hidden" id="add_ok" value="{$lang.add_ok}" />
		<input type="hidden" id="add_error" value="{$lang.add_error}" />
	</div>
</div>
