<div class="container-fluid px-0">
<div class="ramka" id="wyszukiwarka_faktur">
	<script type="text/javascript" src="module/panel/invoice_search/class.js"></script>
	<script type="text/javascript" src="jscript/valid_data.js"></script>
	<script type="text/javascript" src="jscript/calendar.js"></script>
	{* dane kontrahenta *}
	{if $client_data->id}
	<div id="dane_kontrahenta">
		<span class="naglowek" style="font-size:16px;">{$lang.c_head}: <span style="color:#111">{$client_data->name} | <a href="panel/client/list/edit/{$client_data->id}/" style="font-size:12px">edytuj</a></span>
		<span id="prev_next" style="float:right">
		{if $prev_c}<a href="panel/invoice/search/{$prev_c}/1/dc/" title="" class="prev">{$lang.prev}</a>{/if}
		{if $next_c} <a href="panel/invoice/search/{$next_c}/1/dc/" title="" class="next">{$lang.next}</a>{/if}
		</span>
		</span>
		{if $client_data->name != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_name}:</div>
			<div class="col-sm-9"><strong>{$client_data->name}</strong></div>
		</div>
		{/if}
		{if $client_data->address != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_address}:</div>
			<div class="col-sm-9"><strong>{$client_data->address}</strong></div>
		</div>
		{/if}
		{if $client_data->nip != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_nip}:</div>
			<div class="col-sm-9"><strong>{$client_data->nip}</strong></div>
		</div>
		{/if}
		{if $client_data->phone != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_phone}:</div>
			<div class="col-sm-9"><strong>{$client_data->phone}</strong></div>
		</div>
		{/if}
		{if $client_data->email != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_email}:</div>
			<div class="col-sm-9"><strong>{$client_data->email}</strong></div>
		</div>
		{/if}
		{if $client_data->krs != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_krs}:</div>
			<div class="col-sm-9"><strong>{$client_data->krs}</strong></div>
		</div>
		{/if}
		{if $client_data->bank_name != ''}
		<div class="row">
			<div class="col-sm-2 text-right">{$lang.c_bank_name}:</div>
			<div class="col-sm-9"><strong>{$client_data->bank_name}</strong></div>
		</div>
		{/if}
		{if $client_data->account != ''}
		<div class="row">>
			<div class="col-sm-2 text-right">{$lang.c_account}:</div>
			<div class="col-sm-9"><strong>{$client_data->account}</strong></div>
		</div>
		{/if}
	</div>
	{/if}


	{* wyszukiwarka *}
	<div class="row">
		<div class="col-sm-9" onkeypress="javascript: submit_form(event,this);">
			<h3  style="margin:4px 0">{$lang.nagl0}</h3>
			{*<h4>{$lang.head} |  <a href="panel/invoice/search/{$par4}/1/dc/" title="{$lang.all}">{$lang.all}</a>*}

			{if $client_data->id} <a style="display:block;clear:left;" href="panel/invoice/list/client/{$client_data->id}/" title="{$lang.page}">{$lang.page}</a>{/if}</h4>
			<div class="col-sm-4 form-group">
				<label>{$lang.number}:</label>
				<input type="text" id="number" value="{$search.number}" class="form-control" />
			</div>
			<div class="col-sm-4 form-group">
				<label>{$lang.name}:</label>
				<input type="text" id="name" value="{$search.name}" class="form-control" />
			</div>
			<div class="col-sm-4 form-group">
				<label>{$lang.nip}:</label>
				<input type="text" id="nip" value="{$search.nip}" class="form-control"  />
			</div>
			<div class="invoice_search_search" id="search" style="display:none;">
				<div class="col-sm-4">
					<label>{$lang.date_add}:</label>
					<div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl3}</span><script type="text/javascript">calendar.create('dadd_min','{$search.damin}');</script></div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl4}</span><script type="text/javascript">calendar.create('dadd_max','{$search.damax}');</script></div>
					</div>
				</div>
				<div class="col-sm-4">
					<label>{$lang.date_sell}:</label>
					<div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl3}</span><script type="text/javascript">calendar.create('dsell_min','{$search.dsmin}');</script></div>
						<div style="float:none;"><span style="float:left;width:30px;">{$lang.nagl4}</span><script type="text/javascript">calendar.create('dsell_max','{$search.dsmax}');</script></div>
					</div>
				</div>
				<div class="col-sm-4">
					<label>{$lang.sum}:</label>
					<div class="row">
						<div class="col-sm-6">
							<input type="text" id="sum_min" value="{$search.smin}" class="form-control" onkeypress="javascript: return panel_invoice_search_obj.insert_prize(event,this.id);" placeholder="od" />
						</div>
						<div class="col-sm-6">
							<input type="text" id="sum_max" value="{$search.smax}" class="form-control" onkeypress="javascript: return panel_invoice_search_obj.insert_prize(event,this.id);" placeholder="do" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<a class="zwin_rozwin" id="search_show" onclick="javascript: panel_invoice_search_obj.show_search();">{$lang.searcher}  {$lang.showed} <span class="glyphicon glyphicon-chevron-down"></span></a>
				<a class="zwin_rozwin" style="display:none;" id="search_hidden" onclick="javascript: panel_invoice_search_obj.hidden_search();">{$lang.searcher} {$lang.hidden} <span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>
			<div class="col-sm-6 text-right">
				<input type="button" id="wyszukaj_faktury" value="{$lang.search}" onclick="javascript: panel_invoice_search_obj.search();" class="btn orangeButton" />
			</div>
		</div>
	<div class="col-sm-3 text-left">
		<h4>{$lang.nagl5}</h4>
		{* podział na miesiące *}
		<div class="row">
		<div class="col-sm-6 form-group">
			<label for="month">Miesiąc:</label>
			<select id="month" class="form-control">
			{foreach item=i key=k from=$months}<option value="{$k}" {if $search.dcm==$k}selected="selected"{/if}>{$i}</option>{/foreach}
			</select>
		</div>
		<div class="col-sm-6 form-group">
			<label for="year">Rok:</label>
			<select id="year" class="form-control">
			{section name=a loop=$ys max=$ys-2010 step=-1}<option value="{$smarty.section.a.index}" {if $search.dcy==$smarty.section.a.index}selected="selected"{/if}>{$smarty.section.a.index}</option>{/section}
			</select>
		</div>
		</div>
		<div class="row">
			<label class="col-sm-3">{$lang.type2}:</label>
			<div class="col-sm-9" style="positon:realtive;">
				<input type="radio" name="type" id="type_c" {if $search.type=="c"}checked="checked"{/if} /> <label for="type_c" class="do_radio">{$lang.dcreate}</label><br />
				<input type="radio" name="type" id="type_a" {if $search.type=="a"}checked="checked"{/if} /> <label for="type_a" class="do_radio">{$lang.dadd}</label><br />
				<input type="radio" name="type" id="type_s" {if $search.type=="s"}checked="checked"{/if}  /> <label for="type_s" class="do_radio">{$lang.dsell}</label><br />
				<input type="button"  value="{$lang.show}" onclick="javascript: panel_invoice_search_obj.show();" class="btn orangeButton" style="position:absolute;right:10px;bottom:0;" />
			</div>
		</div>

	</div>
	<div class="col-sm-12">
		<a href="panel/jpk/add/" class="btn blueButton">Generuj plik JPK_FA</a>
	</div>
	</div>
</div>


{if empty ($dane)}
	<div style="font-weight:bold;font-size:22px;display:block;color:#333;line-height:50px;padding-bottom:18px;" class="col-sm-12 text-center">{$lang.nagl6}</div>
{else}
{* pasek miesięcy *}
<div class="row">
	<div class="btn-group col-sm-7">
		{if strlen($smarty.get.par8)==0}
			<a href="panel/invoice/search/{$par4}/" title="{$lang.all_l}" class="btn btn-primary btn-xs disabled">{$lang.all_l}</a>
		{else}
			<a href="panel/invoice/search/{$par4}/" title="{$lang.all_l}" class="btn btn-default btn-xs">{$lang.all_l}</a>
		{/if}
		{foreach item=i key=k from=$months}
			{if $k==$search.dcm AND strlen($smarty.get.par8)==9}
				<a  onclick="javascript: return panel_invoice_search_obj.show_month('{$k}');" title="{$i}" class="btn btn-primary btn-xs disabled">{$i}</a>
			{else}
				<a title="{$i}" onclick="javascript: return panel_invoice_search_obj.show_month('{$k}');" class="btn btn-default btn-xs">{$i}</a>
			{/if}
		{/foreach}
	</div>

	{* litery *}
	{if !$client_data->id}
	<div class="col-sm-5 text-right">
		<div class="btn-group alphabet">
			{if !$smarty.get.par7}
				<a href="panel/invoice/search/{$client}/1/dc/-/{$par8}" title="{$lang.all_l}" class="btn btn-primary btn-xs disabled">{$lang.all_l}</a>
			{else}
				<a href="panel/invoice/search/{$client}/1/dc/-/{$par8}" title="{$lang.all_l}" class="btn btn-default btn-xs">{$lang.all_l}</a>
			{/if}
		{foreach item=i from=$letter}
			{if $i==$smarty.get.par7}<a href="panel/invoice/search/{$client}/1/dc/{$i}/{$par8}" title="{$i}" class="btn btn-primary btn-xs disabled">{$i}</a>
			{else}<a href="panel/invoice/search/{$client}/1/dc/{$i}/{$par8}" title="{$i}" class="btn btn-default btn-xs">{$i}</a>{/if}
		{/foreach}
		</div>
	</div>
	{/if}
</div>
{* sortowanie *}

<form action="" id="invoice_payed">
	<table class="table table-striped table-hover table-bordered lista">
		<tr>
			<th>{$lang.printm}</th>
			<th>{$lang.nagl7}</th>
			<th class="text-center">{$lang.nagl13}</th>
			<th><a href="panel/invoice/search/{$par4}/1/{if $sort=='dn'}an{else}dn{/if}/{$par7}/{$par8}" title="Numer faktury">{$lang.nagl8} {*if $sort=='dn'}&uArr;{else}&dArr;{/if*}</a></th>
			<th>{$lang.nagl9}</th>
			<th>{$lang.nagl10}</th>
			<th>Nazwa kontrahenta</th>
			<th>{$lang.type[0]}</th>
			<th><a href="panel/invoice/search/{$par4}/1/{if $sort=='dc'}ac{else}dc{/if}/{$par7}/{$par8}" title="{$lang.dcreate}">{$lang.dcreate} {if $sort=='dc'}{else}{/if}</a></th>
			<th><a href="panel/invoice/search/{$par4}/1/{if $sort=='da'}aa{else}da{/if}/{$par7}/{$par8}" title="{$lang.dadd}">{$lang.dadd} {if $sort=='da'}{else}{/if}</a></th>
			{*<th><a href="panel/invoice/search/{$par4}/1/{if $sort=='ds'}as{else}ds{/if}/{$par7}/{$par8}" title="{$lang.dsell}">{$lang.dsell} {if $sort=='ds'}{else}{/if}</a></th>*}
			<th class="text-center"><a href="panel/invoice/search/{$par4}/1/{if $sort=='ap'}dp{else}ap{/if}/{$par7}/{$par8}" title="{$lang.payed}">{$lang.payed} {if $sort=='dp'}{else}{/if}</a></th>
			<th class="text-center">{$lang.nagl12}</th>
		</tr>
		<tr>
			<td class="text-center"><input type="checkbox" onclick="javascript: panel_invoice_search_obj.selAllM(this.checked);" /> <input type="button" value="{$lang.printm}" onclick="javascript: panel_invoice_search_obj.saveM_pdf();" class="btn btn-xs orangeButton"/></td>
			<td class="text-center"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="text-center"><input type="button" value="{$lang.save_payed}" onclick="javascript: panel_invoice_search_obj.save_payed({$user_id});" class="btn btn-xs orangeButton" /></td>
			<td></td>
		</tr>
		{foreach item=i from=$dane name=a}
		<tr {if $smarty.foreach.a.index+1 is even}class="parzysty {if ($smarty.foreach.a.index+1) is div by 10}dziesiaty{/if}"{/if}  >
			<td class="text-center"><input type="checkbox" name="fak[]" value="{$i->id}" /></td>
			<td class="text-center"><a href="#" onclick="javascript: return panel_invoice_search_obj.save_pdf({$i->id},{$i->type});" title="{$lang.download}" class="pdf_link"><span class="glyphicon glyphicon-print"></span></a></td>
			<td class="text-center"><a href="#" onclick="javascript: return panel_invoice_search_obj.sendm({$i->id},{$i->client},{$user_id},{$i->type});" title="{$lang.sendm}"><span class="glyphicon glyphicon-envelope"></span></a></td>
			<td><a href="{if $i->type==2}faktura-pro-forma{elseif $i->type==3}faktura-zaliczkowa{elseif $i->type==4}faktura-korygujaca{elseif $i->type==5}rachunek{else}invoice{/if}/{$i->id}/" title="{$i->number}"><strong>{$i->number}</strong></a></td>
			<td class="text-right"><a href="{if $i->type==2}faktura-pro-forma{elseif $i->type==3}faktura-zaliczkowa{elseif $i->type==4}faktura-korygujaca{elseif $i->type==5}rachunek{else}invoice{/if}/{$i->id}/" >{$i->sum|string_format:"%.2f"}{if $i->cur != 'PLN'}&nbsp;{$i->cur}{/if}</a></td>
			<td class="text-right"><a href="{if $i->type==2}faktura-pro-forma{elseif $i->type==3}faktura-zaliczkowa{elseif $i->type==4}faktura-korygujaca{elseif $i->type==5}rachunek{else}invoice{/if}/{$i->id}/" {if $i->sum_pay == 0}style="color:#afafaf"{/if}>{$i->sum_pay|string_format:"%.2f"}{if $i->cur != 'PLN'}&nbsp;{$i->cur}{/if}{* zapłacono *}</a></td>
			<td><a href="panel/invoice/list/client/{if $i->client}{$i->client}{else}{$i->client_url}{/if}/" title="{$i->client_name}">{if $i->client_name}{$i->client_name}{else}{$lang.other}{/if} - {$i->nip}</a></td>
			<td style="min-width:120px"><a href="{if $i->type==2}faktura-pro-forma{elseif $i->type==3}faktura-zaliczkowa{elseif $i->type==4}faktura-korygujaca{elseif $i->type==5}rachunek{else}invoice{/if}/{$i->id}/" >{if $i->type==2}{$lang.type[2]}<br/><a href="invoice/{$i->id}/" title="" class="zmien_na_fv" >zmień na FV</a>{elseif $i->type==3}{$lang.type[3]}{elseif $i->type==4}{$lang.type[4]}{elseif $i->type==5}{$lang.type[5]}{else}{$lang.type[1]}{/if}</a></td>
			<td><a href="{if $i->type==2}faktura-pro-forma{elseif $i->type==3}faktura-zaliczkowa{elseif $i->type==4}faktura-korygujaca{elseif $i->type==5}rachunek{else}invoice{/if}/{$i->id}/" title="{$i->date_create}">{$i->date_create}</a></td>
			<td><a href="{if $i->type==2}faktura-pro-forma{elseif $i->type==3}faktura-zaliczkowa{elseif $i->type==4}faktura-korygujaca{elseif $i->type==5}rachunek{else}invoice{/if}/{$i->id}/" title="{$i->date_add}">{$i->date_add}</a></td>
			{*<td><a href="invoice/{$i->id}/" title="{$i->date_sell}">{$i->date_sell}</a></td>*}
			<td class="text-center"><input type="hidden" name="payed_all[]" value="{$i->id}" />
			{if $i->payed==1}
				<input type="checkbox" name="payed[]" value="{$i->id}"  checked="checked"   />
			{else}
				<input type="checkbox" name="payed[]" value="{$i->id}" style="outline: 1px solid #f00"  />
			{/if}
			</td>
			{*<td><a href="invoice/{$i->id}/" title="{$lang.view}" class="view_small"></a></td>*}
			<td class="text-center"><a href="panel/invoice/list/del/{$i->id}/" title="{$lang.view}" onclick="return confirm('Czy napewno chcesz usunąć tę fakturę?')"><span class="glyphicon glyphicon-remove"></span></a></td>
		</tr>
		{/foreach}
	<tr>
		<td class="text-center"><input type="checkbox" onclick="javascript: panel_invoice_search_obj.selAllM(this.checked);" /> <input type="button" value="{$lang.printm}" onclick="javascript: panel_invoice_search_obj.saveM_pdf();" class="btn btn-xs orangeButton" /></td>
		<td class="text-center"></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td class="text-center"><input type="button" value="{$lang.save_payed}" onclick="javascript: panel_invoice_search_obj.save_payed({$user_id});" class="btn btn-xs orangeButton" /></td>
		<td></td>
	</tr>
</table>
</form>
{include file="../module/pager/standard.html" page=$page pages=$last prefix="panel/invoice/search/$par4/" surfix="$sign"}
{/if}

{* wybranie co drukować *}
<div class="invoice_client" id="what_print">
	<a class="close" onclick="javascript: this.parentNode.style.display='none';"><span class="glyphicon glyphicon-remove"></span></a>
	<h3>{$lang.save_menu0}</h3>
	<div class="what_print_line"><input type="radio" name="what_p" value="1" id="print1" checked="checked" /> <label for="print1">{$lang.save_menu1}</label></div>
	<div class="what_print_line"><input type="radio" name="what_p" value="2" id="print2" /> <label for="print2">{$lang.save_menu2}</label></div>
	{*<div class="what_print_line"><input type="radio" name="what_p" value="3" id="print3" /> <label for="print3">{$lang.save_menu3}</label></div>*}
	<div class="what_print_line"><input type="radio" name="what_p" value="4" id="print4" /> <label for="print4">{$lang.save_menu4}</label></div>
	<div class="text-center">
		<br>
		<input type="button" value="{$lang.save_menu5}" onclick="javascript: return panel_invoice_search_obj.save_pdf_end();" class="btn orangeButton" />
		<br>
	</div>
</div>

<div class="invoice_client" id="what_printM" style="display: none">
	<a class="close" onclick="javascript: this.parentNode.style.display='none';"><span class="glyphicon glyphicon-remove"></span></a>
	<h3>{$lang.save_menu0}</h3>
	<div class="what_print_line"><input type="radio" name="what_pM" value="1" id="printM1" checked="checked" /> <label for="printM1">{$lang.save_menu1}</label></div>
	<div class="what_print_line"><input type="radio" name="what_pM" value="2" id="printM2" /> <label for="printM2">{$lang.save_menu2}</label></div>
	{*<div class="what_print_line"><input type="radio" name="what_pM" value="3" id="printM3" /> <label for="printM3">{$lang.save_menu3}</label></div>*}
	<div class="what_print_line"><input type="radio" name="what_pM" value="4" id="printM4" /> <label for="printM4">{$lang.save_menu4}</label></div>
	<div class="what_print_line"><input type="radio" name="what_pr" value="1" id="printO" checked="checked" /> <label for="printO">{$lang.print_one}</label></div>
	<div class="what_print_line"><input type="radio" name="what_pr" value="0" id="printM" /> <label for="printM">{$lang.print_more}</label></div>
	<div class="text-center">
		<br>
		<input type="button" value="{$lang.save_menu5}" onclick="javascript: return panel_invoice_search_obj.saveM_pdf_end({$user_id});" class="btn orangeButton" />
	</div>
 </div>

{* komunikaty *}
<div id="send_error_all" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:124px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<a class="close" onclick="javascript: $('send_error_all').style.display='none';" title="{$lang.clients_close}"><span class="glyphicon glyphicon-remove"></span></a>
	<div id="send_error"> </div>
</div>
<div id="send_loading" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:70px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<a class="close" onclick="javascript: $('send_loading').style.display='none';" title="{$lang.clients_close}"><span class="glyphicon glyphicon-remove"></span></a>
	<div id="send_error"> {$lang.send_loading}</div>
	<div class="loading_img"></div>
</div>
<div id="print_loading" class="invoice_client" style="left:50%;display:none;top:50%;margin-top:-65px;margin-left:-403px;position:fixed;line-height:70px;height:124px;font-weight:bold;text-align:center;font-size:22px;">
	<a class="close" onclick="javascript: $('print_loading').style.display='none';"  title="{$lang.clients_close}"><span class="glyphicon glyphicon-remove"></span></a>
	<div id="print_error"> {$lang.print_loading}</div>
	<div class="loading_img"></div>
</div>
<div class="row_hidden">
	<input type="hidden" id="client" value="{$client}" />
	<input type="hidden" id="letter" value="{$par7}" />
	<input type="hidden" id="bad_nip" value="{$lang.bad_nip}" />
	<input type="hidden" id="send_ok" value="{$lang.send_ok}" />
	<input type="hidden" id="send_error" value="{$lang.send_error}" />
	<input type="hidden" id="send_null" value="{$lang.send_null}" />
	<input type="hidden" id="error_sel" value="{$lang.errSel}" />
	<input type="hidden" id="error_zip" value="{$lang.errZip}" />
	<div class="row_auto" style="text-align:left" id="mail_item"><input type="checkbox" name="mail[]" value="[m]" id="mail[i]" /> <label for="mail[i]">[m]</label></div>
</div>
{* okno wyboru adres'ów email *}
<div class="invoice_list_mail" id="panel_mail" style="position:fixed">
	<a class="close" onclick="panel_invoice_search_obj.close();" title="{$lang.m_close}"><span class="glyphicon glyphicon-remove"></span></a>
	<h3>{$lang.nagl14}</h3>
	<form action="" id="send_mail" onsubmit="javascript: return panel_invoice_search_obj.sendm_2();">
		<div class="col-sm-6">
			<span style="font-weight:bold;">{$lang.nagl15}</span>
			<div class="row_auto" id="mail_list" style="text-align:center;"></div>
			<div class="row_auto" style="text-align:left;padding-left:42px;width:auto;">
				<div class="insert_left" style="width:auto;text-align:left;" >{$lang.m_mail}:</div>
				<input type="text" name="email" class="form-control" />
			</div>
		</div>
		<div class="col-sm-6">
			<span style="font-weight:bold;text-align:left;">{$lang.nagl16}</span>
			<div class="what_print_line_half"><input type="radio" name="what_p" value="1" id="print1b" checked="checked" /><label for="print1b">{$lang.save_menu1}</label></div>
			<div class="what_print_line_half"><input type="radio" name="what_p" value="2" id="print2b" /><label for="print2b">{$lang.save_menu2}</label></div>
			{*<div class="what_print_line_half"><input type="radio" name="what_p" value="3" id="print3b" /><label for="print3b">{$lang.save_menu3}</label></div>*}
			<div class="what_print_line_half"><input type="radio" name="what_p" value="4" id="print4b"  style="width:auto;"/><label for="print4b" >{$lang.save_menu4}</label></div>
		</div>
		<div class="col-sm-6 col-sm-offset-6">
			<br>
			<input type="submit" value="{$lang.m_send}" class="btn orangeButton" />
			<br>
			<br>
		</div>
		<div class="row_hidden">
			<input type="hidden" name="path" id="iid" />
			<input type="hidden" name="user_id" value="{$user_id}" />
			<input type="hidden" name="fak_type" id="fak_type"  />
		</div>
	</form>
</div>
</div>
