
<div class="container-fluid px-0">
	<div id="panel_main">
		<div class="row">
			<div class="panel_box">
				<h3 class='text-center title'>{$lang.data_main}</h3>
				<div class="row">
					<div class="funkcja col-md-4">
						<a href="panel/data/general/"  title='Dane wczytywane do dokumentu'>
						<img src="/images/icons/dane-do-faktury.jpg" alt="Dane do dokumentu" title="Dane podstawone konta">
						{$lang.data_general}</a><span>{$lang.data_general_info}</span></div>
					<div class="funkcja col-md-4">
						<a href="panel/data/log/"title='Logowanie i hasło do konta w serwisie'>
						<img src="/images/icons/logowanie.jpg" alt="Logowanie i hasło" title="Ustawienia logowania i hasła do konta">
						{$lang.data_log}</a><span>{$lang.data_log_info}</span></div>


					<div class="funkcja col-md-4">
						<a href="panel/data/licence/"title="Przedłuż abonament w serwisie do fakturowania">
						<img src="/images/icons/przedluz-abonament.jpg" alt="Przedłuż abonament w programie" title="Przedłużanie abonament " >
						{$lang.data_licence}</a><span>{$lang.data_licence_info}</span></div>

				</div>

				<div class="row">
					<div class="funkcja col-md-4">
						<a href="panel/data/number/" title="Numeracja wystawionych w programie faktur">
					<img src="/images/icons/numeracja-faktur.jpg" alt="Sposób numeracji dokumentów" title="Numeracja wystawionych dokumentów">
					{$lang.data_number}</a><span>{$lang.data_number_info}</span></div>
					<div class="funkcja col-md-4">
						<a href="panel/data/extra/" title="Logo, stopka i nagłówek na dokumencie">
					<img src="/images/icons/logo-stopka.jpg" alt="Logo, stopka, nagłówek faktury" title="Ustawienia stopki i nagłówka dokumentu">
				{$lang.data_extra}</a>
						<span>{$lang.data_extra_info}</span></div>
					<div class="funkcja col-md-4">
						<a href="panel/szablon/szablon-faktury/" title="Wybór szablonu dokumentu jaki zostanie utworzony w pliku PDF ">
					<img src="/images/icons/szablon-faktury.jpg" alt="Szablon faktury w PDF" title="Wybór szablonu dokumentów">
					Szablony faktur</a>
						<span>Tutaj wybierzesz jeden z trzech szablonów faktury oraz dostosujesz ich kolorystykę</span></div>
				</div>
			</div>
			<div class="row">
				<div class="panel_box">
					<h3 class='text-center title'>{$lang.product_main}</h3>
					<div class="row">
						<div class="funkcja col-md-4">
							<a href="panel/product/add/"title="Dodawanie produktu do bazy programu">
						<img src="/images/icons/dodawanie-produktu.jpg" alt="Dodawanie nowego produktu" title="Nowy produkt do bazy">

						{$lang.product_add}</a><span>{$lang.product_add_info}</span></div>


						<div class="funkcja col-md-4">
							<a href="panel/product/list/"title='Baza zapisanych produktów w archiwum'>
						<img src="/images/icons/lista-produktow.jpg" alt="Lista zapisanych produktów" title="Baza produktów i usług" >

					{$lang.product_list}</a><span>{$lang.product_list_info}</span></div>


						<div class="funkcja col-md-4">
							<a href="panel/product/cat/" title="Produkty posegregowane według kategorii">
						<img src="/images/icons/kategorie.jpg" alt="Kategorie produktów" title="Kategorie produktów i usług">

						{$lang.product_cat}</a><span>{$lang.product_list_info}</span></div>

					</div>
				</div>
				<div class="row">

					<div class="panel_box">
						<h3 class='text-center title'>{$lang.invoice_main}</h3>
						<div class="row">
							<div class="funkcja col-md-4">
								<a href="invoice/" title='Wystawianie dokumentu elektronicznego'>
								<img src="/images/icons/wystawianie-faktury.jpg" alt="Wystaw dokument" title="Tworzenie nowego dokumentu finansowego">

								{$lang.invoice_add}</a><span>{$lang.invoice_add_info}</span></div>


							<div class="funkcja col-md-4">
								<a href="panel/invoice/search/" title="Archium faktur w serwisie">
								<img src="/images/icons/lista-faktur.jpg" alt="Lista dokumentów" title="Archiwum dokumentów finansowych">

								{$lang.invoice_list2}</a><span>{$lang.invoice_list2_info}</span></div>



							<div class="funkcja col-md-4">
								<a href="panel/invoice/period/" title='Faktury i inne dokumenty wystawiane cyklicznie'>
								<img src="/images/icons/faktury-cykliczne.jpg" alt="Dokumenty cykliczne"title="Dokumenty wystawiane cyklicznie" >

								{$lang.invoice_period}</a><span>{$lang.invoice_period_info}</span></div>

						</div>

						<div class="row">
							<div class="funkcja col-md-4">
								<a href="panel/invoice/org/" title="Dokumenty wzorcowe">
								<img src="/images/icons/faktury-wzorcowe.jpg" alt="Faktury wzorowe" title="Dokumenty według wzoru">
							{$lang.invoice_org}</a><span>{$lang.invoice_org_info}</span></div>
							<div class="funkcja col-md-4">
								<a href="panel/invoice/list/" title='Faktury wystawione daneu kontrahentowi'>
								<img src="/images/icons/faktury-wg-kontrahentow.jpg" alt="Faktury według kontrahentów" title="Faktury kontrahenta" >
								{$lang.invoice_list}</a><span>{$lang.invoice_list_info}</span></div>
						</div>
					</div>
					<div class="row">
						<div class="panel_box">
							<h3 class='text-center title'>{$lang.client_main}</h3>
							<div class="row">
								<div class="funkcja col-md-4">
									<a href="panel/client/add/" title="Dodawanie nowego kontrahenta do bazy">
										<img src="/images/icons/dodawanie-kontrahentow.jpg" alt="Dodawanie klienta" title="Nowy kontrahent">

									{$lang.client_add}</a><span>{$lang.client_add_info}</span></div>

								<div class="funkcja col-md-4">
									<div class='row'>
										<a href="panel/client/list/" title="Baza zapisanych klientów w serwisie">
										<img src="/images/icons/lista-kontrahentow.jpg" alt="Archiwum kontrahentów" title="Lista kontrahentów">
											{$lang.client_list}</a><span>{$lang.client_list_info}</span></div>
								</div>
								<div class="funkcja col-md-4">
									<a href="panel/client/send/"title="Wysyłanie wiadomości email do kontrahentów">
									<img src="/images/icons/wysylanie-wiadomosci.jpg" alt="Wysyłanie emaila" title="Wyślij wiadomość do klienta">
								{$lang.client_send}</a><span>{$lang.client_send_info}</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
